<p>Variables Entered</p>
<p>What&#39;s the Name / Title of whatever you&#39;re selling?: <%= data.field1  %></p>
<p>How much does what you&#39;re selling cost?: <%= data.field2  %></p>
<p>What is what you&#39;re selling?: <%= data.field3  %></p>
<p>What is the big payoff of what you&#39;re selling?: <%= data.field4  %></p>
<p>What is the number one benefit customers want from what you sell?: <%= data.field5  %></p>
<p>How fast does your product / service get results?: <%= data.field6  %></p>
<p>Benefit C.T.A.</p>
<p>YES! I&#39;m Ready To Field5</p>
<p>&nbsp;(Negative Option) No Thanks! I Don&#39;t Want To Field5!</p>
<br>
<p>YES! I Want To Field5</p>
<p>&nbsp;(Negative Option) No Thanks! I Have No Desire To Field5!</p>
<br>
<p>YES! I Want To Field5 Now!</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field5!</p>
<br>
<p>YES! I Want To Field5 Immediately</p>
<p>(Negative Option) No Thanks! I Don&#39;t Really Want To Field5!</p>
<br>
<p>YES! I Want To Field5 in Field6</p>
<p>(Negative Option) No Thanks! I&#39;m Not Committed To Field5... Even in Field6!</p>
<br>
<p>YES! I&#39;m Ready To Field5 Today</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field5 Today... or Ever!</p>
<br>
<p>YES! I&#39;m Ready To Field5 in Field6</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field5... Even in Field6!</p>
<p>Payoff C.T.A.</p>
<p>YES! I&#39;m Ready To Field4</p>
<p>(Negative Option) No Thanks! I&#39;m NOT Ready To Field4!</p>
<br>
<p>YES! I Want To Field4</p>
<p>(Negative Option) NO! I Don&#39;t Want To Field4!</p>
<br>
<p>YES! I Want To Field4 Now!</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 Now... Or Ever!</p>
<br>
<p>YES! I Want To Field4 Today</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 Quickly... Or Ever!!</p>
<br>
<p>YES! I Want To Field4 in Field6</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 in Field6... Or Ever!</p>
<br>
<p>YES! I&#39;m Ready To Field4 Right Now</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 Today... Or Ever!</p>
<br>
<p>YES! I&#39;m Ready To Field4 in Field6</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 in Field6... Or Ever!</p>
<p>Name of Offer C.T.A.</p>
<p>I&#39;m Ready To Field4 With &quot;Field1&quot; Today</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 With &quot;Field1&quot; Or Anything Else!</p>
<br>
<p>I&#39;m Ready To Field5 With &quot;Field1&quot; Today</p>
<p>(Negative Option) No Thanks! I&#39;m NOT Ready to Field5 With &quot;Field1&quot; Or Anything Else!</p>
<br>
<p>Send Me &quot;Field1&quot; Today For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<br>
<p>Send Me The &quot;Field1&quot; Field3 Field6</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<br>
<p>Send Me The &quot;Field1&quot; Field3 Today For Just Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<br>
<p>Send Me &quot;Field1&quot; Today For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<br>
<p>YES! I Want &quot;Field1&quot; Today For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<br>
<p>YES! I Want The &quot;Field1&quot; Field3 For Just Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<br>
<p>YES! I Want &quot;Field1&quot; Today For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5!</p>
<p>The Thing You Offer C.T.A.</p>
<p>Send My Field3 Quickly</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want ANY Field3 To Help Me Field4 or Field5!</p>
<br>
<p>I&#39;m In! Send My Field3 Today</p>
<p>(Negative Option) No Thanks! I&#39;m Not Interested In ANY Field3 To Help Me Field4 or Field5!</p>
<br>
<p>YES! Send My Field3 Right Now</p>
<p>(Negative Option) No Thanks! I Don&#39;t Care That This Field3 Will Help Me Field4 or Field5!</p>
<br>
<p>Send My Field3 Quickly For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5 With &quot;Field1&quot;... or Anything Else!</p>
<br>
<p>I&#39;m In! Send My Field3 Quickly For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Believe I Can Field4 or Field5 With &quot;Field1&quot;... or Anything Else!</p>
<br>
<p>YES! Send My Field3 Right Now For Field2</p>
<p>(Negative Option) No Thanks! I Don&#39;t Want To Field4 or Field5 With &quot;Field1&quot;!</p>
<br>