<p>Variables Entered</p>
<p>Keyword Topic: <%= data.field1 %></p>
<p>Keyword Topic Person: <%= data.field2 %></p>
<p>Negative Event: <%= data.field3 %></p>
<p>Desired Result/ Outcome: <%= data.field4 %></p>
<p>Expense: <%= data.field5 %></p>
<p>Thing/ Product Topic: <%= data.field6 %></p>
<p>Inside Person: <%= data.field7 %></p>
<p>Adjective: <%= data.field8 %></p>
<p>Group of Odd People: field9Edit the headlines that make the most senseIf Headlines</p>
<p>If You Pay For <%= data.field5 %>, You Need This Trick</p>
<br>
<p>If You&#39;ve Had <%= data.field3 %>, You Need This Trick</p>
<br>
<p>How Headlines</p>
<p>How to Survive a <%= data.field3 %> (and Other <%= data.field1 %> Tips)</p>
<br>
<p>How risky is your <%= data.field1 %>?</p>
<br>
<p>How People Are Paying Less Than $50 For <%= data.field6 %></p>
<br>
<p>How <%= data.field9 %> Are Changing The <%= data.field1 %> Industry</p>
<br>
<p>Various Headlines</p>
<p>Little Known Way to <%= data.field4 %></p>
<br>
<p>VIDEO: Habits to <%= data.field4 %> in 2014</p>
<br>
<p><%= data.field3 %> Leads to &#39;Terrible, Terrible Things&#39;</p>
<br>
<p>90% of field2s Don&#39;t Know About This Trick&nbsp;</p>
<br>
<p><%= data.field1 %> Expert&#39;s Vision of the Next 5 Years</p>
<br>
<p>Experts Select The Best <%= data.field1 %> <%= data.field6 %> of 2014</p>
<br>
<p>The <%= data.field7 %>&#39;s <%= data.field1 %> headache</p>
<br>
<p>The Average Salary of <%= data.field7 %></p>
<br>
<p>Must-Have <%= data.field1 %> Products Being Sold For Next To Nothing</p>
<br>
<p>field2s Are In For A Big Surprise...</p>
<br>
<p>Protect Yourself from the <%= data.field1 %> Scam</p>
<br>
<p>Stay safe when <%= data.field3 %></p>
<br>
<p><%= data.field2 %> Get a Bailout This Year</p>
<br>
<p>The <%= data.field1 %> site you can&#39;t afford to ignore.</p>
<br>
<p>The <%= data.field1 %> site you can&#39;t afford to ignore. Tips For <%= data.field2 %></p>
<br>
<p>Stop Paying So Much For Your <%= data.field5 %>. 4 Simple Steps to Cheaper Rates</p>
<br>
<p><%= data.field2 %> turns $1,500 to $1 million in 3 years</p>
<br>
<p>Little known way to save hundreds of dollars on <%= data.field5 %></p>
<br>
<p>Thinking of Buying <%= data.field1 %> <%= data.field6 %>? Read This First</p>
<br>
<p>Playing With the Coolest <%= data.field1 %> <%= data.field6 %> Ever</p>
<br>
<p>Apps to get you through a <%= data.field3 %></p>
<br>
<p><%= data.field1 %> - Easy <%= data.field4 %> <%= data.field6 %> Recipe</p>
<br>
<p>New Rules for field2s</p>
<br>
<p>New Device Prevents <%= data.field3 %></p>
<br>
<p>This New <%= data.field1 %> App is Almost Too Good to Be True</p>
<br>
<p>Revealed: Secret <%= data.field1 %> <%= data.field6 %> Ends in Disaster</p>
<br>
<p>Secret <%= data.field1 %> Strategy to <%= data.field4 %></p>
<br>
<p>Question Headlines</p>
<p>Why <%= data.field1 %> hacks will keep happening</p>
<br>
<p>Which <%= data.field1 %> <%= data.field6 %> are Most at Risk for Being Stolen?</p>
<br>
<p>Why You Don&#39;t Need a Human <%= data.field7 %></p>
<br>
<p><%= data.field1 %>: Why Traditional Advice Is Wrong</p>
<br>
<p>What are field2s Doing with New <%= data.field1 %> <%= data.field6 %>?</p>
<br>
<p>Why Can&#39;t I <%= data.field4 %>?</p>
<br>
<p>Will New <%= data.field1 %> Really Deter <%= data.field3 %>?</p>
<br>
<p>Could <%= data.field3 %> Actually Improve <%= data.field4 %>?</p>
<br>
<p>Will This <%= data.field1 %> <%= data.field6 %> Stop field2s From <%= data.field3 %>?</p>
<br>
<p>What <%= data.field7 %> can teach you about <%= data.field1 %></p>
<br>
<p>Why can&#39;t you <%= data.field4 %>?</p>
<br>
<p>Headlines with Numbers</p>
<p>3 ways to get perfect <%= data.field1 %> results</p>
<br>
<p>3 Money Making <%= data.field1 %> Essentials</p>
<br>
<p><%= data.field4 %>: 3 Simple Solutions That Work</p>
<br>
<p>4 <%= data.field1 %> <%= data.field6 %> That No Longer Impress <%= data.field7 %></p>
<br>
<p>4 <%= data.field1 %> <%= data.field6 %> to Avoid</p>
<br>
<p>4 <%= data.field1 %> Skills That Are Obsolete</p>
<br>
<p><%= data.field1 %> Expert&#39;s 5 predictions for the future</p>
<br>
<p>5 Nicest <%= data.field1 %> <%= data.field6 %> in America / the World / Online</p>
<br>
<p>5 ways to <%= data.field4 %></p>
<br>
<p>5 weird things that <%= data.field5 %></p>
<br>
<p>Six odd and crazy <%= data.field4 %> technologies that work!</p>
<br>
<p>6 things you didn&#39;t know your <%= data.field1 %> <%= data.field6 %> could do&nbsp;</p>
<br>
<p>7 Surprising Signs of an <%= data.field8 %> <%= data.field1 %> <%= data.field6 %></p>
<br>
<p>7 ways you are really ruining your <%= data.field1 %> results</p>
<br>
<p>7 Reasons Other field2s Have More Money Than You</p>
<br>
<p>7 Reasons Other field7s Have More Money Than You</p>
<br>
<p>7 Surprising <%= data.field1 %> Killers You Should Avoid</p>
<br>
<p>8 <%= data.field1 %> Ideas To Fix <%= data.field3 %></p>
<br>
<p>8 Surefire Ways to Demotivate a <%= data.field2 %></p>
<br>
<p>8 Tips to Ease <%= data.field1 %> Woes</p>
<br>
<p>8 <%= data.field1 %> Expenses to Stop Paying Now</p>
<br>
<p>8 <%= data.field1 %> Offers You Should Run Away From</p>
<br>
<p>8 disappearing <%= data.field1 %> breaks</p>
<br>
<p>9 <%= data.field6 %> You Should Never Waste Money On</p>
<br>
<p>Nine <%= data.field1 %> Mistakes That Could Get <%= data.field3 %></p>
<br>
<p>The 10 Most Dangerous <%= data.field1 %> Mistakes</p>
<br>
<p>10 <%= data.field6 %> You Should Buy Now</p>
<br>
<p>The 10 Worst <%= data.field6 %> in America / The World / Online</p>
<br>
<p>10 <%= data.field6 %> You Didn&#39;t Realize Were <%= data.field8 %></p>
<br>
<p>10 Things <%= data.field7 %> Wish They Could Say But Can&#39;t</p>
<br>
<p>10 Frightening Facts About <%= data.field1 %></p>
<br>
<p>10 Frightening Facts About <%= data.field2 %></p>
<br>
<p>10 Frightening Facts About Why <%= data.field3 %></p>
<br>
<p>10 Frightening Facts About Why You Can&#39;t <%= data.field4 %></p>
<br>
<p>10 Frightening Facts About field7s</p>
<br>
<p>10 Frightening Facts About <%= data.field9 %></p>
<br>
<p>11 <%= data.field1 %> predictions for 2014</p>
<br>
<p>12 <%= data.field1 %> <%= data.field6 %> On The Brink Of Extinction</p>
<br>
<p>14 Benefits Most field2s Didn&#39;t Know They Had</p>
<br>
<p>15 Apps Every <%= data.field2 %> Should Have</p>
<br>
<p>22 Trends <%= data.field2 %> Hate and Why</p>
<br>
<p>22 Trends <%= data.field7 %> Hate and Why</p>
<br>
<p>25 <%= data.field1 %> apps you should download right now</p>
<br>