<p>Variables EnteredType of bullet: <%= data.field1 %></p>
<p>Helps you: <%= data.field2 %></p>
<p>Gets you: <%= data.field3 %></p>
<p>Makes it easy to: <%= data.field4 %></p>
<p>Gives you: <%= data.field5 %></p>
<p>Helps you avoid: <%= data.field6 %></p>
<p>The Secret: <%= data.field7 %></p>
<p>How to: <%= data.field8 %></p>
<p>Effortlessly: <%= data.field9 %></p>
<p>Quickly: <%= data.field10 %></p>
<p>Helps you escape: <%= data.field11 %></p>
<p>Discover: <%= data.field12 %></p>
<p>Stop worrying: <%= data.field13 %></p>
<p>Instructions:Choose the 3-4 Brunson Bullets that work best for your funnel page!</p>
<br>
<p>&nbsp;<%= data.field1 %> #1: Helps You <%= data.field2 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #2: Gets You More <%= data.field3 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #3: Makes It Easy To <%= data.field4 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #4: Gives You <%= data.field5 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #5: Avoid <%= data.field6 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #6: The Real SECRET For <%= data.field7 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #7: How To <%= data.field8 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #8: Effortlessly <%= data.field9 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #9: Quickly <%= data.field10 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #10: Escape <%= data.field11 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #11: Discover <%= data.field12 %></p>
<br>
<p>&nbsp;<%= data.field1 %> #12: STOP Worrying About <%= data.field13 %></p>
<br>