<p>Email #1 &nbsp; Testimonial Request</p>
<br>
<br>
<p>Subject:&nbsp;</p>
<p>Thank YOU!</p>
<p>Want to Inspire Others?</p>
<p>I Could Really Use Your Help</p>
<br>
<p>Hi, NAME...</p>
<br>
<p>First, I want to thank you again for getting <%= data.field3  %>.</p>
<br>
<p>This <%= data.field4  %> was purposely created for <%= data.field7  %> like you who want to <%= data.field9  %>... without having to <%= data.field10  %>!</p>
<br>
<p>What&#39;s more, you also discovered that you can <%= data.field11  %>.&nbsp;</p>
<br>
<p>Even better, you don&#39;t have to sit around waiting for <%= data.field12  %>.</p>
<br>
<p>Nope. You&#39;re a <%= data.field13  %> now!</p>
<br>
<p>Congratulations!</p>
<br>
<p>I love hearing all the success stories from folks like you who used <%= data.field3  %> to <%= data.field6  %>.&nbsp;</p>
<br>
<p>Here&#39;s the funny thing about success stories...</p>
<br>
<p>As much as I love reading them, they mean more to customers just like you who are also trying to <%= data.field8  %>.</p>
<br>
<p>This is where YOUR SUCCESS STORY can give other <%= data.field7  %> HOPE. &nbsp;&nbsp;</p>
<br>
<p>Would you be willing to inspire others who face similar challenges that you did just a short time ago?&nbsp;</p>
<br>
<p>Writing a short testimonial or making a quick 1 min video about <%= data.field3  %> would let other hopeful <%= data.field7  %> know how it gave you the tools and confidence to <%= data.field8  %>.</p>
<br>
<p>I&#39;d really appreciate that. And I KNOW others would appreciate knowing how you did it, too.&nbsp;</p>
<br>
<p>If you could get that success story back to me in the next 5 days, that would be awesome.&nbsp;</p>
<br>
<p>I&#39;m truly grateful that you placed your trust in me.&nbsp;</p>
<br>
<p>I don&#39;t take that for granted.&nbsp;</p>
<br>
<p>Thank you!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: You can send the testimonial to <%= data.field2  %></p>
<br>
<p>If the video file is too big to email, simply send me the share link.&nbsp;</p>
<br>
<p>Thanks again.&nbsp;</p>
<br>
<p>&nbsp;</p>
<br>
<p>Email #2 Testimonial Request (Send Day 3)</p>
<br>
<p>Subject:&nbsp;</p>
<p>This Makes It SO Easy</p>
<p>Your Story Matters</p>
<p>Your Success Story</p>
<br>
<p>Hi, NAME...</p>
<br>
<p>I hope you&#39;re knocking it out of the park with your <%= data.field5  %>!</p>
<br>
<p>You&#39;re now a <%= data.field13  %>!!</p>
<br>
<p>What you&#39;ve achieved is no small feat.</p>
<br>
<p>And because you took action, other aspiring <%= data.field7  %> will want to know how you did it.</p>
<br>
<p>That&#39;s why I reached out to you to a couple days ago to ask if you&#39;d write or record a short testimonial success story for <%= data.field3  %>.</p>
<br>
<p>If you&#39;re having a bit of trouble figuring out what to say, I get it. I&#39;ve been there myself.&nbsp;</p>
<br>
<p>So here&#39;s a super simple formula for making your testimonial.&nbsp;</p>
<br>
<p>Also, you can take this formula and use it to get testimonials from YOUR customers!</p>
<br>
<p>Here&#39;s the formula:&nbsp;</p>
<br>
<p>1. BEFORE = The Challenge you had BEFORE getting <%= data.field3  %>.</p>
<br>
<p>2. DURING = &nbsp;The &quot;AHA&quot; or change that happened when you used <%= data.field3  %>.</p>
<br>
<p>3. AFTER = &nbsp; &nbsp;The RESULT you got.</p>
<br>
<p>For example...</p>
<p>BEFORE: &quot;I always wanted to <%= data.field9  %> but I didn&#39;t know where to start. I was overwhelmed, thought it would take forever, and would be super hard.</p>
<br>
<p>DURING: But then I found <%= data.field3  %>. What a goldmine! <%= data.field1  %> showed me step by step how to <%= data.field11  %>.&nbsp;</p>
<br>
<p>AFTER: I can&#39;t believe it, but I&#39;m now able to <%= data.field6  %> and so much more!&quot;&nbsp;</p>
<br>
<p>As you can see, it&#39;s nothing fancy. Follow the formula and just be you when you write it or video it.</p>
<br>
<p>Thank you in advance for taking a few moments to do the testimonial. Your success story will truly help and inspire other <%= data.field7  %>.</p>
<br>
<p>I really appreciate it!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: As you know, testimonials are vital to everyone&#39;s business.&nbsp;</p>
<br>
<p>Other peoples&#39; opinions matter when it comes to making buying decisions, purchasing a product or service, and even inspiring others to &#39;just do it.&#39;</p>
<br>
<p>I think that if we all &quot;pay it forward&quot; by sharing testimonials, everybody wins.</p>
<br>
<p>So much so, that in a couple of days I&#39;m going to send you a template you can use in your own business to get great testimonials from people... so stay tuned!</p>
<br>
<br>
<br>
<p>Email #3 Testimonial Request (Send Day 5)</p>
<br>
<p>Subject:&nbsp;</p>
<p>Thank You In Advance</p>
<p>A Cool Tool You Can Use</p>
<br>
<p>Hi, NAME...</p>
<br>
<p>A few days ago I sent you a note asking if you would drop me a little &#39;success story&#39; on how <%= data.field3  %> has helped you. &nbsp;I would truly appreciate that.&nbsp;</p>
<br>
<p>A short paragraph or a 30 second video would be great.&nbsp;</p>
<br>
<p>It would really help me.</p>
<br>
<p>Also, getting testimonials for your own business is vital to success. In fact, some businesses can&#39;t survive without them!</p>
<br>
<p>So, to help you out, here are a couple of cool testimonial scripts you can use right now to get testimonials for your products or services. These questions make it easy to get and give great testimonials.</p>
<br>
<p>BASIC Testimonial</p>
<br>
<p>Question #1: Did you enjoy the PRODUCT TYPE?</p>
<br>
<p>Question #2: In a sentence or two, what would you say to another TARGET AUDIENCE about PRODUCT NAME and what it&#39;s done for you?</p>
<br>
<p>Question #3: What has your single greatest take away been from the PRODUCT TYPE?</p>
<br>
<p>Question #4: Is there anything we could improve about PRODUCT NAME?</p>
<br>
<p>Question #5: What would you say to someone who is on the fence about getting started with NAME and PRODUCT NAME?</p>
<br>
<p>RESULTS Testimonial</p>
<br>
<p>Question #1: What was your problem before you bought PRODUCT NAME?</p>
<br>
<p>Question #2: What results do you get / have you gotten from our PRODUCT TYPE?</p>
<br>
<p>Question #3: What kept you from buying the PRODUCT TYPE sooner?</p>
<br>
<p>Question #4: What exactly did you like most about PRODUCT NAME and / or NAME?</p>
<br>
<p>Question #5: Why would you recommend this PRODUCT TYPE to another TARGET AUDIENCE who might be on the fence?</p>
<br>
<p>Question #6: Do you have any other benefits you want to mention about NAME and PRODUCT NAME, or anything else you want to add?</p>
<br>
<br>
<p>I hope these templates help you get some great testimonials and I really appreciate you sending me one for <%= data.field3  %> :-)</p>
<br>
<p>Thanks!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: You can email your success story to <%= data.field2  %> or go here LINK to submit it using our online testimonial form.</p>
<br>
<br>
<br>
<p>Email #4 Testimonial Request (ALTERNATIVE Or In ADDITION To #3 Above)</p>
<br>
<p>Subject:&nbsp;</p>
<p>Some people asked me</p>
<p>Here&#39;s how you do it</p>
<p>It&#39;s easier than you might think</p>
<br>
<p>Hi, NAME...</p>
<br>
<p>A few days ago I sent you a note asking if you would drop me a little &#39;success story&#39; on how <%= data.field3  %> has helped you. &nbsp;I would truly appreciate that.&nbsp;</p>
<br>
<p>A short paragraph or a 30 second video would be great and it would really help us.</p>
<br>
<p>Several people have emailed me back and asked how to actually do the testimonial.&nbsp;</p>
<br>
<p>&quot;What exactly should I say?&quot;, &quot;How do I record it?&quot; and &quot;How do we send it to you?&quot; were the top three questions.</p>
<br>
<p>So, to help you out, here are a few simple steps to create amazing testimonials in less time than it takes to stand in line for a Starbucks coffee.</p>
<br>
<p>Step #1: Here&#39;s what to say :-)</p>
<br>
<p>Question #1: Did you enjoy <%= data.field3  %>?</p>
<br>
<p>Question #2: In a sentence or two, what would you say to <%= data.field7  %> about <%= data.field3  %> and what it&#39;s done for you?</p>
<br>
<p>Question #3: What is the biggest thing / impact the <%= data.field4  %> has had on you?</p>
<br>
<p>Question #4: What would you say to someone who is on the fence about getting started with <%= data.field1  %> and <%= data.field3  %>?</p>
<br>
<p>Step #2: Here&#39;s how to Record it</p>
<br>
<p>The easiest way is to just use your smart phone!</p>
<br>
<p>Hold up your phone, hit record, answer the questions above and call it a day :-)</p>
<br>
<p>Just be yourself and don&#39;t worry about any um&#39;s or ah&#39;s or mistakes. We can edit those out.</p>
<br>
<p>If you&#39;d rather not do video, just answer the questions in a quick email and send them to us. That would be cool too!</p>
<br>
<p>Step #3: Here&#39;s how to Send it to us</p>
<br>
<p>If you do a video, you can send it to us for free via https://WeTransfer.com - which is super easy to use.</p>
<br>
<p>(If you want to send us a Drop box link or use Google Drive, you can use those too.)</p>
<br>
<p>Just send it to us at <%= data.field2  %></p>
<br>
<p>If you want to do a written testimonial, feel free to just post your it on Facebook and we can grab a screen shot from there. That&#39;s super easy to do!</p>
<br>
<p>I can&#39;t tell you how much I really appreciate you sending us a testimonial for <%= data.field3  %>... it means the world to us and will help a lot of other people <%= data.field11  %> too!</p>
<br>
<p>Thanks :-)</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: You can email your success story to <%= data.field2  %> or go here LINK to submit it using our online testimonial form.</p>
<br>
<br>
<br>