<p>Use any or all of the following bullets in your sales copy, emails, ads, posts, vsls, or more!</p>
<p>Version 1: Conversational Bullets</p>
<p><%= data.field1 %> which enables you to <%= data.field2 %> and that means <%= data.field3 %></p>
<br>
<p><%= data.field4 %> which helps you <%= data.field5 %> so <%= data.field6 %></p>
<br>
<p><%= data.field7 %> so you&#39;re able to <%= data.field8 %> which means <%= data.field9 %></p>
<br>
<p><%= data.field10 %> which enables you to <%= data.field11 %> so you can <%= data.field12 %></p>
<br>
<p><%= data.field13 %> so you can <%= data.field14 %> which means <%= data.field15 %></p>
<br>
<p>Version 2: Succinct Bullets</p>
<p><%= data.field1 %>: <%= data.field2 %> and that means <%= data.field3 %></p>
<br>
<p><%= data.field4 %>: <%= data.field5 %> so <%= data.field6 %></p>
<br>
<p><%= data.field7 %>: <%= data.field8 %> which means <%= data.field9 %></p>
<br>
<p><%= data.field10 %>: <%= data.field11 %> so you can <%= data.field12 %></p>
<br>
<p><%= data.field13 %>: <%= data.field14 %> which means <%= data.field15 %></p>
<br>
<p>Version 3: Parenthetical Bullets</p>
<p><%= data.field1 %> (<%= data.field2 %>... <%= data.field3 %>)</p>
<br>
<p><%= data.field4 %> (<%= data.field5 %>... <%= data.field6 %>)</p>
<br>
<p><%= data.field7 %> (<%= data.field8 %>... <%= data.field9 %>)</p>
<br>
<p><%= data.field10 %> (<%= data.field11 %>... <%= data.field12 %>)</p>
<br>
<p><%= data.field13 %> (<%= data.field14 %>... <%= data.field15 %>)</p>
<br>