<p>&nbsp;Click on Get Results to get the your filled out Perfect Webinar in text, Word, or PPTX&nbsp;</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Your Perfect Webinar Input Data</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>(Question: 1 of 78 - Your NAME)</p>
<p>What is your name?</p>
<p>(Ex: Russell Brunson, Jim Edwards)</p>
<br>
<p>You Input: <%= data.field1 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 2 of 78 - TITLE)</p>
<p>What is the title of your webinar?</p>
<p>(Ex: How To Sell High Ticket Products Without Cold Calling; How To Set Up a 7-Figure Funnel in 30 Minutes Without Being Held Hostage By a Tech guy; How To Get Your Book To #1 On Amazon without Wasting a Dime On Pay-Per-Click Ads, etc.) (Expert Secrets, p. 157)</p>
<br>
<p>You Input: <%= data.field2 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 3 of 78 - TARGET Audience)</p>
<p>Who is your target audience (singular)?</p>
<p>&quot;My target audience is a ______.&quot;</p>
<p>(Ex: online marketer; ebook author; speaker; small business owner; home owner; investor; copywriter; advertiser, etc.)</p>
<br>
<p>You Input: <%= data.field3 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 4 of 78 - TARGET Audience)</p>
<p>Who is your target audience (PLURAL)?</p>
<p>&quot;______ are my target audience.&quot;</p>
<p>(Ex: online marketers; ebook authors; speakers; small business owners; home owners; investors; copywriters; advertisers, etc.)</p>
<br>
<p>You Input: <%= data.field4 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 5 of 78 - NEW OPPORTUNITY)</p>
<p>What is the NEW OPPORTUNITY you&#39;re offering? (2-5 words)</p>
<p>(Ex: selling high ticket products; sales funnels; ebook marketing, etc.)</p>
<p>(Expert Secrets, pp. 48-61, 160-161)</p>
<br>
<p>You Input: <%= data.field5 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 6 of 78 - VEHICLE)</p>
<p>What is the VEHICLE that makes your New Opportunity possible?</p>
<p>(Ex: High Ticket Blueprint; ClickFunnels; Ebook Marketing Machine, etc.)</p>
<p>(Expert Secrets, pp. 48-61, 160-161)</p>
<br>
<p>You Input: <%= data.field6 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 7 of 78 - BACKGROUND / Back Story / Qualify Yourself)</p>
<p>What is your BACKGROUND as it relates to your audience and the topic? (3-4 Bullets)</p>
<p>(Ex: education; awards; accomplishments; cool personal facts, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, pp. 161-162)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field7 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 8 of 78 - EPIPHANY BRIDGE STORY)</p>
<p>What is YOUR Epiphany Bridge Story?</p>
<p>Create Story using Funnel Scripts (Click Here) Epiphany Bridge Script=&gt; http://members.funnelscripts.com/epiphany-bridge-script/</p>
<p>Enter bullet outline of your story here. Hit ENTER for each new list item, etc.</p>
<p>(Expert Secrets, pp. 114-127, 162)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field8 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 9 of 78 - HOW YOUR STORY APPLIES TO THEM)</p>
<p>HOW does your Epiphany Bridge Story apply to your audience&#39;s situation?</p>
<p>&quot;Here&#39;s how my story /background applies to your situation _______.&quot;</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 163)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field9 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 10 of 78 - PROOF!)</p>
<p>What proof / case study / example do you have to show how it will also work for them?</p>
<p>&quot;But it&#39;s not just me. Here&#39;s proof this&#39;ll work for you too.&quot;</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 164)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field10 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 11 of 78 - Big PAYOFF #1)</p>
<p>What is the #1 big payoff your audience wants in this area?</p>
<p>&quot;They REALLY want to know how to _____.&quot;(VERB)</p>
<p>(Ex: make more money online; get more speaking gigs; increase sales; double growth in your small business; reach financial freedom; create high converting ads, etc.)</p>
<br>
<p>You Input: <%= data.field11 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 12 of 78 - Big PAYOFF #2)</p>
<p>What is the #2 big payoff your audience wants in this area?</p>
<p>&quot;They also REALLY want to know how to _____.&quot;(VERB)</p>
<p>(Ex: create higher income from fewer sales; set up profitable marketing funnels; get more leads; enjoy free time in your small business; get a higher return on your investments, etc.)</p>
<br>
<p>You Input: <%= data.field12 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 13 of 78 - ENEMY)</p>
<p>WHO is the ENEMY in this area? (PLURAL)</p>
<p>(Ex: big corporations; speaker bureaus; traditional publishers; Google; Realtors; Bankers; Lawyers; Financial Planners, etc.))</p>
<p>(Expert Secrets, p. 25)</p>
<br>
<p>You Input: <%= data.field13 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 14 of 78 - #1 PAIN)</p>
<p>What is the #1 pain / problem they want to avoid in this area? (VERB ending in &quot;ING&quot;)</p>
<p>&quot;They REALLY want to AVOID _____.&quot;</p>
<p>(Ex: having to sell people over the phone; begging for speaking gigs; suffering from negative cashflow; getting bogged down in all the technical stuff; dealing with crappy ads, etc.)</p>
<br>
<p>You Input: <%= data.field14 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 15 of 78 - #2 PAIN)</p>
<p>What is the #2 pain / problem they want to avoid in this area? (VERB ending in &quot;ING&quot;)</p>
<p>&quot;They also REALLY want to AVOID _____.&quot;</p>
<p>(Ex: being held hostage by a tech guy; suffering from declining sales; facing soul crushing monthly bills; paying for outrageously expensive leads, etc.)</p>
<br>
<p>You Input: <%= data.field15 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 16 of 78 - The BIG HOW TO)</p>
<p>What is the One BIG HOW TO you&#39;ll focus on the webinar? (Big &quot;HOW TO&quot;)</p>
<p>Include &quot;how to&quot; at the start of your answer.</p>
<p>(Ex: how to add high ticket sales to your sales funnel instantly; how to write a really great book to build your business; how to set up a sales funnel in 30 minutes, etc.)</p>
<br>
<p>You Input: <%= data.field16 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 17 of 78 - SECRET #1 - The VEHICLE)</p>
<p>What is the first secret you&#39;ll share on the webinar?</p>
<p>(Ex: How To Ethically Steal Over $1,000,000 Worth of Funnel Hacks From Your Competitors For Under $100; How To Write A Best Seller In Less Than 3 Hours, etc.)</p>
<p>(Expert Secrets, pp. 134-136, 169)</p>
<br>
<p>You Input: <%= data.field17 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 18 of 78 - SECRET #1 - The VEHICLE)</p>
<p>What is their existing limiting belief about this (vehicle) secret?</p>
<p>&quot;I don&#39;t understand how it (vehicle) will _______.&quot;</p>
<p>(Ex: work for me; help me make a 7-figure funnel; help me write better ads; help me sell more books, etc.) (Expert Secrets, p. 137)</p>
<br>
<p>You Input: <%= data.field18 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 19 of 78 - SECRET #1 - The VEHICLE)</p>
<p>How will you break and reframe that (vehicle) limiting belief? &quot;The truth is ______.&quot;</p>
<p>(Ex: the sales funnel process works to sell ANYTHING; you can create a 100 page book in 2 hours if you &quot;phone a friend&quot;; the best way to write ads is to MODEL proven ads, etc.)</p>
<p>(Expert Secrets, p. 172)</p>
<br>
<p>You Input: <%= data.field19 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 20 of 78 - SECRET #1 - The VEHICLE)</p>
<p>What Epiphany Bridge Story and points will you cover on this first secret?</p>
<p>(Get points down/ flesh out later: stories, talking points, demo&#39;s, processes, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 169)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field20 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 21 of 78 - SECRET #1 - The VEHICLE)</p>
<p>What PROOF do you have to support this first secret?</p>
<p>(Get points down/ flesh out later: stats, examples, case studies, other PROOF, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 170)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field21 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 22 of 78 - SECRET #1 - The VEHICLE)</p>
<p>What other limiting beliefs do we need to address about the Vehicle?</p>
<p>&quot;I don&#39;t understand how it (vehicle) will _______.&quot;</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, pp. 171-172)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field22 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 23 of 78 - SECRET #2 - INTERNAL Beliefs)</p>
<p>What is the second secret you&#39;ll share on the webinar?</p>
<p>(Ex: How To Then Clone Their PROVEN Funnel (Inside ClickFunnels) in Less Than 10 Minutes; How To Create Your Entire Book Without Writing a SINGLE Word, etc.)</p>
<p>(Expert Secrets, pp. 134-136, 169)</p>
<br>
<p>You Input: <%= data.field23 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 24 of 78 - SECRET #2 - INTERNAL Beliefs)</p>
<p>What is their existing limiting belief about this (Internal Beliefs) secret?</p>
<p>&quot;I&#39;m not _______.&quot;</p>
<p>(Ex: good at technical stuff; a writer; technically inclined, etc.)</p>
<p>(Expert Secrets, p. 137)</p>
<br>
<p>You Input: <%= data.field24 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 25 of 78 - SECRET #2 - INTERNAL Beliefs)</p>
<p>How will you break and reframe that (Internal Beliefs) limiting belief?</p>
<p>&quot;That doesn&#39;t matter because _______.&quot;</p>
<p>(Ex: ClickFunnels does all the work for you; if you can talk on the phone to a friend, you can create content, etc.)&nbsp;</p>
<p>(Expert Secrets, p. 172)</p>
<br>
<p>You Input: <%= data.field25 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 26 of 78 - SECRET #2 - INTERNAL Beliefs)</p>
<p>What Epiphany Bridge Story and points will you cover on this second secret?</p>
<p>(Get points down/ flesh out later: stories, talking points, demo&#39;s, processes, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 169)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field26 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 27 of 78 - SECRET #2 - INTERNAL Beliefs)</p>
<p>What PROOF do you have to support this second secret?</p>
<p>(Get points down/ flesh out later: stats, examples, case studies, other PROOF, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 170)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field27 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 28 of 78 - SECRET #2 - INTERNAL Beliefs)</p>
<p>What other limiting beliefs do we need to address about their INTERNAL Beliefs?</p>
<p>&quot;I&#39;m not _______.&quot;</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, pp. 171-172)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field28 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 29 of 78 - SECRET #3 - EXTERNAL Beliefs)</p>
<p>What is the third secret you&#39;ll share on the webinar?</p>
<p>(Ex: How To Get The Exact SAME Customers Who Are Going To Your Competitors&#39; Funnels... To Start Coming To Your Funnel Instead; How To Make Your Book A Best Seller Even If You Have NO List, etc.)&nbsp;</p>
<p>(Expert Secrets, pp. 134-136, 169)</p>
<br>
<p>You Input: <%= data.field29 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 30 of 78 - SECRET #3 - EXTERNAL Beliefs)</p>
<p>What is their existing limiting belief about this (External Beliefs) secret?</p>
<p>&quot;I don&#39;t know how to _______.&quot;</p>
<p>(Ex: get traffic to my funnel; sell my book once it&#39;s written, etc.)</p>
<p>(Expert Secrets, p. 138)</p>
<br>
<p>You Input: <%= data.field30 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 31 of 78 - SECRET #3 - EXTERNAL Beliefs)</p>
<p>How will you break and reframe that (External Beliefs) limiting belief?</p>
<p>&quot;That&#39;s no problem because _______.&quot;</p>
<p>(Ex: you can see where your competitors are getting their traffic and run ads too; you can make money with your book without it ever being a best seller, etc.)&nbsp;</p>
<p>(Expert Secrets, p. 172)</p>
<br>
<p>You Input: <%= data.field31 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 32 of 78 - SECRET #3 - EXTERNAL Beliefs)</p>
<p>What Epiphany Bridge Story and points will you cover on this third secret?</p>
<p>(Get points down/ flesh out later: stories, talking points, demo&#39;s, processes, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 169)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field32 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 33 of 78 - SECRET #3 - EXTERNAL Beliefs)</p>
<p>What PROOF do you have to support this third secret?</p>
<p>(Get points down/ flesh out later: stats, examples, case studies, other PROOF, etc.)</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, p. 170)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field33 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 34 of 78 - SECRET #3 - EXTERNAL Beliefs)</p>
<p>What other limiting beliefs do we need to address about their EXTERNAL Beliefs?</p>
<p>&quot;I don&#39;t know how to _______.&quot;</p>
<p>*(Multi-line Bulleted List. Hit ENTER for each new list item, etc.)</p>
<p>(Expert Secrets, pp. 171-172)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field34 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 35 of 78 - NAME / TITLE of what you&#39;re Selling)</p>
<p>Name of what you&#39;re selling at the end of the webinar?</p>
<p>&quot;The Title of my offer package is __________.&quot;</p>
<p>(Ex: Million Dollar Funnel Blueprint; High Ticket Profits Secrets; 27 Day Book Blueprint; Million Dollar Sales Copy Secrets, etc.)</p>
<br>
<p>You Input: <%= data.field35 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 36 of 78 - WHAT You&#39;ll Sell)</p>
<p>What are you actually selling on the webinar?</p>
<p>&quot;I am selling a __________.&quot;</p>
<p>(Ex: package of software and tools; home study course; software; coaching; service, etc.)</p>
<br>
<p>You Input: <%= data.field36 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 37 of 78 - Deliverable #1 - MASTERCLASS)</p>
<p>What&#39;s the NAME of the big training / service or CORE product of your offer?</p>
<p>(Ex: 6 Week Funnel Hacks Masterclass; Ebook Marketing Machine, etc.)</p>
<p>(Expert Secrets, pp. 146, 179-180)</p>
<br>
<p>You Input: <%= data.field37 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 38 of 78 - Deliverable #1 - MASTERCLASS)</p>
<p>What&#39;s IN the big training / service or CORE product of your offer?</p>
<p>List all the big stuff off</p>
<p>*One item/ line becomes bulleted list</p>
<p>(Expert Secrets, pp. 180-181)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field38 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 39 of 78 - Deliverable #1 - MASTERCLASS)</p>
<p>What proof / case studies do you have that this works?</p>
<p>*One item/ line becomes bulleted list</p>
<p>(Expert Secrets, p. 181)</p>
<br>
<p>You Input: <%= data.field39 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 40 of 78 - Deliverable #1 - MASTERCLASS)</p>
<p>List off all the types of people that this works for!</p>
<p>&quot;This works for ____ who want to _____.&quot;</p>
<p>List off several different groups. *One item/ line becomes bulleted list</p>
<p>(Expert Secrets, p. 182)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field40 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 41 of 78 - Deliverable #1 - MASTERCLASS)</p>
<p>What&#39;s #1 excuse why people don&#39;t get started and how do you answer that objection?</p>
<p>&quot;You might be thinking you can&#39;t get started because... Here&#39;s why that&#39;s a mistake that will hold you back from success...&quot;&nbsp;</p>
<p>(Expert Secrets, p. 183)</p>
<br>
<p>You Input: <%= data.field41 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 42 of 78 - Deliverable #1 - MASTERCLASS)</p>
<p>How much is that big class / training / service / CORE product worth?</p>
<p>(Ex: $997; $497; $297, etc.)</p>
<br>
<p>You Input: <%= data.field42 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 43 of 78 - Deliverable #2 - TOOLS)</p>
<p>What TOOLS do they get to make things a LOT easier?</p>
<p>Could be just one tool (Ex: &quot;ClickFunnels&quot;) or a list of several tools.</p>
<p>*One item/ line becomes bulleted list</p>
<p>(Expert Secrets, p. 146)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field43 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 44 of 78 - Deliverable #2 - TOOLS)</p>
<p>List off what these tools will enable them to DO!</p>
<p>&quot;With these tools you&#39;ll be able to _____.&quot;</p>
<p>One item/ line becomes bulleted list</p>
<p>(Expert Secrets, p. 185)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field44 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 45 of 78 - Deliverable #2 - TOOLS)</p>
<p>List off what these tools will enable them to GET RID OF!</p>
<p>&quot;With these tools you can get rid of _____.&quot;</p>
<p>*One item/ line becomes bulleted list</p>
<p>(Expert Secrets, p. 185)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field45 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 46 of 78 - Deliverable #2 - TOOLS)</p>
<p>What problem did these TOOLS solve for YOU?</p>
<p>&quot;I didn&#39;t know how to / wasn&#39;t able to _____. So I had to create / find a way to ____ for myself.&quot;</p>
<p>(Expert Secrets, pp. 185-186)</p>
<br>
<p>You Input: <%= data.field46 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 47 of 78 - Deliverable #2 - TOOLS)</p>
<p>How much time and mone will these tools save them?</p>
<p>&quot;This will save you a ton of time and money because ____.&quot;</p>
<p>*One item/ line becomes bulleted list</p>
<p>(Expert Secrets, p. 186)</p>
<br>
<p>You Input:&nbsp;</p>
<p>* <%= data.field47 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 48 of 78 - Deliverable #2 - TOOLS)</p>
<p>What&#39;s #1 excuse why people don&#39;t get started with these tools and how do you answer that?</p>
<p>&quot;You might be thinking you can&#39;t use these tools because... Here&#39;s why that&#39;s not true and will hold you back from success...&quot;&nbsp;</p>
<p>(Expert Secrets, p. 187)</p>
<br>
<p>You Input: <%= data.field48 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 49 of 78 - Deliverable #2 - TOOLS)</p>
<p>How much are those tools worth?</p>
<p>(Ex: $997; $497; $297)</p>
<br>
<p>You Input: <%= data.field49 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 50 of 78 - Deliverable #3 - TANGIBLE #1 (Related to VEHICLE))</p>
<p>What do they get that proves the vehicle works and will work for them?</p>
<p>(Ex: Million Dollar Funnel Clones; your case studies; student case studies; examples, etc.)</p>
<p>(Expert Secrets, p. 147)</p>
<br>
<p>You Input: <%= data.field50 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 51 of 78 - Deliverable #3 - TANGIBLE #1 (Related to VEHICLE))</p>
<p>What was the pain and cost to you to create this deliverable?</p>
<p>&quot;I had to go through _____ and _____ to get _____. But you won&#39;t have to because I&#39;m giving you _____.&quot;&nbsp;</p>
<p>(Expert Secrets, p. 188-189)</p>
<br>
<p>You Input: <%= data.field51 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 52 of 78 - Deliverable #3 - TANGIBLE #1 (Related to VEHICLE))</p>
<p>How will this make it easier and faster for them to get results?</p>
<p>&quot;This is going to make it faster and easier for you to ____. How? Because it ____. &nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field52 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 53 of 78 - Deliverable #3 - TANGIBLE #1 (Related to VEHICLE))</p>
<p>What&#39;s #1 excuse why people don&#39;t get started with this and how do you answer that?</p>
<p>&quot;You might be thinking you can&#39;t use this because... Here&#39;s why that&#39;s not true and will hold you back from success...&quot;&nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field53 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 54 of 78 - Deliverable #3 - TANGIBLE #1 (Related to VEHICLE))</p>
<p>How much is that worth?</p>
<p>(Ex: $997; $497; $297)</p>
<br>
<p>You Input: <%= data.field54 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 55 of 78 - Deliverable #4 - TANGIBLE #2 (Related to Their INTERNAL Struggle))</p>
<p>What do they get that removes their main internal struggle?</p>
<p>(ex: Copywritng Secrets Course; Ad Writing Course; 101 Amazing Fiction Plotlines, etc.)</p>
<p>(Expert Secrets, p. 148)</p>
<br>
<p>You Input: <%= data.field55 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 56 of 78 - Deliverable #4 - TANGIBLE #2 (Related to Their INTERNAL Struggle))</p>
<p>What was the pain and cost to you to create this?</p>
<p>&quot;I had to go through ___ and ___ to get ____. But you wont&#39; have to because I&#39;m giving you ____.&quot;</p>
<p>(Expert Secrets, p. 188)</p>
<br>
<p>You Input: <%= data.field56 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 57 of 78 - Deliverable #4 - TANGIBLE #2 (Related to Their INTERNAL Struggle))</p>
<p>How will this make it easier and faster for them to get results?</p>
<p>&quot;This is going to make it faster and easier for you to ____. How? Because it ____.&nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field57 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 58 of 78 - Deliverable #4 - TANGIBLE #2 (Related to Their INTERNAL Struggle))</p>
<p>What&#39;s #1 excuse why people don&#39;t get started with this and how do you answer that?</p>
<p>&quot;You might be thinking you can&#39;t use this because... That&#39;s not true because...&quot;&nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field58 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 59 of 78 - Deliverable #4 - TANGIBLE #2 (Related to Their INTERNAL Struggle))</p>
<p>How much is that worth?</p>
<p>(Ex: $997; $497; $297)</p>
<br>
<p>You Input: <%= data.field59 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 60 of 78 - Deliverable #5 - TANGIBLE #3 (Related to an EXTERNAL Struggle))</p>
<p>What do they get that eliminates what they see as an external roadblock?</p>
<p>(ex: Instant Traffic Hacks; Facebook Ad Promo Hacks; Speaker Booking Hacks, etc.)</p>
<p>(Expert Secrets, p. 148)</p>
<br>
<p>You Input: <%= data.field60 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 61 of 78 - Deliverable #5 - TANGIBLE #3 (Related to an EXTERNAL Struggle))</p>
<p>What was the pain and cost to you to create this?</p>
<p>&quot;I had to go through ___ and ___ to get ____. But you wont&#39; have to because I&#39;m giving you ____.&quot;</p>
<p>(Expert Secrets, p. 188)</p>
<br>
<p>You Input: <%= data.field61 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 62 of 78 - Deliverable #5 - TANGIBLE #3 (Related to an EXTERNAL Struggle))</p>
<p>How will this make it easier and faster for them to get results?</p>
<p>&quot;This is going to make it faster and easier for you to ____. How? Because it ____.&nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field62 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 63 of 78 - Deliverable #5 - TANGIBLE #3 (Related to an EXTERNAL Struggle))</p>
<p>What&#39;s #1 excuse why people don&#39;t get started with this and how do you answer that?</p>
<p>&quot;You might be thinking you can&#39;t use this because... Here&#39;s why that&#39;s not true and will hold you back from success...&quot;&nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field63 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 64 of 78 - Deliverable #5 - TANGIBLE #3 (Related to an EXTERNAL Struggle))</p>
<p>How much is that worth?</p>
<p>(Ex: $997; $497; $297)</p>
<br>
<p>You Input: <%= data.field64 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 65 of 78 - TOTAL VALUE)</p>
<p>How much is what you&#39;re selling worth?</p>
<p>TOTAL Up ALL Deliverables you just listed</p>
<p>Aim for at least TEN Times (10X) the actual price you charge</p>
<p>(Ex: $5,000; $4,500; $2,000, etc.)</p>
<br>
<p>You Input: <%= data.field65 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 66 of 78 - REGULAR PRICE)</p>
<p>What is the REGULAR price you sell this for on your website?</p>
<p>(Ex: $997; $497; $97, etc.)</p>
<br>
<p>You Input: <%= data.field66 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 67 of 78 - PRICE DROP REASON)</p>
<p>WHY are you dropping the price when they buy TODAY?</p>
<p>&quot;I&#39;m giving you a special discount today because _____.&quot;</p>
<p>(Ex: you&#39;re here with me live on this webinar; as a favor to ______, etc.)</p>
<p>(Expert Secrets, pp. 195-196)</p>
<br>
<p>You Input: <%= data.field67 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 68 of 78 - SPECIAL PRICE)</p>
<p>What is the price for what you&#39;re selling when they buy TODAY?</p>
<p>(Ex: $997; $497; $97, etc.)</p>
<br>
<p>You Input: <%= data.field68 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 69 of 78 - IF / ALL STATEMENTS - VEHICLE (Related to Secret #1))</p>
<p>Complete the following statement related to the VEHICLE:</p>
<p>&quot;If all this did / got you was _______, would it be worth it?&quot; (starts with a VERB)</p>
<p>(Ex: help you get your funnels set up without being held hostage by a tech guy, etc.)</p>
<p>(Expert Secrets, pp. 192-193)</p>
<br>
<p>You Input: <%= data.field69 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 70 of 78 - IF / ALL STATEMENTS - INTERNAL (Related to Secret #2))</p>
<p>Complete the following statement related to their INTERNAL BELIEF:</p>
<p>&quot;If all this did was _______, would it be worth it?&quot; (starts with a VERB)</p>
<p>(Ex: show you how to get it all done yourself even if you&#39;re not technical, etc.)</p>
<p>(Expert Secrets, pp. 192-193)</p>
<br>
<p>You Input: <%= data.field70 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 71 of 78 - IF / ALL STATEMENTS - EXTERNAL (Related to Secret #3))</p>
<p>Complete the following statement related to their EXTERNAL BELIEF:</p>
<p>&quot;If all this did was _______, would it be worth it?&quot; (starts with a VERB)</p>
<p>(Ex: help you drive a ton of traffic and make more sales, etc.)</p>
<p>(Expert Secrets, pp. 192-193)</p>
<br>
<p>You Input: <%= data.field71 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 72 of 78 - EXCLUSIVE BONUS (Urgency &amp; Scarcity))&nbsp;</p>
<p>What&#39;s your #1 BEST bonus that creates urgency and scarcity?</p>
<p>(ex: Unlimited Funnels In Your Account (First 50 Only); 12 Ebook Templates, etc.)</p>
<p>(Expert Secrets, p. 149)</p>
<br>
<p>You Input: <%= data.field72 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 73 of 78 - EXCLUSIVE BONUS (Urgency &amp; Scarcity))&nbsp;</p>
<p>What was the pain and cost to you to create this bonus?</p>
<p>&quot;I had to go through ___ and ___ to get ____. But you wont&#39; have to because I&#39;m giving you ____.&quot;&nbsp;</p>
<p>(Expert Secrets, p. 188)</p>
<br>
<p>You Input: <%= data.field73 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 74 of 78 - EXCLUSIVE BONUS (Urgency &amp; Scarcity))&nbsp;</p>
<p>How will this bonus make it easier and faster for them to get results?</p>
<p>&quot;This is going to make it faster and easier for you to ____. How? Because it ____. &nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field74 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 75 of 78 - EXCLUSIVE BONUS (Urgency &amp; Scarcity))&nbsp;</p>
<p>What&#39;s #1 excuse why people don&#39;t get started w/ this bonus &amp; how do you answer?</p>
<p>&quot;You might be thinking you can&#39;t use this because... Here&#39;s why that&#39;s not true and will hold you back from success...&quot;&nbsp;</p>
<p>(Expert Secrets, p. 189)</p>
<br>
<p>You Input: <%= data.field75 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 76 of 78 - EXCLUSIVE BONUS (Urgency &amp; Scarcity))</p>
<p>How much is this #1 BEST bonus worth?</p>
<p>(Ex: PRICELESS, $1,997; $997; $497)</p>
<br>
<p>You Input: <%= data.field76 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 77 of 78 - TIMEFRAME)</p>
<p>How fast can they expect to see results?</p>
<p>&quot;You&#39;ll start to see real results ______.&quot;</p>
<p>(Ex: in 1 Week or less; in less than 30 days; in just 30 minutes; fast; faster than you ever dreamed possible, etc.)</p>
<br>
<p>You Input: <%= data.field77 %></p>
<br>
<p>------------</p>
<br>
<p>(Question: 78 of 78 - OFFER LINK)</p>
<p>What is the special url they should go to and claim the webinar deal?</p>
<p>(Ex: MySite.com/specialoffer/, etc.)</p>
<br>
<p>You Input: <%= data.field78 %></p>
<br>
<br>