<p>Variables Entered&nbsp;</p>
<p>Your name: <%= data.field1  %>&nbsp;</p>
<p>The website you&#39;re welcoming them to: <%= data.field2  %>&nbsp;</p>
<p>The niche group of people you target (plural): <%= data.field3  %>&nbsp;</p>
<p>Big result: <%= data.field4  %>&nbsp;</p>
<p>A BIG &quot;how to&quot; secret: <%= data.field5  %>&nbsp;</p>
<p>Big Prize: <%= data.field7  %>&nbsp;</p>
<p>Big takeway: <%= data.field8  %>&nbsp;</p>
<p>Slides</p>
<p>&nbsp;Version 1 - General Opt-In Offer&nbsp;</p>
<br>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;</p>
<p>Hi, my name is &nbsp;<%= data.field1  %> and Welcome to <%= data.field2  %></p>
<p>&lt;----------------- END Slide -----------------&gt;</p>
<p>&nbsp;</p>
<br>
<br>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;</p>
<p>You&#39;re about to discover the secret of <%= data.field5  %></p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<p>&nbsp;</p>
<br>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>We&#39;ve created a <%= data.field6  %> for you that explains <%= data.field7  %></p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<br>
<br>
<p>&nbsp;</p>
<p>&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>Also, on the next page you&#39;ll get all the details about how you can immediately <%= data.field8  %></p>
<p>&lt;----------------- END Slide -----------------&gt;</p>
<p>&nbsp;</p>
<br>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>Go head, put in your name and primary email address, click the &quot;Send My <%= data.field6  %>&quot; button right now and we&#39;ll see you on the inside.</p>
<p>&lt;----------------- END Slide -----------------&gt;</p>
<p>&nbsp;</p>
<br>
<p>Version 2 -Squeeze Page Offer&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>Hello!</p>
<p>&nbsp;Hello and thank you for visiting &nbsp;<%= data.field2  %>&nbsp;</p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<p>&nbsp;</p>
<br>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>In the next few minutes you are going to discover how to <%= data.field4  %>... just like other <%= data.field3  %> from all over the country/world!&nbsp;</p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<br>
<br>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>We&#39;ve put together a <%= data.field6  %> showing you <%= data.field7  %>. &nbsp;</p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<p>&nbsp;</p>
<br>
<br>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>Enter your first name, your email address and click the &nbsp;&quot;Send My <%= data.field6  %>&quot; button and you&#39;ll instantly receive the <%= data.field6  %> by return email. &nbsp;</p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<p>&nbsp;</p>
<br>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>Also, you&#39;ll receive all the information on the next page that shows you <%= data.field5  %>. &nbsp;</p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<br>
<br>
<p>&nbsp;</p>
<p>&nbsp;&lt;-----------------START Slide -----------------&gt;&nbsp;</p>
<p>So go ahead... enter your first name, your email address and click the &quot;Send My <%= data.field6  %>&quot; button to instantly receive the <%= data.field6  %> by return email. &nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>&lt;----------------- END Slide -----------------&gt;&nbsp;</p>
<p>&nbsp; &nbsp;</p>
<br>