<p>-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Welcome Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: Welcome!!</p>
<br>
<p>Hey there</p>
<br>
<p>My name is <%= data.field4  %> and I&#39;m the <%= data.field5  %> of <%= data.field1  %></p>
<br>
<p>I wanted to take a minute and welcome you to the team :-)</p>
<br>
<p>On behalf of myself and the entire <%= data.field1  %> family we want you to know how excited we are that you decided to join us.</p>
<br>
<p>** ACCESS **</p>
<p>You can access your <%= data.field1  %> <%= data.field2  %> here:</p>
<p><%= data.field6  %></p>
<br>
<p>What you should expect from us...</p>
<br>
<p><%= data.field1  %> is all about helping you <%= data.field7  %> so you can <%= data.field8  %> and avoid <%= data.field9  %>.</p>
<br>
<p>We&#39;re all about helping you get the absolute best results with your <%= data.field3  %>.</p>
<br>
<p>So, here are 3 steps to get the absolute best results with <%= data.field1  %>:</p>
<br>
<p>Step 1: Whitelist <%= data.field10  %></p>
<br>
<p>If you don&#39;t do this you could miss critical updates, news, and alerts (and you won&#39;t get the full benefit of <%= data.field1  %>).</p>
<br>
<p>Step 2: Follow Us On Social Media</p>
<br>
<p>Join us over on social media so you can stay up-to-date on everything that&#39;s important in the world of <%= data.field3  %>.</p>
<br>
<p>Facebook: <%= data.field11  %></p>
<br>
<p>Twitter: <%= data.field12  %></p>
<br>
<p>Step 3: To get the most out of your <%= data.field2  %>, make sure to <%= data.field13  %> right now.</p>
<br>
<p>This will help you get off to a fast start and begin using <%= data.field1  %> to <%= data.field7  %>.</p>
<br>
<p>TECH SUPPORT:</p>
<br>
<p>If you have any problems accessing anything, PLEASE contact us in our help desk using <%= data.field14  %></p>
<br>
<p>See you soon,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - The next few days are going to be very exciting!</p>
<br>
<p>We&#39;re going to be sending you some bonus content, case studies, and other cool stuff to help you <%= data.field8  %> and avoid <%= data.field9  %>.</p>
<br>
<p>So stay tuned and we&#39;ll see you soon!</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Thank You Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: Thanks Again!!</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %>, the <%= data.field5  %> of <%= data.field1  %> here :-)</p>
<br>
<p>I just wanted to follow up with you from yesterday to say THANK YOU again for your wise decision to get the <%= data.field1  %> <%= data.field2  %>.</p>
<br>
<p>** REMINDER **</p>
<p>You can access your <%= data.field1  %> <%= data.field2  %> here:</p>
<p><%= data.field6  %></p>
<br>
<p>If you have any problems accessing anything, PLEASE contact us in our help desk using <%= data.field14  %></p>
<br>
<p>We are here to help you and nothing will make us happier than to see you succeed with your <%= data.field3  %>!</p>
<br>
<p>Also, another quick reminder.</p>
<br>
<p>If you haven&#39;t already, please drop what you&#39;re doing right now and go <%= data.field13  %>.</p>
<br>
<p>This is the most critical step for you getting off to a fast start to <%= data.field8  %> and avoid <%= data.field9  %>.</p>
<br>
<p>So don&#39;t wait... please do this now (if you haven&#39;t already) so you can get maximum benefit from your <%= data.field1  %> <%= data.field2  %>.</p>
<br>
<p>Talk soon,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - Keep your eyes peeled for an email from me in the next day or so where I&#39;m going to show you how to get a quick WIN with <%= data.field1  %> and start seeing amazing results with your <%= data.field3  %> fast!</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;FAST Win Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: How to get your fastest WIN with <%= data.field1  %></p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with a quick update.</p>
<br>
<p>I want to tell you how you can get a fast WIN with <%= data.field1  %> and really set your <%= data.field3  %> efforts on fire so you can <%= data.field8  %> and avoid <%= data.field9  %>.</p>
<br>
<p>The single most important thing you can do right now is <%= data.field15  %>.</p>
<br>
<p>You should do this because <%= data.field16  %></p>
<br>
<p>So there you have it... the fastst path to your first <%= data.field3  %> WIN with <%= data.field1  %>!</p>
<br>
<p>Again, if you have any questions or concerns, please contact us in our help desk using <%= data.field14  %></p>
<br>
<p>Talk soon,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - Next time I&#39;m going to share with you the personal story behind <%= data.field1  %>.</p>
<br>
<p>We&#39;ll really pull back the curtain for you and help you understand the big WHY that makes us work so hard to help you with your <%= data.field3  %>.</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Epiphany Bridge / Origin Story Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: The WHY behind <%= data.field1  %></p>
<br>
<p>Hi there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with a quick story for you.</p>
<br>
<p>A lot of people have asked why we created <%= data.field1  %>... what&#39;s the story behind all this hard work and dedication?</p>
<br>
<p>Of course, we&#39;re all about helping you get great results with your <%= data.field3  %>. That&#39;s our #1 goal!</p>
<br>
<p>But our commitment and dedication to help you <%= data.field8  %> and avoid <%= data.field9  %> goes deeper than that... much deeper!</p>
<br>
<p>So we wanted to share with you the story behind <%= data.field1  %> so you can understand the reason we do what we do and why we care so much about your <%= data.field3  %> success.</p>
<br>
<p><%= data.field17  %></p>
<br>
<p>So, that&#39;s the story behind <%= data.field1  %> :-)</p>
<br>
<p>And as you can see, what we do and why we care about you and your results goes way deeper than just &quot;<%= data.field3  %>.&quot;</p>
<br>
<p>Talk soon :-)</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - Next time we&#39;re going to talk about how you can join us on our journey and see how our story is unfolding in the future together! And, we want to hear YOUR story about how <%= data.field1  %> changes your life when it comes to <%= data.field3  %> :-)</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Let&#39;s Get Social Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: Keeping you up with the latest <%= data.field3  %> news and breakthroughs</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with an invitation.</p>
<br>
<p>How would you like to quickly and easily keep up with the latest news, tips, tricks, and breakthroughs in <%= data.field3  %>?</p>
<br>
<p>Would you like to join a community of like-minded folks who want to <%= data.field8  %> and avoid <%= data.field9  %> just like you do?</p>
<br>
<p>Well, the good news is you CAN do exaclty that - for FREE - right now :-)</p>
<br>
<p>Join us on Facebook here:</p>
<p><%= data.field11  %></p>
<br>
<p>And on Twitter here:</p>
<p><%= data.field12  %></p>
<br>
<p>This will help you stay up-to-date on everything that&#39;s important in the world of <%= data.field3  %>.</p>
<br>
<p>We do live updates, post goodies, answer questions... and lots more!</p>
<br>
<p>So join us and the rest of the <%= data.field1  %> community as we <%= data.field7  %> together :-)</p>
<br>
<p>See you there!</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Cool Bonus Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: Cool <%= data.field3  %> BONUS for you inside (open up!)</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with a sweet bonus for you to go along with your <%= data.field2  %>.</p>
<br>
<p>We want to reward you for trusting us and do everything we can to help you succeed with your <%= data.field3  %> :-)</p>
<br>
<p>So, here&#39;s the amazing bonus we&#39;ve got for you today, it&#39;s called</p>
<br>
<p>&quot;<%= data.field18  %>&quot;</p>
<br>
<p>This incredible bonus will help you <%= data.field20  %></p>
<br>
<p>Click Here to access your bonus instantly:</p>
<p>=&gt; <%= data.field21  %></p>
<br>
<p>I know you&#39;re going to love it!</p>
<br>
<p>Thanks again,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - The number ONE reason you should grab this bonus right now and devour it is because it will immediately help you <%= data.field19  %>.</p>
<br>
<p>Go ahead... check it out right now!</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Case Study Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: NEW <%= data.field3  %> success story for you!</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with an amazing case study that is going to blow your mind when it comes to what you think is possible for <%= data.field3  %> success.</p>
<br>
<p>Here&#39;s the story...</p>
<br>
<p><%= data.field22  %></p>
<br>
<p>Have a great day,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Cool #1 &quot;Speed&quot; Hack Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: A <%= data.field3  %> &quot;speed hack&quot; you can use right now</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with a quick &quot;hack&quot; that will help you get results a lot faster.</p>
<br>
<p>As you know, <%= data.field1  %> is all about helping you <%= data.field8  %> and avoid <%= data.field9  %>.</p>
<br>
<p>I wanted to share a <%= data.field1  %> &quot;speed hack&quot; with you for getting even faster results with your <%= data.field3  %>.</p>
<br>
<p>Here&#39;s what I mean...</p>
<br>
<p><%= data.field23  %></p>
<br>
<p>Seriously, if you take this &quot;speed hack&quot; to heart you&#39;ll see amazing results with <%= data.field1  %> in no time flat!</p>
<br>
<p>Let me know what you think!</p>
<br>
<p>Have a great day,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - I&#39;ll have another hack for you shortly. This one is all about how to massively reduce the effort it takes most people to get results with their <%= data.field3  %>.</p>
<br>
<p>Stay tuned!</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Cool #1 &quot;Effort&quot; Hack Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: <%= data.field1  %>: THIS makes your <%= data.field3  %> life a LOT easier... FAST</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with another quick &quot;hack&quot; that will help make your life a LOT easier.</p>
<br>
<p>Here&#39;s a <%= data.field1  %> &quot;hack&quot; that saves you a ton of time with your <%= data.field3  %>.</p>
<br>
<p>Here you go...</p>
<br>
<p><%= data.field24  %></p>
<br>
<p>So, this simple little hack will help you use <%= data.field1  %> to save a ton of time and effort!</p>
<br>
<p>Give it a try and let me know what you think!</p>
<br>
<p>Have a great day,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<p>PS - I&#39;ll have even more great content for you to get results with your <%= data.field3  %> shortly.</p>
<br>
<p>Stay tuned!</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;Links to Existing Content Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: MORE super-cool content from <%= data.field1  %> (open up!)</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with some goodies to super-charge your <%= data.field3  %>.</p>
<br>
<p>Take a peek at these...</p>
<br>
<p><%= data.field25  %></p>
<br>
<p>So, please enjoy these goodies and remember you can (and should) join us over on social media for the most up-to-date tips, tricks and tacticts to turbo-charge your <%= data.field3  %>!</p>
<br>
<p>Join us on Facebook here:</p>
<p><%= data.field11  %></p>
<br>
<p>And on Twitter here:</p>
<p><%= data.field12  %></p>
<br>
<p>We&#39;d love to hear from you!</p>
<br>
<p>Have a great day,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>&nbsp;Feedback Email</p>
<p>&nbsp;-=-=-=-=-=-=-=-</p>
<br>
<p>SUBJECT: Can we get your opinion on <%= data.field1  %>, please?</p>
<br>
<p>Hey there</p>
<br>
<p><%= data.field4  %> here from <%= data.field1  %> with a quick favor to ask.</p>
<br>
<p>We&#39;d love to get your feedback on your experiences with <%= data.field1  %> so far and how we can make things better for you.</p>
<br>
<p>Specifically we want to know:</p>
<br>
<p>* What you LOVE about <%= data.field1  %> :-)</p>
<br>
<p>* How we can help you get better results with <%= data.field3  %> AND</p>
<br>
<p>* What we can do to make <%= data.field1  %> better for you.</p>
<br>
<p>To send us feedback, just <%= data.field26  %> and tell us what you think. :-)</p>
<br>
<p>We really want to hear from you because we&#39;re so passionate about helping you do better with <%= data.field3  %> and <%= data.field1  %>.</p>
<br>
<p>Thanks!</p>
<br>
<p>Have a great day,</p>
<br>
<p><%= data.field4  %></p>
<p><%= data.field5  %></p>
<p><%= data.field1  %></p>
<br>