<p>You Entered:</p>
<p>Target Niche Market Member: <%= data.field1 %></p>
<p>#1 Good thing they want MORE of: <%= data.field2 %></p>
<p>#2 Good thing they also want MORE of: <%= data.field3 %></p>
<p>#1 Negative thing they want to avoid?: <%= data.field4 %></p>
<p>#2 Negative thing they want to avoid?: <%= data.field5 %></p>
<p>Your Name: <%= data.field6 %></p>
<p>Your product or service name: <%= data.field7 %></p>
<br>
<p>Cold Traffic (Problem-Centered)</p>
<p>Sick And Tired Of _____?</p>
<p>Are You Done With <%= data.field4 %>?</p>
<br>
<p>Are You Finally Finished With <%= data.field5 %>?</p>
<br>
<p>Are You Okay With _____?</p>
<p>Are You Okay With <%= data.field4 %>?</p>
<br>
<p>Are You Okay With <%= data.field5 %>?</p>
<br>
<p>Are You Satisfied With <%= data.field4 %>?</p>
<br>
<p>Are You Satisfied With <%= data.field5 %>?</p>
<br>
<p>Is _____ Driving you insane?</p>
<p>Is <%= data.field4 %> Making You Crazy?</p>
<br>
<p>Is <%= data.field5 %> Worrying You To Death?</p>
<br>
<p>Is <%= data.field4 %> Costing You Money as a <%= data.field1 %>?</p>
<br>
<p>Is <%= data.field5 %> Making You Nuts as a <%= data.field1 %>?</p>
<br>
<p>As a <%= data.field1 %>, Have You Ever _____?</p>
<p>As a <%= data.field1 %>, &nbsp;Did You Ever Think You&#39;d Still Be Dealing With <%= data.field4 %> At This Stage Of Your Life /Career?</p>
<br>
<p>As a <%= data.field1 %>, &nbsp;Did You Ever Think You&#39;d Still Be Dealing With <%= data.field5 %> At This Stage Of Your Life /Career?</p>
<br>
<p>Are You A _____?</p>
<p>Are You A &nbsp;<%= data.field1 %> Who Is Finally Finished With &nbsp;<%= data.field4 %>?</p>
<br>
<p>Are You A &nbsp;<%= data.field1 %> Who Is Tired Of &nbsp;<%= data.field5 %>?</p>
<br>
<br>
<p>Do You Want To Be ______?</p>
<p>Do You Want to Be A <%= data.field1 %> Who Never Deals With <%= data.field4 %>?</p>
<br>
<p>Do You Want to Be A <%= data.field1 %> Who Never Suffers From <%= data.field5 %>?</p>
<br>
<p>Worried About _____?</p>
<p>Worried About <%= data.field4 %>?</p>
<br>
<p>Worried About <%= data.field5 %>?</p>
<br>
<br>
<p>Other COLD Questions...</p>
<br>
<p>Problems with <%= data.field4 %>?</p>
<br>
<p>Problems with <%= data.field5 %>?</p>
<br>
<p>Do You Want The Solution To Your <%= data.field4 %> Problems?</p>
<br>
<p>Do You Want The Solution To Your <%= data.field5 %> Problems?</p>
<br>
<br>
<p>Do You Want To Say Goodbye To <%= data.field4 %> Problems For Good?</p>
<br>
<p>Do You Want To Say Goodbye To <%= data.field5 %> Problems For Good?</p>
<br>
<br>
<p>Want Less Headaches With <%= data.field4 %> ?</p>
<br>
<p>Want Less Headaches With <%= data.field5 %> ?</p>
<br>
<br>
<p>Ready To Put An End To <%= data.field4 %> ?</p>
<br>
<p>Ready To Put An End To <%= data.field5 %> ?</p>
<br>
<br>
<p>Want To Say Goodbye To <%= data.field4 %>?</p>
<br>
<p>Want To Say Goodbye To <%= data.field5 %>?</p>
<br>
<br>
<p>Isn&#39;t It Time You Stopped Dealing With <%= data.field4 %>?</p>
<br>
<p>Isn&#39;t It Time You Stopped Dealing With <%= data.field5 %>?</p>
<br>
<br>
<p>Does <%= data.field4 %> Keep You Awake At Night?</p>
<br>
<p>Does <%= data.field5 %> Keep You Awake At Night?</p>
<br>
<br>
<p>Suffering From / With <%= data.field4 %>?</p>
<br>
<p>Suffering From / With <%= data.field5 %>?</p>
<br>
<br>
<p>Pulling Your Hair Out Over <%= data.field4 %>?</p>
<br>
<p>Pulling Your Hair Out Over <%= data.field5 %>?</p>
<br>
<p>WARM Traffic (Solution-Centered)</p>
<p>Sick And Tired Of _____?</p>
<p>Sick And Tired Of Zero <%= data.field2 %>?</p>
<br>
<p>Sick And Tired Of Seeing Everyone Else Get <%= data.field3 %>?</p>
<br>
<p>Are You Getting Enough _____?</p>
<p>Are You Getting Enough <%= data.field2 %>?</p>
<br>
<p>Are You Getting Enough <%= data.field3 %>?</p>
<br>
<p>As A <%= data.field1 %>, Are You Satisfied With Your Current Level Of <%= data.field2 %>?</p>
<br>
<p>As A <%= data.field1 %>, Are You Satisfied With Your Current Level Of <%= data.field3 %>?</p>
<br>
<p>Are You Getting All The <%= data.field2 %> You Want?</p>
<br>
<p>Are You Getting All The <%= data.field3 %> You Want?</p>
<br>
<p>Are You Ready To Give Up On _____?</p>
<p>Are You Ready To Give Up On <%= data.field2 %>?</p>
<br>
<p>Are You Ready To Give Up On <%= data.field3 %>?</p>
<br>
<p>Are You Ready To Give Up On Getting More <%= data.field2 %>?</p>
<br>
<p>Are You Ready To Give Up On Getting More <%= data.field3 %>?</p>
<br>
<p>As a <%= data.field1 %>, Have You Ever _____?</p>
<p>As a <%= data.field1 %>, Have You Ever Said To Yourself &quot;I thought I&#39;d have more <%= data.field2 %> by now.&quot;?</p>
<br>
<p>As a <%= data.field1 %>, Have You Ever Said To Yourself &quot;I thought I&#39;d have more <%= data.field3 %> by now.&quot;?</p>
<br>
<p>As a <%= data.field1 %>, Have You Ever Said To Yourself &quot;I wish I had more <%= data.field2 %>!&quot;?</p>
<br>
<p>As a <%= data.field1 %>, Have You Ever Said To Yourself &quot;I wish I had more <%= data.field3 %>!&quot;?</p>
<br>
<p>Want MORE of _____?</p>
<p>Do You Want More <%= data.field2 %>?</p>
<br>
<p>Do You Want More <%= data.field3 %>?</p>
<br>
<p>Desire More <%= data.field2 %>?</p>
<br>
<p>Ready For More <%= data.field3 %>?</p>
<br>
<p>Want More <%= data.field2 %> Than Any Other <%= data.field1 %>?</p>
<br>
<p>Ready For More <%= data.field3 %> Than You Ever Imagined?</p>
<br>
<p>Want More <%= data.field2 %> Than Any Of Your Competitors?</p>
<br>
<p>Are You A _____</p>
<p>Are You A <%= data.field1 %> Ready For More <%= data.field2 %>?</p>
<br>
<p>Are You A <%= data.field1 %> Who Desires More <%= data.field3 %>?</p>
<br>
<p>Are You A <%= data.field1 %> Who Is Happy With The Amount of <%= data.field2 %> You&#39;re Getting?</p>
<br>
<p>Are You A <%= data.field1 %> Who Is Happy With The Amount of <%= data.field3 %> You&#39;re Getting?</p>
<br>
<p>Do You Want To Be ______</p>
<p>Do You Want to Be A <%= data.field1 %></p>
<br>
<p>Do You Want to Be A <%= data.field1 %> With Crazy Amounts Of <%= data.field2 %>?</p>
<br>
<p>Do You Want to Be A <%= data.field1 %> With Insane Amounts Of <%= data.field3 %>?</p>
<br>
<p>Worried About _____?</p>
<p>Worried About Not Having Enough <%= data.field2 %>?</p>
<br>
<p>Worried About Not Having Enough <%= data.field3 %>?</p>
<br>
<p>Other WARM Questions...</p>
<br>
<p>Ready To Say Hello To More <%= data.field2 %>?</p>
<br>
<p>Ready To Say Hello To Crazy Amounts Of <%= data.field3 %>?</p>
<br>
<p>Ready To Say Hello To Insane Amounts Of <%= data.field2 %> Than You Could Ever Want?</p>
<br>
<p>Ready To Say Hello To Tons Of <%= data.field3 %> Than You Could Ever Want?</p>
<br>
<br>
<p>Ever Wished For More <%= data.field2 %>?</p>
<br>
<p>Ever Wished For More <%= data.field3 %>?</p>
<br>
<br>
<p>Isn&#39;t It Time You Got More <%= data.field2 %>?</p>
<br>
<p>Isn&#39;t It Time You Got More <%= data.field3 %>?</p>
<br>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field2 %> You Really Want?</p>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field3 %> You Really Want?</p>
<br>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field2 %> You Deserve?</p>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field3 %> You Deserve?</p>
<br>
<br>
<p>Are You Interested In <%= data.field2 %>?</p>
<br>
<p>Are You Interested In <%= data.field3 %>?</p>
<br>
<br>
<p>Are You Curious About <%= data.field2 %>?</p>
<br>
<p>Are You Curious About <%= data.field3 %>?</p>
<br>
<br>
<p>Are You Ready For <%= data.field2 %>?</p>
<br>
<p>Are You Ready For <%= data.field3 %>?</p>
<br>
<br>
<p>Who Could Say No To <%= data.field2 %>?</p>
<br>
<p>Who Could Say No To <%= data.field3 %>?</p>
<br>
<br>
<p>Don&#39;t You Need More <%= data.field2 %>?</p>
<br>
<p>Don&#39;t You Need More <%= data.field3 %>?</p>
<br>
<br>
<p>You Deserve More <%= data.field2 %>, Right?</p>
<br>
<p>You Deserve More <%= data.field3 %>, Right?</p>
<br>
<br>
<p>Don&#39;t You Wish You Could Have More <%= data.field2 %>?</p>
<br>
<p>Don&#39;t You Wish You Could Have More <%= data.field3 %>?</p>
<br>
<br>
<p>Wouldn&#39;t You Like To Have More <%= data.field2 %>?</p>
<br>
<p>Wouldn&#39;t You Like To Have More <%= data.field3 %>?</p>
<br>
<br>
<p>Confused About How To Get More <%= data.field2 %>?</p>
<br>
<p>Confused About How To Get More <%= data.field3 %>?</p>
<br>
<br>
<p>What&#39;s The Best Way To Get More <%= data.field2 %>?</p>
<br>
<p>What&#39;s The Best Way To Get More <%= data.field3 %>?</p>
<br>
<br>
<p>What&#39;s The Best Way For Every <%= data.field1 %> To Get More <%= data.field2 %>?</p>
<br>
<p>What&#39;s The Best Way For Every <%= data.field1 %> To Get More <%= data.field3 %>?</p>
<br>
<p>Hot Traffic (Product or Personality-Centered)</p>
<p>Ready To See How ______?</p>
<p>Ready To See How <%= data.field7 %> Can Get You Insane Amounts Of <%= data.field2 %>, Too?</p>
<br>
<p>Ready To See How <%= data.field7 %> Can Get You Insane Amounts Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Ready To See How <%= data.field6 %> Can Get You Lots Of <%= data.field2 %>, Too?</p>
<br>
<p>Ready To See How <%= data.field6 %> Can Get You Lots Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Ready To See How <%= data.field7 %> From <%= data.field6 %> Can Get You Lots Of <%= data.field2 %> Like These Other Field1s Do?</p>
<br>
<p>Ready To See How <%= data.field7 %> From <%= data.field6 %> Can Get You Tons Of <%= data.field3 %> Like These Other Field1s Do?</p>
<br>
<p>Can You ______?</p>
<p>Can <%= data.field7 %> Get You Insane Amounts Of <%= data.field2 %>, Too?</p>
<br>
<p>Can <%= data.field7 %> Get You Lots Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Can <%= data.field6 %> Get You Insane Amounts Of <%= data.field2 %>, Too?</p>
<br>
<p>Can <%= data.field6 %> Get You Crazy Amounts Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Can <%= data.field7 %> From <%= data.field6 %> Get You Lots Of <%= data.field2 %>, Too?</p>
<br>
<p>Can <%= data.field7 %> From <%= data.field6 %> Get You Tons Of <%= data.field3 %>, Too?</p>
<br>
<p>Will You ______?</p>
<p>Will You Let <%= data.field7 %> Get You Lots Of <%= data.field2 %>, Too?</p>
<br>
<p>Will You Let <%= data.field7 %> Get You More <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Will You Let <%= data.field6 %> Get You Crazy Amounts Of <%= data.field2 %>, Too?</p>
<br>
<p>Will You Let <%= data.field6 %> Get You Crazy Amounts Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Will You Let <%= data.field7 %> From <%= data.field6 %> Get You Crazy Amounts Of &nbsp;<%= data.field2 %>, Too?</p>
<br>
<p>Will You Let <%= data.field7 %> From <%= data.field6 %> Get You Insane Amounts Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Will You Let <%= data.field7 %> Help You Get More <%= data.field2 %>, Too?</p>
<br>
<p>Will You Let <%= data.field7 %> Help You Get Tons Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Will You Let <%= data.field6 %> Help You Get Insane Amounts Of <%= data.field2 %>, Too?</p>
<br>
<p>Will You Let <%= data.field6 %> Help You Get Tons Of <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Will You Let <%= data.field7 %> From <%= data.field6 %> Help You Get More <%= data.field2 %>, Too?</p>
<br>
<p>Will You Let <%= data.field7 %> From <%= data.field6 %> Help You Get More <%= data.field3 %>, Too?</p>
<br>
<br>
<p>Will You Let <%= data.field7 %> From <%= data.field6 %> Help You Get Insane Amounts Of <%= data.field2 %> Like All These Other Field1s Do?</p>
<br>
<p>Will You Let <%= data.field7 %> From <%= data.field6 %> Help You Get More <%= data.field3 %> Like All These Other Field1s Do?</p>
<br>
<p>Do You Want More ______?</p>
<p>Do You Want More <%= data.field2 %> With <%= data.field7 %>?</p>
<br>
<p>Do You Want Lots Of <%= data.field3 %> With <%= data.field7 %>?</p>
<br>
<br>
<p>Do You Want Insane Amounts Of <%= data.field2 %> With <%= data.field6 %>&#39;s <%= data.field7 %>?</p>
<br>
<p>Do You Want Insane Amounts Of <%= data.field3 %> With <%= data.field6 %>&#39;s <%= data.field7 %>?</p>
<br>
<br>
<p>Do You Want To Get Insane Amounts Of <%= data.field2 %> With <%= data.field7 %> Like These Other Field1s Do?</p>
<br>
<p>Do You Want To Get Crazy Amounts Of <%= data.field3 %> With <%= data.field7 %> Like These Other Field1s Do?</p>
<br>
<br>