<p>Free Report Cover Letter</p>
<p>(Use as the FIRST page in your free report)</p>
<br>
<p>Hi, my name is <%= data.field1  %> and welcome to &quot;<%= data.field5  %>&quot;.</p>
<br>
<p>You&#39;re about to discover the secret of <%= data.field12  %>.</p>
<br>
<p>We&#39;ve created this Meaty <%= data.field13  %> for you to give you the answers to these important questions and challenges every <%= data.field3  %> faces:</p>
<br>
<p>* <%= data.field6  %></p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* <%= data.field9  %></p>
<br>
<p>* <%= data.field10  %></p>
<br>
<p>Also, if you&#39;re serious about wanting to <%= data.field15  %>, make sure to check out this exciting resource right now - Click Here</p>
<br>
<p>Enjoy!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>Sponsor Box</p>
<p>(Use throughout your report to promote your target offer)</p>
<br>
<p>&quot;<%= data.field17  %>&quot;</p>
<p><%= data.field18  %></p>
<p>&nbsp;Click Here Now To <%= data.field11  %>!</p>
<br>
<br>
<p>Free Report Conclusion Page</p>
<p>(Use as the LAST page in your free report)</p>
<p>So there you have it - &quot;<%= data.field5  %>&quot;.</p>
<br>
<p>This meaty free report really delivered the goods when it comes to answering these important questions and challenges every <%= data.field3  %> faces.</p>
<br>
<p>BUT, as you can also see, this is just the TIP of the iceberg when it comes to <%= data.field12  %>!</p>
<br>
<p>So, if you&#39;re serious about wanting to <%= data.field15  %> and you want <%= data.field11  %>, then you need to check out &quot;<%= data.field17  %>&quot; right now - Click Here</p>
<br>
<p>Have a great day!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>Audio Script -</p>
<p>General Opt-In Offer Draft</p>
<p>(Use on a landing page of your funnel</p>
<p>or in the upper right on blog sidebar)</p>
<p>Hi, my name is <%= data.field1  %> and welcome to <%= data.field2  %>.</p>
<br>
<p>You&#39;re about to discover the secret of <%= data.field12  %>.</p>
<br>
<p>We&#39;ve created a <%= data.field13  %> for you that explains <%= data.field14  %>.</p>
<br>
<p>Also, on the next page you&#39;ll get all the details about how you can immediately <%= data.field15  %>.</p>
<br>
<p>So, go head, put in your name and primary email address, click the &quot;Send My <%= data.field13  %>&quot; button right now and we&#39;ll see you on the inside.</p>
<br>
<p>Video Script:</p>
<p>Squeeze Page Offer</p>
<p>(Use on the FIRST page of your Opt-In Funnel)</p>
<br>
<p>Hi, my name is <%= data.field1  %> and welcome to <%= data.field2  %>.</p>
<br>
<p>In the next few minutes you are going to discover how <%= data.field4  %> from all over the country/world <%= data.field11  %>.</p>
<br>
<p>We&#39;ve even put together a Meaty <%= data.field13  %> for you that explains <%= data.field14  %>. It specifically addresses the questions of:</p>
<br>
<p>* <%= data.field6  %></p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* and MORE!</p>
<br>
<p>Just enter your first name, your email address and click the &quot;Send My <%= data.field13  %>&quot; button below and you&#39;ll instantly receive the <%= data.field13  %> by return email.</p>
<br>
<p>Also, on the next page, you&#39;ll receive all the information that shows you <%= data.field12  %>.</p>
<br>
<p>So go ahead... enter your first name, your email address and click the &quot;Send My <%= data.field13  %>&quot; button to instantly receive the <%= data.field13  %> by return email.</p>
<br>
<p>Basic Opt-in / Squeeze Page&nbsp;</p>
<p>with VIDEO Template</p>
<br>
<p><%= data.field13  %>! &quot;<%= data.field5  %>&quot;</p>
<p>&lt;&lt;&lt;VIDEO Goes Here&gt;&gt;&gt;</p>
<p>* How you can <%= data.field11  %>...</p>
<br>
<p>* Get <%= data.field14  %>...</p>
<br>
<p>* How to <%= data.field15  %> quickly!</p>
<br>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>YES!I&#39;m ready to discover <%= data.field12  %> and <%= data.field11  %>! Please send my <%= data.field13  %> now... &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>We respect your email privacy!</p>
<p>&nbsp;---------------------------------------------------------------------------------</p>
<p>Contact information and disclaimer links</p>
<p>&nbsp;(c) &nbsp;Copyright - <%= data.field1  %> - All Rights Reserved</p>
<br>
<br>
<p>Basic Opt-in /Squeeze Page Template</p>
<p>with NO Video or Audio</p>
<br>
<p><%= data.field13  %>! &quot;<%= data.field5  %>&quot;</p>
<p>* How you can <%= data.field11  %></p>
<br>
<p>* Get <%= data.field14  %></p>
<br>
<p>* How to <%= data.field15  %> quickly!</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<br>
<p>Hi, my name is <%= data.field1  %> and welcome to <%= data.field2  %>.</p>
<p>In the next few minutes you are going to discover how every <%= data.field3  %> from all over the country/world can <%= data.field11  %>.</p>
<p>In fact, we&#39;ve even put together a Meaty <%= data.field13  %> for you that specifically addresses the questions of:</p>
<p>&nbsp; &nbsp;</p>
<p>* <%= data.field6  %></p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* and MORE!</p>
<br>
<p>Just enter your first name, your email address and click the &quot;Send My <%= data.field13  %>&quot; button below and you&#39;ll instantly receive the <%= data.field13  %> by return email.</p>
<br>
<p>Also, on the next page, you&#39;ll receive all the information that shows you <%= data.field12  %>.</p>
<br>
<p>So go ahead... enter your first name, your email address and click the &quot;Send My <%= data.field13  %>&quot; button to instantly receive the <%= data.field13  %> by return email.</p>
<br>
<p>&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp;YES! I&#39;m ready to discover <%= data.field12  %> and <%= data.field11  %>! Please send my <%= data.field13  %> now... &nbsp; &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>We respect your email privacy!</p>
<p>---------------------------------------------------------------------------------</p>
<p>Contact information and disclaimer links</p>
<p>(c) Copyright - <%= data.field1  %> - All Rights Reserved</p>
<br>
<br>
<p>Basic Download Page For Free Report / Video</p>
<br>
<p>Download Page</p>
<p>&nbsp;<%= data.field13  %>! &quot;<%= data.field5  %>&quot;</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>* How you can <%= data.field11  %></p>
<br>
<p>* Get <%= data.field14  %></p>
<br>
<p>* How to <%= data.field15  %> quickly!</p>
<p>&nbsp;Download your <%= data.field13  %> right here:</p>
<p>&nbsp;&quot;Right Click&quot; Here To Download- &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;&quot;<%= data.field17  %>&quot;<%= data.field18  %></p>
<p>&nbsp;Click Here Now To <%= data.field11  %>!</p>
<p>&nbsp; &nbsp; &nbsp;&nbsp;</p>
<br>
<p>Basic Opt-in Autoresponder Message #1</p>
<p>(Sent automatically when they opt in for the report)</p>
<p>SUBJECT: {FIRSTNAME}, FREE Report you requested (Download)</p>
<br>
<p>Hi {FIRSTNAME},</p>
<br>
<p>Here&#39;s the FREE <%= data.field13  %> you requested from us at <%= data.field2  %> :-)</p>
<br>
<p>&quot;<%= data.field5  %>&quot;</p>
<br>
<p>You can grab the <%= data.field13  %> here:</p>
<p>=&gt; DOWNLOAD LINK</p>
<br>
<p>You&#39;re about to discover the secret of <%= data.field12  %>.</p>
<br>
<p>We&#39;ve created this Meaty <%= data.field13  %> for you to give you the answers to the important questions and challenges every <%= data.field3  %> faces!</p>
<br>
<p>By the way, if you&#39;re serious about wanting to <%= data.field15  %>, make sure to check out &quot;<%= data.field17  %>&quot; right now at <%= data.field16  %></p>
<br>
<p>Enjoy!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS - If you want <%= data.field11  %>, then you need to check this out right now - <%= data.field16  %></p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Name</p>
<p>Address</p>
<p>Phone</p>
<p>Support Email / URL</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>You are receiving this email because you</p>
<p>(or someone using your email address)</p>
<p>requested the <%= data.field13  %></p>
<p>&quot;<%= data.field5  %>&quot;</p>
<p>from <%= data.field2  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}</p>
<br>
<br>
<p>Basic Opt-in Autoresponder Message #2</p>
<p>(Sent 24 hours after they opt in for the report)</p>
<p>SUBJECT: Quick follow up - did you get it, {FIRSTNAME}?</p>
<p>Hi {FIRSTNAME},</p>
<br>
<p><%= data.field1  %> here from <%= data.field2  %></p>
<br>
<p>I&#39;m emailing because I wanted to follow up to say &quot;Thanks&quot; and make sure you were able to access the <%= data.field13  %> you requested from us yesterday.</p>
<br>
<p>&quot;<%= data.field5  %>&quot;</p>
<br>
<p>If you want <%= data.field12  %>, grab the <%= data.field13  %> right here:</p>
<br>
<p>=&gt; DOWNLOAD LINK</p>
<br>
<p>Thanks again and let us know if you have any questions :-)</p>
<br>
<p>Enjoy!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS - By the way, if you&#39;re serious about wanting to <%= data.field15  %>, make sure to check out &quot;<%= data.field17  %>&quot; right now at <%= data.field16  %></p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Name</p>
<p>Address</p>
<p>Phone</p>
<p>Support Email / URL</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>You are receiving this email because you</p>
<p>(or someone using your email address)</p>
<p>requested the <%= data.field13  %></p>
<p>&quot;<%= data.field5  %>&quot;</p>
<p>from <%= data.field2  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}</p>
<p>&nbsp;</p>
<br>
<p>Basic Announcement Teaser #1</p>
<p>to your List (Or Affiliate)</p>
<p>(Send to list to announce the report)</p>
<p>SUBJECT: {FIRSTNAME}, Here&#39;s a cool new <%= data.field13  %> for you</p>
<p>Hi {FIRSTNAME},</p>
<br>
<p><%= data.field1  %> here from <%= data.field2  %></p>
<br>
<p>I&#39;m emailing because I just published a cool new <%= data.field13  %> for you entitled:</p>
<br>
<p>&quot;<%= data.field5  %>&quot;</p>
<br>
<p>=&gt; OPT-IN PAGE or DOWNLOAD LINK (if they&#39;re already on your list)</p>
<p>We&#39;ve created this Meaty <%= data.field13  %> for you to give you the answers to these important questions and challenges every <%= data.field3  %> faces:</p>
<p>* <%= data.field6  %></p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* <%= data.field9  %></p>
<br>
<p>* <%= data.field10  %></p>
<br>
<p>So, if you want <%= data.field12  %>, grab the <%= data.field13  %> right here:</p>
<p>=&gt; OPT-IN PAGE or DOWNLOAD LINK</p>
<br>
<p>Enjoy!</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS - If you&#39;re serious about wanting <%= data.field14  %> grab this <%= data.field13  %> right now:</p>
<br>
<p>=&gt; OPTIN PAGE or DOWNLOAD LINK</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Name</p>
<p>Address</p>
<p>Phone</p>
<p>Support Email / URL</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;</p>
<br>
<p>Basic Announcement Teaser #2 Follow Up</p>
<p>to your List (Or Affiliate)</p>
<p>(Sent to list 1-2 days after first notification)</p>
<p>SUBJECT: In case you missed it, {FIRSTNAME}</p>
<p>Hi {FIRSTNAME Friend},</p>
<br>
<p>In case you missed it, I released a neat <%= data.field13  %> a couple of days ago: &quot;<%= data.field5  %>&quot;</p>
<br>
<p>=&gt; OPT-IN PAGE or DOWNLOAD LINK</p>
<br>
<p>It addresses:</p>
<br>
<p>* How you can <%= data.field11  %></p>
<br>
<p>* Get <%= data.field14  %></p>
<br>
<p>* How to <%= data.field15  %> quickly!</p>
<br>
<p>and more!</p>
<br>
<p>Claim your copy here and have a great day :-)</p>
<br>
<p>=&gt; OPT-IN PAGE or DOWNLOAD LINK</p>
<br>
<p><%= data.field1  %></p>
<br>
<p>P.S. - If you&#39;ve ever wondered &quot;<%= data.field6  %>&quot; or &quot;<%= data.field7  %>&quot; this <%= data.field13  %> is exactly what you want!</p>
<br>
<p>Check it out here:</p>
<p>=&gt; DOWNLOAD LINK</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Name</p>
<p>Address</p>
<p>Phone</p>
<p>Support Email / URL</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp;&nbsp;</p>
<br>
<p>&quot;Stealth&quot; Closes for your <%= data.field13  %></p>
<p>Use these in social media posts, author boxes, emails, blog posts, and more to promote your <%= data.field13  %></p>
<br>
<p>By the way, if you liked this (article / video / post, etc.), you&#39;ll LOVE this Meaty <%= data.field13  %> I just published on <%= data.field14  %>. It&#39;s titled &quot;<%= data.field5  %>&quot; and you can grab it for free here FREE REPORT LINK</p>
<br>
<br>
<p>Oh, before I forget, here&#39;s a <%= data.field13  %> I just published entitled &quot;<%= data.field5  %>&quot; - you can grab it for free here FREE REPORT LINK</p>
<br>
<br>
<p>Want more? Grab this Meaty <%= data.field13  %> - &quot;<%= data.field5  %>&quot; - right here... right now! FREE REPORT LINK</p>
<br>
<br>
<p>Hey, by the way... Here&#39;s something I think will really interest you. It&#39;s a *very* meaty <%= data.field13  %> all about <%= data.field14  %>. It&#39;s titled &quot;<%= data.field5  %>&quot; and you can grab it for free here FREE REPORT LINK</p>
<br>
<br>
<p>If you want more detailed info about how to <%= data.field11  %>, check out this meaty <%= data.field13  %> entitled &quot;<%= data.field5  %>&quot; - Claim Your Copy Here - Free! FREE REPORT LINK</p>
<br>
<br>