<p>Variables Entered</p>
<p>Your Name: <%= data.field1  %></p>
<p>Webinar Title: <%= data.field2  %></p>
<p>Target niche audience (singular): <%= data.field3  %></p>
<p>Big payoff target audience wants (starts with verb): <%= data.field4  %></p>
<p>Big &quot;how to&quot; secret they want to know: <%= data.field5  %></p>
<p>Pain they want to avoid: <%= data.field6  %></p>
<p>First point you&#39;ll cover: <%= data.field7  %></p>
<p>Second point you&#39;ll cover: <%= data.field8  %></p>
<p>Third point you&#39;ll cover: <%= data.field9  %></p>
<p>Fourth point you&#39;ll cover: <%= data.field10  %></p>
<p>Fifth point you&#39;ll cover: <%= data.field11  %></p>
<p>1. Use the video script to do live motion video or &quot;PowerPoint&quot; video for the opt-in page</p>
<p>2. Use the on-page text to create the sales copy text for your landing pageVideo Script</p>
<p>Attention field3s who want to <%= data.field4  %>.</p>
<br>
<p>You&#39;re about to discover the secrets of <%= data.field5  %> without the pain of <%= data.field6  %>.</p>
<br>
<p>Hi, my name is <%= data.field1  %> and I&#39;d like to invite you to attend a very special webinar event titled:</p>
<br>
<p><%= data.field2  %></p>
<br>
<p>On this webinar training, you&#39;ll discover the answers every <%= data.field3  %> needs to know, including:</p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* <%= data.field9  %></p>
<br>
<p>* <%= data.field10  %></p>
<br>
<p>* <%= data.field11  %></p>
<br>
<p>So if you&#39;re serious about wanting to <%= data.field4  %> without <%= data.field6  %>, register now for this special event that will show you exactly <%= data.field5  %>.</p>
<br>
<p>Register NowOn-Page Text</p>
<p><%= data.field1  %> Presents:</p>
<p>Free LIVE Webinar</p>
<p>&quot;<%= data.field5  %> Without The Pain of <%= data.field6  %>&quot;</p>
<p>&lt;&lt;&lt;VIDEO HERE (optional)&gt;&gt;&gt;</p>
<p>Attention field3s who want to <%= data.field4  %>.</p>
<br>
<p>You&#39;re about to discover the secrets of <%= data.field5  %> without the pain of <%= data.field6  %>.</p>
<br>
<p>Hi, my name is <%= data.field1  %> and I&#39;d like to invite you to attend a very special webinar event titled:</p>
<p>&quot;<%= data.field2  %>&quot;</p>
<p>I&#39;ll show you:</p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* <%= data.field9  %></p>
<br>
<p>* <%= data.field10  %></p>
<br>
<p>* <%= data.field11  %></p>
<br>
<p>So if you&#39;re serious about wanting to <%= data.field4  %> without <%= data.field6  %>, register now for this special event that will show you exactly <%= data.field5  %>.</p>
<br>
<p>WARNING: Space is limited and these LIVE trainings always fill up because they are significantly better than the information others charge you thousands for... even though they are free.</p>
<br>
<p>This one will be no exception. So claim your spot now!</p>
<br>
<p>Register Now</p>
<br>