<p>Variables Entered:</p>
<p>location= <%= data.field1 %></p>
<p>person= <%= data.field2 %></p>
<p>insider (singluar)= <%= data.field3 %></p>
<p>insiders (plural)= <%= data.field4 %></p>
<p>topic= <%= data.field5 %></p>
<p>amountbrokendown= <%= data.field6 %></p>
<p>amountgross= <%= data.field7 %></p>
<p>ultimateresultwant= <%= data.field8 %></p>
<p>desiredaction= <%= data.field9 %></p>
<p>basickeyword= <%= data.field10 %></p>
<p>emotionalresult= <%= data.field11 %></p>
<p>idealperson (singular)= <%= data.field12 %></p>
<p>idealperson (plural)= <%= data.field13 %></p>
<p>timeframe= <%= data.field14 %></p>
<p>emotiontheywantfeel= <%= data.field15 %></p>
<p>pain= <%= data.field16 %></p>
<p>Edit the ads that make the most sense. Use them for text ads, graphical ads, author boxes, &amp; more!</p>
<p>Want to be a <%= data.field12 %>?</p>
<p><%= data.field2 %> shows you weird trick to <%= data.field8 %></p>
<p>... in <%= data.field14 %></p>
<br>
<p>Want to be a <%= data.field12 %>?</p>
<p><%= data.field2 %> shows you weird trick to <%= data.field9 %></p>
<p>... in <%= data.field14 %></p>
<br>
<p>Want to be a <%= data.field12 %>?</p>
<p><%= data.field2 %> shows you weird trick to <%= data.field11 %></p>
<p>... in <%= data.field14 %></p>
<br>
<p><%= data.field1 %>: <%= data.field2 %> makes <%= data.field4 %> furious</p>
<p><%= data.field1 %>: <%= data.field2 %> publishes free <%= data.field5 %> secret that has angered...</p>
<br>
<p><%= data.field1 %>: <%= data.field2 %> makes <%= data.field6 %></p>
<p>We investigated how she makes <%= data.field7 %>. You won&#39;t beleive...</p>
<br>
<p><%= data.field5 %> EXPOSED</p>
<p>Do NOT try until you read this new report on the results of using...</p>
<br>
<p><%= data.field4 %> Fear Her!</p>
<p>A shocking <%= data.field5 %> trick has <%= data.field4 %> annoyed. Try this weird solution and <%= data.field8 %></p>
<br>
<p><%= data.field4 %> Fear Her!</p>
<p>A shocking <%= data.field5 %> trick has <%= data.field4 %> annoyed. Try this weird solution and <%= data.field8 %> in <%= data.field14 %></p>
<br>
<p><%= data.field8 %> [FREE] - Watch this video and learn a secret</p>
<br>
<p><%= data.field11 %> [FREE] - Watch this video and learn a secret</p>
<br>
<p><%= data.field5 %> Success [FREE] - Watch this video and learn a secret</p>
<br>
<p>Makes up to <%= data.field6 %> [FREE] - Watch this video and learn a secret</p>
<br>
<p>Up to <%= data.field7 %> [FREE] - Watch this video and learn a secret</p>
<br>
<p>Want <%= data.field8 %>? Click here for the #1 Secret [FREE]</p>
<br>
<p>Want <%= data.field8 %>? [FREE] Click here for the #1 Secret</p>
<br>
<p>X# Ways to <%= data.field9 %> by next Friday</p>
<p>X# Ways to <%= data.field9 %> Fast</p>
<p>X# Ways to <%= data.field9 %> in <%= data.field14 %></p>
<br>
<p>X# Ways to <%= data.field9 %> by next Friday Without <%= data.field16 %></p>
<p>X# Ways to <%= data.field9 %> Fast Without <%= data.field16 %></p>
<p>X# Ways to <%= data.field9 %> in <%= data.field14 %> Without <%= data.field16 %></p>
<br>
<p><%= data.field2 %> publishes simple <%= data.field10 %> secret that has angered <%= data.field4 %>...</p>
<p><%= data.field2 %> publishes simple <%= data.field10 %> secret. <%= data.field4 %> furious!...</p>
<br>
<p><%= data.field2 %> publishes simple <%= data.field10 %> secret MOST <%= data.field4 %> don&#39;t want you to know...</p>
<p><%= data.field2 %> publishes insdier <%= data.field10 %> secret <%= data.field4 %> don&#39;t want you to know...</p>
<br>
<p><%= data.field2 %> publishes insider <%= data.field10 %> secret that has angered <%= data.field4 %>...</p>
<p><%= data.field2 %> publishes insider <%= data.field10 %> secrets. <%= data.field4 %> furious!...</p>
<br>
<p>Weird trick helps <%= data.field2 %> <%= data.field8 %></p>
<p>Weird trick helps <%= data.field2 %> <%= data.field8 %> in <%= data.field14 %></p>
<br>
<p>Here&#39;s the secret this <%= data.field2 %> published that enraged <%= data.field4 %></p>
<p>Here&#39;s the secret this <%= data.field2 %> published that made <%= data.field4 %> angry</p>
<br>
<p>Here&#39;s an Old-school tip to <%= data.field8 %></p>
<p>Here&#39;s an Old-school tip to <%= data.field8 %> in <%= data.field14 %></p>
<br>
<p><%= data.field9 %> [FREE] #1 Tip!</p>
<br>
<p>Feel the <%= data.field15 %> <%= data.field11 %> of <%= data.field8 %> - <%= data.field2 %> reveals little-known tricks used by <%= data.field13 %></p>
<br>
<p>Want <%= data.field11 %>?</p>
<br>
<p><%= data.field2 %> reveails little-known <%= data.field12 %> secrets she uses to <%= data.field11 %></p>
<p><%= data.field2 %> reveails little-known <%= data.field12 %> secrets she uses to <%= data.field8 %></p>
<br>
<p>Here&#39;s what <%= data.field4 %> PRAY you NEVER find out...</p>
<p>Here&#39;s what <%= data.field4 %> PRAY you NEVER figure out on your own...</p>
<p>Heres&#39; the <%= data.field5 %> secret <%= data.field4 %> know you&#39;ll NEVER figure out on your own...</p>
<br>
<p>Here&#39;s the <%= data.field9 %> secret that <%= data.field4 %> will NEVER tell you...</p>
<p>Here&#39;s the <%= data.field5 %> secret that <%= data.field4 %> will NEVER tell you...</p>
<br>
<p>Here&#39;s the secret to <%= data.field9 %> that <%= data.field4 %> will NEVER tell you...</p>
<p>Here&#39;s the secret to <%= data.field5 %> that <%= data.field4 %> will NEVER tell you...</p>
<br>
<p>Simple <%= data.field5 %> trick that makes <%= data.field4 %> obsolete - and they&#39;re really angry!</p>
<br>
<p>Odd <%= data.field5 %> trick makes <%= data.field2 %> from <%= data.field1 %> <%= data.field11 %></p>
<p>Odd <%= data.field5 %> trick makes <%= data.field2 %> from <%= data.field1 %> <%= data.field11 %> in <%= data.field14 %></p>
<br>
<p><%= data.field2 %> from <%= data.field1 %> uses old-school <%= data.field5 %> trick to <%= data.field8 %></p>
<p><%= data.field2 %> from <%= data.field1 %> uses old-school <%= data.field5 %> trick to <%= data.field8 %> in <%= data.field14 %></p>
<br>
<p><%= data.field1 %>: <%= data.field2 %> reveals how she <%= data.field11 %> using weird <%= data.field10 %> tricks anyone can do</p>
<br>
<p>If you want to be <%= data.field12 %>, read this</p>
<br>
<p>Now! X# Ways to <%= data.field9 %> Fast</p>
<p>Now! X# Ways to be a <%= data.field12 %> - Fast</p>
<p>Now! X# Ways to get <%= data.field11 %> - Fast</p>
<br>
<p>Now! X# Ways to <%= data.field9 %> in <%= data.field14 %></p>
<p>Now! X# Ways to be a <%= data.field12 %> in <%= data.field14 %></p>
<p>Now! X# Ways to get <%= data.field11 %> in <%= data.field14 %></p>
<p>Now! X# Ways to get <%= data.field11 %> as a <%= data.field12 %> in <%= data.field14 %></p>
<br>
<p><%= data.field5 %>: Become <%= data.field12 %> Without <%= data.field16 %></p>
<p><%= data.field5 %>: <%= data.field2 %> reveals how to Become <%= data.field12 %></p>
<p><%= data.field5 %>: <%= data.field2 %> reveals how to Become <%= data.field12 %> Without <%= data.field16 %></p>
<br>
<p><%= data.field2 %> reveals how to get <%= data.field11 %> without <%= data.field16 %></p>
<p><%= data.field2 %> reveals how to be <%= data.field12 %> without <%= data.field16 %></p>
<br>
<p>The #1 Thing You should NEVER do if you want <%= data.field8 %></p>
<p>The #1 Thing You should Do RIGHT NOW if you want to be a <%= data.field12 %></p>
<p>The #1 <%= data.field5 %> Mistake people make that keeps them from <%= data.field8 %></p>
<p>The #1 <%= data.field5 %> Mistake people make that keeps them from <%= data.field12 %></p>
<br>
<p>The #1 Mistake that keeps people from becoming <%= data.field8 %></p>
<p>The #1 Mistake that keeps people from becoming a <%= data.field12 %></p>
<br>
<p>Feel the <%= data.field15 %> <%= data.field13 %> feel</p>
<p>Feel the <%= data.field15 %> <%= data.field13 %> feel -- Without <%= data.field16 %>!</p>
<p>Feel the <%= data.field15 %> <%= data.field13 %> feel -- in <%= data.field14 %>!</p>
<br>
<p>Feel the <%= data.field15 %> of a <%= data.field12 %></p>
<p>Feel the <%= data.field15 %> of a <%= data.field12 %> -- Without <%= data.field16 %>!</p>
<p>Feel the <%= data.field15 %> of a <%= data.field12 %> -- in <%= data.field14 %>!</p>
<br>
<p><%= data.field2 %> reveals how to enjoy the <%= data.field15 %> <%= data.field13 %> feel</p>
<p><%= data.field2 %> reveals how to enjoy the <%= data.field15 %> <%= data.field13 %> feel -- Without <%= data.field16 %>!</p>
<p><%= data.field2 %> reveals how to enjoy the <%= data.field15 %> <%= data.field13 %> feel -- in <%= data.field14 %>!</p>
<br>
<p><%= data.field2 %> reveals how to enjoy the <%= data.field15 %> of a <%= data.field12 %></p>
<p><%= data.field2 %> reveals how to enjoy the <%= data.field15 %> of a <%= data.field12 %> -- Without <%= data.field16 %>!</p>
<p><%= data.field2 %> reveals how to enjoy the <%= data.field15 %> of a <%= data.field12 %> -- in <%= data.field14 %>!</p>
<br>
<p>5 Odd <%= data.field5 %> tricks that <%= data.field15 %></p>
<p>5 Odd <%= data.field5 %> tricks that <%= data.field8 %></p>
<p>5 Odd <%= data.field5 %> tricks that can make you up to <%= data.field6 %></p>
<p>5 Odd <%= data.field5 %> tricks that can make you up to <%= data.field7 %></p>
<p>5 Odd <%= data.field5 %> tricks that can make you a <%= data.field12 %></p>
<br>
<p>5 Odd <%= data.field5 %> tricks that made this <%= data.field2 %> a <%= data.field12 %></p>
<p>5 Odd <%= data.field5 %> tricks that made this <%= data.field2 %> a <%= data.field12 %> in <%= data.field14 %></p>
<p>5 Odd <%= data.field5 %> tricks made this <%= data.field2 %> a <%= data.field12 %> in <%= data.field14 %></p>
<br>
<p>5 Odd <%= data.field5 %> Tricks Make <%= data.field2 %> a <%= data.field12 %> in <%= data.field14 %></p>