<p>Variables Entered:</p>
<br>
<p>Opportunity Switch Headline / Title: <%= data.field1 %></p>
<p>The Big &quot;How To&quot; they want to know: <%= data.field2 %></p>
<p>The Date of your LIVE Masterclass: <%= data.field3 %></p>
<br>
<p>FREE Live Workshop</p>
<p>&quot;<%= data.field1 %>&quot;</p>
<p>&quot;What&#39;s your #1 question about how to <%= data.field2 %>?&quot;</p>
<p>Dear friend,</p>
<br>
<p>I know your time is valuable, so I&#39;ll get right to the point. I need your advice.</p>
<br>
<p>I&#39;m putting finishing touches on a new course called &quot;<%= data.field1 %>&quot;.</p>
<br>
<p>I want to make sure I don&#39;t leave anything out, so will you let me know your biggest question about how to <%= data.field2 %>?</p>
<br>
<p>It could be anything. You may think it&#39;s silly. All you have to do is type your questions in the box below and click Submit.</p>
<br>
<p>In exchange for your advice, I&#39;ll give you FREE access to my masterclass that&#39;s happening on <%= data.field3 %>.</p>
<br>
<p>This course will sell for $197 in the near future, but you&#39;ll get special access to experience the course free when you let me know your #1 question. Okay, here is the easy form...</p>
<br>
<br>