<p>Variables EnteredTarget Audience (Singular): <%= data.field1  %></p>
<p>Topic: <%= data.field2  %></p>
<p>** Tip Content Ideas **</p>
<p>11 Great <%= data.field2  %> tips for field1s</p>
<br>
<p>What are 3 insider <%= data.field2  %> tips every <%= data.field1  %> needs to know?</p>
<br>
<p>What are 3 advanced <%= data.field2  %> tips field1s need to know?</p>
<br>
<p>What are 5 <%= data.field2  %> tips an experienced <%= data.field1  %> can use immediately?</p>
<br>
<p>What&#39;s your #1 quick start tip for field1s looking for a fast results with <%= data.field2  %>?</p>
<br>
<p>What is your #1 time-saving tip for <%= data.field2  %>?</p>
<p>&nbsp;</p>
<p>** Problem Content Ideas **</p>
<p>What are the most common <%= data.field2  %> problems field1s face?</p>
<br>
<p>What are some credibility issues field1s will face with <%= data.field2  %>?</p>
<p>&nbsp;</p>
<p>What&#39;s the #1 <%= data.field2  %> TIME WASTER field1s need to avoid?</p>
<br>
<p>What&#39;s the biggest <%= data.field2  %> obstacle field1s face?</p>
<p>&nbsp;</p>
<p>What&#39;s the #1 DANGER sign that field1s are doing <%= data.field2  %> wrong?</p>
<br>
<p>** Question Content Ideas **</p>
<p>3 Questions every <%= data.field1  %> should ask about <%= data.field2  %></p>
<br>
<p>What are 3 <%= data.field2  %> questions every new <%= data.field1  %> needs to ask?</p>
<p>&nbsp;</p>
<p>What is the #1 <%= data.field2  %> question you wish you could have asked someone when you started?</p>
<br>
<p>** Mistake Content Ideas **</p>
<p>3 mistakes field1s make with <%= data.field2  %></p>
<br>
<p>What are 3 mistakes every <%= data.field1  %> seems to make with <%= data.field2  %>?</p>
<br>
<p>What&#39;s the #1 <%= data.field2  %> mistake field1s make?</p>
<p>&nbsp;</p>
<p>What is the biggest <%= data.field2  %> mistake you ever made and what can field1s learn from it?</p>
<br>
<p>** Trend Content Ideas **</p>
<p>What are 2 <%= data.field2  %> trends you see coming in the near future?</p>
<p>&nbsp;</p>
<p>What are 2 <%= data.field2  %> trends you see disappearing in the near future?</p>
<br>
<p>Which websites should you go to for the latest <%= data.field2  %> updates, news, and advice? Why?</p>
<br>
<p>How has <%= data.field2  %> changed for field1s in the last couple of years?</p>
<br>
<p>In what way is <%= data.field2  %> harder than it was a year ago? What&#39;s changed?</p>
<br>
<p>In what way is <%= data.field2  %> easier than it was a year ago? What&#39;s changed?</p>
<br>
<p>Here&#39;s what the <%= data.field2  %> world will look like in the next 12 months</p>
<br>
<p>Do you see <%= data.field2  %> being as important 5 years from now as it is today? Why or why not?</p>
<br>
<p>** Result Content Ideas **</p>
<p>How can field1s use tablet computers to get better <%= data.field2  %> results?</p>
<br>
<p>What are the best ways to use your computer to help get better results with <%= data.field2  %>?</p>
<br>
<p>What are some unusual ways to get better results with <%= data.field2  %>?</p>
<p>&nbsp;</p>
<p>** What Would You Do Content Ideas **</p>
<p>You have $10 to spend on <%= data.field2  %>, what do you do with it?</p>
<br>
<p>You have $100 to spend on <%= data.field2  %>, what do you do?</p>
<br>
<p>You have $1,000 to spend on <%= data.field2  %>, what do you do?</p>
<br>
<p>You have 30 minutes to spare on <%= data.field2  %>, what do you do?</p>
<br>
<p>You have 60 minutes to spare on <%= data.field2  %>, what do you do?</p>
<p>&nbsp;</p>
<p>** Starting/ Starting Over Content Ideas **</p>
<p>If you could start all over again with <%= data.field2  %>, what would you do differently?</p>
<br>
<p>If you could start all over again with <%= data.field2  %>, what would you do MORE of?</p>
<br>
<p>If you could start all over again with <%= data.field2  %>, what would you AVOID?</p>
<br>
<p>What are 3 things you wish you knew about <%= data.field2  %> when you were first getting started?</p>
<br>
<p>What would you say to a nervous <%= data.field1  %> about getting started with <%= data.field2  %>?&nbsp;</p>
<br>
<p>** Recommendation Content Ideas **</p>
<p>What are 3 different pieces of software or apps that help field1s with <%= data.field2  %>?</p>
<br>
<p>3 <%= data.field2  %> websites every <%= data.field1  %> needs to know about?</p>
<br>
<p>What are some of the best / most critical <%= data.field2  %> services out there?</p>
<br>
<p>What are some free apps that help with <%= data.field2  %>?</p>
<br>
<p>What browser extensions will help field1s with their <%= data.field2  %> needs?</p>
<br>
<p>What&#39;s a NEW <%= data.field2  %> website field1s need to know about?</p>
<br>
<p>What&#39;s a tried and true <%= data.field2  %> website field1s need to know about?</p>
<br>
<p>Where can field1s hire people to help them with <%= data.field2  %> if they get stuck?</p>
<br>
<p>What is your favorite <%= data.field2  %> blog and why should other field1s check it out too?</p>
<br>
<p>What&#39;s the #1 fear field1s have when it comes to <%= data.field2  %>?</p>
<br>
<p>What is your favorite book about <%= data.field2  %> that every <%= data.field1  %> should read? Why?</p>
<br>
<p>What&#39;s a great <%= data.field2  %> video everyone should watch? Why?</p>
<br>
<p>** Social Media Content Ideas **</p>
<p>Can field1s use social media (Facebook, Twitter, etc.) to do <%= data.field2  %> better?</p>
<br>
<p>What are some specific social media tools field1s can use? How?</p>
<p>&nbsp;</p>
<p>** Myth/ Misconception Content Ideas **</p>
<p>What&#39;s the #1 <%= data.field2  %> misconception field1s have?</p>
<br>
<p>What are some common misconceptions about <%= data.field2  %>?</p>
<br>
<p>What are some myths field1s believe about <%= data.field2  %> that simply aren&#39;t true?</p>
<br>
<p>What <%= data.field2  %> advice would you give to a new <%= data.field1  %>?</p>
<p>&nbsp;</p>
<p>** Other Content Ideas **</p>
<p><%= data.field2  %> Checklist for field1s</p>
<br>
<p>What are 5 vital facts every <%= data.field1  %> should know about <%= data.field2  %>?</p>
<br>
<p>What are some basic rules or guidelines about <%= data.field2  %> that field1s should know?</p>
<br>
<p>Where can you find discounts on <%= data.field2  %>?</p>
<br>
<p>What would you say to field1s who think they don&#39;t have enough time for <%= data.field2  %>?</p>
<br>
<p>Can field1s make money with <%= data.field2  %> in today&#39;s world?</p>
<br>
<p>What are some examples of field1s who are doing really well with <%= data.field2  %>?</p>
<br>
<p>What&#39;s the biggest &quot;aha&quot; moment you&#39;ve had when it comes to <%= data.field2  %>?(a real head slapper)</p>
<br>