<p>Variables Entered</p>
<p>Event: <%= data.field1  %></p>
<p>Event Type: <%= data.field2  %></p>
<p>Event Title: <%= data.field3  %></p>
<p>Event Tagline: <%= data.field4  %></p>
<p>Your Name: <%= data.field5  %></p>
<p>2-3 Word Topic: <%= data.field6  %></p>
<p>Date: <%= data.field7  %></p>
<p>Time: <%= data.field8  %></p>
<p>Top Problem: <%= data.field9  %></p>
<p>#1 Thing They Want From This Event: <%= data.field10  %></p>
<p>#1 Fear: <%= data.field11  %></p>
<p>&quot;Big Picture&quot; Payoff: <%= data.field12  %></p>
<p>Benefit #1: <%= data.field13  %></p>
<p>Benefit #2: <%= data.field14  %></p>
<p>Benefit #3: <%= data.field15  %></p>
<p>Cool Secret: <%= data.field16  %></p>
<p>1 - ? / Tip / Trick: <%= data.field17  %></p>
<p>2 - ? / Tip / Trick: <%= data.field18  %></p>
<p>3 - ? / Tip / Trick: <%= data.field19  %></p>
<p>4 - ? / Tip / Trick: <%= data.field20  %></p>
<p>5 - ? / Tip / Trick: <%= data.field21  %></p>
<p>Specific Payoff: <%= data.field22  %></p>
<br>
<br>
<p>Opt-In Page Copy</p>
<p>Event: &quot;<%= data.field3  %>&quot;&nbsp;</p>
<p><%= data.field4  %></p>
<br>
<p>Date: <%= data.field7  %></p>
<p>Time: <%= data.field8  %></p>
<br>
<p>Description:</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> you&#39;ll be able to <%= data.field12  %>.</p>
<br>
<p>You can &nbsp;<%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>!</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what you can expect at this <%= data.field2  %> <%= data.field1  %>:</p>
<br>
<p>* Field17...</p>
<br>
<p>* Field18...</p>
<br>
<p>* Field19...</p>
<br>
<p>* Field20...</p>
<br>
<p>* Field21...</p>
<br>
<p>... and much, MUCH More!</p>
<br>
<p>Don&#39;t miss this <%= data.field2  %> <%= data.field1  %> where you can <%= data.field22  %>.</p>
<br>
<p>Register Now!</p>
<br>
<br>
<p>Short Event Announcement&nbsp;</p>
<p>Event: Field3 Field1</p>
<br>
<p>Details: <%= data.field4  %>.</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> you&#39;ll be able to <%= data.field12  %>.</p>
<br>
<p>You can <%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>!</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>But you must register for this <%= data.field2  %> <%= data.field1  %> now.</p>
<br>
<p>Where: Location / Link</p>
<br>
<p>When: <%= data.field7  %></p>
<br>
<p>Time: <%= data.field8  %></p>
<br>
<br>
<p>Potential Tweets, FB Posts, Blog Ads,</p>
<p>Text Ads, Related Article / Video Titles,&nbsp;</p>
<p>Blog Post Titles, etc.&nbsp;</p>
<br>
<p>Field2 <%= data.field1  %>: <%= data.field3  %></p>
<br>
<p>Field2 <%= data.field1  %>: <%= data.field3  %> - <%= data.field4  %></p>
<br>
<p>Field2 <%= data.field1  %>: <%= data.field6  %> / <%= data.field10  %></p>
<br>
<p>Field2 <%= data.field1  %> Reveals <%= data.field10  %></p>
<br>
<p>Field2 <%= data.field1  %>: <%= data.field12  %></p>
<br>
<p>Field2 <%= data.field1  %>: How to <%= data.field13  %></p>
<br>
<p>Field2 <%= data.field1  %>: How to <%= data.field14  %></p>
<br>
<p>Field2 <%= data.field1  %>: How to <%= data.field15  %></p>
<br>
<p>Field2 <%= data.field1  %> Reveals How to <%= data.field13  %> - FAST!</p>
<br>
<p>Field2 <%= data.field1  %> Shows You How to <%= data.field14  %> - Quick &amp; Easy!</p>
<br>
<p>Field2 <%= data.field1  %> Reveals How to <%= data.field15  %> - Fast!</p>
<br>
<p><%= data.field12  %></p>
<br>
<p>How to <%= data.field13  %></p>
<br>
<p>Field9</p>
<br>
<p>How to Avoid <%= data.field11  %></p>
<br>
<p>Single most important <%= data.field6  %> <%= data.field1  %> you&#39;ll attend all year!</p>
<br>
<p>Field22</p>
<br>
<p>Here&#39;s The Secret to Field6 Success</p>
<br>
<br>
<p>PS&#39;s / Stealth Closes To Add To Emails,</p>
<p>Newsletters, Blog Posts, etc.&nbsp;</p>
<br>
<p>Prefixes. Other things you can say besides &quot;By the way...&quot;* Before I forget...</p>
<br>
<p>* Oh, before I forget...</p>
<br>
<p>* Oh, one more thing...</p>
<br>
<p>* Hey, by the way...</p>
<br>
<p>By the way, if you really want to <%= data.field12  %>, this <%= data.field2  %> <%= data.field1  %> is exactly what you want! Check it out here: REGISTER LINK</p>
<br>
<p>Oh, before I forget, if you really want to <%= data.field12  %>, this <%= data.field2  %> <%= data.field1  %> &quot;<%= data.field3  %>&quot; makes it easy! Get all the details here : REGISTER LINK</p>
<br>
<p>Oh, one more thing... I&#39;m hosting a brand-NEW <%= data.field1  %> to help you <%= data.field12  %> on <%= data.field7  %> at <%= data.field8  %> and you&#39;re invited! You can Register right here: REGISTER LINK</p>
<br>
<p>One more thing, I&#39;m hosting a brand-NEW <%= data.field1  %> that will help you <%= data.field16  %>... and you&#39;re invited! You can Register right here: REGISTER LINK</p>
<br>
<p>Oh, before I forget... if you want to <%= data.field13  %>, <%= data.field14  %>, and <%= data.field15  %>, I&#39;m hosting a brand-NEW <%= data.field1  %>, <%= data.field7  %> at <%= data.field8  %>, that will help you <%= data.field12  %>! You can Register right here: REGISTER LINK</p>
<br>
<p>By the way, if you want to enjoy &nbsp;<%= data.field10  %>, Register NOW for this <%= data.field2  %> <%= data.field1  %> I&#39;m hosting - &quot;<%= data.field3  %>&quot; - <%= data.field4  %>. Get all the details here: REGISTER LINK</p>
<br>
<p>Oh, one more thing. If you really want to <%= data.field12  %>, but you&#39;re worried about <%= data.field11  %>, here&#39;s your answer! &nbsp;I&#39;m hosting a <%= data.field1  %> - &quot;<%= data.field3  %>&quot; - <%= data.field4  %> this <%= data.field7  %> at <%= data.field8  %>. Get all the details here: REGISTER LINK</p>
<br>
<p>Email Promo Messages</p>
<br>
<p>Email 3-7 Days Before&nbsp;</p>
<br>
<p>Heads Up Email</p>
<br>
<p>Subject: &nbsp;<%= data.field3  %> (<%= data.field1  %>)</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> with a <%= data.field2  %> <%= data.field1  %> invitation for you...</p>
<br>
<p>==&gt; REGISTRATION LINK</p>
<br>
<p>This <%= data.field7  %> at <%= data.field8  %>, I&#39;m hosting a very special <%= data.field1  %> that will most definitely <%= data.field12  %> !</p>
<br>
<p>&quot;<%= data.field3  %>!&quot;</p>
<br>
<p>How would you like to <%= data.field13  %>?</p>
<br>
<p>Want to <%= data.field14  %>?</p>
<br>
<p>At this next <%= data.field2  %> <%= data.field1  %> we&#39;re going to deliver that and much, MUCH More!</p>
<br>
<p>Oh, and we&#39;re even making it possible for you to <%= data.field22  %>!</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Attendance is LIMITED - REGISTER Now!</p>
<p>==&gt; REGISTRATION LINK</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p><%= data.field5  %> :)</p>
<br>
<p>P.S. - Sign up now for this <%= data.field2  %> <%= data.field1  %> and we&#39;ll see you <%= data.field7  %> at <%= data.field8  %>!</p>
<br>
<p>==&gt; REGISTRATION LINK</p>
<br>
<br>
<br>
<p>Announcement Email LONG</p>
<br>
<p>Subject: &nbsp;&#39;&#39;<%= data.field3  %>&#39;&#39; Field1</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a quick update ...</p>
<br>
<p>Next week we&#39;re hosting an amazing new <%= data.field1  %> we&#39;re calling...</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<p><%= data.field4  %></p>
<br>
<p>REGISTER here now: LINK</p>
<br>
<p>DATE: <%= data.field7  %></p>
<br>
<p>Time: <%= data.field8  %> (use www.time.gov as our clock)</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> you will <%= data.field12  %>.</p>
<br>
<p>You can <%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>!</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what&#39;s in store for you at this <%= data.field2  %> <%= data.field1  %>:</p>
<br>
<p>* Field17...</p>
<br>
<p>* Field18...</p>
<br>
<p>* Field19...</p>
<br>
<p>* Field20...</p>
<br>
<p>* Field21...</p>
<br>
<p>... and much, MUCH More!</p>
<br>
<p>Claim your spot and join us for this <%= data.field2  %> <%= data.field1  %>:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU at the &quot;<%= data.field3  %>&quot; <%= data.field1  %>!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field5  %></p>
<br>
<br>
<br>
<p>Announcement Email SHORT</p>
<br>
<p>Subject: &nbsp;&#39;&#39;<%= data.field3  %>&#39;&#39; Field1</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a quick update ...</p>
<br>
<p>Next week we&#39;re hosting a <%= data.field2  %> <%= data.field1  %> we&#39;re calling...</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<p><%= data.field4  %></p>
<br>
<p>REGISTER here now: LINK</p>
<br>
<p>DATE: <%= data.field7  %></p>
<br>
<p>Time: <%= data.field8  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> you will <%= data.field12  %>.</p>
<br>
<p>You can <%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>!</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>Register now and join us for this <%= data.field2  %> <%= data.field1  %>:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU there!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field5  %></p>
<br>
<br>
<p>Email 1 Day Before&nbsp;</p>
<br>
<br>
<p>OPTION 1 - Tomorrow&#39;s the day - More &quot;Salesy&quot;</p>
<br>
<p>Re: #NAME#, are we still on for tomorrow?</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p>Can you really <%= data.field22  %>?</p>
<br>
<p>Can you really <%= data.field13  %>?</p>
<br>
<p>Can you really <%= data.field14  %>?</p>
<br>
<p>Can you really <%= data.field15  %>?</p>
<br>
<p>YES! You can!</p>
<br>
<p>And this <%= data.field7  %> we&#39;ll help you do just that, and so much MORE, on our <%= data.field2  %> <%= data.field1  %>...</p>
<br>
<p>==&gt; REGISTRATION LINK</p>
<br>
<p>Oh, and if you need <%= data.field10  %>, this <%= data.field2  %> <%= data.field1  %> solves that for you!</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Seating is LIMITED - REGISTER Now!</p>
<p>==&gt; REGISTRATION LINK</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p><%= data.field5  %> :)</p>
<br>
<p>P.S. - We&#39;ll also make it easy to <%= data.field22  %> and you definitely want to be there for this one!</p>
<br>
<p>Register now:</p>
<p>REGISTRATION LINK</p>
<br>
<br>
<p>OPTION 2 - Field1 Tomorrow Email- Low-Key - LONG</p>
<br>
<p>Subject: &nbsp;Re: Register Now for &#39;&#39;<%= data.field3  %>&#39;&#39;</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a reminder ...</p>
<br>
<p>TOMORROW is our <%= data.field2  %> <%= data.field1  %>...</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<p><%= data.field4  %></p>
<br>
<p>REGISTER here now: REGISTRATION LINK</p>
<br>
<p>DATE: <%= data.field7  %></p>
<br>
<p>Time: <%= data.field8  %> (use www.time.gov as our clock)</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> you will <%= data.field12  %>.</p>
<br>
<p>You can <%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>!</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what you&#39;ll experience at this <%= data.field2  %> <%= data.field1  %>:</p>
<br>
<p>* Field17...</p>
<br>
<p>* Field18...</p>
<br>
<p>* Field19...</p>
<br>
<p>* Field20...</p>
<br>
<p>* Field21...</p>
<br>
<p>... and much, MUCH More!</p>
<br>
<p>Register now and join us TOMORROW:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>I guarantee you haven&#39;t been to any other <%= data.field1  %> about <%= data.field6  %> that lets you <%= data.field22  %> &nbsp;quite like this one!</p>
<br>
<p>Looking forward to seeing YOU at the <%= data.field2  %> <%= data.field1  %> tomorrow at <%= data.field8  %>!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field5  %></p>
<br>
<br>
<p>OPTION 3 - Field1 Tomorrow Email - Low-Key - SHORT</p>
<br>
<p>Subject: &nbsp;Re: Register Now for &#39;&#39;<%= data.field3  %>&#39;&#39;</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a reminder ...</p>
<br>
<p>TOMORROW is our <%= data.field2  %> <%= data.field1  %> entitled...</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<p><%= data.field4  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: <%= data.field7  %></p>
<p>Time: <%= data.field8  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> we make it possible for you to <%= data.field12  %>.</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>In fact, if you want to <%= data.field13  %>, <%= data.field14  %>, and <%= data.field15  %>... then Register now and join us TOMORROW:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU at this <%= data.field2  %> <%= data.field1  %> tomorrow!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field5  %></p>
<br>
<br>
<br>
<p>Email Day Of <%= data.field1  %>&nbsp;</p>
<br>
<br>
<p>OPTION 1 - LAST CHANCE - More &quot;Salesy&quot;</p>
<br>
<p>Subject: It&#39;s TODAY at <%= data.field8  %></p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a quick reminder...</p>
<br>
<p>Today is our <%= data.field2  %> <%= data.field1  %>!</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<br>
<p>If you want to <%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>... then you need to be at this <%= data.field2  %> <%= data.field1  %>.</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Heck, you may even <%= data.field16  %>!</p>
<br>
<p>The <%= data.field1  %> starts at <%= data.field8  %>, so time&#39;s running out to register.</p>
<br>
<p>Don&#39;t procrastinate and kick yourself later!</p>
<br>
<p>Register Now:</p>
<p>REGISTRATION LINK</p>
<br>
<p>See you there,</p>
<br>
<p><%= data.field5  %></p>
<br>
<p>PS - Don&#39;t delay... register now, right here:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<br>
<p>OPTION 2 - Field1 TODAY Email- Low-Key - LONG</p>
<br>
<p>Subject: FINAL REMINDER - &quot;<%= data.field3  %>&quot; <%= data.field1  %></p>
<br>
<p>Subject: &nbsp;REMINDER - Today&#39;s <%= data.field1  %> &quot;<%= data.field3  %>&quot;</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a last reminder ...</p>
<br>
<p>TODAY is the day for our amazing new <%= data.field1  %> entitled...</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<p><%= data.field4  %></p>
<br>
<p>REGISTER here now: REGISTRATION LINK</p>
<br>
<p>DATE: TODAY - <%= data.field7  %></p>
<br>
<p>TIME: <%= data.field8  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>At this <%= data.field2  %> <%= data.field1  %> we&#39;ll help you <%= data.field12  %>.</p>
<br>
<p>You can <%= data.field13  %>, <%= data.field14  %>, and even <%= data.field15  %>!</p>
<br>
<p>Register now and join the broadcast TODAY:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>I guarantee you haven&#39;t been to any other <%= data.field1  %> about <%= data.field6  %> that makes it so easy for you to <%= data.field22  %> &nbsp;like this one!</p>
<br>
<p>Looking forward to seeing YOU on the <%= data.field1  %> in just a little while!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field5  %></p>
<br>
<br>
<p>OPTION 3 - Field1 TODAY Email - Low-Key - SHORT</p>
<br>
<p>Subject: FINAL REMINDER - &quot;<%= data.field3  %>&quot; <%= data.field1  %></p>
<br>
<p>Subject: REMINDER - Today&#39;s <%= data.field1  %> &quot;<%= data.field3  %>&quot;</p>
<br>
<p>Hi #NAME#,</p>
<br>
<p><%= data.field5  %> here with a last reminder ...</p>
<br>
<p>TODAY is the day for our <%= data.field2  %> <%= data.field1  %> entitled...</p>
<br>
<p>&quot;<%= data.field3  %>&quot;</p>
<p><%= data.field4  %></p>
<br>
<p>REGISTER here now:REGISTRATION LINK</p>
<br>
<p>DATE: TODAY - <%= data.field7  %></p>
<br>
<p>TIME: <%= data.field8  %> (use www.time.gov as our clock)</p>
<br>
<p>Register now and join the <%= data.field2  %> <%= data.field1  %> TODAY:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU at the <%= data.field1  %> at <%= data.field8  %>!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field5  %></p>
<br>
<br>