<p>Variables You Entered:</p>
<br>
<p>People you are going to teach: <%= data.field1 %></p>
<p>#1 Result They Really Want: <%= data.field2 %></p>
<p>Your new opportunity: <%= data.field3 %></p>
<p>Your specific vehicle: <%= data.field4 %></p>
<br>
<p>Your Big Domino Statement</p>
<p>If I can make <%= data.field1 %> believe that <%= data.field3 %> is / are the key to <%= data.field2 %> and is / are only attainable through <%= data.field4 %>, then all other objections and concerns become irrelevant and they have to give me money.</p>
<br>
<br>