<p>&nbsp;Your variables as entered:</p>
<p>Target Niche: (sinlgular) <%= data.field1 %></p>
<p>Target Niche: (plural) <%= data.field2 %></p>
<p><%= data.field7 %> Title: <%= data.field6 %></p>
<p>BIG question answered: <%= data.field4 %></p>
<p>Big Result they want: <%= data.field3 %></p>
<p>Big Secret you reveal: <%= data.field5 %></p>
<p>Type Bribe they get: <%= data.field7 %></p>
<p>Bribe Payoff: <%= data.field8 %></p>
<p>Bribe URL: <%= data.field9 %></p>
<p>Sales Page &quot;Reveal&quot;: <%= data.field10 %></p>
<p>Target URL: <%= data.field11 %></p>
<p>Target Product: <%= data.field12 %></p>
<p>Target Product Headline / Promise: <%= data.field13 %></p>
<br>
<p>By the way... Prefixes. Other things you can say besides &quot;By the way...&quot;Before I forget...</p>
<p>Oh, before I forget...</p>
<p>Oh, one more thing...</p>
<p>Hey, by the way...</p>
<p>Hey, did you know...</p>
<p>Hey, did you realize...</p>
<p>Target= <%= data.field7 %></p>
<p>By the way, if you really want to <%= data.field3 %>, this <%= data.field7 %> lays it all out for you! Check it out here <%= data.field9 %></p>
<br>
<p>By the way, if you really want to <%= data.field3 %>, this <%= data.field7 %> &quot;<%= data.field6 %>&quot; lays it all out for you! Check it out here <%= data.field9 %></p>
<br>
<p>By the way, you can grab this New <%= data.field7 %> I just released on how to <%= data.field3 %>! You can get it FREE here: <%= data.field9 %></p>
<br>
<p>By the way, I just released &nbsp;a New <%= data.field7 %> on how any <%= data.field1 %> can <%= data.field3 %>! You can grab it FREE here on my blog <%= data.field9 %></p>
<br>
<p>By the way, we just released &nbsp;a New <%= data.field7 %> on how to <%= data.field3 %>! It&#39;s called &quot;<%= data.field6 %>&quot; and you can grab it FREE here: <%= data.field9 %></p>
<br>
<p>By the way, &nbsp;here&#39;s a <%= data.field7 %> for you we just published entitled &quot;<%= data.field6 %>&quot; - you can grab it for free here: <%= data.field9 %></p>
<br>
<p>By the way, if you liked this article, you&#39;ll LOVE this Meaty <%= data.field7 %> I just published on <%= data.field8 %>. It&#39;s titled &quot;<%= data.field6 %>&quot; and you can grab it for free here: <%= data.field9 %></p>
<br>
<p>By the way, if you&#39;re a <%= data.field1 %> who wants more <%= data.field3 %>, check out this <%= data.field7 %> at <%= data.field9 %></p>
<br>
<p>By the way, our New <%= data.field7 %> answers the question once and for all &quot;<%= data.field4 %>&quot; for anyone who wants <%= data.field3 %>. Grab this <%= data.field7 %> FREE here: <%= data.field9 %></p>
<br>
<p>By the way, my New <%= data.field7 %> answers the question &quot;<%= data.field4 %>&quot;once and for all for every <%= data.field1 %> who wants <%= data.field3 %>. Grab this <%= data.field7 %> FREE here: <%= data.field9 %></p>
<br>
<p>By the way, a lot of <%= data.field2 %> have asked &quot;<%= data.field4 %>&quot; This <%= data.field7 %> I just published answers that question and a whole LOT more! You can grab it FREE here: <%= data.field9 %></p>
<br>
<p>By the way, if you&#39;ve ever wondered &quot;<%= data.field4 %>&quot; this <%= data.field7 %> &quot;<%= data.field6 %>&quot; has the answer every <%= data.field1 %> needs. Click Here Now for more: <%= data.field9 %></p>
<br>
<p>By the way, answering the question &quot;<%= data.field4 %>&quot; is just the tip of the iceberg! This <%= data.field7 %> &quot;<%= data.field6 %>&quot; I just published gives you the rest of the story and more. Grab it FREE here: <%= data.field9 %></p>
<br>
<p>By the way, if you want to <%= data.field3 %>, this <%= data.field7 %> I just published entitled &quot;<%= data.field6 %>&quot; will help you do just that and more! Check it out FREE here: <%= data.field9 %></p>
<br>
<p>Target= Sales Page (Your Own / Affiliate Offer)</p>
<p>By the way, if you really want to <%= data.field3 %>, check this out <%= data.field11 %></p>
<br>
<p>By the way, if you really want to <%= data.field3 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>By the way, if you really want to <%= data.field3 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>By the way, if you really want to <%= data.field10 %>, check this out <%= data.field11 %></p>
<br>
<p>By the way, if you really want to <%= data.field10 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>By the way, if you really want to <%= data.field10 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>By the way, if you really want to know <%= data.field13 %>, check this out <%= data.field11 %></p>
<br>
<p>By the way, if you really want to know <%= data.field13 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>By the way, if you really want to know <%= data.field13 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;re serious about your success as a <%= data.field1 %>, then you need to check this out right now <%= data.field11 %></p>
<br>
<p>By the way, here&#39;s exactly what the top <%= data.field2 %> use to <%= data.field3 %> =&gt; <%= data.field11 %></p>
<br>
<p>By the way, did you know that &quot;<%= data.field12 %>&quot; is considered the #1 Resource by many of today&#39;s top <%= data.field2 %>? It&#39;s true! If you want to <%= data.field3 %> fast, check it out now for yourself =&gt; <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;re looking to get on the fast track as a successful <%= data.field1 %>, be sure to check out &quot;<%= data.field12 %>&quot; It&#39;s considered the &quot;secret weapon&quot; for many of today&#39;s TOP <%= data.field2 %>. Check it out here =&gt; <%= data.field11 %></p>
<br>
<p>By the way, if you want to <%= data.field10 %>, then &#39;<%= data.field12 %>&quot; is exactly what you want! Click here now to <%= data.field3 %> =&gt; <%= data.field11 %></p>
<br>
<p>By the way, if your goal is to <%= data.field10 %>, then &quot;<%= data.field12 %>&quot; is your ticket to <%= data.field3 %>! =&gt; <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;re a <%= data.field1 %> who&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;re a struggling <%= data.field1 %> who&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;re one of the many <%= data.field2 %> who&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>By the way, if knowing <%= data.field13 %> sounds good to you, then check this out <%= data.field11 %></p>
<br>
<p>By the way, if you&#39;d like to discover <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>Want more?...&nbsp;</p>
<p>&nbsp;Prefixes. Other things you can say besides &quot;Want more?...&quot;</p>
<p>Need more?</p>
<p>Still not convinced?</p>
<p>Still not convinced yet?</p>
<p>Need even more proof?</p>
<p>Still need to be convinced?</p>
<p>Target= <%= data.field7 %></p>
<p>Want more? Grab this Meaty <%= data.field7 %> - &quot;<%= data.field6 %>&quot; - right here... right now! <%= data.field9 %></p>
<br>
<p>Want more? If you really want to <%= data.field3 %>, this <%= data.field7 %> lays it all out for you! Check it out here <%= data.field9 %></p>
<br>
<p>Want more? If you really want to <%= data.field3 %>, this <%= data.field7 %> &quot;<%= data.field6 %>&quot; lays it all out for you! Check it out here <%= data.field9 %></p>
<br>
<p>Want more? Grab this New <%= data.field7 %> I just released on how to <%= data.field3 %>! You can get it FREE here: <%= data.field9 %></p>
<br>
<p>Want more? Claim this New <%= data.field7 %> on how any <%= data.field1 %> can <%= data.field3 %>! You can grab it FREE here on my blog <%= data.field9 %></p>
<br>
<p>Want more? &nbsp;We&#39;ve just released &nbsp;a New <%= data.field7 %> on how to <%= data.field3 %>! It&#39;s called &quot;<%= data.field6 %>&quot; and you can grab it FREE here: <%= data.field9 %></p>
<br>
<p>Want more? Here&#39;s a <%= data.field7 %> for you we just published entitled &quot;<%= data.field6 %>&quot; - you can grab it for free here: <%= data.field9 %></p>
<br>
<p>Want more? If you&#39;re a <%= data.field1 %> who wants more <%= data.field3 %>, check out this <%= data.field7 %> at <%= data.field9 %></p>
<br>
<p>Want more? Our New <%= data.field7 %> answers the question once and for all &quot;<%= data.field4 %>&quot; for anyone who wants <%= data.field3 %>. Grab this <%= data.field7 %> FREE here: <%= data.field9 %></p>
<br>
<p>Want more? My New <%= data.field7 %> answers the question &quot;<%= data.field4 %>&quot;once and for all for every <%= data.field1 %> who wants <%= data.field3 %>. Grab this <%= data.field7 %> FREE here: <%= data.field9 %></p>
<br>
<p>Want more? Truth is, a lot of <%= data.field2 %> have asked &quot;<%= data.field4 %>&quot; This <%= data.field7 %> I just published answers that question and a whole LOT more! You can grab it FREE here: <%= data.field9 %></p>
<br>
<p>Want more? Well, if you&#39;ve ever asked &quot;<%= data.field4 %>&quot; this <%= data.field7 %> &quot;<%= data.field6 %>&quot; has the answer every <%= data.field1 %> needs. Click Here Now for more: <%= data.field9 %></p>
<br>
<p>Target= Sales Page (Your Own / Affiliate Offer)</p>
<p>Want more? Well, if you really want to <%= data.field3 %>, check this out <%= data.field11 %></p>
<br>
<p>Want more? Well, if you really want to <%= data.field3 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>Want more? Well, if you really want to <%= data.field3 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>Want more? Fact is, if you really want to <%= data.field10 %>, check this out <%= data.field11 %></p>
<br>
<p>Want more? Fact is, if you really want to <%= data.field10 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>Want more? Fact is, if you really want to <%= data.field10 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>Want more? Well, &nbsp;if you really want to know <%= data.field13 %>, check this out <%= data.field11 %></p>
<br>
<p>Want more? Well, if you really want to know <%= data.field13 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, if you really want to know <%= data.field13 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, if you&#39;re serious about your success as a <%= data.field1 %>, then you need to check this out right now <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, here&#39;s exactly what the top <%= data.field2 %> use to <%= data.field3 %> =&gt; <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, &quot;<%= data.field12 %>&quot; is considered the #1 Resource by many of today&#39;s top <%= data.field2 %>. It&#39;s true! If you want to <%= data.field3 %> fast, check it out now for yourself =&gt; <%= data.field11 %></p>
<br>
<p>Want more? Well, the fact is, if you&#39;re looking to get on the fast track as a successful <%= data.field1 %>, be sure to check out &quot;<%= data.field12 %>&quot; It&#39;s considered the &quot;secret weapon&quot; for many of today&#39;s TOP <%= data.field2 %>. Check it out here =&gt; <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, if you want to <%= data.field10 %>, then &#39;<%= data.field12 %>&quot; is exactly what you want! Click here now to <%= data.field3 %> =&gt; <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, if your goal is to <%= data.field10 %>, then &quot;<%= data.field12 %>&quot; is your ticket to <%= data.field3 %>! =&gt; <%= data.field11 %></p>
<br>
<p>Want more? Well, if you&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, if you&#39;re a <%= data.field1 %> who&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>Want more? Bottom line is, if you&#39;re a struggling <%= data.field1 %> who&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>Want more? Bottom line: if knowing <%= data.field13 %> sounds good to you, then check this out <%= data.field11 %></p>
<br>
<p>Want more? Bottom line: if you want to discover <%= data.field13 %>, then check this out now! <%= data.field11 %></p>
<br>
<p>If you like this, you&#39;ll LOVE this...&nbsp;</p>
<p>&nbsp;Prefixes. Other things you can say besides &quot;If you like this, you&#39;ll LOVE this...&quot;</p>
<p>If you thought this was good, check this out...</p>
<br>
<p>If you thought this was cool, take a look at this...</p>
<br>
<p>If this got you excited, check this out...</p>
<p>Target= <%= data.field7 %></p>
<p>If you liked this article / blog post / report /etc., you&#39;ll LOVE this Meaty <%= data.field7 %> I just published on <%= data.field8 %>. It&#39;s titled &quot;<%= data.field6 %>&quot; and you can grab it for free here <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this Meaty <%= data.field7 %> because lays it all out for you! Check it out here <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this Meaty &nbsp;<%= data.field7 %> &quot;<%= data.field6 %>&quot; because it lays everything out for you! Check it out here <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this New <%= data.field7 %> I just released on how to <%= data.field3 %>! You can get it FREE here: <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this New <%= data.field7 %> on how to <%= data.field3 %>! It&#39;s called &quot;<%= data.field6 %>&quot; and you can grab it FREE here: <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., and you&#39;re a <%= data.field1 %> who wants more <%= data.field3 %>, check out this <%= data.field7 %> at <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this new <%= data.field7 %> because it answers the question once and for all &quot;<%= data.field4 %>&quot; for anyone who wants <%= data.field3 %>. Grab this <%= data.field7 %> FREE here: <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this because &nbsp;a lot of <%= data.field2 %> have asked &quot;<%= data.field4 %>&quot; This <%= data.field7 %> I just published answers that question and a whole LOT more! You can grab it FREE here: <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this because &nbsp;if you&#39;ve ever wondered &quot;<%= data.field4 %>&quot; this <%= data.field7 %> &quot;<%= data.field6 %>&quot; has the answer every <%= data.field1 %> needs. Click Here Now for more: <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this because &nbsp;answering the question &quot;<%= data.field4 %>&quot; is just the tip of the iceberg! This <%= data.field7 %> &quot;<%= data.field6 %>&quot; I just published gives you the rest of the story and more. Grab it FREE here: <%= data.field9 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this because &nbsp;if you want to <%= data.field3 %>, this <%= data.field7 %> I just published entitled &quot;<%= data.field6 %>&quot; will help you do just that and more! Check it out FREE here: <%= data.field9 %></p>
<br>
<p>Target= Sales Page (Your Own / Affiliate Offer)</p>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because &nbsp;if you really want to <%= data.field3 %>, then you want to check this out right now <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., you&#39;ll LOVE this, especially &nbsp;if you really want to <%= data.field3 %>! Check out what I do / use right here <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you really want to <%= data.field3 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you really want to <%= data.field10 %>, check this out <%= data.field11 %></p>
<br>
<p>By the way, if you liked this article / blog post /report / etc., then you&#39;ll LOVE this! Why? Because if you really want to <%= data.field10 %>, this is what I do / use <%= data.field11 %></p>
<br>
<p>By the way, if you really want to <%= data.field10 %>, this is what the top <%= data.field2 %> do / use <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because here&#39;s exactly what the top <%= data.field2 %> use to <%= data.field3 %> =&gt; <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because &quot;<%= data.field12 %>&quot; is considered the #1 Resource by many of today&#39;s top <%= data.field2 %>! So if you want to <%= data.field3 %> fast, check it out now for yourself =&gt; <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you&#39;re looking to get on the fast track as a successful <%= data.field1 %>, be sure to check out &quot;<%= data.field12 %>&quot; It&#39;s considered the &quot;secret weapon&quot; for many of today&#39;s TOP <%= data.field2 %>. Check it out here =&gt; <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you want to <%= data.field10 %>, then &#39;<%= data.field12 %>&quot; is exactly what you want! Click here now to <%= data.field3 %> =&gt; <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if your goal is to <%= data.field10 %>, then &quot;<%= data.field12 %>&quot; is your ticket to <%= data.field3 %>! =&gt; <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you&#39;re a <%= data.field1 %> who&#39;d like to know <%= data.field13 %>, then here&#39;s exactly what you&#39;re looking for... <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Because if you&#39;re a struggling <%= data.field1 %> who&#39;d like to know <%= data.field13 %>, then this is exactly what you want <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you&#39;re one of the many <%= data.field2 %> who&#39;d like to know <%= data.field13 %>, then check this out <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if knowing <%= data.field13 %> sounds good to you, then this will sound even better <%= data.field11 %></p>
<br>
<p>If you liked this article / blog post / report / etc., then you&#39;ll LOVE this! Why? Because if you&#39;d like to discover <%= data.field13 %>, then this is right up your alley <%= data.field11 %></p>
<br>