<p>Browse through the results, edit, and use where necessary!</p>
<p>Variables Entered&nbsp;</p>
<p>NAME of Product: <%= data.field1  %></p>
<p>TYPE of Product: <%= data.field2  %>&nbsp;</p>
<p>Target Audience(SINGULAR): <%= data.field3  %></p>
<p>Target Audience(PLURAL): <%= data.field4  %>&nbsp;</p>
<p>Keyword Theme: <%= data.field5  %></p>
<p>How does this product help your target audience?: <%= data.field6  %></p>
<p>#1 BIG payoff / big benefit: <%= data.field7  %></p>
<p>Customer&#39;s main pressing need?: <%= data.field8  %></p>
<p>NEGATIVE person, thing, or circumstance (hurdle): <%= data.field9  %></p>
<p>WHY is this hurdle such a huge deal?: <%= data.field10  %></p>
<p>HOW does this hurdle hurt them or keep them from getting results they want?: <%= data.field11  %></p>
<p>What&#39;s an idea your target audience believes is true, but is actually completely WRONG?: <%= data.field12  %></p>
<p>#1 FEATURE: <%= data.field13  %></p>
<p>BENEFIT: <%= data.field14  %>&nbsp;</p>
<p>#2 FEATURE: <%= data.field15  %></p>
<p>BENEFIT: <%= data.field16  %>&nbsp;</p>
<p>#3 FEATURE: <%= data.field17  %></p>
<p>BENEFIT: <%= data.field18  %></p>
<p>#4 FEATURE: <%= data.field19  %></p>
<p>BENEFIT: <%= data.field20  %></p>
<p>#5 FEATURE: <%= data.field21  %></p>
<p>BENEFIT: <%= data.field22  %></p>
<p>Complete Listing(Hit Build Button to regenerate)</p>
<p>(LOCK the parts you like)</p>
<p>(CLICK the blue variables to regenerate just that section)</p>
<br>
<p>TITLE:&nbsp;</p>
<p>Field2 - Field1 - Field7 - Field16 - Field13 - Field15 - Field17</p>
<br>
<p>DESCRIPTION:</p>
<p>* FUNCTIONAL! Field13 enables you to <%= data.field14  %> - 100% foolproof</p>
<br>
<p>* CRITICAL! Field15 makes it easier to <%= data.field16  %> - Immediately</p>
<br>
<p>* EXCELLENT! Field17 delivers the key to <%= data.field18  %> the easy way</p>
<br>
<p>* REVOLUTIONARY! Field19 makes it easier to <%= data.field20  %> - With Ease</p>
<br>
<p>* EXTREMELY EASY TO USE! Field21 delivers the key to <%= data.field22  %> just like the best do</p>
<br>
<p>If you want to <%= data.field14  %>, <%= data.field16  %>, and <%= data.field18  %>... then this is the most important <%= data.field2  %> you&#39;ll ever purchase!&nbsp;</p>
<p>&nbsp;<%= data.field1  %> is an amazing new <%= data.field2  %> that helps every <%= data.field3  %> to <%= data.field7  %> and <%= data.field20  %>.</p>
<br>
<p>It&#39;s time to make your choice to <%= data.field20  %>! - Order Now!</p>
<p>Build Your Own ListingChoose from the parts below to assemble your own listingProduct Titles</p>
<p>(Hit Build Button to regenerate)</p>
<p>(LOCK the parts you like)</p>
<p>(CLICK the blue variables to regenerate just that section)</p>
<br>
<p>Field1 - Field2 - Field7 - Field16 - Field13 - Field15 - Field17</p>
<br>
<p>First Class Field2 - Field1 - Field7 - Field16 - Field13 - Field15 - Field17</p>
<br>
<p>Field1 - Field2 - Field14 - Field16 - Field13 - Field15</p>
<br>
<p>Supreme Field2 - Field1 - Field14 - Field16 - Field13 - Field15</p>
<br>
<p>Field1 - Field2 - Field18 - Field20 - Field17 - Field19</p>
<br>
<p>The Top Field2 - Field1 - Field18 - Field20 - Field17 - Field19</p>
<br>
<p>Field1 - Field2 - Field22 - Field14 - Field21 - Field13</p>
<br>
<p>Supreme Field2 - Field1 - Field22 - Field14 - Field21 - Field13</p>
<br>
<p>Field1 - Field2 - Field16 - Field18 - Field15 - Field17</p>
<br>
<p>Highest Quality Field2 - Field1 - Field16 - Field18 - Field15 - Field17</p>
<br>
<p>Bullets</p>
<p>(Hit Build Button to regenerate)</p>
<p>(LOCK the parts you like)</p>
<p>(CLICK the blue variables to regenerate just that section)</p>
<br>
<p>GETS THE JOB DONE! Field13 makes it easier to &nbsp;<%= data.field14  %> like the best <%= data.field4  %> do</p>
<br>
<p>STRONG! Field13 helps you to &nbsp;<%= data.field14  %> In A Flash</p>
<br>
<br>
<p>EXCEPTIONAL! Field15 makes it so you can <%= data.field16  %> - Like The Best Field4 Do</p>
<br>
<p>HIGH-PERFORMANCE! Field15 ensures you can <%= data.field16  %> - In A Flash</p>
<br>
<br>
<p>SUPERIOR PERFORMANCE! Field17 gives you the power to <%= data.field18  %> - FAST!</p>
<br>
<p>EFFECTIVE! Field17 permits you to <%= data.field18  %> In A Flash</p>
<br>
<br>
<p>REMARKABLE RESULTS! Field19 helps you to <%= data.field20  %> - - FAST!</p>
<br>
<p>DEPENDABLE! Field19 makes it so you can <%= data.field20  %> - Immediately</p>
<br>
<br>
<p>UNIQUE! Field21 permits you to <%= data.field22  %> in no time flat</p>
<br>
<p>INTRODUCING! Field21 helps you to <%= data.field22  %> Today</p>
<br>
<p>Description #1 - Problem, Agitate, Solve</p>
<p><%= data.field1  %> is for every <%= data.field3  %> who <%= data.field8  %>.</p>
<br>
<p>Here&#39;s a huge problem you face right now. It&#39;s <%= data.field9  %>. But that&#39;s not the end of your problems with <%= data.field6  %>.&nbsp;</p>
<br>
<p>What makes this even worse is the fact that <%= data.field10  %>! Which means <%= data.field11  %>.</p>
<br>
<p>And, worst of all, many <%= data.field4  %> can&#39;t get past the idea that <%= data.field12  %>.</p>
<br>
<p>All this can make trying to <%= data.field7  %> a nightmare! But luckily for you, there&#39;s now a solution!&nbsp;</p>
<br>
<p>So, if you&#39;re a <%= data.field3  %> and who really <%= data.field8  %>, &quot;<%= data.field1  %>&quot; is the answer you&#39;ve been looking for!</p>
<br>
<p>(CTA) &nbsp;<%= data.field22  %> - Buy Now</p>
<br>
<br>
<p>Description #2 - Great Big Promise</p>
<p>If you want to &nbsp;<%= data.field14  %> , <%= data.field16  %> , and <%= data.field18  %>... then this is the most important <%= data.field2  %> you&#39;ll ever purchase!</p>
<br>
<p><%= data.field1  %> is an amazing new <%= data.field2  %> that helps every <%= data.field3  %> to <%= data.field7  %> and <%= data.field20  %>.</p>
<br>
<p>(CTA) Order Now! &nbsp;<%= data.field22  %>!</p>
<br>
<p>More Calls To Action (CTA)</p>
<p>(Hit Build Button to regenerate)</p>
<p>(LOCK the parts you like)</p>
<p>(CLICK the blue variables to regenerate just that section)</p>
<br>
<p>Now is the best time to <%= data.field18  %>! - Order Now!</p>
<br>
<p>Don&#39;t wait any longer to <%= data.field20  %>! - Order Now!</p>
<br>
<p>You can&#39;t wait any longer to <%= data.field16  %>! - Order Now!</p>
<br>
<p>Don&#39;t hesitate - now is the time - <%= data.field20  %>! - Order Now!</p>
<br>
<p>Don&#39;t miss this opportunity to <%= data.field14  %>! - Order Now!</p>
<br>
<p>Why wait another day to <%= data.field22  %>! - Order Now!</p>
<br>
<p>You&#39;ve waited long enough to <%= data.field16  %>! - Order Now!</p>
<br>
<p>Now it&#39;s time for you to decide to <%= data.field14  %>! - Order Now!</p>
<br>
<p>Act now to <%= data.field18  %>! - Order Now!</p>
<br>
<p>Don&#39;t delay getting started to <%= data.field14  %>! - Order Now!</p>
<br>
<p>It&#39;s time to make your choice to <%= data.field18  %>! - Order Now!</p>
<br>
<p>It&#39;s up to you to <%= data.field14  %>! - Order Now!</p>
<br>
<p>There&#39;s no time like the present to <%= data.field20  %>! - Order Now!</p>
<br>
<p>Time&#39;s running out to <%= data.field22  %>! - Order Now!</p>
<br>
<p>Do it today and get started to <%= data.field22  %>! - Order Now!</p>
<br>
<p>Grab yours today and start to <%= data.field14  %>! - Order Now!</p>
<br>