<p>Variables You Entered:</p>
<br>
<p>People you are going to teach: <%= data.field1 %></p>
<p>#1 Result They Really Want: <%= data.field2 %></p>
<p>#2 Result They Really Want: <%= data.field3 %></p>
<p>#1 Thing They FEAR Most: <%= data.field4 %></p>
<p>#2 Thing They FEAR Most: <%= data.field5 %></p>
<p>Time frame You Can Deliver in: <%= data.field6 %></p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> in <%= data.field6 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %> in <%= data.field6 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %> in <%= data.field6 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> without <%= data.field4 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> in <%= data.field6 %> without <%= data.field4 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> without <%= data.field5 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> in <%= data.field6 %> without <%= data.field5 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> in <%= data.field6 %> without <%= data.field4 %> or <%= data.field5 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %> without <%= data.field4 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %> in <%= data.field6 %> without <%= data.field4 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %> without <%= data.field5 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %> in <%= data.field6 %> without <%= data.field5 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field3 %> in <%= data.field6 %> without <%= data.field4 %> or <%= data.field5 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %> in <%= data.field6 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %> in <%= data.field6 %> without <%= data.field4 %>.</p>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %> in <%= data.field6 %> without <%= data.field5 %>.</p>
<br>
<br>
<p>I&#39;m going to teach <%= data.field1 %> how to <%= data.field2 %> and <%= data.field3 %> in <%= data.field6 %> without <%= data.field4 %> or <%= data.field5 %>.</p>
<br>