<p>Variables Entered</p>
<p>Your main topic: <%= data.field1  %></p>
<p>Name of your product or service: <%= data.field2  %></p>
<p>Your name: <%= data.field3  %></p>
<p>Company / legal name: <%= data.field4  %></p>
<p>Biz address: <%= data.field5  %></p>
<p>Biz phone #: <%= data.field6  %></p>
<p>Main product / site URL: <%= data.field7  %></p>
<p>Cust Service: <%= data.field8  %></p>
<p>Tagline: <%= data.field9  %></p>
<p>Subject line slug: <%= data.field10  %></p>
<p>Day 1 - Instant - Tech Support</p>
<br>
<p>{FIRSTNAME} - *Download Instructions* - Tech Support</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p>Thank you for purchasing:</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<br>
<p>==================</p>
<br>
<p>*********** IMPORTANT***********</p>
<br>
<p>~ SAVE this email where you can easily find it.</p>
<br>
<p>~ Read *all* of this information first *before* emailing for</p>
<p>&nbsp; technical support.</p>
<br>
<p>******** Purchase Details ************</p>
<br>
<p>Dear {FIRSTNAME},</p>
<br>
<p>Thank you very much for purchasing:</p>
<br>
<p>&quot;<%= data.field2  %>&quot;&nbsp;</p>
<br>
<p>Below you will find the answer to almost *every conceivable question* you could ask about downloading, viewing, clicking links, and printing the ebook.</p>
<br>
<p>*Before* emailing for technical support -- there is a 99% chance the answer to your question is *found below*.</p>
<br>
<p><%= data.field3  %></p>
<p><%= data.field2  %></p>
<p><%= data.field7  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p><%= data.field5  %></p>
<p><%= data.field6  %></p>
<br>
<br>
<p>&#39;Mechanical&#39; Issues</p>
<br>
<p>1. Downloading the ebook</p>
<br>
<p>2. Opening the ebook</p>
<br>
<p>3. Downloading &amp; Using Adobe Acrobat Reader</p>
<br>
<p>4. Printing the ebook</p>
<br>
<p>Common Questions / Issues:</p>
<br>
<p>5. *Where are my Bonuses* I was supposed to get with my</p>
<p>&nbsp; &nbsp;purchase?</p>
<br>
<p>6. I downloaded a copy of the ebook but now *I can&#39;t find it*</p>
<p>&nbsp; &nbsp;on my computer - what do I do?</p>
<br>
<p>7. What will my credit card charges say?</p>
<br>
<p>8. Is there a &quot;Hard Copy&quot;?</p>
<br>
<p>9. The links in the ebook won&#39;t work.</p>
<br>
<p>10. I can&#39;t print the book / it stops printing at a certain</p>
<p>&nbsp; &nbsp; page.</p>
<br>
<p>11. Do you have an affiliate program?</p>
<br>
<p>===========================</p>
<p>1.Downloading the ebook</p>
<br>
<p>You should have been taken immediately to a download page where you could download your book and bonuses.</p>
<br>
<p>If not, here is the link to download the book.</p>
<br>
<br>
<p>PUT YOUR DOWNLOAD / ACCESS URL</p>
<br>
<br>
<p>Make sure you save the files (by following the instructions on the download page) to your hard drive in a place you can find them before you do *anything* else.</p>
<br>
<p>You should save the file to your &quot;desktop&quot; so you can find it easily and quickly once you have finished downloading.</p>
<br>
<p>Unless you change the name of the ebook file you downloaded, it is named CHANGE TO YOUR FILENAME &nbsp;-- this is important to know if you have a problem finding the file later.</p>
<br>
<p>===========================</p>
<br>
<p>2.Opening the ebook</p>
<br>
<p>Once you have downloaded the ebook to your computer&#39;s desktop (or whatever folder you saved it in) then simply double click the file and it should open in Adobe Acrobat Reader.</p>
<br>
<p>If it does not open automatically in Adobe Acrobat Reader --then open Adobe Acrobat Reader by clicking &quot;Start&quot; then &quot;Programs&quot; then &quot;Adobe Acrobat&quot; then &quot;Acrobat Reader&quot;</p>
<br>
<p>Once you open the Adobe Acrobat Reader program click &quot;File&quot; &quot;Open&quot; then (if you save the file to your desktop) go to your desktop and open the file named &quot;CHANGE TO YOUR FILENAME&quot;</p>
<br>
<p>This should open the ebook file in your Adobe Acrobat Reader.</p>
<br>
<p>===========================</p>
<br>
<p>3.Downloading &amp; Using Adobe Acrobat Reader</p>
<br>
<p>If you need Adobe Acrobat Reader (or if you need to upgrade) you can download the FREE Reader software / upgrade by going to</p>
<br>
<p>http://www.adobe.com/products/acrobat/readstep.html</p>
<br>
<p>You can get the latest version of Adobe Acrobat Reader FREE</p>
<br>
<p>Adobe Acrobat Reader comes with an extensive &quot;Help&quot; file - if you have questions about how to operate the program -- please open the Adobe Acrobat Reader program, click &quot;Help&quot; and make the appropriate selection.</p>
<br>
<p>===========================</p>
<br>
<p>4.Printing the ebook</p>
<br>
<p>Open Adobe Acrobat Reader by clicking &quot;Start&quot; then &quot;Programs&quot; then &quot;Adobe Acrobat&quot; then &quot;Acrobat Reader&quot;</p>
<br>
<p>Once you open the Adobe Acrobat Reader program click &quot;File&quot; then &quot;Open&quot; then (if you save the file to your desktop) go to your desktop and open the file named &quot;CHANGE TO YOUR FILENAME&quot;</p>
<br>
<p>Then click &quot;File&quot; then &nbsp;&quot;Print&quot;</p>
<br>
<p>===========================</p>
<br>
<br>
<p>*** Frequent Questions / Common Issues ***</p>
<br>
<br>
<p>===========================</p>
<br>
<br>
<p>5.*Where are my Bonuses* I was supposed to get with my purchase?</p>
<br>
<p>You should download ENTER NUMBER files from the site:</p>
<br>
<p>1. &quot;CHANGE TO YOUR FILENAME&quot;, which includes:</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<br>
<p>This file ALSO *includes*</p>
<br>
<p>BONUS #1 - &quot;CHANGE TO YOUR FILENAME&quot;</p>
<br>
<p>BONUS #2 - &quot;CHANGE TO YOUR FILENAME&quot;</p>
<br>
<p>&nbsp;&nbsp;</p>
<p>===========================</p>
<br>
<br>
<p>6. I downloaded a copy of the ebook but now I can&#39;t find it on my computer - what do I do?</p>
<br>
<p>When you originally downloaded the files you should have saved the ebook files to your &quot;desktop&quot;.</p>
<br>
<p>If you did not, and if you cannot find them, the easiest thing to do is a search for them.</p>
<br>
<p>Click the Windows &quot;Start&quot; button then click &quot;Search&quot; then click &quot;For Files or Folders&quot;.</p>
<br>
<p>Where it says &quot;Search for files or folders named:&quot; type in CHANGE TO YOUR FILENAME</p>
<br>
<p>Make sure it says &quot;Look in: &#39;Local Hard Drives&#39;&quot; on the pull down menu right below.</p>
<br>
<p>Click &quot;Search Now&quot;</p>
<br>
<p>Double click the file in the search results and the file should open in Adobe Acrobat Reader.</p>
<br>
<p>If it does not open automatically -- make a note of where the file is located -- then follow the instructions in #2 above.</p>
<br>
<p>===========================</p>
<br>
<p>7.What will my credit card charges say?</p>
<br>
<p>Your credit card charges will reflect &quot;ClickBank / Keynetics&quot; - they will *NOT* say <%= data.field2  %> so please make a mental note of this so when your credit card statement arrives you won&#39;t have a question.</p>
<br>
<p>===========================</p>
<br>
<p>8.Is there a &quot;Hard Copy&quot;?</p>
<br>
<p>There is no hard copy of the Ebook available at this time.&nbsp;</p>
<br>
<p>===========================</p>
<br>
<p>9.The links in the ebook won&#39;t work.</p>
<br>
<p>If you click the &quot;web&quot; links in the ebook (blue underlined links) and they don&#39;t take you to a web page -- Make sure your computer is *online and connected to the web*.</p>
<br>
<br>
<p>If you get an error that says something to the effect that no web browser is configured to work with Adobe Acrobat Reader then try this:</p>
<br>
<p>In Adobe Acrobat Reader go to &quot;File&quot; then &quot;Preferences&quot; then &quot;Web Link&quot; and choose your browser in the WWW Browser Application.</p>
<br>
<p>You will need to find the .exe file for the browser by clicking the &quot;browse&quot; button.</p>
<br>
<p>Your browser .exe file (usually either FireFox or Internet Explorer) can sometimes be found in your &quot;Program Files&quot; folder.</p>
<br>
<p>Any more tech support on this issue should come from Adobe or your computer vendor, (or AOL if you use them) since we cannot be sure where to tell you to look on your hard drive for your browser&#39;s .exe file.</p>
<br>
<p>This should solve the problem of being able to click directly on the links and have them take you to the web.</p>
<br>
<p>===========================</p>
<br>
<p>10.I can&#39;t print the book / it stops printing at a certain page.</p>
<br>
<p>Two things we can offer with what is most likely your computer acting up rather than the ebook file.</p>
<br>
<p>1. Try restarting your computer and printer.&nbsp;</p>
<br>
<p>If that doesn&#39;t work....</p>
<br>
<p>2. When you have the ebook open in Acrobat -- go to File, Click Print, then down in the middle where it says &quot;Print Range&quot; fill in Pages from with about 20 or 30 pages (example 45-75).</p>
<br>
<p>Try printing the book out chapter by chapter.</p>
<br>
<p>===========================</p>
<br>
<p>11.Do you have an affiliate program?</p>
<br>
<p>YES! We do have an affiliate program and we pay a nice juicy 50% commission!</p>
<br>
<p>All the details are available at:</p>
<br>
<p>AFFILIATE INFO URL</p>
<br>
<p>===========================</p>
<br>
<p>If none of these answer your specific question then please contact us at <%= data.field8  %>&nbsp;</p>
<br>
<p>We will respond as quickly as possible.</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Day 2 - Thanks for purchase</p>
<br>
<p><%= data.field10  %> {FIRSTNAME} Thanks for purchasing &quot;<%= data.field2  %>&quot;</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %></p>
<br>
<p>I wanted to take a minute and thank you personally for purchasing &quot;<%= data.field2  %>&quot;.</p>
<br>
<p>If you had any problems accessing the material please contact us immediately at <%= data.field8  %>.</p>
<br>
<p>As a special way of saying thanks we want to give you several *unadvertised* BONUSES!</p>
<br>
<p>So keep your eyes glued to your &quot;in-box&quot; for some very Special BONUSES from me in the near future!</p>
<br>
<p>It&#39;s just one of our ways to &quot;Thank You&quot; for your purchase. :-)</p>
<br>
<p>So thanks again for your business. We look forward to hearing all about your success with <%= data.field2  %>!</p>
<br>
<br>
<p><%= data.field3  %></p>
<br>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>P.S. Here&#39;s another unadvertised BONUS! From time to time we&#39;ll send you updates and articles on the latest tips, tricks and techniques you can use to get incredible results with <%= data.field1  %>!</p>
<br>
<p>So keep your eyes peeled!</p>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<br>
<p>Day 3 - Golden Nugget</p>
<br>
<p><%= data.field10  %> {FIRSTNAME} don&#39;t skip over this part... it&#39;s important</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %></p>
<br>
<p>I know you&#39;re probably busy, but I wanted to point out something important you should NOT skip over or miss in &quot;<%= data.field2  %>&quot;.</p>
<br>
<p>On page / at minute we show you how to ENTER A CRITICAL STEP OR OVERLOOKED POINT</p>
<br>
<p>This is important because TELL THE READER WHY THIS IS IMPORTANT&nbsp;</p>
<br>
<p>We just wanted to make sure you didn&#39;t miss that because it&#39;s critical for your success with <%= data.field1  %>&nbsp;</p>
<br>
<p>&nbsp; &nbsp; &nbsp;(OPTIONAL) ** In fact, here&#39;s a tool you can use to help you</p>
<p>&nbsp; &nbsp; &nbsp;get results even faster. It will BENEFIT, BENEFIT, and BENEFIT.</p>
<br>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; URL TO THE TOOL</p>
<br>
<p>&nbsp; &nbsp; &nbsp;** CAN BE A FREE TOOL, AFFILIATE OFFER, OR ANOTHER OF YOUR PRODUCTS</p>
<p>&nbsp; &nbsp; &nbsp;** My opinion: get a lot of future mileage if this tool is FREE, very COOL,&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp;** does the &quot;heavy-lifting&quot; for them, and is AWESOME at helping them get FAST results.</p>
<br>
<p>Enjoy!</p>
<br>
<br>
<p><%= data.field3  %></p>
<br>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>P.S. Your first unadvertised bonus will be coming to you at this email address in just a few days... So keep your eyes peeled!</p>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Day 4 - Had to share this with you</p>
<p>Testimonial from a happy client +tip on how they can get the same result</p>
<br>
<p><%= data.field10  %> {FIRSTNAME}, had to share this with you :-)</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %></p>
<br>
<p>This came in from a customer a little while back and I wanted to share it with you because we thought it might encourage you moving forward :-)</p>
<br>
<p>** &nbsp;Insert a</p>
<p>** CASE study OR</p>
<p>** RESULTS testimonial &nbsp;OR</p>
<p>** PRODUCT testimonial OR</p>
<p>** STORY about how a customer used the product</p>
<br>
<p>See, getting results in <%= data.field1  %> is simple when you just take action and believe it will work for you... and seeing what others have done really helps to give you that little extra oomph to make things happen!</p>
<br>
<p>Hope you&#39;re having a great day!</p>
<br>
<br>
<p><%= data.field3  %></p>
<br>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>P.S. We would LOVE to hear from you about how you&#39;re doing with the material in <%= data.field2  %></p>
<br>
<p>We&#39;re anxious to hear YOUR story about how you&#39;re doing and the results you&#39;re getting!</p>
<br>
<p>Drop us a line at <%= data.field8  %> and let us know :-)</p>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<br>
<p>Day 5 - A Match Made In Heaven</p>
<p>Let them know about one product that will make what they bought from youwork, perform, advance them even better.</p>
<br>
<p>Can be FREE, your own product, or someone else&#39;s product... doesn&#39;t matter.</p>
<br>
<p>Helps if you supply education with it... in other words, TOOL + HOW to getSPECIFIC results with it (videos, explanation, help).</p>
<br>
<p><%= data.field10  %> {FIRSTNAME}, it&#39;s a match made in heaven</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %></p>
<br>
<p>If you want to get better, faster, and more profitable results with <%= data.field1  %>, then this is a heads-up specifically for you!</p>
<br>
<p>Here&#39;s a tool / software / info, etc. that will help you get BENEFIT, BENEFIT, and BENEFIT!</p>
<br>
<p>It&#39;s called TITLE and you can get it here ENTER YOUR URL</p>
<br>
<p>It will help you with your <%= data.field1  %> in three very specific ways:</p>
<br>
<p>1. It (FEATURE) so you can (BIG RESULT)</p>
<br>
<p>2. It eliminates BIG PROBLEM THEY HAVE</p>
<br>
<p>3. Most importantly, it saves you from (BIG EXPENSE / BIG FRUSTRATION / BIG EFFORT)</p>
<br>
<p>You can get your hands on it here ENTER YOUR URL</p>
<br>
<p>Oh, and when you do grab it, let us know here <%= data.field8  %> and we&#39;ll give you a BIG BONUS OF VIDEOS OR SOMETHING ELSE COOL</p>
<br>
<p>Have a great day :-)</p>
<br>
<p><%= data.field3  %></p>
<br>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>P.S. Oops, almost forgot to mention one other thing TITLE will do for you is ANOTHER BIG BENEFIT!</p>
<br>
<p>So go claim your copy / access / download right now and start getting results a lot easier and faster (so you can get back to having fun!)</p>
<br>
<p>ENTER YOUR URL</p>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<br>
<p>Day 6 - 2 Quick things</p>
<p>Something else cool from the product they shouldn&#39;t miss or overlook +reminder that first unadvertised bonus comes tomorrow!</p>
<br>
<br>
<p><%= data.field10  %> {FIRSTNAME}, 2 Quick things (take 60 seconds, tops)</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %></p>
<br>
<p>2 quick things for you today...</p>
<br>
<p>#1 - Don&#39;t forget! Tomorrow I&#39;ll be sending you your *Unadvertised* Bonus. Please keep your eyes peeled in your email box for a very special delivery :-)</p>
<br>
<p>#2 - There&#39;s one other thing I want to point out to you about <%= data.field2  %> that we want to make sure you don&#39;t miss.</p>
<br>
<p>** BIG TIP to make money, save money, save time, avoid effort</p>
<p>** BIG TAKEAWAY</p>
<p>** BIG APPLICATION (SPECIFIC) TO GET RESULTS</p>
<p>** BIG AH-HA</p>
<br>
<p>I wanted to make sure you knew about that because I&#39;m pretty sure you&#39;ll find that helps you get even better results with <%= data.field1  %>!</p>
<br>
<p>See you tomorrow with that *Unadvertised* bonus! :-)</p>
<br>
<p><%= data.field3  %></p>
<br>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>** OPTIONAL**&nbsp;</p>
<br>
<p>P.S. Here&#39;s an article/blog post I wrote/found about SPECIFIC TOPIC you&#39;ll enjoy.&nbsp;</p>
<br>
<p>It will help you BENEFIT</p>
<br>
<p>Take a peek if you have a chance :-)</p>
<br>
<p>URL TO ARTICLE / BLOG POST</p>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Day 7 - First Unadvertised Bonus</p>
<br>
<p><%= data.field10  %> {FIRSTNAME}, &quot;Unadvertised&quot; BONUS I promised you :-)</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %> with your &quot;Unadvertised&quot; Bonus for purchasing <%= data.field2  %>!</p>
<br>
<p>Last week we sent you a &quot;Thank You&quot; note thanking you for your purchase and told you that as a special way of saying thanks we would send you some &quot;Unadvertised&quot; Bonuses.&nbsp;</p>
<br>
<p>We want to reward you for trusting us :-)</p>
<br>
<p>So here you go, the first &quot;Unadvertised&quot; Bonus - and this one will knock your socks off!</p>
<br>
<p>SPECIAL Report:</p>
<br>
<p>&quot;SPECIAL REPORT TITLE&quot;</p>
<p>HUGE BENEFIT DESCRIPTION</p>
<br>
<p>Click Here to access your bonus instantly</p>
<p>=&gt; LINK TO UA BONUS</p>
<br>
<p>Thanks again for your purchase.</p>
<br>
<p><%= data.field3  %></p>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>PS - the number ONE reason you should grab this bonus and devour it is because it will immediately help you GET BIG BENEFIT!</p>
<br>
<p>Go ahead... check it out right now!</p>
<br>
<p>=&gt; LINK TO UA BONUS</p>
<br>
<br>
<p>====================</p>
<br>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Affiliate Program Announcement</p>
<p>Announce your affiliate program approximately 30 days after their initial purchase.</p>
<br>
<br>
<p><%= data.field10  %> {FIRSTNAME} put something extra in your pocket :-)</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p>A month ago you bought</p>
<br>
<p>&quot;<%= data.field2  %>&quot; - <%= data.field9  %></p>
<br>
<p>Well, we have a very *Special Announcement* for you!</p>
<br>
<p>We have kicked off the &quot;<%= data.field2  %>&quot; Affiliate Program!</p>
<br>
<p>As you probably realize, someone who already owns a product is -- without a doubt -- the best person to recommend it!</p>
<br>
<p>Because of this fact, &nbsp;we wanted to give you the opportunity to tell your friends, website visitors, and your opt-in mailing list about &quot;<%= data.field2  %>&quot; and to compensate you handsomely for doing it!</p>
<br>
<p>Bottom Line...</p>
<br>
<p>We pay a nice -- BIG -- juicy 50% commission on each sale you refer!</p>
<br>
<p>We also cut checks every other week - not once a month like most other affiliate programs!</p>
<br>
<p>The affiliate program is administered through ClickBank - one of the Web&#39;s most trusted third party credit card processors.</p>
<br>
<p>Go to AFFILIATE SIGNUP LINK now to get all the information you need to signup for the affiliate program!</p>
<br>
<p>You&#39;ll also find a wide variety of *proven* tools to help you sell more ebooks, including:</p>
<br>
<p>- email tools</p>
<p>- graphics tools</p>
<p>- headlines</p>
<p>- a pop-up script</p>
<p>- ezine ads</p>
<p>... more!</p>
<br>
<p>Grab your link... grab your tools... and start selling!</p>
<br>
<p>If you have any questions please email me immediately.</p>
<br>
<p>We look forward to working with you.</p>
<br>
<p>Sincerely,</p>
<br>
<p><%= data.field3  %></p>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<br>
<p>P.S. We&#39;ve already received an OUTRAGEOUS response to this offer!</p>
<br>
<p>Copies of &quot;<%= data.field2  %>&quot; are flying off the website!&nbsp;</p>
<br>
<p>Our conversion rate is *incredible*!</p>
<br>
<p>If you send visitors to the site -- you&#39;ll make the sales!</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Article Sharing Template w/ Optional &quot;By the way...&quot;</p>
<p>Use this template to share articles, your own or someone else&#39;s, with your subscribers.</p>
<br>
<br>
<p><%= data.field10  %> {FIRSTNAME}, new <%= data.field1  %> article you&#39;ll love</p>
<br>
<p>Dear {FIRSTNAME},</p>
<br>
<p><%= data.field3  %> here from &quot;<%= data.field2  %>&quot;</p>
<p>with an article I think you&#39;ll really like.</p>
<br>
<p>=&gt; LINK TO THE ARTICLE</p>
<br>
<p>Do you spend a lot of time on PROBLEM THE ARTICLE SOLVES?</p>
<br>
<p>Would you like to get BIG BENEFIT THE ARTICLE OFFERS?</p>
<br>
<p>Well, in this new article, you&#39;ll discover:</p>
<p>~ BULLET</p>
<p>~ BULLET</p>
<p>~ BULLET</p>
<br>
<p>=&gt; LINK TO THE ARTICLE</p>
<br>
<p>It&#39;s a quick read and well worth the time to check it out right now.</p>
<br>
<p>** OPTIONAL &quot;By the way...&quot;</p>
<p>** Can help if it is the same tool as &nbsp;</p>
<p>** you have in the article resource box</p>
<br>
<p>By the way...</p>
<br>
<p>Here&#39;s a tool / resource that will help you get BIG BENEFIT OF ARTICLE even faster / easier / cheaper!</p>
<br>
<p>=&gt; LINK TO A TOOL WHERE YOU MAKE MONEY</p>
<br>
<p>To your success,</p>
<br>
<p><%= data.field3  %></p>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<p>** OPTIONAL PS</p>
<br>
<p>PS - Feel free to leave your comments about the article on my blog! Let&#39;s get a discussion going around this and really help clarify things for people :-)</p>
<br>
<p>=&gt; LINK TO THE ARTICLE</p>
<br>
<br>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<br>
<p>Message to announce a new product</p>
<p>Can be your product or an affiliate offer. Does not have to be a NEW product, just NEW to THEM!</p>
<br>
<br>
<p><%= data.field10  %> {FIRSTNAME}, do you need more SOMETHING THEY REALLY NEED ?</p>
<br>
<p>Hi {FIRSTNAME},</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %> with some important news.</p>
<br>
<p>Do you need more SOMETHING THEY REALLY NEED ?&nbsp;</p>
<p>(** Traffic / time / peace of mind, etc.)</p>
<br>
<p>Who doesn&#39;t need more of that!</p>
<br>
<p>=&gt; LINK TO PRODUCT</p>
<br>
<p>Well, if you want BENEFIT, BENEFIT &amp; BENEFIT then have I got something for you!</p>
<br>
<p>It&#39;s called PRODUCT NAME</p>
<br>
<p>And it will help you</p>
<p>~ BULLET</p>
<p>~ BULLET</p>
<p>~ BULLET</p>
<br>
<p>=&gt; LINK TO PRODUCT</p>
<br>
<p>Check it out right now,</p>
<p>you&#39;ll be glad you did!</p>
<br>
<p><%= data.field3  %></p>
<br>
<p>PS - I almost forgot to mention, it will also help you BIG BENEFIT</p>
<br>
<p>Take a quick peek right now</p>
<br>
<p>=&gt; LINK TO PRODUCT</p>
<br>
<br>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Template for quickly sending more Unadvertised Bonuses</p>
<br>
<br>
<p><%= data.field10  %> {FIRSTNAME}, here&#39;s another &quot;Unadvertised&quot; BONUS</p>
<br>
<p>Hi {FIRSTNAME}</p>
<br>
<p><%= data.field3  %> here from <%= data.field7  %> with *another* &quot;Unadvertised&quot; Bonus for purchasing &quot;<%= data.field2  %>&quot;!</p>
<br>
<p>Not too long ago we sent you a special unadvertised bonus about &quot;TITLE&quot; AND TOPIC OF LAST UA BONUS SENT</p>
<br>
<p>This time we give you a BIG BENEFIT TITLE + COMPELLING DESCRIPTION OF WHAT IS IN THE BONUS</p>
<br>
<p>Click Here to download your bonus in PDF format</p>
<p>=&gt; UA BONUS LINK</p>
<br>
<p>Thanks again for your purchase and for being such a great customer!</p>
<br>
<p><%= data.field3  %></p>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<p>Video Sharing Template</p>
<p>Use this to share videos, your own or someone else&#39;s, with your subscribers.</p>
<br>
<br>
<p><%= data.field10  %> Something cool you can use IMMEDIATELY!</p>
<br>
<p>Hi {FIRSTNAME},</p>
<br>
<p><%= data.field3  %> here with a short new video just posted for you. There are some excellent <%= data.field1  %> nuggets in this one...</p>
<br>
<p>==&gt; VIDEO LINK</p>
<br>
<p>In this quick clip you get the answer to the question...</p>
<br>
<p>&quot;BIG QUESTION IT ANSWERS?&quot;</p>
<br>
<p>In fact, you&#39;ll also discover</p>
<p>~ BULLET</p>
<p>~ BULLET</p>
<p>~ BULLET</p>
<br>
<p>All in one short video!</p>
<br>
<p>Watch it right now:</p>
<p>==&gt; VIDEO LINK</p>
<br>
<p>To your continued success!</p>
<br>
<p><%= data.field3  %></p>
<p><%= data.field2  %></p>
<p>&quot;<%= data.field9  %>&quot;</p>
<br>
<br>
<p>** OPTIONAL PS #1</p>
<br>
<p>PS - Feel free to leave your comments about the article on my blog! Let&#39;s get a discussion going around this and really help clarify things for people :-)</p>
<br>
<p>=&gt; LINK TO THE ARTICLE</p>
<br>
<p>** OPTIONAL PS #2</p>
<br>
<p>PS - By the way, if you&#39;d like more nitty-gritty details on this topic, check out this great tool that will help you get BIG BENEFIT even faster! (Yep, even faster!)</p>
<br>
<p>=&gt; LINK TO COOL TOOL</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>(c)<%= data.field4  %></p>
<p><%= data.field5  %></p>
<p>Phone: <%= data.field6  %></p>
<p>Support: <%= data.field8  %></p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>This email is never sent without permission.&nbsp;</p>
<br>
<p>You are receiving this email because you&nbsp;</p>
<p>(or someone using your email address)&nbsp;</p>
<p>bought <%= data.field2  %></p>
<p>from <%= data.field3  %></p>
<p>at <%= data.field7  %></p>
<br>
<p>The information we have on file is</p>
<p>Your name: {FIRSTNAME}</p>
<p>Your email: {EMAIL}&nbsp;</p>
<br>
<br>