<p>Attn: <%= data.field1 %>...</p>
<br>
<p>&quot;Finally! How To <%= data.field2 %>&quot;</p>
<p>(So you DON&#39;T have to <%= data.field3 %>)&nbsp;</p>
<p>* <%= data.field4 %></p>
<p>&nbsp;</p>
<p>* <%= data.field5 %></p>
<br>
<p>* <%= data.field6 %></p>
<br>
<p>From: <%= data.field7 %></p>
<p>RE: <%= data.field8 %></p>
<br>
<p>Dear <%= data.field9 %>,</p>
<br>
<p>If you want <%= data.field10 %>, <%= data.field11 %>, or even if you just want to <%= data.field12 %>, then this is the most important letter you&#39;ll read all year!</p>
<br>
<p>Here&#39;s why...</p>
<br>
<p><%= data.field13 %>!</p>
<br>
<p>&nbsp; &nbsp; &nbsp;<%= data.field14 %> <%= data.field15 %> &nbsp; &nbsp;</p>
<br>
<p>Here&#39;s how and why we can make you this promise...&nbsp;</p>
<p><%= data.field16 %></p>
<br>
<p><%= data.field17 %></p>
<br>
<p><%= data.field18 %></p>
<br>
<p><%= data.field19 %></p>
<br>
<p><%= data.field20 %></p>
<br>
<p>&nbsp; &nbsp; <%= data.field21 %> <%= data.field22 %> &nbsp;</p>
<br>
<p>In Fact, Here&#39;s Just The Tip of The Iceberg of What You Get...&nbsp;</p>
<p>* <%= data.field23 %></p>
<br>
<p>* <%= data.field24 %></p>
<br>
<p>* <%= data.field25 %></p>
<br>
<p>* <%= data.field26 %></p>
<br>
<p>* <%= data.field27 %></p>
<br>
<p>&nbsp; &nbsp;<%= data.field28 %> <%= data.field29 %> &nbsp;</p>
<br>
<p>* <%= data.field30 %></p>
<br>
<p>* <%= data.field31 %></p>
<br>
<p>* <%= data.field32 %></p>
<br>
<p>* Any additional bullets?</p>
<br>
<p>So Here&#39;s The Bottom Line With <%= data.field33 %></p>
<p><%= data.field34 %></p>
<br>
<p>You get all of this for only <%= data.field35 %>...</p>
<br>
<p>But Let Me Sweeten The Pot For You Even More With These Instant Bonuses For Acting Now...&nbsp;</p>
<p>Bonus #1: <%= data.field36 %></p>
<br>
<p><%= data.field37 %></p>
<br>
<p>&nbsp;Real Value: <%= data.field38 %> to <%= data.field39 %></p>
<br>
<p>Bonus#2: <%= data.field40 %></p>
<br>
<p><%= data.field41 %></p>
<br>
<p>Real Value: <%= data.field42 %> to <%= data.field43 %></p>
<br>
<p>As you can see, these bonuses have a total value of between &nbsp;<%= data.field44 %> and <%= data.field45 %>... but they&#39;re yours when you act now!</p>
<br>
<p>And you have nothing to lose because you can...&nbsp;</p>
<br>
<p>&nbsp;</p>
<br>
<p>&nbsp;Take A Full <%= data.field46 %> To Put Us To The Test With Our Iron-Clad, Money-Back Guarantee&nbsp;</p>
<p>If &quot;<%= data.field33 %>&quot; doesn&#39;t show me exactly how to <%= data.field10 %>... if it doesn&#39;t take me by the hand, step-by-step <%= data.field11 %>... or if it fails to help me <%= data.field12 %>, then I understand that I will receive a full refund, No Questions Asked!!</p>
<br>
<br>
<p>As you can see all the risk is squarely on my shoulders, so....</p>
<br>
<p>Here&#39;s How To Order Right Now</p>
<p>So go ahead and click the order link now and you&#39;ll be on your way to enjoying all the benefits we&#39;ve talked about here and more! Let&#39;s get started right now!</p>
<br>
<p>[amex][disc][mc][visa][paypal]</p>
<p>Purchase Online with Credit Card by Secure Server</p>
<br>
<p>&nbsp;<%= data.field47 %></p>
<br>
<p><%= data.field48 %></p>
<br>
<p><%= data.field7 %></p>
<br>
<p>P.S. - <%= data.field49 %></p>
<br>
<p>&nbsp;<%= data.field50 %></p>
<br>
<p>Company Information</p>
<p>Click Here To Contact Us&nbsp;</p>
<p>Earnings Disclaimer | Privacy Policy | Disclaimer | Terms of Service | Support</p>
<br>
<p>(c) <%= data.field7 %> / Company Name - All Rights Reserved</p>
<br>