<p>&nbsp;&nbsp;</p>
<p>Question Ads:</p>
<br>
<p><%= data.field1 %> Questions?</p>
<p>We&#39;ve got <%= data.field2 %> and</p>
<p><%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %> Questions?</p>
<p>We&#39;ve got <%= data.field2 %> and <%= data.field1 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %> Questions?</p>
<p>&nbsp;We&#39;ve got <%= data.field1 %> and <%= data.field2 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %> Questions?</p>
<p>&nbsp;We&#39;ve got <%= data.field1 %> and <%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %>?</p>
<p>We&#39;ve got <%= data.field2 %> and&nbsp;</p>
<p><%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %>?</p>
<p>We&#39;ve got <%= data.field2 %> and <%= data.field1 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %>?</p>
<p>&nbsp;We&#39;ve got <%= data.field1 %> and</p>
<p><%= data.field2 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field1 %>?</p>
<p>&nbsp;We&#39;ve got <%= data.field1 %> and</p>
<p><%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p>Problem-Centered Ads:</p>
<br>
<p><%= data.field2 %> Questions?</p>
<p>We&#39;ve got <%= data.field2 %> and <%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field2 %> Problems?</p>
<p>We&#39;ve got <%= data.field2 %> and</p>
<p><%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field2 %> Questions?</p>
<p>We&#39;ve got <%= data.field2 %> and <%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p><%= data.field2 %> Problems?</p>
<p>We&#39;ve got <%= data.field2 %> and <%= data.field3 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p>&nbsp;<%= data.field2 %>?</p>
<p>Want to <%= data.field9 %> <%= data.field2 %>? We have your <%= data.field3 %> here&nbsp;</p>
<p><%= data.field8 %></p>
<br>
<p>Do you have <%= data.field2 %>?</p>
<p>&nbsp;If you want <%= data.field2 %> to stop then you have to check this out.&nbsp;</p>
<p><%= data.field8 %></p>
<br>
<p>Do you have <%= data.field2 %>?</p>
<p>If you want your <%= data.field2 %> to stop then you have to check this out.&nbsp;</p>
<p><%= data.field8 %></p>
<br>
<p>Solution-Centered Ads:</p>
<br>
<p>If you need <%= data.field3 %>&nbsp;</p>
<p>We&#39;ve got <%= data.field3 %> <%= data.field4 %> and more right here.</p>
<p><%= data.field8 %></p>
<br>
<p>Need <%= data.field2 %> <%= data.field3 %>?</p>
<p>We&#39;ve got <%= data.field2 %> and <%= data.field1 %> <%= data.field4 %> here.</p>
<p><%= data.field8 %></p>
<br>
<p>Need <%= data.field3 %>?</p>
<p>&nbsp;You are just one click away from</p>
<p>getting <%= data.field3 %>&nbsp;</p>
<p><%= data.field8 %></p>
<br>
<p>Need <%= data.field2 %> <%= data.field3 %>?</p>
<p>You are just one click away from</p>
<p><%= data.field9 %> <%= data.field2 %></p>
<br>