<p>3 Main Parts Of A FB Newsfeed Ad</p>
<p>Instructions:</p>
<p>Step 1: Define your Traffic Temperature</p>
<br>
<p>Step 2: Choose your Newsfeed Ad Headline</p>
<br>
<p>Step 3: Choose your Post Text</p>
<br>
<p>Step 4: Choose your Description Text</p>
<br>
<p>Step 5: Edit your ad copy as needed</p>
<br>
<p>Variables You Entered</p>
<p>Main Keyword Phrase: <%= data.field1 %></p>
<p>Niche audience member (singular): <%= data.field2 %></p>
<p>Product NAME / TITLE: <%= data.field3 %></p>
<p>The &quot;thing&quot; that holds solution: <%= data.field4 %></p>
<p>Description of the &quot;thing&quot;: <%= data.field5 %></p>
<p>Big payoff they want: <%= data.field6 %></p>
<p>Wave your magic wand to get them the big payoff: <%= data.field7 %></p>
<p>How quickly do they get the big payoff: <%= data.field8 %></p>
<p>Big obstacle / barrier / negative circumstance / pain they want to avoid: <%= data.field9 %></p>
<br>
<br>
<br>
<p>HOT Traffic&nbsp;</p>
<p>(Product-Centered)</p>
<p>HOT Traffic Headline: Pick One</p>
<br>
<p><%= data.field3 %>: The <%= data.field4 %> That Gets Results</p>
<br>
<p>You Too Can <%= data.field6 %> in <%= data.field8 %> with <%= data.field3 %></p>
<br>
<p><%= data.field6 %> With <%= data.field3 %></p>
<br>
<p><%= data.field6 %> <%= data.field7 %> With <%= data.field3 %></p>
<br>
<p>X Questions Answered About <%= data.field3 %></p>
<br>
<p>Answered: Your Most Burning Questions About <%= data.field3 %></p>
<br>
<p><%= data.field3 %> Helps You <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p>START to <%= data.field6 %> with <%= data.field3 %> Now!</p>
<br>
<p><%= data.field6 %> with <%= data.field3 %> Or Your Money Back</p>
<br>
<p>Stop <%= data.field9 %> with <%= data.field3 %> Or Your Money Back</p>
<br>
<p><%= data.field3 %>: New Solution to <%= data.field6 %></p>
<br>
<p><%= data.field3 %>: New Solution to <%= data.field6 %> <%= data.field7 %></p>
<br>
<p><%= data.field3 %>: New Answer For Field2s Who Want to <%= data.field6 %></p>
<br>
<p><%= data.field3 %>: The <%= data.field4 %> Everyone&#39;s Talking About</p>
<br>
<p>Now You Can <%= data.field6 %> with <%= data.field3 %></p>
<br>
<p>Now You Can <%= data.field6 %> <%= data.field7 %> with <%= data.field3 %></p>
<br>
<p>Now You Can <%= data.field6 %> with <%= data.field3 %> Just Like These Successful Field2s Do</p>
<br>
<p><%= data.field3 %>: Quick Relief For Field2s Who Want To <%= data.field6 %></p>
<br>
<p><%= data.field3 %>: How To <%= data.field6 %> For Less</p>
<br>
<p><%= data.field3 %>: How To <%= data.field6 %> In <%= data.field8 %></p>
<br>
<p>How To <%= data.field6 %> In <%= data.field8 %> with <%= data.field3 %></p>
<br>
<p>How Field2s <%= data.field6 %> In <%= data.field8 %> with <%= data.field3 %></p>
<br>
<p>How Field2s Just Like You <%= data.field6 %> In <%= data.field8 %> with <%= data.field3 %></p>
<br>
<br>
<p>HOT Traffic Post Text: Pick One</p>
<br>
<p>If you&#39;re a <%= data.field2 %> and you struggle with <%= data.field9 %> then you need &quot;<%= data.field3 %>&quot; to <%= data.field6 %></p>
<br>
<p>If you&#39;re a <%= data.field2 %> who wants better results with <%= data.field1 %> but you struggle with <%= data.field9 %> then you need &quot;<%= data.field3 %>&quot; to <%= data.field6 %></p>
<br>
<p><%= data.field5 %> <%= data.field4 %> &quot;<%= data.field3 %>&quot; <%= data.field7 %> helps you <%= data.field6 %></p>
<br>
<p><%= data.field5 %> <%= data.field4 %> &quot;<%= data.field3 %>&quot; <%= data.field7 %> helps you <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p>FREE <%= data.field3 %> - Get yours now!</p>
<br>
<p><%= data.field3 %> reveals X ways every <%= data.field2 %> can <%= data.field6 %>.&nbsp;</p>
<br>
<p><%= data.field3 %> gives you the exact steps to <%= data.field6 %> ... within <%= data.field8 %>.&nbsp;</p>
<br>
<p>Discover how <%= data.field3 %> gives you the exact steps to <%= data.field6 %>... within <%= data.field8 %>.&nbsp;</p>
<br>
<p>Discover how <%= data.field3 %> gives you the exact steps to <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<p>Field2s - Easy <%= data.field1 %> <%= data.field4 %> <%= data.field3 %> just launched. Makes it super simple to <%= data.field6 %>.&nbsp;</p>
<br>
<p>Field2s - Easy <%= data.field4 %> for <%= data.field1 %> <%= data.field3 %> just released. Makes it super simple to <%= data.field6 %>.</p>
<br>
<p>Watch this free video to learn how <%= data.field3 %> gives you an unfair advantage with <%= data.field1 %></p>
<br>
<p>Watch this free video to discover how <%= data.field3 %> gives you an unfair advantage with <%= data.field1 %> and <%= data.field6 %></p>
<br>
<p>Watch this free video that reveals how YOU can gain an unfair advantage with <%= data.field3 %> and avoid <%= data.field9 %></p>
<br>
<p>Discover how savvy &nbsp;field2s use <%= data.field3 %> to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>Discover how savvy &nbsp;field2s use this <%= data.field5 %> <%= data.field4 %> <%= data.field3 %> to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p><%= data.field3 %> - the NEW <%= data.field4 %> - shows you exactly how to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p><%= data.field3 %> gives you the Simplest Way to <%= data.field6 %> in <%= data.field8 %> or Less</p>
<br>
<p><%= data.field3 %> gives you the Simplest Way to <%= data.field6 %> in <%= data.field8 %> or Less WithOUT <%= data.field9 %></p>
<br>
<p><%= data.field3 %> is The Secret To Automatically <%= data.field6 %>!</p>
<br>
<p>The Secret To Automatically <%= data.field6 %> without <%= data.field9 %> - <%= data.field3 %>!</p>
<br>
<p>When you attend this FREE Online Training, you&#39;ll discover How To <%= data.field6 %> using <%= data.field3 %></p>
<br>
<p>If you&#39;re a <%= data.field2 %>, but you can&#39;t <%= data.field6 %>, then you need <%= data.field3 %>, the <%= data.field5 %> <%= data.field4 %>...</p>
<br>
<p><%= data.field3 %> gives you a proven path to <%= data.field6 %></p>
<br>
<p><%= data.field3 %> is the <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helps you <%= data.field6 %></p>
<br>
<p><%= data.field3 %> is the <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helps you <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p><%= data.field3 %> is the <%= data.field5 %> <%= data.field4 %> Pro field2s use to <%= data.field7 %> <%= data.field6 %></p>
<br>
<p>I was stuck &nbsp;<%= data.field9 %> until I discovered <%= data.field3 %>, the <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helped me <%= data.field6 %>.</p>
<br>
<p>Want to <%= data.field6 %>? <%= data.field3 %> helps you do it.</p>
<br>
<p>Want to <%= data.field6 %>? <%= data.field3 %>, the <%= data.field5 %> <%= data.field4 %>, helps you do it.</p>
<br>
<p>Want to <%= data.field6 %>? <%= data.field3 %> helps field2s just like you do it <%= data.field8 %>.</p>
<br>
<br>
<p>HOT Traffic Description: Pick One</p>
<br>
<p>Check Out / Download / Grab / Claim <%= data.field3 %> to discover for yourself all the ways you can <%= data.field6 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim <%= data.field3 %> to discover how to <%= data.field6 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field5 %> <%= data.field4 %> - <%= data.field3 %> - to discover how to <%= data.field6 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim <%= data.field3 %> to discover how to <%= data.field6 %> in <%= data.field8 %>.&nbsp;</p>
<br>
<p>Struggling to <%= data.field6 %>? Get <%= data.field3 %>!</p>
<br>
<p>Struggling with <%= data.field9 %>? Try <%= data.field3 %>!</p>
<br>
<p>Struggling with <%= data.field9 %> for <%= data.field1 %>? Try <%= data.field3 %>!</p>
<br>
<p>The Must Have <%= data.field1 %> <%= data.field4 %> - <%= data.field3 %>!</p>
<br>
<p><%= data.field3 %>: The Must Have <%= data.field4 %> for <%= data.field1 %></p>
<br>
<p>Click Here to see <%= data.field3 %>, the <%= data.field5 %> <%= data.field4 %> for <%= data.field1 %> that helps you <%= data.field6 %> without <%= data.field9 %>.</p>
<br>
<p>FREE <%= data.field3 %> - Click Here</p>
<br>
<p>FREE <%= data.field3 %>! <%= data.field6 %></p>
<br>
<p>FREE <%= data.field3 %>! <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> with <%= data.field3 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> in <%= data.field8 %> with <%= data.field3 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> WITHOUT <%= data.field9 %> with <%= data.field3 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> in <%= data.field8 %> WITHOUT <%= data.field9 %> with <%= data.field3 %></p>
<br>
<p>Click Here Now For Instant Access To <%= data.field3 %></p>
<br>
<p><%= data.field3 %>: How To <%= data.field6 %></p>
<br>
<p><%= data.field3 %>: How To Avoid <%= data.field9 %></p>
<br>
<p><%= data.field3 %>: How To Avoid <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p><%= data.field3 %> Helps You <%= data.field6 %></p>
<br>
<p><%= data.field3 %> Helps You Avoid <%= data.field9 %></p>
<br>
<p><%= data.field3 %> Helps You Avoid <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p><%= data.field5 %> <%= data.field3 %> Helps You <%= data.field6 %></p>
<br>
<p><%= data.field5 %> <%= data.field3 %> Helps You Avoid <%= data.field9 %></p>
<br>
<p>Click Here To Learn More About This <%= data.field3 %></p>
<br>
<p>Say hello to <%= data.field3 %></p>
<br>
<p>Check Out <%= data.field3 %> NOW to Get Started!</p>
<br>
<p>Check Out <%= data.field3 %> NOW to <%= data.field6 %>!</p>
<br>
<p>Check Out <%= data.field3 %> NOW to Get Started with <%= data.field6 %>!</p>
<br>
<p>Get <%= data.field3 %> so you can use it to <%= data.field7 %> <%= data.field6 %>.</p>
<br>
<p>Get <%= data.field3 %> so you can use it to <%= data.field7 %> <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<br>
<p>WARM Traffic</p>
<p>(Result-Centered)</p>
<p>WARM Traffic Headline: Pick One</p>
<br>
<p>Here&#39;s Great News If You Want To <%= data.field6 %></p>
<br>
<p>Here&#39;s A Quick Way To <%= data.field6 %></p>
<br>
<p>X Secrets to <%= data.field6 %></p>
<br>
<p>X Secrets to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>Here&#39;s The Secret to <%= data.field6 %></p>
<br>
<p>Here&#39;s The Secret to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>Who Else Wants <%= data.field6 %>?</p>
<br>
<p>Who Else Wants To <%= data.field6 %> without <%= data.field9 %>?</p>
<br>
<p>The Lazy <%= data.field2 %>&#39;s Way to <%= data.field6 %></p>
<br>
<p>Discover The <%= data.field6 %> Secret</p>
<br>
<p>Discover The <%= data.field1 %> Secret</p>
<br>
<p>The Wrong Way And The Right Way To <%= data.field6 %></p>
<br>
<p>For Field2s Who Want To <%= data.field6 %> But Can&#39;t Get Started</p>
<br>
<p>How To <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>There&#39;s Big <%= data.field6 %> In This <%= data.field4 %></p>
<br>
<p>You Don&#39;t Have to Be a Pro <%= data.field2 %> to <%= data.field6 %></p>
<br>
<p>Little Known Ways to <%= data.field6 %></p>
<br>
<p><%= data.field6 %> like a pro <%= data.field2 %></p>
<br>
<p><%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p><%= data.field6 %> Quickly and Easily</p>
<br>
<p><%= data.field6 %> Quickly and Easily Without <%= data.field9 %></p>
<br>
<p>Improve/Increase Your <%= data.field6 %> In <%= data.field8 %></p>
<br>
<p>You Can <%= data.field6 %> And Love Every Minute Of It</p>
<br>
<p>Here&#39;s a Quick Way to <%= data.field6 %></p>
<br>
<p>Little Known Ways To <%= data.field6 %></p>
<br>
<p>Little Known Ways To <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p><%= data.field6 %> In <%= data.field8 %></p>
<br>
<p>How To Make People Line Up And Beg To <%= data.field6 %></p>
<br>
<p>Want to <%= data.field6 %>? Take a look at this...</p>
<br>
<p>How To <%= data.field6 %> When You&#39;re Not a <%= data.field2 %></p>
<br>
<p>The Quickest &amp; Easiest Way To <%= data.field6 %></p>
<br>
<p>See How Easily You Can <%= data.field6 %> This New Way</p>
<br>
<p>See How Easily You Can <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>How You Can <%= data.field6 %> Almost Instantly</p>
<br>
<p>See How Easily You Can <%= data.field6 %></p>
<br>
<p>Now You Can Have <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>X Questions Answered About <%= data.field1 %></p>
<br>
<p>X Questions Answered About <%= data.field1 %> and How To <%= data.field6 %></p>
<br>
<p>What Every <%= data.field2 %> Needs To Know About How To <%= data.field6 %></p>
<br>
<p>Give Me <%= data.field8 %> and I&#39;ll Give You <%= data.field6 %></p>
<br>
<p>Answered: Your Most Burning Questions About <%= data.field1 %></p>
<br>
<p>Answered: Your Most Burning Questions About How To <%= data.field6 %></p>
<br>
<p>Now You Can <%= data.field6 %></p>
<br>
<p>Now You Can <%= data.field6 %> Just Like These Successful Field2s Do</p>
<br>
<p>Now You Can <%= data.field6 %> With <%= data.field1 %> Just Like These Successful Field2s Do</p>
<br>
<p>How to fast-track your <%= data.field1 %> results</p>
<br>
<p>At Last, The Real Secret To <%= data.field6 %> Is Revealed</p>
<br>
<p>Thousands of Field2s now <%= data.field6 %> who never thought they could</p>
<br>
<p>Here&#39;s What&#39;s New in <%= data.field1 %></p>
<br>
<p><%= data.field1 %>: Here&#39;s What&#39;s New!</p>
<br>
<p>Learn How To <%= data.field6 %></p>
<br>
<p>Learn How To <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>What&#39;s New to <%= data.field6 %>?</p>
<br>
<p>What&#39;s New in <%= data.field1 %> to <%= data.field6 %>?</p>
<br>
<p><%= data.field1 %>: Here&#39;s What&#39;s New to <%= data.field6 %>!</p>
<br>
<p>New Solution to <%= data.field6 %></p>
<br>
<p>New Answer For Field2s Who Want to <%= data.field6 %></p>
<br>
<p>NEW <%= data.field4 %> Helps Thousands of Field2s To <%= data.field6 %></p>
<br>
<p>NEW <%= data.field1 %> <%= data.field4 %> Helps Thousands of Field2s To <%= data.field6 %></p>
<br>
<p>NEW <%= data.field4 %> Helps Thousands of Field2s To <%= data.field6 %> With <%= data.field1 %></p>
<br>
<p>How To <%= data.field6 %> In Just <%= data.field8 %></p>
<br>
<p>How Field2s <%= data.field6 %> In Just <%= data.field8 %></p>
<br>
<p>How Field2s Just Like You <%= data.field6 %> In Just <%= data.field8 %></p>
<br>
<br>
<p>WARM Traffic Post Text: Pick One</p>
<br>
<p>Here&#39;s a brand new <%= data.field4 %> that reveals X ways anybody can <%= data.field6 %>.&nbsp;</p>
<br>
<p>This brand new <%= data.field4 %> reveals X ways every <%= data.field2 %> can <%= data.field6 %>.&nbsp;</p>
<br>
<p>This <%= data.field4 %> reveals the exact steps to <%= data.field6 %> ... in <%= data.field8 %>.&nbsp;</p>
<br>
<p>Discover how this <%= data.field4 %> gives you the exact steps to <%= data.field6 %>... in <%= data.field8 %>.&nbsp;</p>
<br>
<p>Discover how this <%= data.field4 %> gives you the exact steps to <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<p>Discover how this <%= data.field4 %> gives you the exact steps to <%= data.field6 %> in <%= data.field8 %>... without <%= data.field9 %>.</p>
<br>
<p>Field2s - Easy <%= data.field1 %> <%= data.field4 %> just launched. Makes it super simple to <%= data.field6 %>.&nbsp;</p>
<br>
<p>Field2s - Easy <%= data.field4 %> for <%= data.field1 %> just released. Makes it super simple to <%= data.field6 %>.</p>
<br>
<p>Learn how to gain an unfair advantage with <%= data.field1 %> and how to avoid <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p>Watch this free video to learn the game plan that gives you an unfair advantage with <%= data.field1 %></p>
<br>
<p>Watch this free video to discover the strategy to gain an unfair advantage with <%= data.field1 %> and <%= data.field6 %></p>
<br>
<p>Watch this free video that reveals how YOU can gain an unfair advantage with <%= data.field1 %> and avoid <%= data.field9 %></p>
<br>
<p>Discover how savvy &nbsp;field2s use this <%= data.field5 %> <%= data.field4 %> to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>This NEW <%= data.field4 %> shows you exactly how to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>This <%= data.field4 %> gives you the simplest way to <%= data.field6 %> in <%= data.field8 %> or less</p>
<br>
<p>This <%= data.field4 %> gives you the simplest way to <%= data.field6 %> in <%= data.field8 %> or less without <%= data.field9 %></p>
<br>
<p>How to <%= data.field6 %> using proven <%= data.field1 %> techniques we&#39;ve learned in over X years of experience</p>
<br>
<p>The Secret To Automatically <%= data.field6 %>!</p>
<br>
<p>The Secret To Automatically <%= data.field6 %> without <%= data.field9 %>!</p>
<br>
<p>When you attend this FREE Online Training, you&#39;ll discover how to <%= data.field6 %> by using a few simple <%= data.field1 %> tweaks</p>
<br>
<p>If you&#39;re a <%= data.field2 %>, but you can&#39;t <%= data.field6 %> you want, then you need this <%= data.field5 %> <%= data.field4 %>...</p>
<br>
<p>This <%= data.field4 %> gives you a proven path to <%= data.field6 %></p>
<br>
<p><%= data.field5 %> <%= data.field4 %> <%= data.field7 %> helps you <%= data.field6 %></p>
<br>
<p><%= data.field5 %> <%= data.field4 %> <%= data.field7 %> helps you <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p>Here are / is the <%= data.field5 %> <%= data.field4 %> Pro field2s use to <%= data.field7 %> <%= data.field6 %></p>
<br>
<p>Here are X <%= data.field5 %> <%= data.field4 %> you can use in <%= data.field8 %> to <%= data.field7 %> <%= data.field6 %>.</p>
<br>
<p>I was stuck &nbsp;<%= data.field9 %> until I discovered the <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helped me <%= data.field6 %>.</p>
<br>
<p>I was stuck &nbsp;<%= data.field9 %> for my <%= data.field1 %> until I discovered the <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helped me <%= data.field6 %>.</p>
<br>
<p>Want to <%= data.field6 %>? This <%= data.field5 %> <%= data.field4 %> helps you do it.</p>
<br>
<p>Want to <%= data.field6 %>? This <%= data.field5 %> <%= data.field4 %> helps field2s just like you do it <%= data.field8 %>.</p>
<br>
<br>
<p>WARM Traffic Description: Pick One</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field4 %> to discover X ways you can <%= data.field6 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field4 %> to discover how to <%= data.field6 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field5 %> <%= data.field4 %> to discover how to <%= data.field6 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field4 %> to discover how to <%= data.field6 %> in <%= data.field8 %>.&nbsp;</p>
<br>
<p>Struggling to <%= data.field6 %>?</p>
<br>
<p>Must-Have <%= data.field1 %> <%= data.field4 %></p>
<br>
<p>Click Here to see this must-have <%= data.field1 %> <%= data.field4 %> that helps you <%= data.field6 %>.</p>
<br>
<p>Click Here to see this must-have <%= data.field1 %> <%= data.field4 %> that helps you <%= data.field6 %> without <%= data.field9 %>.</p>
<br>
<p>Click Here to see this must-have <%= data.field1 %> <%= data.field4 %> that helps you <%= data.field6 %> in <%= data.field8 %> without <%= data.field9 %>.</p>
<br>
<p>Must Have <%= data.field4 %> for <%= data.field1 %></p>
<br>
<p>Click Here to see this <%= data.field5 %> <%= data.field4 %> for <%= data.field1 %> that helps you <%= data.field6 %> without <%= data.field9 %>.</p>
<br>
<p>FREE <%= data.field5 %> <%= data.field4 %> - Click Here</p>
<br>
<p>FREE, <%= data.field5 %> <%= data.field4 %>! <%= data.field6 %> Now</p>
<br>
<p>FREE, <%= data.field5 %> <%= data.field4 %>! <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> in <%= data.field8 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> WITHOUT <%= data.field9 %></p>
<br>
<p>I&#39;ll show you how to <%= data.field6 %> in <%= data.field8 %> WITHOUT <%= data.field9 %></p>
<br>
<p>Click Here Now For a FREE <%= data.field5 %> <%= data.field1 %> <%= data.field4 %></p>
<br>
<p>FREE <%= data.field1 %> Training Video</p>
<br>
<p>FREE Video: <%= data.field6 %> Now</p>
<br>
<p>[FREE TUTORIAL] How To <%= data.field6 %></p>
<br>
<p>Watch this free video to learn how we <%= data.field6 %> fast</p>
<br>
<p>FREE X Page Report Reveals How To <%= data.field6 %></p>
<br>
<p>FREE X Page Report Reveals How To <%= data.field6 %> With <%= data.field1 %></p>
<br>
<p>Download my &quot;kick starter&quot; method to <%= data.field6 %></p>
<br>
<p>Click Here Now For Instant Access To This <%= data.field4 %></p>
<br>
<p>Click Here Now For Instant Access To This <%= data.field5 %> <%= data.field4 %></p>
<br>
<p>FREE DOWNLOAD: X Simple Steps To <%= data.field6 %></p>
<br>
<p>Download this cheat sheet now that shows you exactly how to <%= data.field6 %></p>
<br>
<p>[FREE TUTORIAL] How To <%= data.field6 %></p>
<br>
<p>[FREE Training] How To <%= data.field6 %></p>
<br>
<p><%= data.field4 %>: How To <%= data.field6 %></p>
<br>
<p>This <%= data.field4 %> Helps You <%= data.field6 %></p>
<br>
<p>This <%= data.field5 %> <%= data.field4 %> Helps You <%= data.field6 %></p>
<br>
<p>Watch this video to learn how we automatically <%= data.field6 %></p>
<br>
<p>Click Here To Learn More About This <%= data.field4 %></p>
<br>
<p>X Advanced <%= data.field1 %> Tactics</p>
<br>
<p>Say hello to <%= data.field6 %></p>
<br>
<p>Check Out this <%= data.field4 %> NOW to Get Started!</p>
<br>
<p><%= data.field1 %> Tactics</p>
<br>
<p>Check out this sample plan to <%= data.field6 %></p>
<br>
<p>Get this <%= data.field5 %> <%= data.field4 %> so you can use it to <%= data.field7 %> <%= data.field6 %>.</p>
<br>
<p>Download this <%= data.field5 %> <%= data.field4 %> so you can it use to <%= data.field7 %> <%= data.field6 %>.</p>
<br>
<br>
<p>COLD Traffic</p>
<p>(Problem-Centered)</p>
<p>COLD Traffic Headline: Pick One</p>
<br>
<p>Great News If You Want To Avoid <%= data.field9 %> For <%= data.field1 %></p>
<br>
<p>Here&#39;s A Quick Way To Avoid <%= data.field9 %></p>
<br>
<p>Here&#39;s A Quick Way To Avoid <%= data.field9 %> For <%= data.field1 %></p>
<br>
<p>STOP <%= data.field9 %></p>
<br>
<p>STOP <%= data.field9 %> for <%= data.field1 %></p>
<br>
<p>STOP <%= data.field9 %> Once And For All</p>
<br>
<p>Quick Relief For Field2s Who Are <%= data.field9 %></p>
<br>
<p>How To <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>How Field2s Can <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>How Field2s Can STOP <%= data.field9 %> To <%= data.field6 %></p>
<br>
<p>How to STOP <%= data.field9 %> and START <%= data.field6 %></p>
<br>
<p><%= data.field4 %> Reveals Secret to <%= data.field6 %></p>
<br>
<p><%= data.field4 %> Exposes X Secrets to <%= data.field6 %></p>
<br>
<p><%= data.field4 %> Reveals Secrets to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>X Hidden <%= data.field1 %> Principles That <%= data.field6 %></p>
<br>
<p>Get Rid of <%= data.field9 %> Once and For All</p>
<br>
<p>No <%= data.field9 %>! This Lets You <%= data.field6 %> You Want Everyday</p>
<br>
<p>Never Suffer From <%= data.field9 %> Again</p>
<br>
<p>Never Suffer With <%= data.field1 %> Again</p>
<br>
<p>When Pro Field2s Have <%= data.field1 %> Problems, Here&#39;s What They Do</p>
<br>
<p>When Pro Field2s Have Problems <%= data.field9 %>, Here&#39;s What They Do</p>
<br>
<p>How To Take The Headache Out Of <%= data.field1 %></p>
<br>
<p>Answered: Your Most Burning Questions About <%= data.field9 %></p>
<br>
<p>Answered: Your Most Burning Questions About <%= data.field1 %></p>
<br>
<p>Answered: Your Most Burning Questions About How To Overcome <%= data.field1 %></p>
<br>
<p>Do You Recognize the X Early Warning Signs of <%= data.field1 %> failure?</p>
<br>
<p>Do You Recognize the X Early Warning Signs of failure with <%= data.field1 %>?</p>
<br>
<p>Do You Recognize These X Early Warning Signs of <%= data.field9 %>?</p>
<br>
<p>Do You Recognize These X Early Warning Signs of <%= data.field1 %>?</p>
<br>
<p>X Signs You&#39;re Failing as a <%= data.field2 %></p>
<br>
<p>X Signs Of <%= data.field1 %> Failure... and How To Stop Them</p>
<br>
<p>X Signs of <%= data.field1 %> Problems You Can&#39;t Ignore</p>
<br>
<p>The Biggest Lie About <%= data.field1 %></p>
<br>
<p>The Biggest Lies People Tell About <%= data.field1 %></p>
<br>
<p>The Biggest Lies People Tell About How To <%= data.field6 %></p>
<br>
<p>The Biggest Lie Field2s Get Told</p>
<br>
<p>X Shocking Mistakes Killing Your <%= data.field1 %> Results</p>
<br>
<p>You Can Laugh At <%= data.field1 %> Problems If you Follow This Plan</p>
<br>
<p>You Can Laugh At <%= data.field9 %> If you Follow This Plan</p>
<br>
<p>Don&#39;t Try <%= data.field1 %> Without This <%= data.field4 %> First</p>
<br>
<p>You&#39;ll Never Deal With <%= data.field9 %> Again!</p>
<br>
<p>How To Eliminate <%= data.field9 %> From Your Life</p>
<br>
<p>How Every <%= data.field2 %> Can Eliminate <%= data.field9 %></p>
<br>
<p>Why You Shouldn&#39;t Try To <%= data.field6 %> On Your Own</p>
<br>
<p>Why One <%= data.field2 %> Fails and Another Succeeds</p>
<br>
<p>Have you made these <%= data.field1 %> mistakes?</p>
<br>
<p>Have you made these <%= data.field1 %> mistakes trying to <%= data.field6 %>?</p>
<br>
<p>Making these <%= data.field1 %> mistakes means <%= data.field9 %></p>
<br>
<p>The Ugly Truth About <%= data.field1 %></p>
<br>
<p>X Common <%= data.field1 %> Problems - Which Ones Do you Want to Overcome?</p>
<br>
<p>X Common Problems With <%= data.field9 %> For <%= data.field1 %> - Which Ones Do you Want to Overcome?</p>
<br>
<p>What Everybody Ought to Know About <%= data.field1 %></p>
<br>
<p>They Don&#39;t Want You To See This <%= data.field4 %></p>
<br>
<p>Don&#39;t Let <%= data.field9 %> Stop You</p>
<br>
<p>As A <%= data.field2 %> Don&#39;t Let <%= data.field9 %> Stop You</p>
<br>
<p>Don&#39;t Let <%= data.field9 %> Stop You From <%= data.field6 %></p>
<br>
<p>The Sooner You Know How To <%= data.field6 %> The Better</p>
<br>
<p>X <%= data.field1 %> Secrets</p>
<br>
<p>X <%= data.field1 %> Secrets Every <%= data.field2 %> Needs To Know</p>
<br>
<br>
<p>COLD Traffic Post Text: Pick One</p>
<br>
<p>If you need help with <%= data.field1 %>, but struggle with <%= data.field9 %> - this <%= data.field4 %> automatically helps you fix that AND <%= data.field6 %> you want. See it in action...</p>
<br>
<p>Here&#39;s the real reason you <%= data.field1 %> is failing (and X things you can do to change that right now)...</p>
<br>
<p>Here&#39;s the real reason you&#39;re failing with <%= data.field1 %> (and X things you can do to change that right now)...</p>
<br>
<p>If you&#39;re <%= data.field9 %>, it&#39;s NOT too late! Here are X better ways to <%= data.field6 %></p>
<br>
<p>If you&#39;re struggling with <%= data.field9 %>, it&#39;s NOT too late! Here&#39;s a better way to <%= data.field6 %> <%= data.field7 %></p>
<br>
<p>How to <%= data.field6 %> using proven <%= data.field1 %> techniques we&#39;ve learned in over X years of experience (and without <%= data.field9 %>)</p>
<br>
<p>When you attend this FREE Online Training, you&#39;ll discover how to <%= data.field6 %> and avoid <%= data.field9 %> by using a few simple <%= data.field1 %> tweaks</p>
<br>
<p>If you&#39;re a <%= data.field2 %>, and you&#39;re suffering from <%= data.field9 %>, then you need this <%= data.field5 %> <%= data.field4 %>...</p>
<br>
<p>If you&#39;re a <%= data.field2 %>, and you&#39;re suffering with <%= data.field1 %>, then you need to check out this <%= data.field5 %> <%= data.field4 %>...</p>
<br>
<p>Having trouble creating a <%= data.field1 %> plan?</p>
<br>
<p>This <%= data.field4 %> gives you a proven path to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>Here&#39;s a <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helps you <%= data.field6 %>... without <%= data.field9 %></p>
<br>
<p>Here&#39;s a <%= data.field5 %> <%= data.field4 %> that help you <%= data.field7 %> <%= data.field6 %> in <%= data.field8 %>... without <%= data.field9 %></p>
<br>
<p>Here is the <%= data.field5 %> <%= data.field4 %> Pro field2s use to <%= data.field7 %> <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<p>Here is the <%= data.field5 %> <%= data.field4 %> I&#39;ve used to <%= data.field7 %> <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<p>Here&#39;s a <%= data.field5 %> <%= data.field4 %> you can use in <%= data.field8 %> to <%= data.field7 %> <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<p>I was stuck &nbsp;<%= data.field9 %> until I discovered these X <%= data.field5 %> <%= data.field4 %> that <%= data.field7 %> helped me <%= data.field6 %> (as fast as <%= data.field8 %>).</p>
<br>
<p>This <%= data.field5 %> <%= data.field4 %> help you <%= data.field6 %> <%= data.field7 %> without <%= data.field9 %>.</p>
<br>
<p>This <%= data.field5 %> <%= data.field4 %> help you <%= data.field7 %> <%= data.field6 %> - as fast as <%= data.field8 %> - without <%= data.field9 %>.</p>
<br>
<p>Want to <%= data.field6 %>? This <%= data.field5 %> <%= data.field4 %> helps you do it fast (and without <%= data.field9 %>).</p>
<br>
<p>Want to <%= data.field6 %>? This <%= data.field5 %> <%= data.field4 %> helps field2s just like you do it... and without <%= data.field9 %>.</p>
<br>
<br>
<p>COLD Traffic Description: Pick One</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field4 %> to discover X ways you can avoid <%= data.field9 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field5 %> <%= data.field4 %> to discover how to avoid <%= data.field9 %>.&nbsp;</p>
<br>
<p>Check Out / Download / Grab / Claim this <%= data.field4 %> to discover how to avoid <%= data.field9 %> in <%= data.field8 %>.&nbsp;</p>
<br>
<p>Struggling with <%= data.field9 %>?</p>
<br>
<p>Struggling with <%= data.field9 %> for <%= data.field1 %>?</p>
<br>
<p>Click Here to see this must-have <%= data.field1 %> <%= data.field4 %> that helps you <%= data.field6 %>.</p>
<br>
<p>Click Here to see this must-have <%= data.field1 %> <%= data.field4 %> that helps you avoid <%= data.field9 %>.</p>
<br>
<p>Click Here to see this <%= data.field5 %> <%= data.field4 %> for <%= data.field1 %> that helps you stop <%= data.field9 %>.</p>
<br>
<p>I&#39;ll show you how to AVOID <%= data.field9 %></p>
<br>
<p>I&#39;ll show you how to AVOID <%= data.field9 %> for <%= data.field1 %></p>
<br>
<p>Discover The Real Reason Your <%= data.field1 %> Is Failing</p>
<br>
<p>FREE Video: Avoid <%= data.field9 %></p>
<br>
<p>[FREE TUTORIAL] How To Avoid <%= data.field9 %></p>
<br>
<p>[FREE TUTORIAL] How To Avoid <%= data.field9 %> For <%= data.field1 %></p>
<br>
<p>[FREE TUTORIAL] How To Avoid <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p>[FREE TUTORIAL] How To Avoid Accidentally <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p>Watch this free video to learn how we avoid <%= data.field9 %></p>
<br>
<p>Watch this free video to learn how we avoid <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p>FREE X Page Report Reveals How To <%= data.field6 %> Without <%= data.field9 %></p>
<br>
<p>FREE X Page Report Reveals How To <%= data.field6 %> With <%= data.field1 %> Without <%= data.field9 %></p>
<br>
<p>Download my &quot;kick starter&quot; method to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>FREE DOWNLOAD: X Simple Steps To Avoid <%= data.field9 %></p>
<br>
<p>Download this cheat sheet now that shows you exactly how to AVOID <%= data.field9 %></p>
<br>
<p>[FREE TUTORIAL] How To Avoid <%= data.field9 %></p>
<br>
<p>[FREE Training] How To Avoid <%= data.field9 %></p>
<br>
<p>This <%= data.field4 %> Helps You Avoid <%= data.field9 %></p>
<br>
<p>This <%= data.field5 %> <%= data.field4 %> Helps You Avoid <%= data.field9 %></p>
<br>
<p>FREE SAMPLE: This <%= data.field5 %> <%= data.field4 %> Helps You Avoid <%= data.field9 %></p>
<br>
<p>FREE SAMPLE: This <%= data.field5 %> <%= data.field4 %> Helps You Avoid <%= data.field9 %> for <%= data.field1 %></p>
<br>
<p>FREE SAMPLE: This <%= data.field5 %> <%= data.field4 %> Helps You Avoid <%= data.field9 %> to <%= data.field6 %></p>
<br>
<p>Say goodbye to <%= data.field9 %> With <%= data.field1 %> Forever!</p>
<br>
<p>Check out this simple plan to <%= data.field6 %> without <%= data.field9 %></p>
<br>
<p>Get this <%= data.field5 %> <%= data.field4 %> so you can use it to <%= data.field7 %> <%= data.field6 %>... without <%= data.field9 %>.</p>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>BONUS: Short Headlines, Post Text and Descriptions</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p><%= data.field4 %> on <%= data.field1 %></p>
<br>
<p><%= data.field4 %> for <%= data.field1 %></p>
<br>
<p><%= data.field4 %>: <%= data.field1 %></p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Explains...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Reveals...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Exposes...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Offers...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Helps...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Includes...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Makes...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Gives You...</p>
<br>
<p><%= data.field5 %> <%= data.field4 %> Shows You...</p>
<br>
<p><%= data.field1 %>: <%= data.field4 %></p>
<br>
<p><%= data.field1 %>: Free Report</p>
<br>
<p><%= data.field1 %>: Free Video</p>
<br>
<p><%= data.field1 %>: Free Training</p>
<br>
<p><%= data.field1 %>: Free Webinar</p>
<br>
<p><%= data.field1 %>: Free Handout</p>
<br>
<p><%= data.field1 %>: Free Blueprint</p>
<br>
<p><%= data.field1 %>: X Secrets</p>
<br>
<p>FREE <%= data.field1 %> Report</p>
<br>
<p>FREE <%= data.field1 %> Video</p>
<br>
<p>FREE <%= data.field1 %> Training</p>
<br>
<p>NEW <%= data.field1 %> Webinar</p>
<br>
<p>NEW <%= data.field1 %> Handout</p>
<br>
<p>NEW <%= data.field1 %> Blueprint</p>