<p>Variables Entered</p>
<p>What is the name of what they just bought?: <%= data.field1  %></p>
<br>
<p>What&#39;s the big payoff / big idea of what they just bought? (VERB): <%= data.field2  %>&nbsp;</p>
<br>
<p>What does that big payoff mean to them? (VERB): <%= data.field3  %>&nbsp;</p>
<br>
<p>What is the name of the next thing you want them to buy (OTO)?: <%= data.field4  %>&nbsp;</p>
<br>
<p>What does this OTO product / service help them do? (VERB): <%= data.field5  %>&nbsp;</p>
<br>
<p>What&#39;s the big payoff / big idea of this OTO? (VERB): <%= data.field6  %>&nbsp;</p>
<br>
<p>What is a really cool &quot;insider strategy&quot; of this OTO?: <%= data.field7  %>&nbsp;</p>
<br>
<p>What does this cool &quot;insider strategy&quot; mean to your target audience?: <%= data.field8  %>&nbsp;</p>
<br>
<p>In what timeframe will this OTO deliver results?: <%= data.field9  %>&nbsp;</p>
<br>
<p>What is the regular price of this OTO?: <%= data.field10  %>&nbsp;</p>
<br>
<p>What is the special price of this OTO?: <%= data.field11  %>&nbsp;</p>
<br>
<p>What is the #1 most important result this OTO gives?: <%= data.field12  %>&nbsp;</p>
<br>
<p>What is the 2nd most important result?: <%= data.field13  %>&nbsp;</p>
<br>
<p>What is the 3rd most important result?: <%= data.field14  %>&nbsp;</p>
<br>
<p>What is the 4th most important result?: <%= data.field15  %>&nbsp;</p>
<br>
<p>What is the 5th most important result?: <%= data.field16  %>&nbsp;</p>
<br>
<p>What is the first bonus?: <%= data.field17  %>&nbsp;</p>
<br>
<p>What is the value of that first bonus?: <%= data.field18  %></p>
<br>
<p>What is the 2nd bonus?: <%= data.field19  %>&nbsp;</p>
<br>
<p>What is the value of that 2nd bonus?: <%= data.field20  %>&nbsp;</p>
<br>
<p>What is the 3rd bonus?: <%= data.field21  %>&nbsp;</p>
<br>
<p>What is the value of that 3rd bonus?: <%= data.field22  %>&nbsp;</p>
<br>
<p>Testimonial #1: <%= data.field23  %>&nbsp;</p>
<br>
<p>Testimonial #2: <%= data.field24  %>&nbsp;</p>
<br>
<p>Testimonial #3: <%= data.field25  %></p>
<p>One Time Offer (OTO) &quot;Next Thing&quot; Script</p>
<p>Congratulations on purchasing the <%= data.field1  %>. Your order is not quite finished yet.</p>
<br>
<p>You&#39;ve made a smart choice, and here&#39;s why . . .</p>
<br>
<p>You ordered the <%= data.field1  %> because you want to <%= data.field2  %>, and that&#39;s exactly what it&#39;s going to do for you.</p>
<br>
<p>But let me ask you a question...</p>
<br>
<p>Now that you&#39;re going to <%= data.field3  %>, you&#39;re also going to need to <%= data.field5  %> - FAST.</p>
<br>
<p>How would you like to <%= data.field5  %> in <%= data.field9  %> so you can <%= data.field6  %> quickly and easily?</p>
<br>
<p>Now, this offer is NOT for everyone.&nbsp;</p>
<br>
<p>We&#39;re only making it available to you because you proved you&#39;re an action taker when you took advantage of the <%= data.field1  %> offer.&nbsp;</p>
<br>
<p>So now I&#39;m going to make you a special, one-time offer that&#39;s only available right here, right now.</p>
<br>
<p>What I&#39;m going to share with you right now will help you to <%= data.field5  %> in <%= data.field9  %> so you can <%= data.field6  %>.&nbsp;</p>
<br>
<p>I have another product called &quot;<%= data.field4  %>&quot;.&nbsp;</p>
<br>
<p>I don&#39;t have time to go over everything inside of the product because we could be here for hours, but one of the strategies inside that will give you the results you&#39;re looking for FAST is <%= data.field7  %>.&nbsp;</p>
<br>
<p>Let me explain to you what &quot;<%= data.field4  %>&quot; is and how it will help you.</p>
<br>
<p>* <%= data.field12  %></p>
<br>
<p>* <%= data.field13  %></p>
<br>
<p>* <%= data.field14  %></p>
<br>
<p>* <%= data.field15  %></p>
<br>
<p>* <%= data.field16  %></p>
<br>
<p>And that&#39;s just the tip of the iceberg of what you&#39;ll get with &quot;<%= data.field4  %>&quot;!</p>
<br>
<p>Can you imagine what your life will be like when you have the ability to <%= data.field8  %>... any time you want (or need to) - instantly?</p>
<br>
<p>So click the button below right now to add <%= data.field4  %> to your order.</p>
<br>
<p>I guarantee it will help you to <%= data.field5  %> in <%= data.field9  %> or I&#39;ll cheerfully refund your money, no questions asked.</p>
<br>
<p>When you act now, you&#39;ll also receive &quot;<%= data.field17  %>&quot;, (worth $<%= data.field18  %>), for FREE.</p>
<br>
<p>And you&#39;ll also get &quot;<%= data.field19  %>&quot;, (worth $<%= data.field20  %>), for FREE. . .</p>
<br>
<p>Plus, you&#39;ll get &quot;<%= data.field21  %>&quot;, (worth $<%= data.field22  %>), for FREE . . .</p>
<br>
<p><%= data.field4  %> is available on my website for <%= data.field10  %>.&nbsp;</p>
<br>
<p>But right now, you have this ONE CHANCE to get it for only <%= data.field11  %>.&nbsp;</p>
<br>
<p>This one-time offer is only available right here, right now. When you leave this page, it&#39;s gone forever.&nbsp;</p>
<br>
<p>Now that you can <%= data.field2  %>, don&#39;t miss your chance to also <%= data.field5  %> faster and easier than ever.&nbsp;</p>
<br>
<p>Click the button now.</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>OPTIONAL Section: Testimonial Rush at End</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Don&#39;t just take my word for it, take a look at what others are saying</p>
<p>about <%= data.field4  %> . . .</p>
<br>
<p>&quot;<%= data.field23  %>&quot;</p>
<br>
<p>&quot;<%= data.field24  %>&quot;</p>
<br>
<p>&quot;<%= data.field25  %>&quot;</p>
<br>
<p>Again, now that you can <%= data.field2  %>, don&#39;t miss your chance to also <%= data.field5  %> faster and easier than ever.&nbsp;</p>
<br>
<p>Click the button now.</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<br>