<p>NOTE: You can click any of the output below that appears in blue. This will rewrite / regenerate that part of the script to give you a different output that may read better.</p>
<p>Decision Tree Script Output - VER 1:</p>
<br>
<p>Want to <%= data.field2  %>?&nbsp;</p>
<br>
<p>Super! Answer these questions:</p>
<br>
<p>1. Do you qualify as <%= data.field3  %>? (If no, go to #2)</p>
<br>
<p>2. Are you willing and able to <%= data.field4  %>? &nbsp;(If no, go to #3)</p>
<br>
<p>3. Are you willing to <%= data.field5  %>? (If no, go to #4)</p>
<br>
<p>4. <%= data.field6  %>.</p>
<br>
<p>Hope that made your decision easier for you, whatever you decide to do. :-)</p>
<br>
<br>
<br>
<br>
<p>Decision Tree Script Output - VER 2:</p>
<br>
<p>Not sure how to <%= data.field2  %>?&nbsp;</p>
<br>
<p>Excellent! Answer these questions:</p>
<br>
<p>1. Are you 110% committed to becoming <%= data.field3  %>? (If yes, go to #2)</p>
<br>
<p>2. Do you want to skip having to <%= data.field4  %>? &nbsp;(If yes, go to #3)</p>
<br>
<p>3. Want to avoid having to <%= data.field5  %>? (If yes, go to #4)</p>
<br>
<p>4. <%= data.field6  %>.</p>
<br>
<p>Hope that clears things up for you, whatever you decide to do.</p>
<br>
<br>