<p>Final Step: Browse through the results and start collecting your testimonials</p>
<p>Variables Entered</p>
<p>Name of the person: <%= data.field1 %></p>
<p>Target audience: <%= data.field2 %></p>
<p>Title of the product, etc.: <%= data.field3 %></p>
<p>Type of thing selling: <%= data.field4 %></p>
<br>
<p>Universal First Question:</p>
<p>What is your name and where are you from?</p>
<br>
<p>BASIC Testimonial:</p>
<p>Question #1:</p>
<p>Did you enjoy the <%= data.field4 %>?</p>
<br>
<p>Question #2:</p>
<p>In a sentence or two, what would you say to another <%= data.field2 %> about <%= data.field3 %> and what it&#39;s done for you?</p>
<br>
<p>Question #3:</p>
<p>What has your single greatest take away been from the <%= data.field4 %>?</p>
<br>
<p>Question #4:</p>
<p>Is there anything we could improve about <%= data.field3 %>?</p>
<br>
<p>Question #5:</p>
<p>What would you say to someone who is on the fence about getting started with <%= data.field1 %> and <%= data.field3 %>?</p>
<br>
<p>Question #6:</p>
<p>Thanks for your input! Do we have permission to use your comments as a testimonial for <%= data.field3 %> and <%= data.field1 %> in our future marketing efforts?</p>
<br>
<p>&nbsp;</p>
<p>RESULTS Testimonial:</p>
<p>Question #1:</p>
<p>What was your problem before you bought <%= data.field3 %>?</p>
<br>
<p>Question #2:</p>
<p>What results do you get / have you gotten from our <%= data.field4 %>?</p>
<br>
<p>Question #3:</p>
<p>What kept you from buying the <%= data.field4 %> sooner?</p>
<br>
<p>Question #4:</p>
<p>What exactly did you like most about <%= data.field3 %> and / or <%= data.field1 %>?</p>
<br>
<p>Question #5:</p>
<p>Why would you recommend this <%= data.field4 %> to another <%= data.field2 %> who might be on the fence?</p>
<br>
<p>Question #6:</p>
<p>Do you have any other benefits you want to mention about <%= data.field1 %> and <%= data.field3 %>, or anything else you want to add?</p>
<br>
<p>OPTIONAL Questions:</p>
<p>What, specifically, was your favorite part of <%= data.field3 %>, and why?</p>
<br>
<p>What was your main concern that would have prevented you from buying this <%= data.field4 %> and what put your fears to rest?</p>
<br>
<p>If you were to recommend <%= data.field3 %> or <%= data.field1 %> to your best friend, what would you say?</p>
<br>
<p>What made you choose <%= data.field1 %>&#39;s <%= data.field4 %> over anything else you could have done?</p>
<br>
<p>If someone called you and said &quot;Why should I do business with <%= data.field1 %>?&quot; or &quot;Why should I buy the <%= data.field3 %> <%= data.field4 %>?&quot; -- what would you tell them?</p>
<br>
<p>Is there anything you&rsquo;d like to add about <%= data.field3 %>, <%= data.field1 %>, or anything else?</p>
<br>
<p>What are three benefits you&#39;ve experienced as a result of the <%= data.field3 %> <%= data.field4 %>?</p>
<br>
<p>Would you recommend this <%= data.field4 %>? If so, why?</p>
<br>
<p>A - What was life like before you started with <%= data.field3 %> / <%= data.field1 %>?</p>
<br>
<p>B - What is life like now that you&#39;ve been through the <%= data.field4 %>?</p>
<br>
<p>What surprised you the most or made you the most happy about the <%= data.field4 %>?</p>