<p>Final Step: Browse through the results and watch the idea sparks start to fly!</p>
<p>(We apologize in advance if you get TOO MANY awesome ideas!)</p>
<p>Variables Entered</p>
<p>What is the name of what you&#39;re offering in the bump? <%= data.field1  %></p>
<p>What are you offering for the bump? <%= data.field2  %></p>
<p>What&#39;s the big payoff of what you&#39;re offering?(VERB) <%= data.field3  %></p>
<p>What simple action do they need to take to get the payoff? <%= data.field4  %></p>
<p>What&#39;s a negative thing or action they want to avoid? &quot;...without _____!&quot; <%= data.field5  %></p>
<p>How much is the what you&#39;re offering (price)? <%= data.field6  %></p>
<p>Instructions:</p>
<p>Step 1: Choose a Check Box Copy</p>
<p>Step 2: Choose a Quick Offer Copy</p>
<p>Step 3: Choose a Blurb</p>
<p>Step 4: Choose an Order Button Copy</p>
<p>Step 5: Use to build your Order Bump offer</p>
<br>
<br>
<p>Step #1: CHECK BOX COPY</p>
<p>Yes, I will Take It!</p>
<br>
<p>Yes, I Want It!</p>
<br>
<p>Yes, I Want It Now!</p>
<br>
<p>Yes! I Want This</p>
<br>
<p>Yes! I Want the Field2</p>
<br>
<p>Yes! Give Me the Field2 Too!</p>
<br>
<p>Yes! Give Me the Field1 Too!</p>
<br>
<p>Yes, I would like free shipping</p>
<br>
<p>Yes, I Want the Field1 for Only <%= data.field6  %></p>
<br>
<p>Yes, Add Field2 for only <%= data.field6  %></p>
<br>
<p>Yes! I Want To Upgrade to the Field2</p>
<br>
<p>Yes! I Want To Upgrade to Field1</p>
<br>
<p>Step #2: QUICK OFFER COPY</p>
<p>ONE TIME OFFER - ONLY <%= data.field6  %>:</p>
<br>
<p>ONE TIME OFFER - Only <%= data.field6  %>:</p>
<br>
<p>ONE TIME OFFER:</p>
<br>
<p>THE POSTAGE IS ALREADY PAID!</p>
<br>
<p>Step #3: BLURB</p>
<p>Want our <%= data.field1  %>? It&#39;s proven to <%= data.field3  %>! Click YES to add this to your order now for just <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Want our <%= data.field1  %>? It&#39;s proven to <%= data.field3  %> without <%= data.field5  %>! Click YES to add this to your order now for just <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Want the new <%= data.field2  %> version of <%= data.field1  %> that helps you <%= data.field3  %>? *** Click YES to add this to your order now for just a single payment of <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Want the new <%= data.field1  %> that helps you <%= data.field3  %>? *** Click YES to add this to your order now for just a single payment of <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Want the <%= data.field2  %> we use to <%= data.field3  %>? It&#39;s proven to work and all you have to do is <%= data.field4  %> and you&#39;ll be ready to <%= data.field3  %>! Click YES to add this to your order now for just <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Want the <%= data.field2  %> we use to get results fast? All you have to do is <%= data.field4  %> and you&#39;ll <%= data.field3  %>! Click YES to add this to your order now for just <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Add a / an / the <%= data.field2  %> for only <%= data.field6  %> and get FREE SHIPPING on the entire order. That&#39;s a savings of XX. Offer only valid with this order.</p>
<br>
<p>For a limited time get the complete Field1 for XX% off! This <%= data.field2  %> helps you <%= data.field3  %> without <%= data.field5  %>. Get yours today!</p>
<br>
<p>You&#39;d be crazy not to add the <%= data.field2  %> for only <%= data.field6  %>! We&#39;ll send it along with your order so you can <%= data.field3  %> (without <%= data.field5  %>).</p>
<br>
<p>Want our NEW &quot;Field1&quot; that helps you <%= data.field3  %> without <%= data.field5  %>?*** Click YES to add this to your order now for just a single payment of <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>Want our NEW <%= data.field2  %> &quot;Field1&quot; that helps you <%= data.field3  %> without <%= data.field5  %>?*** Click YES to add this to your order now for just a single payment of <%= data.field6  %>! (This offer is not available at ANY other time or place)</p>
<br>
<p>You can <%= data.field3  %> and we&#39;ll do all the work for you! Just add this one time special offer to upgrade your purchase with our Field1.</p>
<br>
<p>Step #4: ORDER BUTTON COPY</p>
<p>Complete Order</p>
<br>
<p>Ship My Field2 Now!</p>
<br>
<p>Complete Your Order Now</p>
<br>