<br>
<p>&nbsp;Are You Done With <%= data.field7 %>?</p>
<p>&nbsp;Oustanding New <%= data.field9 %> Reveals Little <%= data.field3 %> &quot;Leaks&quot; That Keep <%= data.field2 %> Poor</p>
<br>
<br>
<br>
<p>Fill out the form below to get your FREE <%= data.field9 %> sent straight to you... YES! I&#39;m Ready For More <%= data.field5 %></p>
<br>
<p>You Entered:</p>
<p>Target Niche Market Member: <%= data.field1 %></p>
<p>Target Audience (plural): <%= data.field2 %></p>
<p>Main Topic: <%= data.field3 %></p>
<p>Audience&#39;s #1 Desire: <%= data.field4 %></p>
<p>#1 Good thing they want MORE of: <%= data.field5 %></p>
<p>#2 Good thing they also want MORE of: <%= data.field6 %></p>
<p>#1 Negative thing they want to avoid?: <%= data.field7 %></p>
<p>#2 Negative thing they want to avoid?: <%= data.field8 %></p>
<p>What you&#39;re giving them in exchange for opting in: <%= data.field9 %></p>
<br>
<br>
<p>Part 1: Question Hooks</p>
<p>Sick And Tired Of _____?</p>
<p>Are You Sick Of <%= data.field7 %>?</p>
<br>
<p>Are You Finished With <%= data.field8 %>?</p>
<br>
<p>Sick And Tired Of Seeing Everyone Else Get <%= data.field5 %>?</p>
<br>
<p>Sick And Tired Of Stagnant <%= data.field6 %>?</p>
<br>
<p>Is _____ driving you insane</p>
<p>Is <%= data.field7 %> Driving You Insane?</p>
<br>
<p>Is <%= data.field8 %> Keeping You Up At Night?</p>
<br>
<p>Is <%= data.field7 %> Driving You Insane as a <%= data.field1 %>?</p>
<br>
<p>Is <%= data.field8 %> Destroying Your Future as a <%= data.field1 %>?</p>
<br>
<p>Want MORE of _____?</p>
<p>Do You Want More <%= data.field5 %>?</p>
<br>
<p>Do You Want More <%= data.field6 %>?</p>
<br>
<p>Want More <%= data.field5 %>?</p>
<br>
<p>Looking For More <%= data.field6 %>?</p>
<br>
<p>Want More <%= data.field5 %> Than You Can Handle?</p>
<br>
<p>Ready For More <%= data.field6 %> Than You Could Ever Want?</p>
<br>
<p>Want Better <%= data.field5 %> Than You Imagined?</p>
<br>
<p>Are You A _____</p>
<p>Are You A <%= data.field1 %> Hoping For More <%= data.field5 %>?</p>
<br>
<p>Are You A <%= data.field1 %> Who Needs More <%= data.field6 %>?</p>
<br>
<p>Are You A &nbsp;<%= data.field1 %> Who Is Finished With &nbsp;<%= data.field7 %>?</p>
<br>
<p>Are You A &nbsp;<%= data.field1 %> Who Is Sick Of &nbsp;<%= data.field8 %>?</p>
<br>
<p>Do You Want To Be ______</p>
<p>Do You Want to Be A <%= data.field1 %>?</p>
<br>
<p>Do You Want to Be A <%= data.field1 %> With Insane Amounts Of <%= data.field5 %>?</p>
<br>
<p>Do You Want to Be A <%= data.field1 %> With Insane Amounts Of <%= data.field6 %>?</p>
<br>
<p>Do You Want to Be A <%= data.field1 %> Who Always Avoids <%= data.field7 %>?</p>
<br>
<p>Do You Want to Be A <%= data.field1 %> Who Never Suffers From <%= data.field8 %>?</p>
<br>
<p>Worried About _____?</p>
<p>Worried About <%= data.field7 %>?</p>
<br>
<p>Worried About <%= data.field8 %>?</p>
<br>
<p>Worried About Not Having Enough <%= data.field5 %>?</p>
<br>
<p>Worried About Not Having Enough <%= data.field6 %>?</p>
<br>
<p>Other Questions...</p>
<br>
<p>Problems with <%= data.field7 %>?</p>
<br>
<p>Problems with <%= data.field8 %>?</p>
<br>
<p>Do You Want The Solution To Your <%= data.field7 %> Problems?</p>
<br>
<p>Do You Want The Solution To Your <%= data.field8 %> Problems?</p>
<br>
<br>
<p>Do You Want To Say Goodbye To <%= data.field7 %> Problems For Good?</p>
<br>
<p>Do You Want To Say Goodbye To <%= data.field8 %> Problems For Good?</p>
<br>
<br>
<p>Want Less Headaches With <%= data.field7 %> ?</p>
<br>
<p>Want Less Headaches With <%= data.field8 %> ?</p>
<br>
<br>
<p>Ready To Put An End To <%= data.field7 %> ?</p>
<br>
<p>Ready To Put An End To <%= data.field8 %> ?</p>
<br>
<br>
<p>Want To Say Goodbye To <%= data.field7 %>?</p>
<br>
<p>Want To Say Goodbye To <%= data.field8 %>?</p>
<br>
<br>
<p>Ready To Say Hello To Insane Amounts Of <%= data.field5 %>?</p>
<br>
<p>Ready To Say Hello To Crazy Amounts Of <%= data.field6 %>?</p>
<br>
<p>Ready To Say Hello To More <%= data.field5 %> Than You Know What To Do With?</p>
<br>
<p>Ready To Say Hello To Tons Of <%= data.field6 %> Than Every Other <%= data.field1 %>?</p>
<br>
<br>
<p>Ever Wished For More <%= data.field5 %>?</p>
<br>
<p>Ever Wished For More <%= data.field6 %>?</p>
<br>
<br>
<p>Isn&#39;t It Time You Got More <%= data.field5 %>?</p>
<br>
<p>Isn&#39;t It Time You Got More <%= data.field6 %>?</p>
<br>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field5 %> You Really Want?</p>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field6 %> You Really Want?</p>
<br>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field5 %> You Deserve?</p>
<br>
<p>Isn&#39;t It Time You Got The <%= data.field6 %> You Deserve?</p>
<br>
<br>
<p>Are You Interested In <%= data.field5 %>?</p>
<br>
<p>Are You Interested In <%= data.field6 %>?</p>
<br>
<br>
<p>Are You Curious About <%= data.field5 %>?</p>
<br>
<p>Are You Curious About <%= data.field6 %>?</p>
<br>
<br>
<p>Are You Ready For <%= data.field5 %>?</p>
<br>
<p>Are You Ready For <%= data.field6 %>?</p>
<br>
<br>
<p>Who Could Say No To <%= data.field5 %>?</p>
<br>
<p>Who Could Say No To <%= data.field6 %>?</p>
<br>
<br>
<p>Don&#39;t You Need More <%= data.field5 %>?</p>
<br>
<p>Don&#39;t You Need More <%= data.field6 %>?</p>
<br>
<br>
<p>You Deserve More <%= data.field5 %>, Right?</p>
<br>
<p>You Deserve More <%= data.field6 %>, Right?</p>
<br>
<br>
<p>Don&#39;t You Wish You Could Have More <%= data.field5 %>?</p>
<br>
<p>Don&#39;t You Wish You Could Have More <%= data.field6 %>?</p>
<br>
<br>
<p>Wouldn&#39;t You Like To Have More <%= data.field5 %>?</p>
<br>
<p>Wouldn&#39;t You Like To Have More <%= data.field6 %>?</p>
<br>
<br>
<p>Confused About How To Get More <%= data.field5 %>?</p>
<br>
<p>Confused About How To Get More <%= data.field6 %>?</p>
<br>
<br>
<p>What&#39;s The Best Way To Get More <%= data.field5 %>?</p>
<br>
<p>What&#39;s The Best Way To Get More <%= data.field6 %>?</p>
<br>
<br>
<p>Isn&#39;t It Time You Stopped Dealing With <%= data.field7 %>?</p>
<br>
<p>Isn&#39;t It Time You Stopped Dealing With <%= data.field8 %>?</p>
<br>
<br>
<p>Does <%= data.field7 %> Keep You Awake At Night?</p>
<br>
<p>Does <%= data.field8 %> Keep You Awake At Night?</p>
<br>
<br>
<p>Suffering From / With <%= data.field7 %>?</p>
<br>
<p>Suffering From / With <%= data.field8 %>?</p>
<br>
<br>
<p>Pulling Your Hair Out Over <%= data.field7 %>?</p>
<br>
<p>Pulling Your Hair Out Over <%= data.field8 %>?</p>
<br>
<p>Part 2: Opt-In &quot;Stories&quot;</p>
<p>1. &nbsp;New <%= data.field9 %> Reveals A Little Mistake That Cost a <%= data.field1 %> $3,000 a Year... and How To Avoid It!</p>
<br>
<p>2. New <%= data.field9 %> Reveals How To Find The Profits That Lie Hidden In Your <%= data.field3 %></p>
<br>
<p>3. New <%= data.field9 %> Reveals How I Made a Fortune With a <%= data.field3 %> Idea</p>
<br>
<p>4. New <%= data.field9 %> Reveals How Thousands of <%= data.field2 %> Have This Priceless Gift &ndash; but Never Discover It!</p>
<br>
<p>5. New <%= data.field9 %> Answers The Question: Do You Do Any Of These Embarrassing Things with <%= data.field3 %>?</p>
<br>
<p>6. New <%= data.field9 %> Reveals Six Types of <%= data.field2 %> &ndash; Which Group Are You In?</p>
<br>
<p>7. New <%= data.field9 %> Reveals How To Make Sure Your <%= data.field3 %> NEVER Embarrasses You!</p>
<br>
<p>8. New <%= data.field9 %> Reveals &nbsp;Insider <%= data.field3 %> Secrets To <%= data.field2 %> Who Want To <%= data.field4 %> &ndash; but Can&#39;t Get Started</p>
<br>
<p>9. New <%= data.field9 %> Reveals The Crimes We Commit Against <%= data.field3 %>... and How To STOP Them!</p>
<br>
<p>10. New <%= data.field9 %> Reveals How to Do Wonders with a Little <%= data.field3 %>!</p>
<br>
<p>11. New <%= data.field9 %> Declares &quot;For Every <%= data.field1 %>, Here&#39;s an Extra $1,000&quot;</p>
<br>
<p>12. New <%= data.field9 %> Reveals A Wonderful Way To <%= data.field4 %> &ndash; but only <%= data.field2 %> with imagination can do it</p>
<br>
<p>13. New <%= data.field9 %> Reveals A $10,000 <%= data.field3 %> Mistake... and How To Avoid It!</p>
<br>
<p>14. New <%= data.field9 %> Reveals The Greatest Method in The World To <%= data.field4 %>... The Easy Way!</p>
<br>
<p>15. New <%= data.field9 %> Reveals How To <%= data.field4 %>, But OnlyFor <%= data.field2 %> Who Dare To Be Rich!</p>
<br>
<p>16. New <%= data.field9 %> Reveals How Every <%= data.field1 %> Can <%= data.field4 %> Legally</p>
<br>
<p>17. New <%= data.field9 %> Reveals A Startling Fact About <%= data.field3 %> Every <%= data.field1 %> Needs To Know!</p>
<br>
<p>18. New <%= data.field9 %> Reveals How To Discover Your &quot;Super Power&quot; At as a <%= data.field1 %></p>
<br>
<p>19. New <%= data.field9 %> Reveals How To <%= data.field4 %></p>
<br>
<p>20. New <%= data.field9 %> Reveals The Secrets of How To <%= data.field4 %> Right Now (In Today&#39;s World)!</p>
<br>
<p>21. New <%= data.field9 %> Reveals Insider Advice For <%= data.field2 %> Who Can&#39;t Seem To Make Money</p>
<br>
<p>22. New <%= data.field9 %> Reveals How a New Discovery Made a <%= data.field1 %> Successful... Even In Today&#39;s Hyper-Competitive World</p>
<br>
<p>23. New <%= data.field9 %> Reveals How to Win At <%= data.field3 %> and <%= data.field4 %> (No Experience Required!)</p>
<br>
<p>24. New <%= data.field9 %> Reveals How to <%= data.field4 %> without Being Eaten Alive</p>
<br>
<p>25. New <%= data.field9 %> Reveals If You&#39;re Making These Mistakes with <%= data.field3 %>... and How To Fix It!</p>
<br>
<p>26. New <%= data.field9 %> Reveals The Greatest Gold-Mine Of Easy <%= data.field3 %> Secrets Ever Crammed Into One Place</p>
<br>
<p>27. New <%= data.field9 %> Reveals How You Can Laugh at <%= data.field3 %> Worries &ndash; if You Follow This Simple Plan</p>
<br>
<p>28. New <%= data.field9 %> Reveals Five Critical <%= data.field3 %> Troubles &ndash; Which do You Want to Overcome?</p>
<br>
<p>29. New <%= data.field9 %> Reveals How Every <%= data.field1 %> Can <%= data.field4 %> in One Evening</p>
<br>
<p>30. New <%= data.field9 %> Reveals 12 Secrets To <%= data.field4 %> Every <%= data.field1 %> Needs To Know</p>
<br>
<p>31. New <%= data.field9 %> Reveals The Secret to <%= data.field4 %> In Record Time</p>
<br>
<p>32. New <%= data.field9 %> For <%= data.field2 %> Who Want to Quit Work Some Day</p>
<br>
<p>33. New <%= data.field9 %> Reveals The New <%= data.field3 %> Plan That Makes It Easy To <%= data.field4 %></p>
<br>
<p>34. New <%= data.field9 %> Reveals How Thousands Now <%= data.field4 %> Who Never Thought They Could</p>
<br>
<p>35. New <%= data.field9 %> Reveals The Great New <%= data.field3 %> Discovery To <%= data.field4 %> Quick!</p>
<br>
<p>36. New <%= data.field9 %> Reveals The <%= data.field3 %> Secrets To Help Any <%= data.field1 %> Who Feels Less Successful Than They Want To Be</p>
<br>
<p>37. New <%= data.field9 %> Reveals Why <%= data.field2 %> Who <%= data.field4 %> Live Better</p>
<br>
<p>38. New <%= data.field9 %> Reveals How You May Be Sabotaging Your <%= data.field3 %> Success</p>
<br>
<p>39. New <%= data.field9 %> Reveals How To Get Rid of That <%= data.field3 %> Problem - Forever!</p>
<br>
<p>40. New <%= data.field9 %> Reveals Why It&#39;s A Shame For You Not To Make Good Money - When These <%= data.field2 %> Do It So Easily</p>
<br>
<p>41. New <%= data.field9 %> Reveals How To Become a Well Paid <%= data.field1 %> - Even In A Super-Competitive World</p>
<br>
<p>42. New <%= data.field9 %> Reveals How To Get More Energy So You Can <%= data.field4 %> Too!</p>
<br>
<p>43. New <%= data.field9 %> Reveals Why They Grinned When The Other <%= data.field2 %> Asked Me How To <%= data.field4 %></p>
<br>
<p>44. New <%= data.field9 %> Reveals How I <%= data.field4 %> 9 Different Ways &ndash; Imagine What You Could Do With This Too!</p>
<br>
<p>45. New <%= data.field9 %> Reveals How I Can <%= data.field4 %> in One Evening... And You Can Too</p>
<br>
<p>46. New <%= data.field9 %> Reveals Step By Step How You Can Make Big Money Easily With <%= data.field3 %></p>
<br>
<p>47. New <%= data.field9 %> Reveals The Secrets of How To Get Rid of <%= data.field3 %> Worries for Good</p>
<br>
<p>48. New <%= data.field9 %> Reveals How To Keep Your <%= data.field1 %> safe This Summer!</p>
<br>
<p>49. Free to <%= data.field2 %>. New <%= data.field9 %> Reveals How To Get All The <%= data.field3 %> Help You Want - FAST!</p>
<br>
<p>50. New <%= data.field9 %> Reveals The Secret <%= data.field3 %> Tool of the Greatest <%= data.field2 %></p>
<br>
<p>51. New <%= data.field9 %> Reveals How To Avoid The <%= data.field3 %> Hazards That Cause Most <%= data.field2 %> To Fail Completely</p>
<br>
<p>52. Don&#39;t Even Think About <%= data.field3 %> Without Discovering The Secrets This New <%= data.field9 %> Reveals !</p>
<br>
<p>53. New <%= data.field9 %> Reveals How To Start from Scratch and Become a <%= data.field3 %> Millionaire</p>
<br>
<p>54. New <%= data.field9 %> Reveals How To Get Rich With <%= data.field3 %></p>
<br>
<p>55. New <%= data.field9 %> Reveals Seven Steps to Financial Freedom With <%= data.field3 %></p>
<br>
<p>56. New <%= data.field9 %> Reveals How To <%= data.field4 %> and Love Doing It</p>
<br>
<p>57. New <%= data.field9 %> Reveals The Secrets Of A <%= data.field1 %> Who is Making a Bundle With <%= data.field3 %> and How They&#39;re Doing It!</p>
<br>
<p>58. New <%= data.field9 %> Reveals How The Experts <%= data.field4 %></p>
<br>
<p>59. New <%= data.field9 %> Reveals How To Be Great At <%= data.field3 %></p>
<br>
<p>60. New <%= data.field9 %> Reveals Why The Last 2 Hours are the Longest &ndash; and Those Are the 2 Hours You <%= data.field4 %></p>
<br>
<p>61. New <%= data.field9 %> Reveals How To <%= data.field4 %>, Hour-by-Hour, Step-by-Step</p>
<br>
<p>62. New <%= data.field9 %> Reveals Why I liked this <%= data.field3 %> product so much &ndash; that I bought the company! (And what it means to you)</p>
<br>
<p>63. New <%= data.field9 %> Reveals Why Some <%= data.field2 %> Almost Always Make Money in <%= data.field3 %>!</p>
<br>
<p>64. New <%= data.field9 %> Reveals 161 New Ways to a <%= data.field1 %>&#39;s Heart &ndash; in This fascinating Book</p>
<br>
<p>65. New <%= data.field9 %> Reveals 3 Proven Ways To Give <%= data.field2 %> Extra Success With <%= data.field3 %></p>
<br>
<p>66. New <%= data.field9 %> Reveals Little <%= data.field3 %> &quot;Leaks&quot; That Keep <%= data.field2 %> Poor</p>
<br>
<p>67. New <%= data.field9 %> Reveals Why This is a <%= data.field1 %> &ndash; Riding To Their Death</p>
<br>
<p>68. New <%= data.field9 %> Reveals Why You Should Take This One Minute <%= data.field3 %> Test!</p>
<br>
<p>69. New <%= data.field9 %> Reveals a Quick way to <%= data.field4 %></p>
<br>
<p>70. New <%= data.field9 %> Reveals How To <%= data.field4 %> &ndash; or Your Money Back!</p>
<br>
<p>71. New <%= data.field9 %> Reveals The Truth About Getting Rich As a <%= data.field1 %></p>
<br>
<p>72. New <%= data.field9 %> Reveals The Most Expensive <%= data.field3 %> Mistake of Your Life</p>
<br>
<p>73. New <%= data.field9 %> Reveals 7 ways to <%= data.field4 %></p>
<br>
<p>74. New <%= data.field9 %> Reveals How To Discover The Fortune That Lies Hidden In Your <%= data.field3 %></p>
<br>
<p>75. Who Else Wants To <%= data.field4 %>? New <%= data.field9 %> Reveals How!</p>
<br>
<p>76. New <%= data.field9 %> Reveals: When Professional Field2s Have <%= data.field3 %> Problems, This Is What They Do</p>
<br>
<p>77. New <%= data.field9 %> Reveals How A &quot;Fool Stunt&quot; Made Me A Star <%= data.field1 %></p>
<br>
<p>78. New <%= data.field9 %> Reveals If You Have These Symptoms Of <%= data.field3 %> Exhaustion</p>
<br>
<p>79. New <%= data.field9 %> Reveals A Guaranteed Shortcut To <%= data.field4 %></p>
<br>
<p>80. New <%= data.field9 %> Reveals Why <%= data.field2 %> Everywhere Are Raving About This Amazing New <%= data.field3 %> Tool</p>
<br>
<p>81. New <%= data.field9 %> Reveals How To <%= data.field4 %>... Use (Product Name) And Follow These Easy Directions</p>
<br>
<p>82. New <%= data.field9 %> Reveals How You Can <%= data.field4 %> Today - For The Price Of A Movie For Two</p>
<br>
<p>83. New <%= data.field9 %> Reveals This Almost-Magical <%= data.field3 %> Tool To <%= data.field4 %> While You Sleep</p>
<br>
<p>84. New <%= data.field9 %> Reveals Why They Laughed When I Said &quot;I&#39;m a <%= data.field1 %>&quot; - But When I Started To <%= data.field4 %>, They Weren&#39;t Laughing Anymore!</p>
<br>
<p>85. New <%= data.field9 %> Reveals Why You MUST Throw Away Your Old <%= data.field3 %> Playbook</p>
<br>
<p>86. New <%= data.field9 %> Reveals Why There Are No More Backbreaking <%= data.field3 %> &quot;Chores&quot; For Me &mdash; Yet We Continue ToField4 Day After Day!</p>
<br>
<p>87. New <%= data.field9 %> Reveals Right And Wrong <%= data.field3 %> Methods &mdash; And Little Pointers That Will MASSIVELY Increase Your Profits</p>
<br>
<p>88. New <%= data.field9 %> Reveals Secrets Every <%= data.field1 %> Needs To Know About What&#39;s Really Working In Today&#39;s <%= data.field3 %> Market</p>
<br>
<p>89. New <%= data.field9 %> Reveals Why, If You Were Given $200,000 To Spend - This The Kind Of <%= data.field3 %> System You Would Build</p>
<br>
<p>90. New <%= data.field9 %> Reveals &nbsp;Why Other <%= data.field2 %> Are Making More Money Than You... and What To DO About It!.&nbsp;</p>
<br>
<p>Part 3: Calls To Action</p>
<p>YES! Send My <%= data.field9 %></p>
<br>
<p>YES! Send My <%= data.field9 %> Now!</p>
<br>
<p>YES! Send My <%= data.field9 %> Quickly</p>
<br>
<p>YES! I&#39;m Ready To <%= data.field4 %></p>
<br>
<p>YES! I&#39;m Ready To <%= data.field4 %> Now!</p>
<br>
<p>YES! I&#39;m Ready To <%= data.field4 %> Easily</p>
<br>
<p>YES! I Want To <%= data.field4 %></p>
<br>
<p>YES! I Want To <%= data.field4 %> Now!</p>
<br>
<p>YES! I Want To <%= data.field4 %> In A Flash</p>
<br>
<p>YES! I&#39;m Ready For More <%= data.field5 %></p>
<br>
<p>YES! I&#39;m Ready For More <%= data.field6 %></p>
<br>
<p>YES! I&#39;m Ready For More <%= data.field5 %> Now!</p>
<br>
<p>YES! I&#39;m Ready For More <%= data.field6 %> Now!</p>
<br>
<p>YES! I&#39;m Ready For More <%= data.field5 %> &nbsp;Quickly</p>
<br>
<p>YES! I&#39;m Ready For More <%= data.field6 %> &nbsp;Immediately</p>
<br>
<br>