<p>Variables Entered</p>
<p>Your name: <%= data.field1  %></p>
<p>Main topic of your webinar: <%= data.field2  %></p>
<p>Big Payoff they really want: <%= data.field3  %></p>
<p>A 2nd Big Payoff they want: <%= data.field4  %></p>
<p>Another really Big Payoff they want: <%= data.field5  %></p>
<p>Crazy instant &quot;day dream&quot; outcome that isn&#39;t really possible, but would be cool!: <%= data.field6  %></p>
<p>Far-fetched solution to get that daydream outcome: <%= data.field7  %></p>
<p>The slow or &quot;manual&quot; way most people use to approach the problem: <%= data.field8  %></p>
<p>Main action they have to take: <%= data.field9  %></p>
<p>The bottom line, main result they want to do or have in this situation: <%= data.field10  %></p>
<p>The usual or obvious thing people do to try to shortcut the process. Starts w/ &quot;use&quot;: <%= data.field11  %></p>
<p>The drawback to that usual or obvious shortcut that makes it not a great option: <%= data.field12  %></p>
<p>A cool discovery you made that changed everything: <%= data.field13  %></p>
<p>Big, crazy, almost unbelievable outcome you got from that discovery: <%= data.field6  %></p>
<p>Big results others want, can expect to get from your discovery: <%= data.field14  %></p>
<p>How fast can they get results?: <%= data.field15  %></p>
<p>How much is what you&#39;re selling? <%= data.field16  %></p>
<p>Step 3 of 3: Use the script to do live motion video, &nbsp;&quot;PowerPoint&quot; video, or text for the sales copy you need to make the Magic Bullet Offer</p>
<p>===========</p>
<p>Raise Question</p>
<p>===========</p>
<br>
<p>What if you could <%= data.field6  %>?</p>
<br>
<p>Do you want to <%= data.field3  %>?</p>
<br>
<p>Are you ready to <%= data.field4  %>?&nbsp;</p>
<br>
<p>Wouldn&#39;t it be awesome if you could <%= data.field5  %>?</p>
<br>
<br>
<p>===========</p>
<p>Intro Magic Bullet</p>
<p>===========</p>
<br>
<p>Hi, my name is <%= data.field1  %>, and those are questions I used to ask myself as well. &nbsp;</p>
<br>
<p>Just imagine if you had that ability with <%= data.field2  %>, what would you do? &nbsp;How would that instantly change your life and business for the better?</p>
<br>
<br>
<p>===========</p>
<p>Point Out Frustrations</p>
<p>===========</p>
<br>
<p>Unfortunately, <%= data.field2  %> isn&#39;t as easy as <%= data.field7  %>.&nbsp;</p>
<br>
<p>We have to <%= data.field8  %>. Even if we <%= data.field9  %> quickly, it&#39;s going to take days to <%= data.field10  %>.&nbsp;</p>
<br>
<p>While you might try to <%= data.field11  %> to speed up the process, you can quickly get bogged down with <%= data.field12  %>.&nbsp;</p>
<br>
<p>Talk about &quot;<%= data.field2  %> overload&quot; . . .&nbsp;</p>
<br>
<p>If you&#39;ve ever felt that frustration with <%= data.field2  %>, then I can relate to you perfectly.&nbsp;</p>
<br>
<p>===========</p>
<p>My Magic Bullet</p>
<p>===========</p>
<br>
<p>Just like you, I struggled with <%= data.field2  %> - until I found the secret.</p>
<br>
<p>I <%= data.field13  %>.&nbsp;</p>
<br>
<p>I was able to <%= data.field6  %>.</p>
<br>
<p>I started telling my friends, family members, and business associates about those results; what happened next shocked me.&nbsp;</p>
<br>
<p>Some people were BEGGING me to show them how they could <%= data.field14  %> . . .&nbsp;</p>
<br>
<p>Others were really skeptical that it was even possible . . .</p>
<br>
<p>So I gave them a challenge . . . the SAME challenge that I&#39;m going to give to you right now.&nbsp;</p>
<br>
<p>Pay us <%= data.field16  %>, and I guarantee that you&#39;ll MORE than <%= data.field14  %> in <%= data.field15  %> . . . and from that point forward, for the rest of your life, you&#39;ll have a skill that will serve you forever.&nbsp;</p>
<br>
<br>
<p>===========</p>
<p>Don&#39;t Worry - Proof</p>
<p>===========</p>
<br>
<p>And if you&#39;re skeptical . . . then don&#39;t worry.&nbsp;</p>
<br>
<p>Keep the <%= data.field16  %> in your pocket, and then AFTER we&#39;ve trained you and you&#39;ve <%= data.field14  %> . . . then pay us the <%= data.field16  %>.&nbsp;</p>
<br>
<p>AND . . . if we aren&#39;t able to <%= data.field14  %> in <%= data.field15  %> . . . don&#39;t pay us anything. Does that seem fair?&nbsp;</p>
<br>
<p>We called this the &quot;<%= data.field1  %>, <%= data.field14  %> Challenge&quot;.&nbsp;</p>
<br>
<p>And so far . . . we&#39;ve NEVER lost. So, I set up a special webinar event this week for YOU &nbsp;. . .&nbsp;</p>
<br>
<p>If you are on this webinar . . . we will <%= data.field14  %> and prove our amazing results to you . . .</p>
<br>
<br>
<p>===========</p>
<p>Risk Reversal&nbsp;</p>
<p>===========</p>
<br>
<p>Here&#39;s what I want to do for you: I&#39;m so sure this will completely change your life that I&#39;m going to let you listen to the entire webinar for FREE.&nbsp;</p>
<br>
<p>Then, at the end, you get to be the judge. Either I live up to my word or I don&#39;t.&nbsp;</p>
<br>
<p>If I do deliver what I promise and you love the information, do nothing and we&#39;ll charge your credit card <%= data.field16  %>.</p>
<br>
<p>If I don&#39;t deliver, or you don&#39;t think the information was worth the price, just send me an email before midnight, and we won&#39;t charge you anything.</p>
<br>
<p>Does that sound fair?</p>
<br>
<p>It&#39;s kind of like going to a restaurant and only paying if you love the food.&nbsp;</p>
<br>
<p>Or going to a movie, and if you hate it . . . then you pay NOTHING . . .</p>
<br>
<br>
<p>===========</p>
<p>Close</p>
<p>===========</p>
<br>
<p>So, now it&#39;s your turn to decide.</p>
<br>
<p>Say yes, and let us prove that our system works to <%= data.field14  %> in <%= data.field15  %>... or you pay nothing!</p>
<br>
<p>You will need to put your credit card number in now to reserve your spot, but you pay NOTHING until after the webinar is over, and then pay only if you love it.&nbsp;</p>
<br>
<p>You&#39;ve got nothing to lose by giving this a try.</p>
<br>
<p>If there&#39;s even a chance that this could completely change your life . . .isn&#39;t it worth checking it out for free?</p>
<br>
<p>Just click the button below, and reserve your spot for this life-changing webinar. I promise it will be worth it.</p>
<br>
<br>