<p>-=-=-=-=-=-=-=-=-=-</p>
<p>Survey Title:</p>
<p>Field1</p>
<p>-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>1. Finish this sentence. &quot;I am...&quot;</p>
<br>
<p>* <%= data.field5 %></p>
<br>
<br>
<p>2. <%= data.field6 %></p>
<br>
<p>* <%= data.field7 %></p>
<br>
<br>
<p>3. <%= data.field8 %></p>
<br>
<p>* <%= data.field9 %></p>
<br>
<br>
<p>4. What&#39;s the biggest struggle or challenge you face with <%= data.field3 %> right now?</p>
<br>
<p>* <%= data.field10 %></p>
<br>
<br>
<p>5. Those with [last response] issue typically suffer from 1 of 3 [roadblocks / mindsets].&nbsp;</p>
<p>Tell me, which of these <%= data.field2 %> issues you suffer from the most?</p>
<br>
<p>* <%= data.field11 %></p>
<br>
<br>
<p>6. Lastly, this may not seem like it matters, but &quot;<%= data.field12 %>&quot;... because that could matter a whole lot!</p>
<br>
<p>* <%= data.field13 %></p>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>OTHER POTENTIAL QUESTIONS:&nbsp;</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>How long have you been <%= data.field3 %>?</p>
<br>
<p>How long have you been trying to <%= data.field4 %>?</p>
<br>
<p>What tools are you currently using to <%= data.field4 %>?</p>
<br>
<p>What is your #1 problem with <%= data.field2 %>?</p>
<br>
<p>What is your #1 problem with <%= data.field3 %>?</p>
<br>
<p>What is your #1 problem with trying to <%= data.field4 %>?</p>
<br>
<p>What is your skill level with <%= data.field2 %>? &quot;I can...&quot;</p>
<br>
<p>Tell us about your results with <%= data.field2 %>. &quot;I currently...&quot;</p>
<br>
<p>What tools are you using for <%= data.field2 %>?</p>
<br>
<p>What tools are you using for <%= data.field3 %>?</p>
<br>
<p>What is your biggest challenge with <%= data.field2 %> right now?</p>
<br>