<p>Scroll through the results that appear below.</p>
<p>Copy &amp; Paste the slide text into your PowerPoint Software</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>&lt;-----------------START Shocking Statement TITLE Slide -----------------&gt;&nbsp;</p>
<p>&nbsp;Here&#39;s the TRUTH!&nbsp;</p>
<p><%= data.field5 %>&nbsp;</p>
<p>&lt;----------------- END Shocking Statement Slide -----------------&gt; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>&lt;-----------------START Problem Bullet Slide -----------------&gt;&nbsp;</p>
<p><%= data.field6 %>. Why? &nbsp;</p>
<p><%= data.field7 %>&nbsp;</p>
<p><%= data.field8 %>&nbsp;</p>
<p><%= data.field9 %>&nbsp;</p>
<p><%= data.field10 %>&nbsp;</p>
<p><%= data.field11 %> &nbsp;</p>
<p>&lt;----------------- END Problem Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;-----------------START Transition Slide TITLE Slide -----------------&gt;&nbsp;</p>
<p>But that&#39;s not the end of the problem... &nbsp;</p>
<p>it actually gets worse...&nbsp;</p>
<p>&lt;----------------- END Transition Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;-----------------START Agitate Slide Bullet Slide -----------------&gt;&nbsp;</p>
<p>&nbsp;Here&#39;s the Real Problem you&#39;re facing &nbsp;</p>
<p><%= data.field12 %>&nbsp;</p>
<p><%= data.field13 %>&nbsp;</p>
<p>And, worst of all, <%= data.field14 %>&nbsp;</p>
<p>But luckily for you, there&#39;s now a solution... &nbsp;</p>
<p>&lt;----------------- END Agitate Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;-----------------START Transition Slide TITLE Slide &nbsp;-----------------&gt;&nbsp;</p>
<p>&nbsp; Introducing...&nbsp;</p>
<p>&quot;<%= data.field15 %>&quot;&nbsp;</p>
<p>&lt;----------------- END Transition Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;-----------------START Solution Slide Bullet Slide &nbsp;-----------------&gt; &lt;----------------- Divide up on TWO SLIDES if Needed &nbsp;-----------------&gt;&nbsp;</p>
<p>&quot;<%= data.field15 %>&quot; &nbsp;</p>
<p><%= data.field20 %>&nbsp;</p>
<p><%= data.field21 %>&nbsp;</p>
<p><%= data.field22 %>&nbsp;</p>
<p><%= data.field23 %>&nbsp;</p>
<p><%= data.field24 %>&nbsp;</p>
<p><%= data.field25 %>&nbsp;</p>
<p><%= data.field26 %>&nbsp;</p>
<p><%= data.field27 %>&nbsp;</p>
<p><%= data.field28 %>&nbsp;</p>
<p><%= data.field29 %> &nbsp;</p>
<p>&lt;----------------- END Solution Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;------------- START &nbsp; OPTIONAL Transition Slide TITLE Slide &nbsp;-------------&gt;&nbsp;</p>
<p>&nbsp;Hi, My name is <%= data.field1 %> and by now, you&#39;re probably asking...&nbsp;</p>
<p>Who are we and how can we make these claims?&nbsp;</p>
<p>&lt;----------------- END Transition Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;-------- START &nbsp;OPTIONAL Credibility Slide Bullet Slide &nbsp;--------&gt;&nbsp;</p>
<p>&nbsp;Here&#39;s why we can make these promises to you: &nbsp;</p>
<p><%= data.field30 %>&nbsp;</p>
<p><%= data.field31 %>&nbsp;</p>
<p><%= data.field32 %>&nbsp;</p>
<p><%= data.field33 %>&nbsp;</p>
<p><%= data.field34 %> &nbsp;</p>
<p>&lt;----------------- END Credibility Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;------- START &nbsp;OPTIONAL Transition Slide TITLE Slide &nbsp;-------&gt;&nbsp;</p>
<p>&nbsp;But Don&#39;t just take my word for it!&nbsp;</p>
<p>Take a look at this...&nbsp;</p>
<p>&lt;----------------- END Transition Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;------------ START &nbsp;OPTIONAL Proof Slide Bullet Slide &nbsp;------------&gt;&nbsp;</p>
<p>&nbsp;PROOF! &nbsp;</p>
<p><%= data.field35 %>&nbsp;</p>
<p><%= data.field36 %>&nbsp;</p>
<p><%= data.field37 %>&nbsp;</p>
<p><%= data.field38 %>&nbsp;</p>
<p><%= data.field39 %> &nbsp;</p>
<p>&lt;----------------- END Proof Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;----------------- START Summary &nbsp;Slide Bullet Slide &nbsp;-----------------&gt;&nbsp;</p>
<p>Here&#39;s Exactly What You Get With &nbsp;&quot;<%= data.field15 %>&quot; &nbsp;</p>
<p><%= data.field40 %>&nbsp;</p>
<p><%= data.field41 %>&nbsp;</p>
<p><%= data.field42 %>&nbsp;</p>
<p><%= data.field43 %>&nbsp;</p>
<p><%= data.field44 %>&nbsp;</p>
<p>(ADD MORE HERE IF NEEDED) &nbsp;</p>
<p>&lt;----------------- END Summary Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;----------------- START Summary &nbsp;Slide Bullet Slide &nbsp;-----------------&gt;&nbsp;</p>
<p>&nbsp;ACT NOW, and Get These Bonuses &nbsp;&nbsp;</p>
<p>BONUS #1 - <%= data.field45 %>&nbsp;</p>
<p>BONUS #2 - <%= data.field46 %>&nbsp;</p>
<p>BONUS #3 - <%= data.field47 %> &nbsp;</p>
<p>&lt;----------------- END Summary Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;------- START &nbsp;OPTIONAL Transition Slide TITLE Slide &nbsp;-------&gt;&nbsp;</p>
<p>&nbsp; Act Now - Before It&#39;s Too Late!...&nbsp;</p>
<p>&lt;----------------- END Transition Slide -----------------&gt; &nbsp; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;----------------- START Call To Action Slide Bullet Slide &nbsp;-----------------&gt;&nbsp;</p>
<p>&nbsp;Get Onboard With <%= data.field15 %> Now!&nbsp;</p>
<p>If you want to: &nbsp;</p>
<p><%= data.field17 %>&nbsp;</p>
<p><%= data.field18 %>&nbsp;</p>
<p><%= data.field19 %> &nbsp;</p>
<p>&nbsp;Then Take Action / Order / Subscribe / Claim Your Copy Right Now!&nbsp;</p>
<p>&nbsp;&nbsp;</p>
<p>&lt;----------------- END Call To Action Slide -----------------&gt; &nbsp; &nbsp;&nbsp;</p>
<p>&lt;----------------- END OF SLIDES -----------------&gt;</p>
<p>&lt;-------------- &nbsp;Start Basic Sales Letter Template --------------&gt;&nbsp;</p>
<br>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;&quot;How To <%= data.field19 %>&quot;&nbsp;</p>
<p>&lt;&lt;&lt;PPT Video Sales Letter VIDEO Goes Here&gt;&gt;&gt;&nbsp;</p>
<p>YES! I&#39;m ready to <%= data.field17 %>, <%= data.field18 %>, and <%= data.field19 %>!&nbsp;</p>
<p>I understand that when I act now, not only do I get the &quot;<%= data.field15 %>&quot; <%= data.field16 %>, but I also get all of the following:&nbsp;</p>
<p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>&nbsp;</p>
<p>BONUS #1 - <%= data.field45 %>&nbsp;</p>
<p>BONUS #2 - <%= data.field46 %>&nbsp;</p>
<p>BONUS #3 - <%= data.field47 %>&nbsp;</p>
<p><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>&nbsp;</p>
<p>I also understand I have 60 Days To Put &quot;<%= data.field15 %>&quot; to The Test&nbsp;</p>
<p>If &quot;<%= data.field15 %>&quot; doesn&#39;t show me exactly how to <%= data.field17 %>... if it doesn&#39;t take me by the hand, step-by-step <%= data.field18 %>... or if it fails to help me <%= data.field19 %>, then I understand that I will receive a full refund, No Questions Asked!&nbsp;</p>
<p>&nbsp;Click here Now To Place Your Order&nbsp;</p>
<p>Take advantage of this offer while it&#39;s still available!&nbsp;</p>
<p><%= data.field1 %>&nbsp;</p>
<p>PS - Every minute you wait to get &quot;<%= data.field15 %>&quot; is another minute you&#39;re giving other <%= data.field2 %> to use this breakthrough <%= data.field16 %> to quickly and easily <%= data.field17 %>.&nbsp;</p>
<p>OR&nbsp;</p>
<p>PS - Every minute you wait to get &quot;<%= data.field15 %>&quot; is another minute you&#39;re giving other <%= data.field2 %> to use this breakthrough <%= data.field16 %> to quickly and easily <%= data.field18 %>.&nbsp;</p>
<p>OR&nbsp;</p>
<p>PS - Every minute you wait to get &quot;<%= data.field15 %>&quot; is another minute you&#39;re giving other <%= data.field2 %> to use this breakthrough <%= data.field16 %> to quickly and easily <%= data.field19 %>.&nbsp;</p>
<p>Get Your Instant Access Today!&nbsp;</p>
<p>P.P.S. - Here is what just a few people just like you had to say about &quot;<%= data.field15 %>&quot;:&nbsp;</p>
<p>&nbsp;---------------------------------------------------------------------------------&nbsp;</p>
<p>Company Name | Phone #&nbsp;</p>
<p>Customer Service Link | Disclaimer Link | Terms of Service&nbsp;</p>
<p>(c) Copyright - <%= data.field1 %> - All Rights Reserved</p>
