<p>Final Step: Browse through the results, edit, and pick the headlines that make the most sense!Variables Entered</p>
<p>Niche audience singular= <%= data.field1 %></p>
<p>#1 Main keyword topic= <%= data.field2 %></p>
<p>#2 Main keyword topic= <%= data.field3 %></p>
<p>What you sell= <%= data.field4 %></p>
<p>What it is= <%= data.field5 %></p>
<p>Curiosity description= <%= data.field6 %></p>
<p>#1 Result they want= <%= data.field7 %></p>
<p>#2 Result they want= <%= data.field8 %></p>
<p>&quot;Magic wand&quot; get Payoff= <%= data.field11 %></p>
<p>Pain they want To avoid= <%= data.field9 %></p>
<p>Roadblock they face= field10</p>
<p>Timeframe to get results= <%= data.field12 %></p>
<br>
<p>Headline Modifiers</p>
<p>NOTE: You can add the following &quot;prefixes&quot; to the beginning of any of these Headlines to add a little pizazz!</p>
<p>Discover!</p>
<p>Finally!</p>
<p>New!</p>
<p>Breaking News!</p>
<p>Update!</p>
<p>At Last!</p>
<p>WOW!</p>
<p>You can add the following &quot;suffixes&quot; to the END of any of these Headlines to add even more sizzle!</p>
<p>... Guaranteed!</p>
<p>... Now!</p>
<p>... Today!</p>
<p>... Fast!</p>
<br>
<p>HOT, Warm and Cold Headline Sets</p>
<p>*HOT headlines are for people who know about you and your product</p>
<p>*Warm headlines are for people who are looking for a solution</p>
<p>*Cold headlines are for people who only know they have a problem</p>
<br>
<p>Directions:</p>
<p>1. Every time you hit the Blue &quot;Build&quot; button, it will make a new HOT, Warm and Cold Headline</p>
<p>2. If you see one you like, you can click the &quot;lock&quot; icon (turns blue)</p>
<p>3. You can click the &quot;cart&quot; icon next to any headline to add it to your Clip Bin</p>
<p>4. You can click the Build button again to regenerate the headlines that are not locked</p>
<br>
<p>HOT:</p>
<p>Breaking News! I&#39;ll show you how to <%= data.field8 %> with <%= data.field4 %> ... Today!</p>
<br>
<p>WARM:</p>
<p>Finally! FREE DOWNLOAD: 3 Simple Steps To <%= data.field8 %> ... Guaranteed!</p>
<br>
<p>COLD:</p>
<p>3 Signs of <%= data.field3 %> Problems You Can&#39;t Ignore ... Fast!</p>
<br>
<p>&quot;How To&quot; Headlines:</p>
<p>How To <%= data.field7 %> Without <%= data.field9 %>&nbsp;</p>
<br>
<p>How To <%= data.field7 %> So You Can Avoid <%= data.field9 %>&nbsp;</p>
<br>
<p>How To <%= data.field8 %> Without <%= data.field9 %></p>
<br>
<p>How To <%= data.field8 %> So You Can Avoid <%= data.field9 %></p>
<br>
<p>How To <%= data.field7 %> In As Little As <%= data.field12 %>&nbsp;</p>
<br>
<p>How To <%= data.field7 %> As Quickly As <%= data.field12 %>&nbsp;</p>
<br>
<p>How To <%= data.field8 %> In As Little As <%= data.field12 %></p>
<br>
<p>How To <%= data.field8 %> As Quickly As <%= data.field12 %></p>
<br>
<p>How To <%= data.field7 %> In As Little As <%= data.field12 %>... even if <%= data.field10 %>!</p>
<br>
<p>How To <%= data.field8 %> In As Little As <%= data.field12 %>... even if <%= data.field10 %>!</p>
<br>
<p>How Every <%= data.field1 %> Can <%= data.field7 %></p>
<br>
<p>How Any <%= data.field1 %> Can <%= data.field7 %> In As Little As <%= data.field12 %></p>
<br>
<p>How Every <%= data.field1 %> Can <%= data.field8 %></p>
<br>
<p>How Any <%= data.field1 %> Can <%= data.field8 %> In As Little As <%= data.field12 %></p>
<br>
<p>How To <%= data.field7 %></p>
<br>
<p>How To <%= data.field8 %></p>
<br>
<p>How To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>How To <%= data.field8 %>... even if <%= data.field10 %>!</p>
<br>
<p>How To <%= data.field7 %> In <%= data.field12 %></p>
<br>
<p>How To <%= data.field7 %> In <%= data.field12 %>... even if <%= data.field10 %>!</p>
<br>
<p>How To <%= data.field8 %> In <%= data.field12 %></p>
<br>
<p>How To <%= data.field8 %> In <%= data.field12 %>... even if <%= data.field10 %>!</p>
<br>
<p>How To <%= data.field7 %> (Without <%= data.field9 %>!)</p>
<br>
<p>How Every <%= data.field1 %> Can <%= data.field7 %> (Without <%= data.field9 %>!)</p>
<br>
<p>How To <%= data.field8 %> (Without <%= data.field9 %>!)</p>
<br>
<p>How Every <%= data.field1 %> Can <%= data.field8 %> (Without <%= data.field9 %>!)</p>
<br>
<p>How To <%= data.field8 %> (... and it&#39;s NOT what you think!)</p>
<br>
<p>How Every <%= data.field1 %> Can <%= data.field8 %> (... and it&#39;s NOT what you think!)</p>
<br>
<p>How Every <%= data.field1 %> Can <%= data.field8 %>... even if <%= data.field10 %>!</p>
<br>
<p>X# Ways To Get What You Want Headlines:</p>
<p>(The key here is To use an odd number like #1, 3, 5 , etc. - they just seem To work better - more credible)</p>
<br>
<p>&nbsp;Fast Ways To <%= data.field7 %> And Avoid <%= data.field9 %></p>
<br>
<p>&nbsp;Proven Ways To <%= data.field8 %> And Avoid <%= data.field9 %></p>
<br>
<p>&nbsp;Quick And Easy Ways To <%= data.field7 %></p>
<br>
<p>&nbsp;Surefire Ways To <%= data.field8 %></p>
<br>
<p>&nbsp;Quick And Easy Ways To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>&nbsp;Surefire Ways To <%= data.field8 %>... even if <%= data.field10 %>!</p>
<br>
<p>&nbsp;Unusual Ways To <%= data.field7 %> In <%= data.field12 %></p>
<br>
<p>&nbsp;&quot;Crazy&quot; Ways To <%= data.field8 %> In <%= data.field12 %></p>
<br>
<p>&nbsp;Fool-Proof Methods To <%= data.field7 %> Every Time - Guaranteed!</p>
<br>
<p>&nbsp;Fool-Proof Methods Every <%= data.field1 %> Can Use To <%= data.field8 %> Every Time - Guaranteed!</p>
<br>
<p>&nbsp;Surefire Ways To <%= data.field7 %> Faster Than You Ever Dreamed Possible</p>
<br>
<p>&nbsp;Surefire Ways To <%= data.field8 %> Faster Than You Ever Dreamed Possible</p>
<br>
<p>&nbsp;Ways Any <%= data.field1 %> Can <%= data.field7 %> In <%= data.field12 %> Without <%= data.field9 %></p>
<br>
<p>&nbsp;Ways Any <%= data.field1 %> Can <%= data.field8 %> In <%= data.field12 %> Without <%= data.field9 %></p>
<br>
<p>&nbsp;Ways Any <%= data.field1 %> Can <%= data.field7 %> In <%= data.field12 %> Without <%= data.field9 %>... even if <%= data.field10 %>!</p>
<br>
<p>&nbsp;Ways Any <%= data.field1 %> Can <%= data.field8 %> In <%= data.field12 %> Without <%= data.field9 %>... even if <%= data.field10 %>!</p>
<br>
<p>Insider Info Headlines:</p>
<p>The TRUTH about how To <%= data.field7 %> and avoid <%= data.field9 %></p>
<br>
<p>The TRUTH about how To avoid <%= data.field9 %></p>
<br>
<p>The TRUTH about how To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>The TRUTH about how To <%= data.field8 %>... even if <%= data.field10 %>!</p>
<br>
<p>The TRUTH about How Every <%= data.field1 %> Can <%= data.field7 %> and avoid <%= data.field9 %></p>
<br>
<p>Mistakes Headlines:</p>
<p>Which of these <%= data.field2 %> mistakes will you make?</p>
<br>
<p>Which of these <%= data.field3 %> mistakes will you make?</p>
<br>
<p><%= data.field2 %> Mistakes All Field1s Need To Avoid!</p>
<br>
<p><%= data.field3 %> Mistakes All Field1s Need To Avoid!</p>
<br>
<p>&nbsp;<%= data.field2 %> Mistakes Every <%= data.field1 %> Needs To Avoid!</p>
<br>
<p>&nbsp;<%= data.field3 %> Mistakes Every <%= data.field1 %> Needs To Avoid!</p>
<br>
<p>&nbsp;<%= data.field2 %> Mistakes Field1s Make... and How To Avoid Them!</p>
<br>
<p>&nbsp;<%= data.field3 %> Mistakes Field1s Make... and How To Avoid Them!</p>
<br>
<p>The TOP <%= data.field2 %> Mistakes Field1s Make... and How To Avoid Them!</p>
<br>
<p>The TOP <%= data.field3 %> Mistakes Field1s Make... and How To Avoid Them!</p>
<br>
<p><%= data.field2 %> Expert Reveals Secret Headlines:</p>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field7 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field8 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field7 %> In the next <%= data.field12 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field8 %> In the next <%= data.field12 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals The Secrets You Need To <%= data.field7 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals The Secrets You Need To <%= data.field7 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field8 %>... even if <%= data.field10 %>!</p>
<br>
<p>Top <%= data.field2 %> Expert Reveals The Secrets You Need To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>Top <%= data.field2 %> Expert Reveals How To <%= data.field7 %> and avoid <%= data.field9 %></p>
<br>
<p>Top <%= data.field2 %> Expert Reveals Insider Secrets To <%= data.field7 %> (Without <%= data.field9 %>!)</p>
<br>
<p>Top <%= data.field2 %> Expert Reveals Insider Secrets To <%= data.field8 %> (Without <%= data.field9 %>!)</p>
<br>
<p><%= data.field3 %> Expert Reveals Secret Headlines:</p>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field7 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field8 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field7 %> In the next <%= data.field12 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field8 %> In the next <%= data.field12 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals The Secrets You Need To <%= data.field7 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals The Secrets You Need To <%= data.field7 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field8 %>... even if <%= data.field10 %>!</p>
<br>
<p>Top <%= data.field3 %> Expert Reveals The Secrets You Need To <%= data.field7 %>... even if <%= data.field10 %>!</p>
<br>
<p>Top <%= data.field3 %> Expert Reveals How To <%= data.field7 %> and avoid <%= data.field9 %></p>
<br>
<p>Top <%= data.field3 %> Expert Reveals Insider Secrets To <%= data.field7 %> (Without <%= data.field9 %>!)</p>
<br>
<p>Top <%= data.field3 %> Expert Reveals Insider Secrets To <%= data.field8 %> (Without <%= data.field9 %>!)</p>
<br>
<p>WARNING Headlines:</p>
<p>WARNING: Here&#39;s What Every <%= data.field1 %> Needs To Know About <%= data.field2 %></p>
<br>
<p>WARNING: Here&#39;s What Every <%= data.field1 %> Needs To Know About <%= data.field3 %></p>
<br>
<p>WARNING: Don&#39;t Even Think About Trying To <%= data.field7 %> Until You Read This</p>
<br>
<p>WARNING: Don&#39;t Even Think About Trying To <%= data.field8 %> Until You Read This</p>
<br>
<p>WARNING: If You Want To <%= data.field7 %> - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want To <%= data.field8 %> - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want To <%= data.field7 %> (even if <%= data.field10 %>) - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want <%= data.field8 %> - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want <%= data.field8 %> (even if <%= data.field10 %>) - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want To <%= data.field7 %> In the next <%= data.field12 %> - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want <%= data.field8 %> In the next <%= data.field12 %> - Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If You Want To <%= data.field7 %>, But You&#39;re Worried About <%= data.field9 %>, Read This Entire Letter Right Now</p>
<br>
<p>WARNING: If you Want <%= data.field8 %>, But You&#39;re Worried About <%= data.field9 %>, Read This Entire Letter Right Now</p>
<br>
<p>Other Headlines:</p>
<p>Here&#39;s The Perfect Solution If You Want To <%= data.field7 %></p>
<br>
<p>Here&#39;s The Perfect Solution If You Want <%= data.field8 %></p>
<br>
<p>Here&#39;s The Perfect Solution If You Want To <%= data.field7 %> (even if <%= data.field10 %>)</p>
<br>
<p>Here&#39;s The Perfect Solution If You Want <%= data.field8 %> (even if <%= data.field10 %>)</p>
<br>
<p>My Proven <%= data.field12 %> Method To <%= data.field7 %></p>
<br>
<p>My Proven <%= data.field12 %> Method To <%= data.field7 %> (even if <%= data.field10 %>)</p>
<br>
<p>My Proven <%= data.field12 %> Method To <%= data.field8 %> (even if <%= data.field10 %>)</p>
<br>
<p>My Proven <%= data.field12 %> Method To <%= data.field8 %></p>
<br>
<p>My Proven <%= data.field12 %> Method To <%= data.field7 %> Without <%= data.field9 %></p>
<br>
<p>My Proven <%= data.field12 %> Method To <%= data.field8 %> Without <%= data.field9 %></p>
<br>
<p><%= data.field7 %> In <%= data.field12 %> - Guaranteed!</p>
<br>
<p><%= data.field8 %> In <%= data.field12 %> - Guaranteed!</p>
<br>
<p><%= data.field7 %> In <%= data.field12 %> - Guaranteed! (even if <%= data.field10 %>)</p>
<br>
<p><%= data.field8 %> In <%= data.field12 %> - Guaranteed! (even if <%= data.field10 %>)</p>
<br>
<p><%= data.field7 %> In <%= data.field12 %> - Guaranteed!</p>
<br>
<p><%= data.field7 %> In <%= data.field12 %> - Or Your Money Back!</p>
<br>
<p>Get The Ball Rolling To <%= data.field7 %> In <%= data.field12 %> - Or Your Money Back!</p>
<br>
<p>Get The Ball Rolling To <%= data.field8 %> In <%= data.field12 %> - Or Your Money Back!</p>
<br>
<p>Start To <%= data.field7 %> In <%= data.field12 %> - Or Your Money Back!</p>
<br>
<p>Start To <%= data.field8 %> In <%= data.field12 %> - Or Your Money Back!</p>
<br>