<p>Variables Entered</p>
<p>Who is your target audience?: <%= data.field1  %></p>
<p>What&#39;s a pain they&#39;re dealing?: <%= data.field2  %></p>
<p>What do they want?: <%= data.field3  %></p>
<p>What&#39;s a hard job?: <%= data.field4  %></p>
<p>What are you sending them to?: <%= data.field5  %></p>
<p>What&#39;s the title?: <%= data.field6  %></p>
<p>How does this alleviate pain?: <%= data.field7  %></p>
<p>How does this create gain?: <%= data.field8  %></p>
<p>Link: <%= data.field9  %></p>
<p>Edit the emails and tweets that make the most sense. Use them for Twitter, Social Media, quick blog posts &amp; more!SUBJECT LINES</p>
<p>[slug] {FIRSTNAME}, do you <%= data.field2  %>?</p>
<br>
<p>[slug] {FIRSTNAME}, want to <%= data.field3  %>?</p>
<br>
<p>[slug] {FIRSTNAME}, do you want to <%= data.field3  %>?</p>
<br>
<p>[slug] {FIRSTNAME}, struggling with <%= data.field4  %>?</p>
<br>
<p>[slug] {FIRSTNAME}, <%= data.field6  %></p>
<br>
<p>[slug] {FIRSTNAME}, <%= data.field5  %>: <%= data.field6  %></p>
<br>
<p>See also the Email Subject Line Scripts for more subject line ideasEmail Teaser OPTION 1</p>
<p>Hi {FIRSTNAME},</p>
<br>
<p>Are you a <%= data.field1  %> and you <%= data.field3  %>?</p>
<br>
<p>Are you dealing with the <%= data.field2  %>, but don&#39;t know how to go about <%= data.field4  %>?</p>
<br>
<p>Then I&#39;ve got a great <%= data.field5  %> for you!</p>
<br>
<p>=&gt; <%= data.field9  %></p>
<br>
<p>This <%= data.field5  %> will help you because it <%= data.field7  %> AND <%= data.field8  %>.</p>
<br>
<p>It&#39;s called &quot;<%= data.field6  %>&quot;</p>
<br>
<p>Click here for more <%= data.field9  %></p>
<br>
<p>[yourname]</p>
<br>
<p>PS - If you&#39;re serious, this <%= data.field8  %>.</p>
<br>
<p>Click here right now:</p>
<p>=&gt; <%= data.field9  %></p>
<p>Email Teaser OPTION 2</p>
<p>Hi {FIRSTNAME},</p>
<br>
<p>If you&#39;re a <%= data.field1  %> and you <%= data.field3  %>, then I&#39;ve got great news for you.</p>
<br>
<p><%= data.field5  %> =&gt; <%= data.field9  %></p>
<br>
<p>If you&#39;ve been having a hard time <%= data.field4  %> and you <%= data.field2  %>, then this <%= data.field5  %> - &quot;<%= data.field6  %>&quot; - is exactly what you&#39;re looking for!</p>
<br>
<p>It <%= data.field7  %> AND <%= data.field8  %>.</p>
<br>
<p>Click here for more:</p>
<p>=&gt; <%= data.field9  %></p>
<br>
<p>[yourname]</p>
<br>
<p>PS - Seriously, if you want results, this <%= data.field8  %>!</p>
<br>
<p>Take a quick peek at this <%= data.field5  %> right now:</p>
<p>=&gt; <%= data.field9  %></p>
<p>Tweets / short FB Posts / Possible Ads</p>
<p>Struggling with the <%= data.field2  %>? <%= data.field9  %></p>
<br>
<p>Struggling with the <%= data.field2  %>? Here&#39;s <%= data.field5  %> <%= data.field7  %>! <%= data.field9  %></p>
<br>
<p><%= data.field1  %> struggling with the <%= data.field2  %>? <%= data.field9  %></p>
<br>
<p><%= data.field1  %> struggling with the <%= data.field2  %>? This <%= data.field5  %> <%= data.field7  %>! <%= data.field9  %></p>
<br>
<p><%= data.field1  %> struggling with <%= data.field4  %>? Here&#39;s <%= data.field5  %> <%= data.field7  %>! <%= data.field9  %></p>
<br>
<p>ATTENTION: Field1s struggling with the <%= data.field2  %>! Check out <%= data.field5  %> <%= data.field9  %></p>
<br>
<p>ATTENTION: Field1s struggling with <%= data.field4  %>! Here&#39;s <%= data.field5  %> <%= data.field7  %>! <%= data.field9  %></p>
<br>
<p><%= data.field1  %> and you <%= data.field3  %>? <%= data.field9  %></p>
<br>
<p><%= data.field1  %> and you <%= data.field3  %>? Here&#39;s <%= data.field5  %> <%= data.field8  %> <%= data.field9  %></p>
<br>
<p>ATTENTION: Field1s who <%= data.field3  %>! Take a peek at <%= data.field5  %> <%= data.field9  %></p>
<br>
<p>Want to <%= data.field3  %>? <%= data.field9  %></p>
<br>
<p>ATTENTION: Field1s who want to <%= data.field3  %>! Here&#39;s a <%= data.field5  %> <%= data.field9  %></p>
<br>
<p>ATTENTION: Field1s who want to <%= data.field3  %>! This <%= data.field5  %> <%= data.field8  %>! <%= data.field9  %></p>
<br>
<p>ATTENTION: Field1s who want to <%= data.field3  %>! This <%= data.field5  %> <%= data.field7  %>! <%= data.field9  %></p>
<br>
<p>Don&#39;t know <%= data.field4  %>? <%= data.field5  %> shows you how! <%= data.field9  %></p>
<br>
<p><%= data.field1  %>, but don&#39;t know <%= data.field4  %>? Check out <%= data.field5  %> <%= data.field9  %></p>
<br>
<p>ATTENTION: field1s who don&#39;t know <%= data.field4  %>! Here&#39;s <%= data.field5  %> <%= data.field9  %></p>
<br>
<p>Here&#39;s <%= data.field5  %> that makes <%= data.field4  %> easier! <%= data.field9  %></p>
<br>
<p>This <%= data.field5  %> &quot;<%= data.field6  %>&quot; makes <%= data.field4  %> easier! <%= data.field9  %></p>
<br>
<p><%= data.field6  %> <%= data.field9  %></p>
<br>
<p><%= data.field5  %>: <%= data.field6  %> <%= data.field9  %></p>
<br>
<p><%= data.field5  %>: <%= data.field7  %> <%= data.field9  %></p>
<br>
<p><%= data.field5  %>: <%= data.field8  %> <%= data.field9  %></p>
<br>