<p>Variables:</p>
<p>Your name: <%= data.field1  %></p>
<p>Your company: <%= data.field2  %></p>
<p>What you&#39;re offering to get them to sign up: <%= data.field3  %></p>
<p>Title or Name of what you&#39;re offering: <%= data.field4  %></p>
<p>Big payoff / gain you want to have / GET (verb): <%= data.field5  %></p>
<p>Big obstacle / barrier / negative circumstance / pain you want to avoid: <%= data.field6  %></p>
<p>Very Cool &quot;how to&quot; or &quot;reveal&quot; you&#39;ll share with them in what you&#39;re offering: <%= data.field7  %></p>
<p>Why are you giving this away for free or S&amp;H?: <%= data.field8  %></p>
<p>Day or Date this special offer ends?: <%= data.field9  %></p>
<p>Option #1: Physical Product Offer</p>
<p>============</p>
<p>WHO Are You</p>
<p>============</p>
<br>
<p>Hi, I&rsquo;m <%= data.field1  %>, founder of <%= data.field2  %>.</p>
<br>
<p>============</p>
<p>WHAT Have You Got</p>
<p>============</p>
<br>
<p>I&rsquo;ve got a free <%= data.field3  %> for you called &quot;<%= data.field4  %>&quot; that&rsquo;s going to help you specifically with how to <%= data.field5  %>.</p>
<br>
<p>============</p>
<p>WHY do they need it? (Choose one option or the other)</p>
<p>============</p>
<br>
<p>Option #1: So if you&rsquo;ve been struggling with <%= data.field6  %>, then you need this <%= data.field3  %> because, among other things, it reveals <%= data.field7  %>, so you can <%= data.field5  %>.</p>
<br>
<p>Option #2: So if you want to <%= data.field5  %>, then you need this <%= data.field3  %> because, among other things, it reveals <%= data.field7  %> so you don&#39;t have to deal with <%= data.field6  %>.</p>
<br>
<p>============</p>
<p>HOW do they get it?</p>
<p>============</p>
<br>
<p>Just fill out the form on the side of this page. Let me know your shipping address, and I&rsquo;ll send your free <%= data.field3  %> out right away.</p>
<br>
<p>============</p>
<p>What&#39;s the Catch?</p>
<p>============</p>
<br>
<p>There&rsquo;s no catch. I&rsquo;m doing this because <%= data.field8  %>.</p>
<br>
<p>All I need for you to do is to help with shipping and handling charges.</p>
<br>
<p>============</p>
<p>URGENCY: Why should they order right now? (Choose one)</p>
<p>============</p>
<br>
<p>Option #1: I only have a very limited number of copies of &quot;<%= data.field4  %>&quot; available, so don&rsquo;t get left behind.</p>
<br>
<p>Option #2: This free <%= data.field3  %> offer ends at midnight on <%= data.field9  %>. Don&rsquo;t wait.</p>
<br>
<p>Option #3: This free <%= data.field3  %> offer is part of a marketing test, so when it&#39;s over, &quot;<%= data.field4  %>&quot; will no longer be available with this free offer.</p>
<br>
<p>============</p>
<p>GUARANTEE: Reverse the Risk in ordering the product</p>
<p>============</p>
<br>
<p>If you don&rsquo;t love it, I&rsquo;ll refund your money, AND you can keep the free <%= data.field3  %>.</p>
<br>
<p>============</p>
<p>RECAP: Remind them what they are getting and why.</p>
<p>============</p>
<br>
<p>So just to recap, you&rsquo;re getting this free <%= data.field3  %>, The &quot;<%= data.field4  %>&quot; that will help you with <%= data.field5  %> (including <%= data.field7  %>)... which means you can finally stop struggling with <%= data.field6  %>.</p>
<br>
<p>Just fill out the form on the side of this page.&nbsp;</p>
<br>
<p>Let me know your shipping address, and I&rsquo;ll send it out right away.</p>
<p>Option #2: Digital Product Offer</p>
<p>============</p>
<p>WHO Are You</p>
<p>============</p>
<br>
<p>Hi, I&rsquo;m <%= data.field1  %>, founder of <%= data.field2  %>.</p>
<br>
<p>============</p>
<p>WHAT Have You Got</p>
<p>============</p>
<br>
<p>I&rsquo;ve got a free <%= data.field3  %> for you called &quot;<%= data.field4  %>&quot; that&rsquo;s going to help you specifically with how to <%= data.field5  %>.</p>
<br>
<p>============</p>
<p>WHY do they need it? (Choose one option or the other)</p>
<p>============</p>
<br>
<p>Option #1: If you&rsquo;ve been struggling with <%= data.field6  %>, then you need this <%= data.field3  %> because, among other things, it reveals <%= data.field7  %>, so you can <%= data.field5  %>.</p>
<br>
<p>Option #2: If you want to <%= data.field5  %>, then you need this <%= data.field3  %> because, among other things, it reveals <%= data.field7  %> so you don&#39;t have to deal with <%= data.field6  %>.</p>
<br>
<p>============</p>
<p>HOW do they get it?</p>
<p>============</p>
<br>
<p>Just fill out the form on the side of this page. Let me know your email address, and I&rsquo;ll send &quot;<%= data.field4  %>&quot; out to you instantly via email.</p>
<br>
<p>============</p>
<p>What&#39;s the Catch?</p>
<p>============</p>
<br>
<p>There&rsquo;s no catch. I&rsquo;m doing this because <%= data.field8  %>.</p>
<br>
<p>All I need for you to do is put in your email address, and I&rsquo;ll send it out instantly.</p>
<br>
<p>============</p>
<p>URGENCY: Why should they order right now? (Choose one)</p>
<p>============</p>
<br>
<p>Option #1: This offer ends at midnight on <%= data.field9  %>. Don&rsquo;t wait!</p>
<br>
<p>Option #2: This offer is part of a marketing test, so when it&#39;s over, this <%= data.field3  %> will no longer be available with this free offer.</p>
<br>
<p>============</p>
<p>GUARANTEE: Reverse the Risk in ordering the product</p>
<p>============</p>
<br>
<p>Even if you don&#39;t love it right now, you can still keep your access to the <%= data.field3  %> and get value from it in the future.</p>
<br>
<p>============</p>
<p>RECAP: Remind them what they are getting and why.</p>
<p>============</p>
<br>
<p>So just to recap, you&rsquo;re getting instant access to this free <%= data.field3  %>, The &quot;<%= data.field4  %>&quot; that will help you <%= data.field5  %> (including <%= data.field7  %>)... which means you can finally stop struggling with <%= data.field6  %>.</p>
<br>
<p>Just fill out the form, let me know your email address, and I&rsquo;ll send it out instantly.</p>
<br>
<br>