<p>Final Step: Browse through the results and start collecting your case studiesVariables Entered</p>
<p>Name Of The Person: <%= data.field1 %></p>
<p>Target Audience: <%= data.field2 %></p>
<p>Main Topic: <%= data.field3 %> (Ex: sales funnels, sales copy writing, book writing, etc.)</p>
<p>Target Audience&#39;s #1 Objective: <%= data.field4 %></p>
<p>Title Of The Product, etc.: <%= data.field5 %></p>
<p>Type Of Thing Selling: <%= data.field6 %></p>
<br>
<br>
<p>Part 1: Background &amp; The Problem</p>
<p>Please tell us your name and some background about yourself as a / an <%= data.field2 %>.</p>
<br>
<p>Who is YOUR target audience? (Who do you sell to?)</p>
<br>
<p>Before the <%= data.field5 %> <%= data.field6 %>, what was your process for <%= data.field4 %>?</p>
<br>
<p>How would you describe your process for <%= data.field4 %> in one sentence prior to using our <%= data.field6 %>?</p>
<br>
<p>What were the specific challenges you faced <%= data.field4 %> that way?</p>
<br>
<p>What was the worst part about <%= data.field4 %> before you started using <%= data.field5 %>?</p>
<br>
<br>
<p>Part 2: Search For Solution</p>
<p>What led you to look for a &quot;better way&quot; for <%= data.field4 %>?</p>
<br>
<p>How long had you been looking for a solution before you found <%= data.field5 %>?</p>
<br>
<p>Why did you decide to try <%= data.field5 %>?</p>
<br>
<p>What got you off the fence?</p>
<br>
<br>
<p>Part 3: Solution Provided by &quot;<%= data.field5 %>&quot;</p>
<p>How did our <%= data.field6 %> help you with <%= data.field4 %>?</p>
<br>
<p>Was it you who used the <%= data.field6 %>, or was it a team member?</p>
<br>
<p>How did the <%= data.field5 %> <%= data.field6 %> make and / or save you money?</p>
<br>
<p>How did the <%= data.field5 %> <%= data.field6 %> help you save time and / or avoid effort?</p>
<br>
<br>
<p>Part 4: Specific Results Achieved &amp; Benefits Enjoyed</p>
<p>What specific results did you get with <%= data.field5 %>?</p>
<br>
<p>How long did it take you to get those results with <%= data.field5 %>?</p>
<br>
<p>What went well or better than expected during the process of using the <%= data.field6 %>?</p>
<br>
<p>Did you hit any roadblocks with <%= data.field5 %> and how did you get past them?</p>
<br>
<p>Thinking back to the beginning, how has <%= data.field5 %> changed how you feel about the process of <%= data.field4 %>?</p>
<br>
<p>What would you say to a / an <%= data.field2 %> who is &quot;stuck&quot; in the process, or who hasn&#39;t even gotten started yet <%= data.field4 %>?</p>
<br>
<p>What is your advice to others who might be considering our <%= data.field6 %>?</p>
<br>
<p>What do you see is the long-term impact of using <%= data.field5 %>?</p>
<br>
<p>Any final thoughts you&#39;d like to share about <%= data.field1 %> or <%= data.field5 %>?</p>
<br>
<br>
<p>Additional Questions:</p>
<p>Is there anything about the <%= data.field5 %> <%= data.field6 %> you would like to see changed or improved?</p>
<br>
<p>Do you have any feature requests or suggestions to make the <%= data.field5 %> <%= data.field6 %> better?</p>
<br>
<p>What is your favorite feature or part of the <%= data.field5 %> <%= data.field6 %>? Why?</p>
<br>
<p>What is your least favorite feature or part of the <%= data.field5 %> <%= data.field6 %>? Why?</p>
<br>
<p>Do you have any overall feedback or advice for us as a company, <%= data.field1 %>, or the <%= data.field5 %> <%= data.field6 %>?</p>
<br>
<p>What would YOUR life be like now WITHOUT the <%= data.field5 %>?</p>
<br>
<p>What would your reaction be if I told you that <%= data.field5 %> would soon be unavailable? What would that mean to you and your business?</p>
<br>
<p>Do you think the investment in <%= data.field5 %> was worthwhile? Why?</p>
<br>
<p>Would you recommend the <%= data.field5 %> <%= data.field6 %> to a friend or colleague?</p>
<br>
<p>How would you describe <%= data.field5 %> if you were explaining it to a friend?</p>
<br>
<p>What do you love about <%= data.field5 %>?</p>
<br>
<p>What challenges with <%= data.field4 %> do you see on the horizon for every <%= data.field2 %> and how do you see <%= data.field5 %> helping with that?</p>