<p>The Backstory:</p>
<p>I was a <%= data.field2 %> trying to <%= data.field5 %>. I really wanted to <%= data.field3 %> so I wouldn&#39;t have to <%= data.field6 %> .</p>
<br>
<p>Your Desires:</p>
<p>I wanted to be able to <%= data.field7 %> and I could <%= data.field4 %>.</p>
<br>
<p>External Struggle:</p>
<p>The thing is I was <%= data.field8 %>. That meant I wasn&rsquo;t able to <%= data.field7 %>, let alone <%= data.field4 %>.</p>
<br>
<p>Internal Struggle:</p>
<p>To make things worse, I felt terrible because <%= data.field9 %>. I felt even worse about the situation because <%= data.field10 %>. I felt like <%= data.field11 %>.</p>
<br>
<p>The Wall:</p>
<p>The problem was that <%= data.field12 %>. Which meant <%= data.field13 %>, which <%= data.field14 %>.</p>
<br>
<p>Then, as if by chance, something amazing happened...</p>
<br>
<p>The Epiphany:</p>
<p>That&#39;s when I <%= data.field15 %> all about <%= data.field16 %>!</p>
<br>
<p>It was now crystal clear to me how to <%= data.field18 %>, because I saw <%= data.field19 %>.</p>
<br>
<p>I also learned that <%= data.field20 %>, you need to <%= data.field21 %> instead.</p>
<br>
<p>As a result I <%= data.field22 %>.</p>
<br>
<p>After I did that, I started <%= data.field23 %>.</p>
<br>
<p>Suddenly, I was <%= data.field24 %>.</p>
<br>
<p>That&rsquo;s when I realized that the secret to <%= data.field5 %> was <%= data.field17 %>.</p>
<br>
<p>The Plan:</p>
<p>My plan was to start <%= data.field25 %>.</p>
<br>
<p>So I started <%= data.field26 %>. But we didn&rsquo;t stop there.</p>
<br>
<p>We then <%= data.field27 %>.</p>
<br>
<p>After that, we <%= data.field28 %>.</p>
<br>
<p>But there was still a problem...</p>
<br>
<p>The Conflict:</p>
<p><%= data.field29 %></p>
<br>
<p>The Achievement:</p>
<p>We ended up getting so frustrated that we decided to <%= data.field30 %>.</p>
<br>
<p>We chose to call it &ldquo;<%= data.field31 %>&rdquo;.&nbsp;</p>
<br>
<p>We thought if we could create something that would make it possible to <%= data.field32 %>, we&rsquo;d be really happy.</p>
<br>
<p>After <%= data.field33 %>, we created <%= data.field31 %>.&nbsp;</p>
<br>
<p>I can now <%= data.field34 %>.&nbsp;</p>
<br>
<p>We then started to let other <%= data.field1 %> use <%= data.field31 %>.</p>
<br>
<p>As a result of all this we were able to achieve the following:</p>
<br>
<p><%= data.field35 %></p>
<br>
<p>The Transformation:</p>
<p>After creating <%= data.field31 %>, I was not only able to <%= data.field36 %>, I&rsquo;ve also been able to stop <%= data.field37 %>, because we can now <%= data.field38 %>.</p>
<br>
<p>And in the end, all of this means I&rsquo;m now able to <%= data.field39 %>.</p>
<br>
<br>