<p>Abandoned Cart Emails</p>
<p>Email #1 - Send 30 minutes after &#39;Abandoned Purchase&#39; tag is applied</p>
<br>
<p>Subject:&nbsp;</p>
<br>
<p>I&#39;m So Sorry</p>
<p>Did Something Happen?</p>
<p>Uh Oh...</p>
<br>
<p>Body:&nbsp;</p>
<br>
<p>Hey, {CUSTOMER NAME}...</p>
<br>
<p>I noticed that you tried to purchase <%= data.field2  %> a few minutes ago...</p>
<br>
<p>But unfortunately it looks like your order didn&#39;t go through.</p>
<br>
<p>I&#39;m so sorry about that. Did something happen with our order page? (This &#39;tech stuff&#39; can get a bit goofy sometimes).&nbsp;</p>
<br>
<p>If so, please let us know so we can fix it.&nbsp;</p>
<p>&nbsp;</p>
<p>If not, please try ordering again now.&nbsp;</p>
<br>
<p>Just click here so you can get instant access to <%= data.field2  %></p>
<br>
<p>And if you need help with ordering, please reach out to us at <%= data.field3  %>...</p>
<br>
<p>Or call us at <%= data.field4  %>.&nbsp;</p>
<br>
<p>Thanks in advance for your order!</p>
<br>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: You&#39;ll want to act fast because this is a special offer and the price could go up at any time.</p>
<br>
<p>Again, if you have any issues, don&#39;t hesitate to contact us by email or phone...we&#39;ll get right on it!</p>
<br>
<p>Click here to get <%= data.field2  %>&nbsp;</p>
<br>
<br>
<br>
<p>Email #2 - Send 24 hours after &#39;Abandoned Purchase&#39; tag is applied</p>
<br>
<p>Subject:&nbsp;</p>
<br>
<p>Need Help With This?</p>
<p>Skeptical? Having Second Thoughts?</p>
<p>Having Trouble With This?</p>
<br>
<p>Body:&nbsp;</p>
<br>
<p>Hi {CUSTOMER NAME},</p>
<br>
<p>First, thank you SO much for your interest in <%= data.field2  %>.</p>
<br>
<p>Yesterday, you tried to purchase <%= data.field2  %>, but your order hasn&#39;t come through yet.</p>
<br>
<p>I just wanted to see if there was anything I could do to help...?</p>
<br>
<p>If so, PLEASE reach out to us for priority service at our Escalation Customer Support Team at <%= data.field3  %></p>
<br>
<p>Or you can call us directly at <%= data.field4  %>.</p>
<br>
<p>Remember, here are just a few of the benefits you can expect when you get <%= data.field2  %>.</p>
<br>
<p>* <%= data.field6  %></p>
<br>
<p>* <%= data.field7  %></p>
<br>
<p>* <%= data.field8  %></p>
<br>
<p>* <%= data.field9  %></p>
<br>
<p>* <%= data.field10  %></p>
<br>
<p>So if you&#39;re ready, please go here to order now.&nbsp;</p>
<br>
<p>You&#39;re gonna love it!</p>
<br>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: If you didn&#39;t complete your order because you had doubts or were skeptical in any way...</p>
<br>
<p>I get it. I understand.</p>
<br>
<p>That&#39;s why I&#39;m offering you a 100% RISK FREE <%= data.field5  %> Money Back Guarantee.</p>
<br>
<p>I believe YOU need to be completely satisfied or else I don&#39;t deserve your business. Which is why I&#39;m taking all the risk.&nbsp;</p>
<br>
<p>So give <%= data.field2  %> a try.&nbsp;</p>
<br>
<p>Just click here to get started.&nbsp;</p>
<br>
<p>If for any reason you&#39;re not happy, email me and I&#39;ll refund every cent, no questions asked. Fair enough?</p>
<br>
<p>&nbsp;&nbsp;</p>
<br>
<p>Email #3 - Send 72 hours after &#39;Abandoned Purchase&#39; tag is applied</p>
<br>
<p>Subject:&nbsp;</p>
<br>
<p>I&#39;d Hate To See You Lose Out</p>
<p>It&#39;s Waiting For You</p>
<p>We Put It On Hold For You</p>
<br>
<br>
<p>Body:&nbsp;</p>
<br>
<p>Hi {CUSTOMER NAME},</p>
<br>
<p>I thought I&#39;d reach out one last time to see if you&#39;d like to give <%= data.field2  %> a try.</p>
<br>
<p>For whatever reason, you had second thoughts about completing your order. &nbsp;</p>
<br>
<p>I just wanted to share with you what some of our customers and clients had to say about <%= data.field2  %> right after they got it...</p>
<br>
<p><%= data.field11  %></p>
<br>
<p><%= data.field12  %></p>
<br>
<p><%= data.field13  %></p>
<br>
<p>These are just a few of the lives and businesses <%= data.field2  %> has changed.</p>
<br>
<p>And I know it can transform YOURS as well.&nbsp;</p>
<br>
<p>So here&#39;s what I did. I put <%= data.field2  %> on hold for you for the next 24 hours.&nbsp;</p>
<br>
<p>All you have to do is go here to claim it.</p>
<br>
<p>With our 100% Risk Free <%= data.field5  %> Money Back Guarantee, you&#39;ve really got nothing to lose.&nbsp;</p>
<br>
<p>And if you have ANY questions at all, email us at <%= data.field3  %> and you&#39;ll get an immediate response.&nbsp;</p>
<br>
<p>I appreciate your interest in <%= data.field2  %> and for being a customer.&nbsp;</p>
<br>
<br>
<p><%= data.field1  %></p>
<br>
<p>PS: One more thing...</p>
<br>
<p>I would hate for you to lose out on this SPECIAL pricing, which is why I reached out to you. &nbsp;</p>
<br>
<p>This promotion is ending soon, so get <%= data.field2  %> while there&#39;s still time.</p>
<br>
<p>Click Here to Get Started</p>
<br>