<p>&nbsp;Copy and paste the results into your page editorfield1&#39;s Special is:</p>
<p><%= data.field2  %> - <%= data.field3  %>&nbsp;</p>
<br>
<p>Offer Deadline:</p>
<p>Through <%= data.field6  %></p>
<br>
<p>&quot;Nutshell&quot; of Special:</p>
<p>Get <%= data.field2  %> <%= data.field4  %> &quot;<%= data.field3  %>&quot;</p>
<br>
<p>Price:</p>
<p><%= data.field7  %> <%= data.field8  %></p>
<br>
<p>Who Should Grab This Deal?:</p>
<p>Anyone who wants to <%= data.field9  %>, <%= data.field10  %>, or <%= data.field11  %>.</p>
<br>
<p>Here&#39;s What You Get:</p>
<br>
<p>You get <%= data.field12  %>.</p>
<br>
<p>You get <%= data.field13  %>.</p>
<br>
<p>You get <%= data.field14  %>.</p>
<br>
<p>You get <%= data.field15  %>.</p>
<br>
<p>You get <%= data.field16  %>.</p>
<br>
<p>Offer Deadline:</p>
<p>This offer is good Through <%= data.field1  %> Only - so claim your deal right now before it&#39;s gone!</p>
<br>
<p>More Details:</p>
<p>You can get all the details about &quot;<%= data.field3  %>&quot; HERE (on the regular sales page) - but you can only claim the special deal price from this page you&#39;re on right now.</p>
<br>
<p>&nbsp;</p>
<br>
<p>---------------------------------------</p>
<p>Social Media and Blog Blurbs</p>
<p>--------------------------------------</p>
<br>
<p>Great deal <%= data.field1  %> on <%= data.field3  %>! You can snap it up for <%= data.field2  %>, but only <%= data.field1  %>. Get all the details here: <%= data.field17  %></p>
<br>
<p>Been waiting to get <%= data.field3  %>? Well <%= data.field1  %> you can grab it for <%= data.field2  %>! Get all the details here: <%= data.field17  %></p>
<br>
<p>People love our <%= data.field3  %> because it helps you <%= data.field9  %>, <%= data.field10  %>, and <%= data.field11  %>. Now <%= data.field1  %> you can get it for <%= data.field2  %>... but don&#39;t wait! Click here for all the nitty gritty: <%= data.field17  %></p>
<br>
<p>Great NEWS! <%= data.field1  %> you can grab our <%= data.field3  %> for <%= data.field2  %>. Get all the details here: <%= data.field17  %></p>
<br>
<p>Check this out! <%= data.field1  %> you can snag out <%= data.field3  %> for <%= data.field2  %>! It&#39;s our best deal ever, bud don&#39;t wait! This special offer expires <%= data.field1  %>. Get all the details here: <%= data.field17  %></p>
<br>