<p>Final Step: Browse through the results and watch the idea sparks start to fly!(We apologize in advance if you get TOO MANY awesome ideas for emails, articles and blog posts!)</p>
<br>
<p>Variables Entered</p>
<p>What&#39;s the Moral you want them to get from the Story you&#39;ll tell them? <%= data.field1  %></p>
<p>What&#39;s the Meaning of the story for them? <%= data.field2  %></p>
<p>What is the emotion / felling you want people to have at by the end of your story? <%= data.field3  %></p>
<p>What do you want people to do as a result of hearing your story? <%= data.field4  %></p>
<br>
<p>Formula</p>
<p>Idea Prompt + Moral + Meaning + Next Step / Call To Action</p>
<br>
<br>
<p>Let me tell you a quick story about a special teacher I had in grade school who taught me something important... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a special pet who made me feel ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a stray pet / a wounded animal I found one time... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about memorable childhood experience - good or bad... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a birthday I ______________ (with or without parties) ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a fairy tale I ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about experiences I had as a _________ (job: waiter, pizza deliver person)... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a place that made me feel ______________ and why... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a person who make me feel ______________ &nbsp;and why... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I felt so embarrassed I could die... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I felt proud of ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I felt exhilarated about ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I got in trouble at school... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I got in trouble at ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I felt challenged with a HUGE project... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a situation that didn&#39;t seem funny at the time, but does now... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I overcame a HUGE obstacle or ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a trip I took and felt scared... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a trip I took and made a cool discovery... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about the day I got married... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about something my child / grandchild said or did ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about something my pet ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about when I graduated from high school (or didn&#39;t graduate)... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about an experience I had when I graduated from college (or didn&#39;t graduate)... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a once in a lifetime experience I had with ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a vacation experiecne I had that was a dream / nightmare... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a conversation I had with a dying ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about major health crisis for me personally and how I dealt with it... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about major health crisis for someone I love and what happened... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a divorce / breakup I went through... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about divorce / breakup for parents, loved ones, etc.... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about major accident in my life / or lives of loved ones... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about unexpected / unusual trauma I went through with ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about weight loss / weight gain I experienced after ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about physical disability or recovery I had with ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about death of a close loved one... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about some big challenge I overcame with ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about some big challenge a loved one overcame with ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a defining moment in my life when it came to my ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when my ethics / morals were tested... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a moment where I had to make a split second decision about ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a moment when weeks, months, years of hard work finally paid off... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a time when I had to accept defeat, retreat, and reorganize to come back stronger... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a moment when I got knocked down by ______________ but got back up again... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about an experience I had trying to figure out technology in order to ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about mastering a new skill for work or hobby... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about remodeling my house / painting / cutting down a tree / learning to drive a stick shift... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a drive home late at night when I was extremely tired and ______________ happened... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about visiting a friend / family member in the emergency room for ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a recent trip to the grocery store where I ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about going to the mall last ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about going to the gym this past ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about visiting family and friends over the ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a semmingly unimportant event that happened around the holidays... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a TV show I watched the other day about ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a news story on ______________ that caught my attention... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about something that happened at the movies... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about a movie I saw about ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about an experience I had driving my car in ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about something that happend when I was stopped at a traffic light one time... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about when a bolt of inspiration hit me out of the blue one day about ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about ______________ that happened when I was working around the house... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about something I picked up from reading a book about ______________ ... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>
<br>
<p>Let me tell you a quick story about an interesting thought about ______________ I had in the bathroom / thinking on the potty... and what you can learn from it</p>
<p>(REMINDER: By the end of this story you want your audience to feel: <%= data.field3  %>)</p>
<br>
<p>So, what&#39;s the moral / lesson of the story you want them to take away?&nbsp;</p>
<p>&nbsp;- The thing I really want you to take away from this is <%= data.field1  %>.</p>
<br>
<p>And what is the meaning / takeaway for them (life, business, etc.)?</p>
<p>&nbsp;- &nbsp;So what this means to you in your life / business is <%= data.field2  %>.</p>
<br>
<p>So what is their next step at it relates to the story, moral and meaning you just shared with them?</p>
<p>&nbsp;- So here&#39;s your next step as it relates to what you and I just shared: <%= data.field4  %></p>
<br>