<p>Variables Entered</p>
<p>What is the name of what they just bought?: <%= data.field1  %></p>
<br>
<p>What&#39;s the big payoff / big idea of what they just bought? (VERB): <%= data.field2  %>&nbsp;</p>
<br>
<p>What does that big payoff mean to them? (VERB): <%= data.field3  %>&nbsp;</p>
<br>
<p>What is the name of the next thing you want them to buy (OTO)?: <%= data.field4  %>&nbsp;</p>
<br>
<p>What does this OTO product / service help them do? (VERB): <%= data.field5  %>&nbsp;</p>
<br>
<p>What&#39;s the big payoff / big idea of this OTO? (VERB): <%= data.field6  %>&nbsp;</p>
<br>
<p>What does this cool &quot;big payoff / big idea&quot; mean to your target audience?: <%= data.field7  %>&nbsp;</p>
<br>
<p>In what timeframe will this OTO deliver results?: <%= data.field8  %>&nbsp;</p>
<br>
<p>What is the regular price of this OTO?: <%= data.field9  %>&nbsp;</p>
<br>
<p>What is the special price of this OTO?: <%= data.field10  %>&nbsp;</p>
<br>
<p>What is the #1 most important result this OTO gives?: <%= data.field11  %>&nbsp;</p>
<br>
<p>What is the 2nd most important result?: <%= data.field12  %>&nbsp;</p>
<br>
<p>What is the 3rd most important result?: <%= data.field13  %>&nbsp;</p>
<br>
<p>What is the 4th most important result?: <%= data.field14  %>&nbsp;</p>
<br>
<p>What is the 5th most important result?: <%= data.field15  %>&nbsp;</p>
<br>
<p>What is the first bonus?: <%= data.field16  %>&nbsp;</p>
<br>
<p>What is the value of that first bonus?: <%= data.field17  %></p>
<br>
<p>What is the 2nd bonus?: <%= data.field18  %>&nbsp;</p>
<br>
<p>What is the value of that 2nd bonus?: <%= data.field19  %>&nbsp;</p>
<br>
<p>What is the 3rd bonus?: <%= data.field20  %>&nbsp;</p>
<br>
<p>What is the value of that 3rd bonus?: <%= data.field21  %>&nbsp;</p>
<br>
<p>Testimonial #1: <%= data.field22  %>&nbsp;</p>
<br>
<p>Testimonial #2: <%= data.field23  %>&nbsp;</p>
<br>
<p>Testimonial #3: <%= data.field24  %>&nbsp;</p>
<p>One Time Offer (OTO)</p>
<p>&quot;Need Help / Coaching / Done For You Service&quot; Script</p>
<p>Congratulations on purchasing <%= data.field1  %>. Your order is not quite finished yet.</p>
<br>
<p>You&#39;ve made a smart choice, and here&#39;s why . . .</p>
<br>
<p>You ordered this because you want to <%= data.field2  %>, and that&#39;s exactly what it&#39;s going to do for you.</p>
<br>
<p>But let me ask you a question...</p>
<br>
<p>(CHOOSE ONE)</p>
<p>Option #1:</p>
<p>How would you like my help and coaching to <%= data.field5  %> in <%= data.field8  %>?</p>
<br>
<p>Option #2:</p>
<p>How would you like to let us do everything for you so you can <%= data.field5  %> in <%= data.field8  %>?</p>
<br>
<p>This offer is NOT for everyone.&nbsp;</p>
<br>
<p>We&#39;re only making it available to you because you proved you&#39;re an action taker when you took advantage of <%= data.field1  %>.&nbsp;</p>
<br>
<p>So I&#39;m going to make you a special, one-time offer that&#39;s only available right here, right now.</p>
<br>
<p>(CHOOSE ONE)</p>
<p>Option #1:</p>
<p>What I&#39;m going to share with you right now will help you to <%= data.field6  %> with my personal help and coaching.&nbsp;</p>
<br>
<p>Option #2:</p>
<p>What I&#39;m going to share with you right now will help you to <%= data.field6  %> by just letting us do everything for you.&nbsp;</p>
<br>
<p>I have a coaching program / service called <%= data.field4  %>.&nbsp;</p>
<br>
<p>I don&#39;t have time to go over everything in the program because we could be here for hours, but the bottom line is that we will coach you to get / we will do everything for you to <%= data.field6  %>.</p>
<br>
<p>Let me explain to you how the program works and how I&#39;ll walk you step by step through the process / how we&#39;ll manage the process for you.</p>
<br>
<p>* <%= data.field11  %></p>
<br>
<p>* <%= data.field12  %></p>
<br>
<p>* <%= data.field13  %></p>
<br>
<p>* <%= data.field14  %></p>
<br>
<p>* <%= data.field15  %></p>
<br>
<p>Can you imagine what your life will be like when you have the ability to <%= data.field7  %> with my personal help and coaching / by letting us handle all the details for you?</p>
<br>
<p>So click the button below right now to add <%= data.field4  %> to your order.</p>
<br>
<p>I guarantee it will help you to <%= data.field5  %> in <%= data.field8  %> or I&#39;ll cheerfully refund your money, no questions asked.</p>
<br>
<p>When you act now, you&#39;ll also receive &quot;<%= data.field16  %>&quot;, (worth $<%= data.field17  %>), for FREE.</p>
<br>
<p>And you&#39;ll also get &quot;<%= data.field18  %>&quot;, (worth $<%= data.field19  %>), for FREE. . .</p>
<br>
<p>Plus, you&#39;ll get &quot;<%= data.field20  %>&quot;, (worth $<%= data.field21  %>), for FREE . . .</p>
<br>
<p>This <%= data.field4  %> regularly costs <%= data.field9  %>.&nbsp;</p>
<br>
<p>But right now, you have this ONE CHANCE to get it for only <%= data.field10  %>.&nbsp;</p>
<br>
<p>This one-time offer is only available right here, right now. When you leave this page, it&#39;s gone forever.&nbsp;</p>
<br>
<p>(CHOOSE ONE)</p>
<p>Option #1:</p>
<p>Don&#39;t miss your chance to <%= data.field5  %> so you can <%= data.field6  %> in <%= data.field8  %> with my personal help and coaching.&nbsp;</p>
<br>
<p>Option #2:</p>
<p>Don&#39;t miss your chance to <%= data.field5  %> so you can <%= data.field6  %> in <%= data.field8  %> by letting us handle everything for you.&nbsp;</p>
<br>
<p>Click the button now.</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>OPTIONAL Section: Testimonial Rush at End</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Don&#39;t just take my word for it, take a look at what</p>
<p>others are saying about <%= data.field4  %> . . .</p>
<br>
<p>&quot;<%= data.field22  %>&quot;</p>
<br>
<p>&quot;<%= data.field23  %>&quot;</p>
<br>
<p>&quot;<%= data.field24  %>&quot;</p>
<br>
<p>(CHOOSE ONE)</p>
<p>Option #1:</p>
<p>Again, don&#39;t miss your chance to <%= data.field5  %> so you can <%= data.field6  %> faster and easier than ever with my personal help and coaching.&nbsp;</p>
<br>
<p>Option #2:</p>
<p>Again, don&#39;t miss your chance to <%= data.field5  %> so you can <%= data.field6  %> faster and easier than ever by just letting us handle everything for you.&nbsp;</p>
<br>
<p>Click the button now.</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>