<p>Audio / Video Script Version 1 -General Opt-In Offer Draft Use on a landing page of your website or in the upper right on blog sidebar Hi, my name is <%= data.field1  %> and welcome to <%= data.field2  %>.</p>
<br>
<p>You&#39;re about to discover the secret of <%= data.field5  %>.</p>
<br>
<p>We&#39;ve created a <%= data.field6  %> for you that explains <%= data.field7  %>.</p>
<br>
<p>Also, on the next page you&#39;ll get all the details about how you can immediately <%= data.field8  %>.</p>
<br>
<p>So, go head, put in your name and primary email address, click the &quot;Send My <%= data.field6  %>&quot; button right now and we&#39;ll see you on the inside.</p>
<br>
<p>Audio / Video Script Version 2 -Squeeze Page Offer Draft Use on the MAIN page of your website Hi, my name is <%= data.field1  %> and welcome to <%= data.field2  %>.</p>
<br>
<p>In the next few minutes you are going to discover how &nbsp;to <%= data.field4  %> just like <%= data.field3  %> from all over the country/world.</p>
<br>
<p>We&#39;ve even put together a <%= data.field6  %> showing you <%= data.field7  %>.</p>
<br>
<p>Just enter your first name, your email address and click the &quot;Send My <%= data.field6  %>&quot; button below and you&#39;ll instantly receive the <%= data.field6  %> by return email.</p>
<br>
<p>Also, on the next page, you&#39;ll receive all the information that shows you <%= data.field5  %>.</p>
<br>
<p>So go ahead... enter your first name, your email address and click the &quot;Send My <%= data.field6  %>&quot; button to instantly receive the <%= data.field6  %> by return email.</p>
<br>
<p>Basic Opt-in / Squeeze Page Draft with VIDEO Template &quot;Field5&quot; &lt;&lt;&lt;VIDEO Goes Here&gt;&gt;&gt; &nbsp;</p>
<p>* Field4</p>
<br>
<p>* Field7</p>
<br>
<p>* Field8</p>
<br>
<p>&nbsp; &nbsp; YES! I&#39;m ready to discover <%= data.field5  %> and <%= data.field4  %>! Please send my <%= data.field6  %> now...&nbsp;</p>
<br>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>We respect your email privacy!</p>
<br>
<p>---------------------------------------------------------------------------------</p>
<p>Contact information and disclaimer links</p>
<p>(c) Copyright - <%= data.field1  %> - All Rights Reserved</p>
<br>
<p>Basic Opt-in /Squeeze Page Template Draft with NO Video or Audio &nbsp;</p>
<p>&quot;Field5&quot;&nbsp;</p>
<p>* Field4</p>
<br>
<p>* Field7</p>
<br>
<p>* Field8&nbsp;</p>
<br>
<p>Hi, my name is <%= data.field1  %> and welcome to <%= data.field2  %>.In the next few minutes you are going to discover how &nbsp;to <%= data.field4  %> just like <%= data.field3  %> from all over the country/world.</p>
<br>
<p>We&#39;ve even put together a <%= data.field6  %> showing you <%= data.field7  %>.</p>
<br>
<p>Just enter your first name, your email address and click the &quot;Send My <%= data.field6  %>&quot; button below and you&#39;ll instantly receive the <%= data.field6  %> by return email.</p>
<br>
<p>Also, on the next page, you&#39;ll receive all the information that shows you <%= data.field5  %>.</p>
<br>
<p>So go ahead... enter your first name, your email address and click the &quot;Send My <%= data.field6  %>&quot; button to instantly receive the <%= data.field6  %> by return email.</p>
<br>
<p>&nbsp; &nbsp; YES! I&#39;m ready to discover <%= data.field5  %> and <%= data.field4  %>! Please send my <%= data.field6  %> now...&nbsp;</p>
<br>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>We respect your email privacy!</p>
<br>
<p>---------------------------------------------------------------------------------</p>
<p>Contact information and disclaimer links</p>
<p>(c) Copyright - <%= data.field1  %> - All Rights Reserved</p>
<br>