<p>Variables Entered</p>
<p>Your Name: <%= data.field1  %></p>
<p>Target Audience: <%= data.field2  %></p>
<p>BIG *Result* they want: <%= data.field4  %></p>
<p>BIG *Thing* they want: <%= data.field5  %></p>
<p>BIG *Pain* want AVOID: <%= data.field6  %></p>
<p>Number of solutions: <%= data.field7  %></p>
<p>Main Keyword Phrase: <%= data.field3  %></p>
<p>Subject line brand: <%= data.field8  %></p>
<p>Current news topic: <%= data.field9  %></p>
<p>Subject Lines By CategoryHacks</p>
<p><%= data.field3  %> Hack</p>
<br>
<p><%= data.field4  %> Hack</p>
<br>
<p><%= data.field3  %> Hacks (That Work!)</p>
<br>
<p><%= data.field4  %>! <%= data.field7  %> great ideas...</p>
<br>
<p><%= data.field5  %>! <%= data.field7  %> great tips...</p>
<br>
<br>
<p><%= data.field7  %> secrets to <%= data.field4  %></p>
<br>
<p><%= data.field7  %> secrets to <%= data.field4  %> FAST!</p>
<br>
<p><%= data.field7  %> secrets of <%= data.field3  %></p>
<br>
<p><%= data.field7  %> secrets of fast <%= data.field3  %></p>
<br>
<br>
<p>Create Your Dream <%= data.field5  %></p>
<br>
<br>
<p><%= data.field8  %> The real secret to <%= data.field4  %></p>
<br>
<p>The real secret to <%= data.field3  %></p>
<br>
<p>The real secret to <%= data.field5  %></p>
<br>
<p>The real secret to avoid <%= data.field6  %></p>
<br>
<br>
<p>How to avoid <%= data.field6  %> forever</p>
<br>
<br>
<p><%= data.field3  %>: <%= data.field4  %> in half the time!</p>
<br>
<p>{FIRSTNAME} The faster <%= data.field5  %>!</p>
<br>
<p>{FIRSTNAME} <%= data.field4  %> Faster!</p>
<br>
<br>
<p><%= data.field8  %> <%= data.field7  %> simple ways to <%= data.field4  %></p>
<br>
<p><%= data.field7  %> shortcuts for <%= data.field3  %></p>
<br>
<p>Top <%= data.field7  %> tips for your <%= data.field5  %></p>
<br>
<br>
<p><%= data.field7  %> ways to save money on a <%= data.field5  %></p>
<br>
<p><%= data.field7  %> ways to save money and <%= data.field4  %></p>
<br>
<p><%= data.field7  %> keys to <%= data.field3  %></p>
<br>
<br>
<p><%= data.field4  %> in <%= data.field7  %> days or pay nothing</p>
<br>
<p><%= data.field8  %> For <%= data.field5  %>, this works like crazy...</p>
<br>
<p>To <%= data.field4  %>, this works like crazy...</p>
<br>
<p>For <%= data.field3  %>, this works like crazy...</p>
<br>
<p>For avoiding <%= data.field6  %>, this works like crazy...</p>
<br>
<br>
<p><%= data.field8  %> The fastest way to <%= data.field4  %></p>
<br>
<p>The fastest <%= data.field5  %></p>
<br>
<p>The fastest path to <%= data.field3  %></p>
<br>
<p>The fastest way to avoid <%= data.field6  %></p>
<br>
<br>
<p>Here&#39;s an example of what works to <%= data.field4  %></p>
<br>
<p><%= data.field4  %>: Here&#39;s an example of what works...</p>
<br>
<p>Here&#39;s an example of what works for <%= data.field5  %></p>
<br>
<p><%= data.field5  %>: Here&#39;s an example of what works...</p>
<br>
<p>Here&#39;s an example of what works for <%= data.field3  %></p>
<br>
<p><%= data.field3  %>: Here&#39;s an example of what works...</p>
<br>
<p>Here&#39;s an example of what works to avoid <%= data.field6  %></p>
<br>
<p>Avoid <%= data.field6  %>: Here&#39;s an example of what works...</p>
<br>
<br>
<p><%= data.field8  %> Here&#39;s a shortcut for <%= data.field3  %></p>
<br>
<p>Here&#39;s a shortcut to <%= data.field4  %></p>
<br>
<p>Here&#39;s a shortcut to avoid <%= data.field6  %></p>
<br>
<p>Here&#39;s the best <%= data.field5  %> shortcut</p>
<br>
<br>
<p>The best way I know for <%= data.field3  %> success</p>
<br>
<p>The best way I know to <%= data.field4  %></p>
<br>
<p>The best way I know to avoid <%= data.field6  %></p>
<br>
<p>The best way I know to get a <%= data.field5  %></p>
<br>
<br>
<p>A great <%= data.field3  %> resource I just found</p>
<br>
<p>A great <%= data.field4  %> resource I just found</p>
<br>
<p>A great <%= data.field5  %> resource I just found</p>
<br>
<p>A great <%= data.field6  %> prevention resource I just found</p>
<br>
<br>
<p>Break this <%= data.field3  %> &#39;rule&#39; for success</p>
<br>
<p>Break this <%= data.field4  %> &#39;rule&#39; for success</p>
<br>
<p>Break this <%= data.field5  %> &#39;rule&#39; for success</p>
<br>
<p>Plan, Report</p>
<p>RE: <%= data.field3  %> Template &amp; Report&nbsp;</p>
<br>
<p>Can I Give You A <%= data.field3  %> Plan?&nbsp;</p>
<br>
<p>Step-By-Step <%= data.field3  %> Process&nbsp;</p>
<br>
<p>Step-By-Step <%= data.field4  %> Process&nbsp;</p>
<br>
<p>A Detailed <%= data.field3  %> Plan (<%= data.field4  %> This Week)&nbsp;</p>
<br>
<br>
<p>Swipe this <%= data.field3  %> cheat sheet&nbsp;</p>
<br>
<p>Free <%= data.field3  %> Training Video...</p>
<br>
<p>The Key To <%= data.field3  %></p>
<br>
<p>Best <%= data.field3  %> Training Anywhere...&nbsp;</p>
<br>
<p>YOUR step-by-step <%= data.field3  %> plan...&nbsp;</p>
<br>
<br>
<p>Ultimate <%= data.field3  %> Game-Plan</p>
<br>
<br>
<p>Step-By-Step <%= data.field3  %> Blueprint Posted&nbsp;</p>
<br>
<p>Step-By-Step <%= data.field4  %> Blueprint Posted&nbsp;</p>
<br>
<br>
<p>Details on my #1 <%= data.field3  %> resource</p>
<br>
<p>Details on my #1 <%= data.field3  %> tool</p>
<br>
<br>
<p>{FIRSTNAME} More <%= data.field5  %> - Less <%= data.field6  %></p>
<br>
<p>{FIRSTNAME} More <%= data.field4  %> - Less <%= data.field6  %></p>
<br>
<p>{FIRSTNAME} More <%= data.field3  %> - Less <%= data.field6  %></p>
<br>
<br>
<p>Here&#39;s Your &quot;<%= data.field4  %>&quot; Checklist</p>
<br>
<p>Here&#39;s Your &quot;<%= data.field3  %>&quot; Checklist</p>
<br>
<p>Here&#39;s Your &quot;<%= data.field5  %>&quot; Checklist</p>
<br>
<br>
<p><%= data.field8  %> Your &quot;<%= data.field6  %> Prevention&quot; Checklist</p>
<br>
<p><%= data.field3  %> Checklist: &nbsp;Done all <%= data.field7  %> things?&nbsp;</p>
<br>
<p><%= data.field3  %> Checklist inside...&nbsp;</p>
<br>
<br>
<p><%= data.field8  %> Get your <%= data.field3  %> questions answered</p>
<br>
<p>Get your <%= data.field5  %> questions answered</p>
<br>
<p>Get your <%= data.field4  %> questions answered</p>
<br>
<p>Get your &quot;avoid <%= data.field6  %>&quot; questions answered</p>
<br>
<br>
<p>Something all <%= data.field2  %> need to know</p>
<br>
<p>What all <%= data.field2  %> need to know about <%= data.field3  %></p>
<br>
<p>What all <%= data.field2  %> need to know about <%= data.field5  %></p>
<br>
<p>What all <%= data.field2  %> need to know about <%= data.field6  %></p>
<br>
<p>What all <%= data.field2  %> need to know about <%= data.field4  %></p>
<br>
<br>
<p><%= data.field2  %>: Get the <%= data.field3  %> help you need</p>
<br>
<p><%= data.field2  %>: Get the <%= data.field4  %> help you need</p>
<br>
<p><%= data.field2  %>: Get the <%= data.field5  %> help you need</p>
<br>
<p><%= data.field2  %>: Get the <%= data.field6  %> prevention help you need</p>
<br>
<p>This ruins most <%= data.field2  %></p>
<br>
<p>How To / Strategy</p>
<p><%= data.field3  %> How-To&nbsp;</p>
<br>
<p>No-BS <%= data.field3  %> Strategy...&nbsp;</p>
<br>
<p>How to <%= data.field4  %> in just X minutes a day...&nbsp;</p>
<br>
<p><%= data.field3  %> How-To</p>
<br>
<br>
<p>Fastest Way To <%= data.field3  %>&nbsp;</p>
<br>
<p>Fastest Way To <%= data.field4  %>&nbsp;</p>
<br>
<br>
<p><%= data.field8  %> How to Survive <%= data.field6  %>...</p>
<br>
<p>How to deal with <%= data.field6  %>...</p>
<br>
<p>How to overcome <%= data.field6  %>...</p>
<br>
<p>How to get past <%= data.field6  %>...</p>
<br>
<br>
<p><%= data.field8  %> This <%= data.field4  %> tip is almost too easy</p>
<br>
<p>This <%= data.field5  %> tip is almost too easy</p>
<br>
<p>This <%= data.field6  %> relief tip is almost too easy</p>
<br>
<br>
<p>5 <%= data.field3  %> Lessons Learned from <%= data.field9  %></p>
<br>
<p>&quot;<%= data.field9  %>&quot; tactics for <%= data.field2  %>&nbsp;</p>
<br>
<p>&quot;<%= data.field9  %>&quot; <%= data.field3  %> tactics</p>
<br>
<p><%= data.field3  %> tactics of &quot;<%= data.field9  %>&quot;&nbsp;</p>
<br>
<p>&quot;<%= data.field9  %>&quot; <%= data.field3  %> tactics for <%= data.field2  %></p>
<br>
<br>
<p>How to avoid <%= data.field6  %> forever</p>
<br>
<p>How to <%= data.field4  %> and thrive</p>
<br>
<p>How to thrive with <%= data.field3  %></p>
<br>
<br>
<p>How To <%= data.field4  %>... Without Paying Monthly!</p>
<br>
<br>
<p><%= data.field8  %> How I <%= data.field4  %></p>
<br>
<p>How I avoided <%= data.field6  %></p>
<br>
<p>How I got the best <%= data.field5  %></p>
<br>
<p>How I found <%= data.field3  %> success</p>
<br>
<p>Problems / Frustrations / Mistakes</p>
<p>Frustrated by <%= data.field3  %>?&nbsp;</p>
<br>
<p>Frustrated trying to <%= data.field4  %>?&nbsp;</p>
<br>
<p>Your Biggest <%= data.field3  %> Problem?</p>
<br>
<p>The BIGGEST <%= data.field3  %> Challenge?&nbsp;</p>
<br>
<br>
<p><%= data.field8  %> <%= data.field7  %> Ways to Survive <%= data.field6  %>...</p>
<br>
<p><%= data.field7  %> Ways to deal with <%= data.field6  %>...</p>
<br>
<br>
<p><%= data.field7  %> Solutions to overcome <%= data.field6  %>...</p>
<br>
<p><%= data.field7  %> Keys to get past <%= data.field6  %>...</p>
<br>
<p><%= data.field8  %> Are you headed for a <%= data.field6  %>?</p>
<br>
<br>
<p>Why Your <%= data.field5  %> Won&#39;t work...</p>
<br>
<p>{FIRSTNAME}, Your <%= data.field5  %> may not be working...</p>
<br>
<br>
<p>How to survive <%= data.field6  %></p>
<br>
<p>How to survive <%= data.field3  %></p>
<br>
<p>How to <%= data.field6  %> and survive</p>
<br>
<br>
<p>{FIRSTNAME} <%= data.field4  %> - No <%= data.field6  %>!</p>
<br>
<br>
<p>{FIRSTNAME} Avoid <%= data.field6  %>, still <%= data.field4  %></p>
<br>
<p><%= data.field7  %> Ways to Avoid <%= data.field6  %></p>
<br>
<br>
<p><%= data.field8  %> The scary truth about any <%= data.field5  %></p>
<br>
<p>The scary truth about <%= data.field3  %></p>
<br>
<p>The scary truth about your <%= data.field5  %></p>
<br>
<p>The scary truth about <%= data.field6  %></p>
<br>
<br>
<p>Here&#39;s the bad news about how to <%= data.field4  %></p>
<br>
<p>Here&#39;s the bad news about <%= data.field3  %></p>
<br>
<p>Here&#39;s the bad news about <%= data.field5  %></p>
<br>
<p>Here&#39;s the bad news about <%= data.field6  %></p>
<br>
<br>
<p>Avoid The #1 <%= data.field5  %> Mistake...</p>
<br>
<p>Avoid this <%= data.field5  %> Mistake...</p>
<br>
<p>Avoid this deadly <%= data.field5  %> Mistake...</p>
<br>
<br>
<p>The biggest <%= data.field3  %> mistake <%= data.field2  %> make</p>
<br>
<p>The biggest <%= data.field6  %> mistake <%= data.field2  %> make</p>
<br>
<p>The biggest <%= data.field5  %> mistake <%= data.field2  %> make</p>
<br>
<p>Other</p>
<p><%= data.field3  %> 2.0</p>
<br>
<p><%= data.field4  %> 2.0</p>
<br>
<p>How&#39;s your <%= data.field3  %> &nbsp;working?&nbsp;</p>
<br>
<p>My #1 <%= data.field3  %> Secret</p>
<br>
<p>How much <%= data.field3  %> can you handle?&nbsp;</p>
<br>
<br>
<p>Here&#39;s An Easy <%= data.field3  %> Website Article&nbsp;</p>
<br>
<p>RE: Your <%= data.field3  %> &nbsp;</p>
<br>
<p><%= data.field3  %> Delivered To Your Doorstep</p>
<br>
<p><%= data.field3  %> For Beginners</p>
<br>
<br>
<p>What <%= data.field9  %> means to YOU...</p>
<br>
<p>What <%= data.field9  %> means to YOU and <%= data.field3  %>...</p>
<br>
<br>
<p>What I learned from <%= data.field9  %></p>
<br>
<p>5 Lessons Learned from <%= data.field9  %></p>
<br>
<br>
<p><%= data.field8  %> Just checking in</p>
<br>
<p>Hey {FIRSTNAME}, I&#39;m back</p>
<br>
<p>Quick question for you, {FIRSTNAME}</p>
<br>
<p>Hey {FIRSTNAME}, When you get a few minutes</p>
<br>
<p>It&#39;s been a while</p>
<br>
<br>
<p>A quick message from <%= data.field1  %></p>
<br>
<p>What do you think, {FIRSTNAME}?</p>
<br>
<p>Ooops! :(</p>
<br>
<p>{FIRSTNAME}, I need your help</p>
<br>
<br>
<p>Are you using this <%= data.field3  %> tool?</p>
<br>
<p>Are you using this tool to <%= data.field4  %>?</p>
<br>
<br>
<p>Take the <%= data.field3  %> test ...&nbsp;</p>
<br>
<p>Take the <%= data.field4  %> test ...&nbsp;</p>
<br>
<p>Take the <%= data.field6  %> prevention test ...&nbsp;</p>
<br>
<br>
<p><%= data.field3  %> Details...&nbsp;</p>
<br>
<p><%= data.field6  %> Details...&nbsp;</p>
<br>
<p><%= data.field4  %> Details...&nbsp;</p>
<br>
<br>
<p>{FIRSTNAME}, About your <%= data.field3  %> success</p>
<br>
<p>{FIRSTNAME}, About your <%= data.field4  %></p>
<br>
<p>{FIRSTNAME}, About your <%= data.field6  %></p>
<br>
<p>{FIRSTNAME}, About your <%= data.field5  %></p>
<br>
<br>
<p><%= data.field5  %> in <%= data.field7  %> days or its free</p>
<br>
<p><%= data.field4  %> or get a refund</p>
<br>
<p>Get <%= data.field5  %> or get a refund</p>
<br>
<p>Get <%= data.field5  %> in <%= data.field7  %> days or your money back</p>
<br>