<p>Email #1 - Confirmation Email (Double Opt-In)</p>
<p>[SUBJECT] Response Required: Please confirm your <%= data.field6  %> request</p>
<br>
<p>Hey #FIRST#</p>
<br>
<p><%= data.field1  %> here :-)</p>
<br>
<p>Please click the link below and we&#39;ll send your <%= data.field6  %>, &quot;<%= data.field5  %>&quot;, immediately.</p>
<br>
<p>To confirm your request, please click here.</p>
<br>
<p>Click the link above to confirm your email address and receive the <%= data.field6  %> you requested so you can <%= data.field7  %>.</p>
<br>
<p>If you do not want to receive any communication, please ignore this message.</p>
<br>
<p>Thanks,</p>
<br>
<p><%= data.field1  %></p>
<p><%= data.field2  %></p>
<br>
<p>&quot;<%= data.field10  %>&quot;</p>
<p>Email #2: Send Their Freebie[SUBJECT] Here&#39;s your <%= data.field6  %>, #FIRST#</p>
<br>
<p>Hi #FIRST#</p>
<br>
<p>Here&#39;s the <%= data.field6  %>, &quot;<%= data.field5  %>&quot;, you requested to help you to <%= data.field7  %>! :-)</p>
<br>
<p>You can access it here: <%= data.field8  %></p>
<br>
<p><%= data.field4  %> just like you have used this <%= data.field6  %> to get amazing results with <%= data.field3  %>, and now you can too!</p>
<br>
<p>Please let us know what you think!</p>
<br>
<p>We&#39;d love to hear from you.</p>
<br>
<p>Please join in the discussion with us over on Facebook where you can meet like-minded <%= data.field4  %> and get your <%= data.field3  %> questions answered :-)</p>
<br>
<p><%= data.field11  %></p>
<br>
<p>See you there!</p>
<br>
<p>Thanks,</p>
<br>
<p><%= data.field1  %></p>
<p><%= data.field2  %></p>
<br>
<p>&quot;<%= data.field10  %>&quot;</p>
<p>Email #3: Attractive Character Introduction / Origin Story[SUBJECT] Very few people know this about me #FIRST#...</p>
<br>
<p>Hi #FIRST#</p>
<br>
<p>I sure hope you&#39;re enjoying the <%= data.field6  %> you requested.</p>
<p>(If you haven&#39;t already, you can grab it here <%= data.field8  %>)</p>
<br>
<p>A lot of people don&#39;t know this about me, but I really struggled when I got started with <%= data.field3  %>.</p>
<br>
<p>Here&#39;s my story...</p>
<br>
<br>
<p>** USE the &quot;Origin Story Script&quot; OR &quot;Epiphany Bridge Script&quot; in Funnel Scripts to complete this part. Whether it&#39;s for an opt in, physical product, coaching or whatever... everyone wants to know the story behind what you&#39;re selling and these two scripts makes it easy to do.</p>
<br>
<br>
<p>So if you&#39;re serious about getting great results with <%= data.field3  %>, then please check out <%= data.field9  %> right now for more information on how you can <%= data.field7  %> fast!</p>
<br>
<p>=&gt; <%= data.field9  %></p>
<br>
<p>See you there!</p>
<br>
<p>Thanks,</p>
<br>
<p><%= data.field1  %></p>
<p><%= data.field2  %></p>
<br>
<p>&quot;<%= data.field10  %>&quot;</p>
<br>
<br>
<p>If you need more emails to build out a longer sequence, check out:</p>
<p>* Auto Email Follow-Up Scripts V2.0</p>
<p>&nbsp;* Fast Teaser and Tweet Scripts V2.0</p>
<p>&nbsp;* OnBoarding Email Message Funnel Sequence</p>
<br>