<p>Final Step: Edit As Needed</p>
<p>Attn: <%= data.field1 %></p>
<br>
<p>&nbsp;&quot;<%= data.field3 %>&quot;&nbsp;</p>
<p>Create your VSL using the PPT Video Sales Letter Script OR the VSL Wizard Software&lt;&lt;Video Sales Letter Goes Here&gt;&gt;</p>
<br>
<br>
<p>Yes! I&#39;m ready to <%= data.field4 %>, <%= data.field5 %>, and <%= data.field6 %>!</p>
<br>
<p>I Understand That When I Act Now, I get <%= data.field7 %> to &quot;<%= data.field8 %>&quot;, which includes:</p>
<p>* <%= data.field9 %></p>
<br>
<p>* <%= data.field10 %></p>
<br>
<p>* <%= data.field11 %></p>
<br>
<p>* <%= data.field12 %></p>
<br>
<p>* <%= data.field13 %></p>
<br>
<p>* <%= data.field14 %></p>
<br>
<p>I Also Understand that When I ACT NOW, I Also Get...&nbsp;</p>
<p>* <%= data.field15 %></p>
<br>
<p>* <%= data.field16 %></p>
<br>
<p>* <%= data.field17 %></p>
<br>
<p>100% Guaranteed</p>
<p>If <%= data.field8 %> doesn&#39;t show me exactly how to <%= data.field4 %>... if it doesn&#39;t take me by the hand, step-by-step to <%= data.field5 %>... or if it fails to help me <%= data.field6 %>, then I understand that I will receive a full refund, No Questions Asked!</p>
<br>
<p>I understand that the regular price for all this is <%= data.field18 %>...</p>
<br>
<p>But, when I act now, <%= data.field19 %>, I get everything for only <%= data.field20 %>!</p>
<br>
<p>(Option #1) Click Here to <%= data.field21 %></p>
<p>(Option #2) Click Here to <%= data.field4 %></p>
<p>(Option #3) Click Here to get <%= data.field8 %></p>
<p>To Your Success,</p>
<br>
<p><%= data.field2 %></p>
<br>
<p>P.S. - Every minute you wait to get &quot;<%= data.field8 %>&quot; is another minute field22. Put the power of &quot;<%= data.field8 %>&quot; to work for you so you can quickly and easily <%= data.field4 %>, <%= data.field5 %>, and <%= data.field6 %>!</p>
<br>
<p>P.P.S. - But don&#39;t just take my word for it... take a look at these (statistics / testimonials / endorsements / quotes /comments / reviews) from happy <%= data.field1 %> just like you!</p>
<br>
<p>&nbsp;---------------------------------</p>
<br>
<p>Your Company Contact Information, Phone, Email, Help Desk,&nbsp;</p>
<p>Legal Disclaimers, Etc. Go Here</p>
<p>&lt;&lt;End Copy&gt;&gt;</p>
<br>