<p>-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>STAR, STORY, SOLUTION&nbsp;</p>
<p>Output By Section</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<br>
<p>1. PATTERN INTERRUPT:</p>
<p>Come up with a quick pattern interrupt to get their attention.</p>
<p>NOTE: Core desire questions can serve as the pattern interrupt</p>
<br>
<p>2. CORE-DESIRE QUESTIONS:</p>
<br>
<p>Want to <%= data.field5 %>?</p>
<br>
<p>Want to <%= data.field6 %>?</p>
<br>
<p>Need to <%= data.field7 %>?</p>
<br>
<p>3. AGITATE PAST FAILURE</p>
<br>
<p>So... why hasn&#39;t it happened for you yet?</p>
<br>
<p>Come on... admit it.</p>
<br>
<p>This isn&#39;t the first time you&#39;ve tried to find solutions for <%= data.field10 %>.</p>
<br>
<p>4. BIG PROMISE / ONE THING</p>
<br>
<p>When you watch this video / read this letter to the end you&#39;re going to discover exactly <%= data.field10 %>.</p>
<br>
<p>5. INTRODUCE THE STAR</p>
<br>
<p>Hey my name is <%= data.field3 %>, and not too long ago I was just like you...</p>
<br>
<p>6. HIGH DRAMA</p>
<br>
<p>Let me tell you a quick story about <%= data.field11 %>.</p>
<br>
<p>I was struggling with <%= data.field13 %>.</p>
<br>
<p>And I was getting more and more <%= data.field14 %>.</p>
<br>
<p>7. BACKSTORY / WALL</p>
<br>
<p>You see, at the time I was trying to <%= data.field12 %>.</p>
<br>
<p>(Option 1) Then something really bad happened: <%= data.field15 %>.</p>
<br>
<p>(Option 2) Then the bottom fell out from under me when <%= data.field15 %>.</p>
<br>
<p>Which meant I couldn&#39;t <%= data.field16 %>.</p>
<br>
<p>As you can imagine, I was in bad shape and desperate, but I wasn&#39;t ready to give up on my dream of being able to <%= data.field8 %>.</p>
<br>
<p>8. IDENTIFY THE PROBLEM</p>
<br>
<p>The problem I had was I didn&#39;t know <%= data.field10 %> and I couldn&#39;t <%= data.field17 %>!&nbsp;</p>
<br>
<p>9. EPIPHANY - OR - DECLARATION OF INDEPENDENCE</p>
<br>
<p>(A) And that&#39;s when I had my big &quot;ah-ha&quot; moment...</p>
<br>
<p>(B) And that&#39;s when I knew I HAD to make a change...</p>
<br>
<p>10. PATH TO ULTIMATE SOLUTION</p>
<br>
<p>So, first I tried <%= data.field18 %>. That didn&#39;t work at all.</p>
<br>
<p>I even tried <%= data.field19 %>, but that just plain sucked.</p>
<br>
<p>Then I tried <%= data.field20 %>, and it worked a little better.</p>
<br>
<p>11. FIRST SIGN OF SUCCESS</p>
<br>
<p>And that&#39;s when I finally tried <%= data.field21 %>. And guess what? This time it worked!</p>
<br>
<p>12. CONSPIRACY</p>
<br>
<p>And that&#39;s when I realized it wasn&#39;t my fault! I was failing because of <%= data.field22 %>. No wonder I was struggling.</p>
<br>
<p>13. THE BIG LIE</p>
<br>
<p>For years they wanted me to believe <%= data.field23 %>, and when I figured out that it wasn&#39;t true, I was finally able to break out of their chains and get the results I deserved!</p>
<br>
<p>14. COMMON ENEMY</p>
<br>
<p>The real problem are <%= data.field22 %>. THEY were the ones keeping me from discovering <%= data.field10 %>!</p>
<br>
<p>15. RAPID GROWTH</p>
<br>
<p>Once I realized <%= data.field24 %>, that&#39;s when I started to understand <%= data.field10 %> really FAST!</p>
<br>
<p>I used what I discovered to be able to:</p>
<br>
<p>- Field25</p>
<br>
<p>- Field26</p>
<br>
<p>- Field27</p>
<br>
<p>16. CASE STUDIES</p>
<br>
<p>But it wasn&#39;t just me, take a look at what <%= data.field21 %> has done for others.</p>
<br>
<p>17. HIDDEN BENEFITS</p>
<br>
<p>I didn&#39;t realize it when I started that not only does it simplify the process for <%= data.field10 %>, but it also helps you <%= data.field5 %>, <%= data.field6 %>, and <%= data.field7 %>!</p>
<br>
<p>18. FORMAL INTRODUCTION</p>
<br>
<p>And that&#39;s why I created &quot;<%= data.field1 %>&quot;.</p>
<br>
<p>19. PAIN AND COST</p>
<br>
<p>This took <%= data.field28 %> to create and cost me <%= data.field29 %>. But it was totally worth it!</p>
<br>
<p>20. EASE</p>
<br>
<p>It makes <%= data.field30 %> so much easier!</p>
<br>
<p>21. SPEED</p>
<br>
<p>What used to take me <%= data.field31 %>, I can now get done <%= data.field32 %>.</p>
<br>
<p>In fact, here&#39;s just a sample of what you&#39;ll get...</p>
<br>
<p>22. &quot;SO&quot; BENEFITS (FIVE)</p>
<br>
<p>* Field33 so you can <%= data.field34 %>.</p>
<br>
<p>* Field35 so you can <%= data.field36 %>.</p>
<br>
<p>* Field37 so you can <%= data.field38 %>.</p>
<br>
<p>* Field39 so you can <%= data.field40 %>.</p>
<br>
<p>* Field41 so you can <%= data.field42 %>.</p>
<br>
<p>23. SOCIAL PROOF</p>
<br>
<p>But don&#39;t just take my word for it. Take a look at this:</p>
<br>
<p>* Field43</p>
<br>
<p>24. MAKE THE OFFER</p>
<br>
<p>But, before you get started, let me ask you a question...</p>
<br>
<p>Would you like to get access to &quot;<%= data.field1 %>&quot;?</p>
<br>
<p>For less than <%= data.field44 %> you can get access to everything inside of <%= data.field1 %>.</p>
<br>
<p>Now, while it would be impossible to show you ALL of the benefits of <%= data.field1 %>, I want to show you some of the things that you&#39;ll experience as soon as you&#39;re on the inside.</p>
<br>
<p>25. BUILD VALUE</p>
<br>
<p>* Field45</p>
<br>
<p>BONUS #1</p>
<p>* <%= data.field4 %> (<%= data.field47 %> Value)</p>
<br>
<p>BONUS #2</p>
<p>* <%= data.field48 %> (<%= data.field49 %> Value)</p>
<br>
<p>BONUS #3</p>
<p>* <%= data.field50 %> (<%= data.field51 %> Value)</p>
<br>
<p>26. FLOAT A FAKE PRICE</p>
<br>
<p>The total value of all this is <%= data.field52 %>. Why? Because <%= data.field53 %>.</p>
<br>
<p>27. EMOTIONAL CLOSE</p>
<br>
<p>If all this did was show you how to <%= data.field8 %>, would it be worth it?</p>
<br>
<p>If all this did was help you <%= data.field9 %>, would it be worth it?</p>
<br>
<p>Of course it would!</p>
<br>
<p>28. REVEAL REAL PRICE</p>
<br>
<p>Want some even better news?</p>
<br>
<p>I&#39;m not going to charge you <%= data.field52 %>.&nbsp;</p>
<br>
<p>I&#39;m only going to charge you <%= data.field54 %>!</p>
<br>
<p>29. GUARANTEE</p>
<br>
<p>I&#39;m going to take on all the risk, and give you my &quot;Field55 Guarantee&quot;!</p>
<br>
<p>If &quot;<%= data.field1 %>&quot; doesn&#39;t show you exactly how to <%= data.field5 %>... if it doesn&#39;t take you by the hand, step-by-step to <%= data.field6 %>... or if it fails to help you <%= data.field7 %>, then you will receive a full refund, No Questions Asked!</p>
<br>
<p>30. INJECT SCARCITY</p>
<br>
<p>But you must act now because...</p>
<br>
<p>* Field56</p>
<br>
<p>31. FUTURE PACING</p>
<br>
<p>Just imagine what life will be like when you know <%= data.field10 %>!</p>
<br>
<p>32. CALL TO ACTION</p>
<br>
<p>So <%= data.field57 %> right now and you&#39;ll be taken to the secure order form.&nbsp;</p>
<br>
<p>After you put in your credit card information, you&#39;ll be taken to a secure members&#39; area where you can access &quot;<%= data.field1 %>&quot;, even if it&#39;s 2:00 a.m.!</p>
<br>
<p>33. POST SELLING</p>
<br>
<p>For those who are already signing up, this is what&#39;s going to happen next:</p>
<br>
<p>* Field58</p>
<br>
<p>34. TAKEAWAY SELLING</p>
<br>
<p>WARNING:</p>
<br>
<p>Let&#39;s be blunt: If you pass on this offer, will you succed with <%= data.field4 %>? Probably not!&nbsp;</p>
<br>
<p>You&#39;ll just keep struggling and never figure out <%= data.field10 %>! &nbsp;</p>
<br>
<p>Most of what you need is instruction and encouragement from someone who has successfully &quot;been there and done that!&quot; with <%= data.field4 %>.</p>
<br>
<p>Get this <%= data.field2 %> NOW and get the <%= data.field4 %> success you want!</p>
<br>
<p>35. CLOSE WITH REMINDER</p>
<br>
<p>So as a reminder, you&#39;re going to get with &quot;<%= data.field1 %>&quot;:</p>
<br>
<p>* Field45</p>
<br>
<p>BONUS #1: <%= data.field4 %> (<%= data.field47 %> Value)</p>
<br>
<p>BONUS #2: <%= data.field48 %> (<%= data.field49 %> Value)</p>
<br>
<p>BONUS #3: <%= data.field50 %> (<%= data.field51 %> Value)</p>
<br>
<p>Never before have you had such a unique opportunity to have me take you by the hand and help you with <%= data.field10 %>!</p>
<br>
<p>Act now so you can <%= data.field5 %>, <%= data.field6 %>, and <%= data.field7 %> like I did.</p>
<br>
<p>This entire <%= data.field2 %> offer will be sold for <%= data.field52 %>.&nbsp;</p>
<br>
<p>This introductory price of <%= data.field54 %> is a &quot;Buy it NOW before it&#39;s gone&quot; offer... so act fast!...</p>
<br>