<p>Variables Entered</p>
<p>What are you selling? <%= data.field1  %></p>
<p>What&#39;s a negative event, circumstance, etc. you want to build your story around? <%= data.field2  %></p>
<p>Take that negative from the previous question and turn it into a past event with a verb ending in &quot;ing&quot;: <%= data.field3  %></p>
<p>What is something you were trying to do / accomplish at the time? <%= data.field4  %></p>
<p>What is something you were struggling with at the time? <%= data.field5  %></p>
<p>As a result, what negative thing, emotion, or circumstance was overtaking you at the time? <%= data.field6  %></p>
<p>What&#39;s something bad that happened / occurred at this time that threw you off track? <%= data.field7  %></p>
<p>What is the thing you really needed to be able to do, but couldn&#39;t, when the event in the previous question happened? <%= data.field8  %></p>
<p>What&#39;s the dream you weren&#39;t willing to give up on, no matter what the obstacles? <%= data.field9  %></p>
<p>What did you discover or find that turned everything around for you? <%= data.field10  %></p>
<p>What did this big discovery reveal to you? <%= data.field11  %></p>
<p>What did this big discovery reveal to you? <%= data.field12  %></p>
<p>What did this big discovery reveal to you? <%= data.field13  %></p>
<p>What was the #1 big payoff you got from your new discoveries? <%= data.field14  %></p>
<p>What was the #1 big payoff you got from your new discoveries? <%= data.field15  %></p>
<p>What was the #1 big payoff you got from your new discoveries? <%= data.field16  %></p>
<br>
<br>
<p>Put Together Your Story</p>
<p>You may be wondering a little about how I came to be here with you today.</p>
<br>
<p>(Part 1 - Setup)</p>
<p>Let me tell you a quick story about <%= data.field2  %>.</p>
<br>
<p>At the time I was trying to <%= data.field4  %>.</p>
<br>
<p>I was struggling with <%= data.field5  %>.</p>
<br>
<p>And I was getting more and more <%= data.field6  %>.</p>
<br>
<p>(Part 2 - Turn for the worse)</p>
<p>(Option 1) Then something really bad happened: <%= data.field7  %>.</p>
<br>
<p>(Option 2) Then the bottom fell out from under me when <%= data.field7  %>.</p>
<br>
<p>Which meant I couldn&#39;t <%= data.field8  %>.</p>
<br>
<p>As you can imagine, I was in bad shape and desperate, but I wasn&#39;t ready to give up on my dream of <%= data.field9  %>.</p>
<br>
<p>(Part 3 - The Discovery)</p>
<p>Then I discovered / was introduced to / decided to <%= data.field10  %>.</p>
<br>
<p>At that point, everything changed!</p>
<br>
<p>I discovered / finally figured out how to:</p>
<br>
<p>- Field11</p>
<br>
<p>- Field12</p>
<br>
<p>- Field13</p>
<br>
<p>(Part 4 - The Transformation)</p>
<p>Because I discovered / was introduced to / decided to <%= data.field10  %>, I was able to:</p>
<br>
<p>- Field14</p>
<br>
<p>- Field15</p>
<br>
<p>- Field16</p>
<br>
<p>Now I&#39;m living my dream of <%= data.field9  %> and I never have to worry about <%= data.field3  %> ever again.</p>
<br>
<p>(Part 5 - The Close Transition)</p>
<p>And that&#39;s why I&#39;m so passionate / I&#39;m telling you / I&#39;m sharing with you about &quot;<%= data.field1  %>&quot; so you can experience <%= data.field9  %> too!</p>
<br>