<p>Variables You Entered:</p>
<p>Your Name: <%= data.field1  %></p>
<p>Subject slug: <%= data.field2  %></p>
<p>Webinar Title: <%= data.field3  %></p>
<p>Webinar Tagline: <%= data.field4  %></p>
<p>2-3 Word Topic: <%= data.field5  %></p>
<p>Cool Webinar Secret: <%= data.field6  %></p>
<p>Webinar Payoff: <%= data.field7  %></p>
<p>Another Specific Webinar Payoff: <%= data.field8  %></p>
<p>Webinar Replay Link: <%= data.field9  %></p>
<p>Pitch Product Title: <%= data.field10  %></p>
<p>Pitch URL: <%= data.field11  %></p>
<p>#1 Big Benefit: <%= data.field12  %></p>
<p>#2 Big Benefit: <%= data.field13  %></p>
<p>#3 Big Benefit: <%= data.field14  %></p>
<p>Offer Deadline: <%= data.field15  %></p>
<p>Edit And Then Start Selling!====================================================</p>
<p>#1 - Immediately AFTER Webinar: SAME DAY</p>
<p>====================================================</p>
<p>Email:</p>
<br>
<p>[<%= data.field2  %>] {FIRSTNAME Friend}, follow-up from tonight&#39;s webinar (time-sensitive)</p>
<br>
<p>Hi {FIRSTNAME Friend},</p>
<br>
<p>WOO HOO! What a GREAT webinar that was, all thanks to YOU!</p>
<br>
<p>As I promised, there were a ton of ACTIONABLE ideas and tips shared with you, including:</p>
<br>
<p><%= data.field7  %></p>
<br>
<p>AND</p>
<br>
<p><%= data.field8  %></p>
<br>
<p>Also, don&#39;t forget the VERY SPECIAL DISCOUNT offer we made on the webinar for &quot;<%= data.field10  %>&quot;</p>
<br>
<p>==&gt; <%= data.field11  %></p>
<br>
<p>If you want to go to the next level with <%= data.field5  %> and you really want <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %> then &quot;<%= data.field10  %>&quot; is exactly what you want...</p>
<br>
<p>... and NOW is the best time to get started!</p>
<br>
<p>==&gt; <%= data.field11  %></p>
<br>
<p>Now after that exciting webinar, it&#39;s time for us to get away from the computer and take a break!</p>
<br>
<p>And thanks again - we appreciate your time, energy and positive feedback!</p>
<br>
<p>Warmly,</p>
<br>
<p><%= data.field1  %> :)</p>
<br>
<p>P. S. Remember... when you take action on the special offer we made you on the webinar, you too can discover <%= data.field7  %>.</p>
<br>
<p>And you do want that, right? Grab the special offer before it&#39;s gone!</p>
<br>
<p>==&gt; <%= data.field11  %></p>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Sample Blog Post / FB Post (edit for length):</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>Post Title: Re: <%= data.field3  %></p>
<br>
<p>Just finished up our webinar <%= data.field3  %> - <%= data.field4  %></p>
<br>
<p>Among other things, we revealed <%= data.field6  %></p>
<br>
<p>Comments coming in from live attendees have been great!&nbsp;</p>
<br>
<p>Keep your eyes peeled for the replay tomorrow or the next day!</p>
<br>
<p>Some really cool &quot;time-limited&quot; stuff available here if you want <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %>.</p>
<br>
<p>Check it out ==&gt; <%= data.field11  %></p>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>Sample Tweets:</p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>Just finished up our webinar <%= data.field3  %> - <%= data.field4  %></p>
<br>
<p>Keep your eyes peeled for the &quot;<%= data.field3  %>&quot; replay tomorrow or the next day!</p>
<br>
<p>If you want <%= data.field12  %>, check this out <%= data.field11  %></p>
<br>
<p>Want <%= data.field13  %>? Look at this <%= data.field11  %></p>
<br>
<p>Want <%= data.field14  %>? Check this out <%= data.field11  %></p>
<br>
<br>
<br>
<p>====================================================</p>
<p>#2 - REPLAY is Ready: Webinar +1 DAY</p>
<p>====================================================</p>
<p>Email:</p>
<br>
<p>[<%= data.field2  %>] The REPLAY is ready, {FIRSTNAME Friend}...</p>
<br>
<p>Hi {FIRSTNAME Friend},</p>
<br>
<p><%= data.field1  %> here with a quick follow-up from last night&#39;s webinar...</p>
<br>
<p>&nbsp; &nbsp; &quot;<%= data.field3  %>&quot; -&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp;<%= data.field4  %></p>
<br>
<p>Last night&#39;s webinar was jam-packed, and many people couldn&#39;t make it onto the live event. Plus, we&#39;ve gotten countless emails from people asking for a way to watch it.</p>
<br>
<p>Well, your wish is our command! We&#39;ve been working hard today to get the replay posted... and here it is!</p>
<br>
<p>Here&#39;s the special link for the REPLAY: <%= data.field9  %></p>
<br>
<p>And don&#39;t forget...</p>
<br>
<p>If you want to go to the next level with <%= data.field5  %> and you really want <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %> then &quot;<%= data.field10  %>&quot; is exactly what you want...</p>
<br>
<p>Check this link out to grab it today: <%= data.field11  %></p>
<br>
<p>Remember, with our powerful &quot;60-Day No Hassle&quot; guarantee, all of the risk is placed squarely on our shoulders, so you have absolutely nothing to lose. &nbsp;</p>
<br>
<p>You&#39;ve already demonstrated your willingness to profit with <%= data.field5  %> by signing up for this webinar, so being part of this zero risk, *already proven* training is the next logical step if you want to do even bigger things.</p>
<br>
<p>Sign up here:</p>
<p><%= data.field11  %></p>
<br>
<p>Best wishes,</p>
<br>
<p><%= data.field1  %> :)</p>
<br>
<p>P.S. - We hope you enjoy all of the powerful content in the replay we posted for you and look forward to taking your business to the next level!</p>
<br>
<p>Here&#39;s the special link for the REPLAY again:</p>
<p><%= data.field9  %></p>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Sample Blog Post / FB Post (edit for length):</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>Post Title: FREE Webinar Replay - Available NOW!</p>
<br>
<p>Here&#39;s a quick follow-up from last night&#39;s webinar...</p>
<br>
<p>&quot;<%= data.field3  %>&quot; - <%= data.field4  %></p>
<br>
<p>REPLAY: <%= data.field9  %></p>
<br>
<p>The webinar was jam-packed, and people couldn&#39;t make it onto the live event.&nbsp;</p>
<br>
<p>We&#39;ve been working hard today to get the replay posted... and here it is!</p>
<br>
<p>And don&#39;t forget...</p>
<br>
<p>If you want to go to the next level with <%= data.field5  %> and you really want <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %> then &quot;<%= data.field10  %>&quot; is exactly what you want...</p>
<br>
<p>Check this link out to grab it today: <%= data.field11  %></p>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>Sample Tweets:</p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>&quot;<%= data.field3  %>&quot; Replay posted - FREE! Grab it here <%= data.field9  %></p>
<br>
<p>Don&#39;t miss the replay of last night&#39;s webinar - <%= data.field9  %></p>
<br>
<p>Here&#39;s the lowdown on <%= data.field5  %> - <%= data.field9  %></p>
<br>
<p>All my secrets on <%= data.field5  %> - <%= data.field9  %></p>
<br>
<p>Want <%= data.field13  %>? Watch this webinar replay: <%= data.field9  %></p>
<br>
<br>
<br>
<p>====================================================</p>
<p>#3 - In Case You Missed This Part: Webinar +2 Days</p>
<p>====================================================</p>
<p>Email:</p>
<br>
<p>[<%= data.field2  %>] In case you missed this part...</p>
<br>
<p>Hi {FIRSTNAME Friend},</p>
<br>
<p>I sent you an email yesterday with the replay link for the webinar we just did.</p>
<br>
<p>CRITICAL NOTE:&nbsp;</p>
<p>*If you&#39;re strapped for time and can&#39;t watch the whole replay, we wanted to let you know about the one thing we revealed on the webinar you simply shouldn&#39;t miss*</p>
<br>
<p>At **MINUTE 15** I revealed <%= data.field6  %></p>
<br>
<p>It&#39;s been said that this one single &quot;cool secret&quot; was worth the whole webinar... so I wanted to make sure if you couldn&#39;t watch anything else on the webinar replay, you didn&#39;t miss that one part! :-)</p>
<br>
<p>Here&#39;s the link to the replay so you can catch it:</p>
<p><%= data.field9  %></p>
<br>
<p>Also, don&#39;t forget the VERY SPECIAL DISCOUNT offer we made on the webinar is running out for &quot;<%= data.field10  %>&quot;&nbsp;</p>
<br>
<p>==&gt; <%= data.field11  %></p>
<br>
<p>Register Now... and have a great day :-)</p>
<br>
<p><%= data.field1  %></p>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Sample Blog Post / FB Post (edit for length):</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>Post Title: <%= data.field3  %> Webinar - #1 Takeaway</p>
<br>
<p>Yesterday I gave you the link for the REPLAY of the <%= data.field3  %> Webinar - <%= data.field4  %></p>
<br>
<p>You might be strapped for time and can&#39;t watch the whole replay... if that&#39;s the case, I wanted to point out the #1 SECRET we revealed on the webinar that you should take 5 minutes to watch.</p>
<br>
<p>Here&#39;s the replay link:</p>
<p><%= data.field9  %></p>
<br>
<p>At **MINUTE 15** I revealed <%= data.field6  %></p>
<br>
<p>It&#39;s been said (and I agree) that one single secret was worth showing up for the entire webinar (not to mention all the other goodies we shared).</p>
<br>
<p>So if you haven&#39;t alread, make sure you check out that one part... it won&#39;t take over 5 mintues and can seriously change your business / life - FAST!</p>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>Sample Tweets:</p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>Want to know <%= data.field6  %>? Watch this webinar replay: <%= data.field9  %></p>
<br>
<p>Don&#39;t miss the cool <%= data.field5  %> secret we share at MINUTE 15 on this webinar: <%= data.field9  %></p>
<br>
<p>This <%= data.field5  %> secret is worth its weight in gold! <%= data.field9  %> MINUTE 15</p>
<br>
<br>
<br>
<p>====================================================</p>
<p>#4 - TESTIMONIALS Email: Webinar +3-4 Days</p>
<p>====================================================</p>
<p>Email:</p>
<br>
<br>
<p>[<%= data.field2  %>] &nbsp;re: Feedback from the webinar</p>
<br>
<p>Hi {FIRSTNAME Friend},</p>
<br>
<p>A few days ago, we did a live webinar that showed you <%= data.field8  %>.</p>
<br>
<p>We also revealed <%= data.field6  %>.&nbsp;</p>
<br>
<p>After the live webinars we always send out surveys to ask the live attendees what they thought of the webinar. &nbsp;</p>
<br>
<p>We figured we&#39;d rather hear it from you guys instead of guessing... and we were truly blown away by the positive feedback we got!</p>
<br>
<p>Below are responses from the survey about the webinar content. &nbsp;We did not edit them in any way (so if you find a typo, we just did a copy &amp; paste) :-)</p>
<br>
<p>If you missed the webinar and want to watch the replay you still have time (but time is running out):</p>
<br>
<p>*******************************************</p>
<p>REPLAY</p>
<p><%= data.field9  %></p>
<p>*******************************************</p>
<br>
<p>PUT IN ALL THE TESTIMONIALS YOU HAVE.</p>
<br>
<p>TAKE OUT THE NAMES UNLESS YOU HAVE PERMISSION TO USE THEM</p>
<br>
<p>Thanks,</p>
<br>
<p><%= data.field1  %></p>
<br>
<br>
<p>P.S. &nbsp;Here&#39;s the replay link again:</p>
<br>
<p>*******************************************</p>
<p>REPLAY</p>
<p><%= data.field9  %></p>
<p>*******************************************</p>
<br>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Sample Blog Post / FB Post (edit for length):</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>Post Title: Don&#39;t just take my word for it...</p>
<br>
<p>A few days ago, we did a live webinar that showed you <%= data.field8  %>.</p>
<br>
<p>We also revealed <%= data.field6  %>.&nbsp;</p>
<br>
<p>Here&#39;s the replay in case you missed it: <%= data.field9  %></p>
<br>
<p>After the live webinars we always send out surveys to ask the live attendees what they thought of the webinar. &nbsp;</p>
<br>
<p>We figured we&#39;d rather hear it from you guys instead of guessing... and we were truly blown away by the positive feedback we got!</p>
<br>
<p>Below are responses from the survey about the webinar content. &nbsp;We did not edit them in any way (so if you find a typo, we just did a copy &amp; paste) :-)</p>
<br>
<p>If you missed the webinar and want to watch the replay you still have time (but time is running out): <%= data.field9  %></p>
<br>
<p>By the way, we did not edit them in any way (so if you find a typo, we just did a copy &amp; paste) :-)</p>
<br>
<p>PUT A BUNCH OF TESTIMONIALS HERE</p>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>Sample Tweets:</p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>Find shorter testimonials and use those + link</p>
<br>
<br>
<p>====================================================</p>
<p>#5 - FINAL Notification: Bonus, Price Expires: Webinar +5-6 Days</p>
<p>====================================================</p>
<p>Email:</p>
<br>
<p>[<%= data.field2  %>] Re: FINAL Courtesy Reminder, {FIRSTNAME Friend}...</p>
<br>
<p>---------------------</p>
<p>FINAL Courtesy Notice</p>
<p>TODAY&#39;S DATE</p>
<p>10:56 a.m. Eastern</p>
<p>---------------------</p>
<br>
<p>Hi {FIRSTNAME Friend},</p>
<br>
<p><%= data.field1  %> here with a quick follow-up from the &quot;<%= data.field3  %>&quot; webinar...</p>
<br>
<p>We&#39;ve posted the free replay of the event, but....</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ***** WARNING: *****</p>
<br>
<p>The free replay and BONUSES *EXPIRE* <%= data.field15  %></p>
<p>... then they&#39;re GONE!&nbsp;</p>
<br>
<p>Here&#39;s the special link for the REPLAY again:</p>
<br>
<p>=&gt; <%= data.field9  %></p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>We hope you enjoy all of the powerful content in the replay we posted for you and look forward to taking your life and business to the next level!</p>
<br>
<p>Best wishes,</p>
<br>
<p><%= data.field1  %> :)</p>
<br>
<br>
<p>P.S. - And don&#39;t forget...</p>
<br>
<p>If you want to go to the next level with <%= data.field5  %> and you really want <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %> then &quot;<%= data.field10  %>&quot; is exactly what you want...</p>
<br>
<p>Claim yours today before time runs out:</p>
<p><%= data.field11  %></p>
<br>
<p>Remember, with our powerful &quot;60-Day No Hassle&quot; guarantee, all of the risk is placed squarely on our shoulders, so you have absolutely nothing to lose. &nbsp;</p>
<br>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Sample Blog Post / FB Post (edit for length):</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p>Post Title: The END is near!</p>
<p>It expires <%= data.field15  %></p>
<br>
<p>We&#39;ve posted the free replay of the &quot;<%= data.field3  %>&quot; webinar...</p>
<br>
<p>BUT....</p>
<br>
<p>The free replay and BONUSES *EXPIRE* <%= data.field15  %>... and when they&#39;re gone - they&#39;re GONE!&nbsp;</p>
<br>
<p>Here&#39;s the special link for the REPLAY again: <%= data.field9  %></p>
<br>
<p>We hope you enjoy all of the powerful content in the replay we posted for you and look forward to taking your life and business to the next level!</p>
<br>
<p>And don&#39;t forget...</p>
<br>
<p>If you want to go to the next level with <%= data.field5  %> and you really want <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %> then &quot;<%= data.field10  %>&quot; is exactly what you want...</p>
<br>
<p>Claim yours today before time runs out: <%= data.field11  %></p>
<br>
<p>Remember, with our powerful &quot;60-Day No Hassle&quot; guarantee, all of the risk is placed squarely on our shoulders, so you have absolutely nothing to lose. &nbsp;</p>
<br>
<br>
<p>-=-=-=-=-=-=-=-</p>
<p>Sample Tweets:</p>
<p>-=-=-=-=-=-=-=-</p>
<br>
<p>The end is near! Replay comes down <%= data.field15  %> - watch it now <%= data.field9  %></p>
<br>
<p>It ends <%= data.field15  %> - watch replay before it&#39;s gone forever. <%= data.field9  %></p>
<br>
<p>Don&#39;t wait. Replay comes down tonight at midnight - <%= data.field9  %></p>
<br>
<p>&quot;<%= data.field5  %>&quot; webinar replay expires tonight - watch now - <%= data.field9  %></p>
<br>