<p>Variables Entered</p>
<p>Webinar Type: <%= data.field1  %></p>
<p>Webinar Title: <%= data.field2  %></p>
<p>Webinar Tagline: <%= data.field3  %></p>
<p>Your Name: <%= data.field4  %></p>
<p>2-3 Word Topic: <%= data.field5  %></p>
<p>Date: <%= data.field6  %></p>
<p>Time: <%= data.field7  %></p>
<p>Top Problem: <%= data.field8  %></p>
<p>#1 &quot;How To&quot;: <%= data.field9  %></p>
<p>#1 Fear: <%= data.field10  %></p>
<p>&quot;Big Picture&quot; Payoff: <%= data.field11  %></p>
<p>Benefit #1: <%= data.field12  %></p>
<p>Benefit #2: <%= data.field13  %></p>
<p>Benefit #3: <%= data.field14  %></p>
<p>Cool Secret: <%= data.field15  %></p>
<p>1 - ? / Tip / Trick: <%= data.field16  %></p>
<p>2 - ? / Tip / Trick: <%= data.field17  %></p>
<p>3 - ? / Tip / Trick: <%= data.field18  %></p>
<p>4 - ? / Tip / Trick: <%= data.field19  %></p>
<p>5 - ? / Tip / Trick: <%= data.field20  %></p>
<p>6 - ? / Tip / Trick: <%= data.field21  %></p>
<p>7 - ? / Tip / Trick: <%= data.field22  %></p>
<p>8 - ? / Tip / Trick: <%= data.field23  %></p>
<p>9 - ? / Tip / Trick: <%= data.field24  %></p>
<p>10 - ? / Tip / Trick: <%= data.field25  %></p>
<p>Specific Payoff: <%= data.field26  %></p>
<br>
<br>
<p>Opt-In Page Copy For Your Own Site</p>
<p>Topic: &quot;<%= data.field2  %>&quot;&nbsp;</p>
<p><%= data.field3  %></p>
<br>
<p>Date: <%= data.field6  %></p>
<p>Time: <%= data.field7  %></p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we&#39;ll cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to &nbsp;<%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what we&#39;ll answer for you / cover on this incredible webinar:</p>
<br>
<p>* <%= data.field16  %></p>
<br>
<p>* <%= data.field17  %></p>
<br>
<p>* <%= data.field18  %></p>
<br>
<p>* <%= data.field19  %></p>
<br>
<p>* <%= data.field20  %></p>
<br>
<p>* <%= data.field21  %></p>
<br>
<p>* <%= data.field22  %></p>
<br>
<p>* <%= data.field23  %></p>
<br>
<p>* <%= data.field24  %></p>
<br>
<p>* <%= data.field25  %></p>
<br>
<p>... and much, MUCH More!</p>
<br>
<p>Don&#39;t miss this breakthrough webinar that will finally show you <%= data.field26  %>.</p>
<br>
<br>
<p>Opt-In Page Copy For GoToWebinar (or other system)</p>
<p>COPY AND PASTE INTO SETUP WIZARD IN GOTOWEBINAR (OR OTHER SYSTEM)</p>
<p>(Title)</p>
<p>&quot;<%= data.field2  %>&quot;</p>
<br>
<p>(Description)</p>
<p><%= data.field3  %></p>
<br>
<p>On this <%= data.field1  %> webinar we&#39;ll cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what we&#39;ll answer for you / cover on this incredible webinar:</p>
<br>
<p>- <%= data.field16  %></p>
<p>- <%= data.field17  %></p>
<p>- <%= data.field18  %></p>
<p>- <%= data.field19  %></p>
<p>- <%= data.field20  %></p>
<p>- <%= data.field21  %></p>
<p>- <%= data.field22  %></p>
<p>- <%= data.field23  %></p>
<p>- <%= data.field24  %></p>
<p>- <%= data.field25  %></p>
<br>
<p>... and much, MUCH More!</p>
<br>
<p>Don&#39;t miss this breakthrough webinar that will finally show you <%= data.field26  %>.</p>
<br>
<br>
<p>FB Event Announcement&nbsp;</p>
<p>Name: <%= data.field2  %> Webinar</p>
<br>
<p>Details: <%= data.field3  %>.</p>
<br>
<p>On this <%= data.field1  %> webinar we&#39;ll cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>But you must register now.</p>
<br>
<p>Where: Online</p>
<br>
<p>When: <%= data.field6  %></p>
<br>
<p>Time: <%= data.field7  %></p>
<br>
<br>
<p>Potential Tweets, FB Posts, Blog Ads, Text Ads,</p>
<p>Related Article / Video Titles, Blog Post Titles, etc.&nbsp;</p>
<br>
<p>Field1 Webinar: <%= data.field2  %></p>
<br>
<p>Field1 Webinar: <%= data.field2  %> - <%= data.field3  %></p>
<br>
<p>Field1 Webinar: <%= data.field5  %> / <%= data.field9  %></p>
<br>
<p>Field1 Webinar Reveals <%= data.field9  %></p>
<br>
<p>Field1 Webinar: <%= data.field11  %></p>
<br>
<p>Field1 Webinar: How to <%= data.field12  %></p>
<br>
<p>Field1 Webinar: How to <%= data.field13  %></p>
<br>
<p>Field1 Webinar: How to <%= data.field14  %></p>
<br>
<p>Field1 Webinar Reveals How to <%= data.field12  %> - FAST!</p>
<br>
<p>Field1 Webinar Shows You How to <%= data.field13  %> - Quick &amp; Easy!</p>
<br>
<p>Field1 Webinar Reveals How to <%= data.field14  %> - Fast!</p>
<br>
<p>Three instant tips for <%= data.field5  %> / <%= data.field9  %></p>
<br>
<p>Five Myths about <%= data.field5  %> /<%= data.field9  %></p>
<br>
<p>Why every business needs <%= data.field5  %></p>
<br>
<p>Five things every <%= data.field5  %> should contain</p>
<br>
<p>3 Biggest <%= data.field5  %> Mistakes TARGET AUDIENCE Make</p>
<br>
<p>4 Biggest <%= data.field5  %> Mistakes</p>
<br>
<p><%= data.field11  %></p>
<br>
<p>How to <%= data.field12  %></p>
<br>
<p>How to solve <%= data.field8  %></p>
<br>
<p>How to Avoid <%= data.field10  %></p>
<br>
<p>Top 10 Ways to <%= data.field9  %></p>
<br>
<p>Top 10 Ways to Fix / Solve / Eliminate <%= data.field8  %></p>
<br>
<p>Top 5 ways to use <%= data.field5  %></p>
<br>
<p>How to make extra money with <%= data.field5  %></p>
<br>
<p>Single most important <%= data.field5  %> tool</p>
<br>
<p>The single biggest <%= data.field5  %> mistake every TARGET AUDIENCE makes</p>
<br>
<p>3 no-hype ways to use <%= data.field5  %> to <%= data.field26  %></p>
<br>
<p>How to use <%= data.field5  %> to shoot to the top of ________</p>
<br>
<p>Why every small business needs to know about <%= data.field5  %></p>
<br>
<p>The Secret to <%= data.field5  %> Success</p>
<br>
<br>
<p>PS&#39;s / Stealth Closes To Add To Emails,</p>
<p>Newsletters, Blog Posts, etc.&nbsp;</p>
<br>
<p>Prefixes. Other things you can say besides &quot;By the way...&quot;* Before I forget...</p>
<br>
<p>* Oh, before I forget...</p>
<br>
<p>* Oh, one more thing...</p>
<br>
<p>* Hey, by the way...</p>
<br>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, if you really want to know <%= data.field11  %>, this NEW Webinar lays it all out for you! Check it out here: REGISTER LINK</p>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, if you really want to know <%= data.field11  %>, this NEW Webinar &quot;<%= data.field2  %>&quot; lays it all out for you! Check it out here : REGISTER LINK</p>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, I&#39;m hosting a brand-NEW webinar &nbsp;on <%= data.field11  %>! You can Register right here: REGISTER LINK</p>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, I&#39;m hosting a brand-NEW webinar &nbsp;on how you discover <%= data.field15  %>! You can Register right here: REGISTER LINK</p>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, if you want to <%= data.field12  %>, <%= data.field13  %>, or <%= data.field14  %>, I&#39;m hosting a brand-NEW webinar on <%= data.field11  %>! You can Register right here: REGISTER LINK</p>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, if you want to know <%= data.field9  %>, Register NOW for this brand new Webinar I&#39;m doing - &quot;<%= data.field2  %>&quot; - <%= data.field3  %>. It&#39;s FREE, but you must register: REGISTER LINK</p>
<p>&nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>By the way, if you really want to know <%= data.field11  %>, but you&#39;re worried about how to handle <%= data.field10  %>, here&#39;s the solution you want! &nbsp;I&#39;m hosting a brand-NEW webinar - &quot;<%= data.field2  %>&quot; - <%= data.field3  %>. It&#39;s FREE, but you must register: REGISTER LINK</p>
<br>
<br>
<p>Email Promo Messages</p>
<br>
<p>Email 5-7 Days Before&nbsp;</p>
<br>
<p>OPTION 1 - Heads Up - More &quot;Salesy&quot;</p>
<br>
<p>Subject: &nbsp;<%= data.field2  %> (Webinar)</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> with a LIVE webinar invitation for you...</p>
<br>
<p>==&gt; REGISTRATION LINK</p>
<br>
<p>This <%= data.field6  %> at <%= data.field7  %>, I&#39;m hosting a very special Webinar event that will most definitely change your business forever!</p>
<br>
<p>&quot;<%= data.field2  %>!</p>
<br>
<p>How would you like to <%= data.field12  %>?</p>
<br>
<p>How about <%= data.field13  %>?</p>
<br>
<p>On my next LIVE webinar we&#39;re going to cover <%= data.field11  %> and much, MUCH More!</p>
<br>
<p>Oh, and we&#39;re also going to cover <%= data.field26  %>!</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Seating is LIMITED - REGISTER Now!</p>
<p>==&gt; REGISTRATION LINK</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p><%= data.field4  %> :)</p>
<br>
<p>P.S. - I&#39;m also going to show you <%= data.field26  %> and you need to be there if you want to get a jump on your competitors.</p>
<br>
<p>Sign up now for the webinar and we&#39;ll see you <%= data.field6  %>!</p>
<br>
<p>==&gt; REGISTRATION LINK</p>
<br>
<br>
<br>
<p>OPTION 2 - Webinar Announcement Email - Low-Key, LONG</p>
<br>
<p>Subject: &nbsp;&#39;&#39;<%= data.field2  %>&#39;&#39; webinar</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a quick update ...</p>
<br>
<p>Next week we&#39;re holding an amazing new webinar entitled...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: <%= data.field6  %></p>
<p>Time: <%= data.field7  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what we cover on this breakthrough, webinar:</p>
<br>
<p>* <%= data.field16  %></p>
<p>* <%= data.field17  %></p>
<p>* <%= data.field18  %></p>
<p>* <%= data.field19  %></p>
<p>* <%= data.field20  %></p>
<p>* <%= data.field21  %></p>
<p>* <%= data.field22  %></p>
<p>* <%= data.field23  %></p>
<p>* <%= data.field24  %></p>
<p>* <%= data.field25  %></p>
<p>... and much, MUCH More!</p>
<br>
<p>Register now and join us for the webinar:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU on the webinar!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<br>
<p>OPTION 3 - Webinar Announcement Email - Low-Key, SHORT</p>
<br>
<p>Subject: &nbsp;&#39;&#39;<%= data.field2  %>&#39;&#39; webinar</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a quick update ...</p>
<br>
<p>Next week we&#39;re holding an amazing new webinar entitled...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: <%= data.field6  %></p>
<p>Time: <%= data.field7  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Register now and join us for the webinar:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU on the webinar!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<p>Email 1 Day Before&nbsp;</p>
<br>
<br>
<p>OPTION 1 - Tomorrow&#39;s the day - More &quot;Salesy&quot;</p>
<br>
<p>Re: {$user.name_f}, are we still on for tomorrow?</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p>Can you really <%= data.field26  %>?</p>
<br>
<p>Can you really <%= data.field12  %>?</p>
<br>
<p>Can you really <%= data.field13  %>?</p>
<br>
<p>Can you really <%= data.field14  %>?</p>
<br>
<p>YES! You can!</p>
<br>
<p>And this <%= data.field6  %> we&#39;ll reveal that and so much MORE on our latest webcast...</p>
<br>
<p>==&gt; REGISTRATION LINK</p>
<br>
<p>Oh, and if you don&#39;t <%= data.field9  %>, this <%= data.field1  %> webinar solves that problem!</p>
<br>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<p>Seating is LIMITED - REGISTER Now!</p>
<p>==&gt; REGISTRATION LINK</p>
<p>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-</p>
<br>
<p><%= data.field4  %> :)</p>
<br>
<p>P.S. - I&#39;m also going to show you <%= data.field26  %> and you definitely want to be there for this one!</p>
<br>
<p>Register now:</p>
<p>REGISTRATION LINK</p>
<br>
<br>
<p>OPTION 2 - Webinar Tomorrow Email- Low-Key - LONG</p>
<br>
<p>Subject: &nbsp;Re: Register Now for &#39;&#39;<%= data.field2  %>&#39;&#39;</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a reminder ...</p>
<br>
<p>TOMORROW starts off our amazing new webinar entitled...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: <%= data.field6  %></p>
<p>Time: <%= data.field7  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what we cover on this breakthrough, webinar:</p>
<br>
<p>* <%= data.field16  %></p>
<p>* <%= data.field17  %></p>
<p>* <%= data.field18  %></p>
<p>* <%= data.field19  %></p>
<p>* <%= data.field20  %></p>
<p>* <%= data.field21  %></p>
<p>* <%= data.field22  %></p>
<p>* <%= data.field23  %></p>
<p>* <%= data.field24  %></p>
<p>* <%= data.field25  %></p>
<p>... and much, MUCH More!</p>
<br>
<p>Register now and join us TOMORROW:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>I guarantee you haven&#39;t been to any other webinar about <%= data.field5  %> that will give you <%= data.field26  %> in the REAL WORLD like this one!</p>
<br>
<p>Looking forward to seeing YOU on the webinar tomorrow!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<p>OPTION 3 - Webinar Tomorrow Email - Low-Key - SHORT</p>
<br>
<p>Subject: &nbsp;Re: Register Now for &#39;&#39;<%= data.field2  %>&#39;&#39;</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a reminder ...</p>
<br>
<p>TOMORROW starts off our amazing new webinar entitled...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: <%= data.field6  %></p>
<p>Time: <%= data.field7  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we cover <%= data.field11  %>.</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>In fact, if you want to <%= data.field12  %>, <%= data.field13  %>, and <%= data.field14  %>!</p>
<br>
<p>... then Register now and join us TOMORROW:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU on the webinar tomorrow!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<br>
<p>Email Day Of Webinar&nbsp;</p>
<br>
<br>
<p>OPTION 1 - LAST CHANCE - More &quot;Salesy&quot;</p>
<br>
<p>Subject: It&#39;s TODAY at <%= data.field7  %></p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a quick reminder...</p>
<br>
<p>Today is our newest webinar</p>
<br>
<p><%= data.field2  %></p>
<br>
<p>If you want to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>... you need to be on this <%= data.field1  %> webinar.</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>The webinar starts at <%= data.field7  %>, so time&#39;s running out to register.</p>
<br>
<p>Don&#39;t procrastinate and kick yourself later!</p>
<br>
<p>Register Now:</p>
<p>REGISTRATION LINK</p>
<br>
<p>See you there,</p>
<br>
<p><%= data.field4  %></p>
<br>
<p>PS - By registering NOW you also lock in the replay AND you get a chance to get LIVE coaching during the Q&amp;A session we have set up for this <%= data.field1  %> webinar.</p>
<br>
<p>Don&#39;t delay... register now, right here:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<br>
<p>OPTION 2 - Webinar TODAY Email- Low-Key - LONG</p>
<br>
<p>Subject: FINAL REMINDER - <%= data.field2  %> webinar</p>
<br>
<p>Subject: &nbsp;REMINDER - Today&#39;s Webinar <%= data.field2  %></p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a last reminder ...</p>
<br>
<p>TODAY is the day for our amazing new webinar entitled...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: TODAY - <%= data.field6  %></p>
<p>Time: <%= data.field7  %> (use www.time.gov as our clock)</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we cover <%= data.field11  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Register now and join the broadcast TODAY:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>I guarantee you haven&#39;t been to any other webinar about <%= data.field5  %> that will give you <%= data.field26  %> in the REAL WORLD like this one!</p>
<br>
<p>Looking forward to seeing YOU on the webinar in just a little while!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<p>OPTION 3 - Webinar TODAY Email - Low-Key - SHORT</p>
<br>
<p>Subject: FINAL REMINDER - <%= data.field2  %> webinar</p>
<br>
<p>Subject: REMINDER - Today&#39;s Webinar <%= data.field2  %></p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here with a last reminder ...</p>
<br>
<p>TODAY is the day for our amazing new webinar entitled...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>REGISTER here now:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>DATE: TODAY - <%= data.field6  %></p>
<p>Time: <%= data.field7  %> (use www.time.gov as our clock)</p>
<br>
<p>Register now and join the broadcast TODAY:</p>
<br>
<p>REGISTRATION LINK</p>
<br>
<p>Looking forward to seeing YOU on the webinar in just a little while!</p>
<br>
<p>:-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<p>Email Day After REPLAY</p>
<br>
<br>
<p>OPTION 1 - Webinar Rreplay Announcement - LONG</p>
<br>
<p>Subject: In case you missed it - Replay Posted!</p>
<br>
<p>Subject: Here&#39;s the replay :-)</p>
<br>
<p>Subject: {$user.name_f}, the replay is POSTED :-)</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here, with the replay of last night&#39;s webinar for you...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>Gain access to the replay RIGHT NOW:</p>
<br>
<p>&gt; REPLAY LINK</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we covered <%= data.field11  %>.</p>
<br>
<p>I show you exactly <%= data.field26  %>.</p>
<br>
<p>You can use these techniques to <%= data.field12  %>, <%= data.field13  %>, and even <%= data.field14  %>!</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>In fact, here&#39;s just a sample of what we covered on this breakthrough, webinar:</p>
<br>
<p>* <%= data.field16  %></p>
<p>* <%= data.field17  %></p>
<p>* <%= data.field18  %></p>
<p>* <%= data.field19  %></p>
<p>* <%= data.field20  %></p>
<p>* <%= data.field21  %></p>
<p>* <%= data.field22  %></p>
<p>* <%= data.field23  %></p>
<p>* <%= data.field24  %></p>
<p>* <%= data.field25  %></p>
<p>... and much, MUCH More!</p>
<br>
<p>You get EVERYTHING you need to take your <%= data.field5  %> to the next level!</p>
<br>
<p>Go here now to access this ALL-NEW training:</p>
<br>
<p>&gt; DOWNLOAD LINK</p>
<br>
<p>If you want to <%= data.field12  %>, this training will blow your socks off? :-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<p>OPTION 2 - Webinar Replay Announce - SHORT</p>
<br>
<p>Subject: In case you missed it - Replay Posted!</p>
<br>
<p>Subject: Here&#39;s the replay :-)</p>
<br>
<p>Subject: {$user.name_f}, the replay is POSTED :-)</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p><%= data.field4  %> here, with the replay of last night&#39;s webinar for you...</p>
<br>
<p>&quot;<%= data.field2  %>&quot;</p>
<p><%= data.field3  %></p>
<br>
<p>Gain access to the replay RIGHT NOW:</p>
<br>
<p>&gt; REPLAY LINK</p>
<br>
<p>Description:</p>
<br>
<p>On this <%= data.field1  %> webinar we cover <%= data.field11  %>.</p>
<br>
<p>Heck, I even show you <%= data.field15  %>!</p>
<br>
<p>You get EVERYTHING you need to take your <%= data.field5  %></p>
<p>to the next level!</p>
<br>
<p>Go here now to access this ALL-NEW training:</p>
<br>
<p>&gt; DOWNLOAD LINK</p>
<br>
<p>If you want to <%= data.field12  %>, this training will blow your socks off? :-)</p>
<br>
<p><%= data.field4  %></p>
<br>
<br>
<p>Registration Confirmation Email</p>
<p>(If using own site / own AR for Registration)</p>
<br>
<br>
<p>Immediate Confirmation</p>
<br>
<p>Subject: {$user.name_f} - you&#39;re registered for the webinar!</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p>Thanks for signing up for our special webinar,</p>
<p>&quot;<%= data.field2  %>&quot;</p>
<br>
<p>Mark your calendar now for:</p>
<p>Webinar Date: <%= data.field6  %></p>
<p>Webinar Time: <%= data.field7  %></p>
<p>(We&#39;ll use www.time.gov as our clock)</p>
<p>Phone:</p>
<p>LOGIN: LINK &amp; INSTRUCTIONS</p>
<br>
<p>We promise you&#39;re going to find the information on this webinar extremely valuable to your success!</p>
<br>
<p>See you soon,</p>
<br>
<p><%= data.field4  %></p>
<br>
<p>P.S. - Remember, we&#39;re expecting this event to be totally SOLD OUT, so make sure you get on early (the line opens 5-10 minutes before this one-time-only event starts - so hop on right away to rest assured you have a spot!).</p>
<br>
<p>If this is your first time on a webinar, make sure you click the webinar link at least 10-15 minutes BEFORE the webinar starts so you can download the software and get your firewall software straight.</p>
<br>
<p>DO NOT WAIT until 2 minutes before the webinar to do this because we can&#39;t give tech support right before the webinar is starting.</p>
<br>
<br>
<p>Reminder Email To Registrants BEFORE Webinar (Send 60 minutes before)</p>
<br>
<p>Subject: {$user.name_f}, details for tonight&#39;s webinar</p>
<br>
<p>Hi {$user.name_f},</p>
<br>
<p>Just a quick reminder about the special &quot;<%= data.field2  %>&quot; webinar tonight where I&#39;ll be sharing <%= data.field11  %> (even if you&#39;re just starting out)!</p>
<br>
<p>Here are the details again...</p>
<br>
<p>Date: TONIGHT, <%= data.field6  %></p>
<br>
<p>Time: <%= data.field7  %></p>
<p>(We&#39;ll use www.time.gov as our clock)</p>
<br>
<p>Here&#39;s how to log into the webinar:</p>
<p>LOGIN INSTRUCTIONS</p>
<br>
<p>And we promise you&#39;re going to find the information on this webinar EXTREMELY valuable!</p>
<br>
<p>See you tonight,</p>
<br>
<p><%= data.field4  %></p>
<br>
<p>P.S. -- Don&#39;t let life get in the way of tonight&#39;s powerful information. Make it a priority to be there LIVE!</p>
<br>